#user_content_form {
    .conflicts {
        ul {
            margin-top: 1em;
            margin-bottom: 1em;
            padding-left: 1em;
        }

        label {
            font-weight: normal;
        }
    }
}