@use "./_variables.scss" as *;

.bar-training {
  img {
    max-width: 100%;
  }

  .image-align-left {
    width:300px;
    margin-bottom: 1em;

    @media (max-width: $main-content-width) {
      width: 100%;
    }
  }

  .image-align-right {
    width:300px;
    float:right;
    margin-left: 1em;
    margin-bottom: 1em;

    @media (max-width: $main-content-width) {
      width: 100%;
      float: none;
      margin-left: 0;
    }
  }

  .guide {
    background: $highlight-background;
    color: $highlight-background-text;
    padding: 1em;
    margin-top: 1em;
    display: inline-block;
    text-decoration: none;
    border-radius: $small-border-radius;

    &:hover, &:focus {
      background-color: $highlight-2-background;
      color: $highlight-background-text;
      text-decoration: none;
    }
    &.prev {
      float: left;

      &:before {
        content: '\25C0';
        margin-right: 2em;
      }
    }
    &.next {
      float: right;

      &:after {
        content: '\25B6';
        margin-left: 2em;
      }
    }

  }
}
