/*
 * Breakpoints
 *   - 550px
 *   - 768px
 *   - 1200px
 */

@use "./_variables.scss" as *;
@use "./_non_prod_banner.scss" as *;

body {
  font-size: 16px;
  color: $main-background-text;
  background-color: $body-background;
  font-family: $body-font-stack;
}

html, body {
  height: 100%;
}

code {
  background: inherit;
  color: $brand-2024-orange;
  padding: 0;
}

.well code, .panel code, .table code {
  color: inherit;
}

a {
  color: $main-link;
  text-decoration: underline;
}

a:hover {
  color: $main-link-hover;
}

.well, .panel {
    background-color: $highlight-background;
    color: $highlight-background-text;
    border: none;

    a {
        color: inherit;
    }

    .has-error .help-block a {
        color: inherit;
    }

    header, h2, h3, h4, h5, h6 {
        color: inherit;
    }
}

.well a, .panel a {
  color: $highlight-background-link;
}

.content-well {
  background-color: $content-well-background;
  color: $main-background-text;
  
  h3 {
    margin-top: 0;
  }

  a {
      color: $main-background-text;
  }

  p:last-child {
    margin-bottom: 0;
  }
}

.panel {
    display: block;
}

.panel-footer {
    margin-top: auto;
}

.panel-default > .panel-heading,
.panel-default > .panel-footer {
    background-color: $highlight-2-background
}

.panel-default > .panel-heading > * {
    color: $highlight-background-text;
}

.panel-default {
    background-color: $highlight-background;
}

.panel-primary > .panel-heading,
.panel-primary > .panel-footer,
.panel-primary > .list-group li {
    background-color: $highlight-3-background;
    border-color: $highlight-3-border;
}

.panel-primary > .panel-heading > * {
    color: $highlight-background-text;
}

.well .has-error .help-block a,
.panel .has-error .help-block a {
  color: inherit;
}

.panel-footer-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

header, h1, h2, h3, h4, h5, h6 {
    color: $main-background-header;
    font-family: $header-font-stack;
}

.container {
  height: auto !important;
  min-height: 100%;
  height: 100%;
}

#gallery .col-md-3, #gallery .col-md-12 {
  margin-top: -15px;
  padding: 0;
}

#gallery {
  padding-bottom: 15px;
}

#main-content {
  height: 100%;
  min-height: 100%;
  padding: 15px;
}

// Remove the margin from the first header
#main-content h2:first-child, #main-content h1:first-child {
  margin-top: 0;
}

@media(min-width: 550px) {
  .push {
    height: 130px;
    clear: both;
  }
}

.flash {
    font-weight:bold;
    color: red;
    font-size: 140%;
    margin-bottom: 1ex;
}

p.emphasis {
  font-size: 1.2em;
  letter-spacing: 0.5px;
}

h1 a, h1 a:hover {
    text-decoration:none;
    color:inherit;
}

div.presale {
    text-align:center;
    font-size:2em;
    font-weight:bold;
    padding-bottom:1em
}

p, u, ol {padding-bottom: 5px;}

p.summary {
    font-size: 130%
}

.errors {
  color: #933;
  font-weight: bold;
}

form.shrink {
    margin: 0;
}

.main-footer {
  padding-bottom: 2ex;
}


img.padit {
	padding: 24px;
}

@media print {
  .sidebar-nav { display: none }
  .logout { display: none }
}

div.micro img {
  display: block;
  margin-left:auto;
  margin-right:auto;
  padding: 2px;
  border: #ccc solid 1px;
  margin-bottom: 10px;
}

.help-block {
  font-size: 0.9em;
  margin-bottom: 0px;
  color: #333;
}

.form-control {
  background-color: $form-element;
}

.form-horizontal .form-group .help-block {
  padding-left: 0.5em;
}

legend {
  margin-bottom: 0px;
  border-bottom: 1px solid #aaa;
}

.glyphicon.input-group-addon {
  top: 0px;
}

.nav a {
  text-decoration: none;
}

.nav a:hover {
  color: #555;
}

/* Restore link colours */
.alert-success,
.alert-info,
.alert-warning,
.alert-danger {
    a {
        color: inherit;
    }
}

.alert-info {
  background-color: $alert-info-background;
  border-color: $alert-info-border;
}

.alert-warning {
  background-color: $alert-warning-background;
  border-color: $alert-warning-border;
  color: $alert-warning-text;
}

.alert-link {
  text-decoration: none;
}

.intro-text {
  font-size: 1.2em;
}

div#about-page {
  font-size: 1.2em;
}

div#about-page img, .embed-responsive {
  margin-bottom: 15px;
}

th.checkbox-cell {
  width: 30px;
}
td.checkbox-cell {
  position: relative;
}
td.checkbox-cell label {
  position: absolute;
  left: 0; right: 0; top: 0; bottom: 0;
  margin: 0;
  padding: 8px;
}

@media (min-width: 768px) {
    .row-equal, .row-equal > div[class*='col-'] {
        display: -webkit-flex;
        display: flex;
        flex:1 1 auto;
    }
}

/* Make sure that focused elements don't change colour etc. unless also hovered */
a.collapse-toggle:focus,
a.collapse-toggle:focus .glyphicon {
  text-decoration: none;
  color: inherit;
}

/*
 * collapse toggles are normally white, grey on hover with only the text underlined
 */
a.collapse-toggle {
  text-decoration: none;
}
a.collapse-toggle .glyphicon {
  margin-left: 0.3em;
}

a.collapse-toggle:hover            { text-decoration: underline; }
a.collapse-toggle:hover .glyphicon { text-decoration: none; }

.multiline { white-space: pre-wrap }

.credit {
  position: relative;
  bottom: 24px;
  right: 8px;
}

.share a,
.share a:hover,
.share a:active,
.share a:focus,
.share a:visited {
  text-decoration: none !important;
}

@media print {
  .share a:after {
    content: none !important;
  }
  #credits a:after {
    content: none !important;
  }
}

/* print-only */
.account-purchases .terms-reminder,
.account-purchases .login-details {
  display: none;
}

#feedback-form {
  width: 100%;
  height: 700px;
}

@media print {
  .account-purchases .push {
    height: 100px;
  }

  .account-purchases .ticket-actions {
    display: none;
  }

  .account-purchases .terms-reminder,
  .account-purchases .login-details {
    display: inherit;
  }

  .account-purchases .terms-reminder a:after {
    content: none !important;
  }
}

input[type="checkbox"].big-checkbox {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}
label.big-checkbox {
  /* Increase the target area */
  padding: 11px 10px 10px 40px !important;
  margin: -4px 0 -10px -40px !important;
  vertical-align: 4px;
}

/* Modals for the schedules */
.modal {
  color: black;

  h1, h2, h3, h4, h5, h6 {
    color: black;
  }

  h1 { font-size: 1.2em; }
  h2 { font-size: 1.1em; }
  h3 { font-size: 1em; }
}

.role-description { display: none; }

/* Form tweakery */

fieldset legend {
  margin-bottom: 10px;
}

input[type=range] {
  appearance: none;
  border: none;
  box-shadow: none;
  background: transparent;
  margin-bottom: 6px;
}

input[type=range]::range-track {
  appearance: none;
  height: 8.4px;
  cursor: pointer;
  background: $main-link-hover;
  border-radius: 3px;
}

input[type=range]:focus::range-track {
  background: lighten($main-link-hover, 5%);
}

input[type=range]::range-thumb {
  appearance: none;
  box-shadow: 1px 1px 1px lighten($main-background, 50%);
  border: 1px solid $main-background;
  height: 30px;
  width: 16px;
  border-radius: 3px;
  background: $highlight-3-background;
  cursor: pointer;
  margin-top: -11px;
}


#mailing-list-form #name-field {
  display: none;
}