/* Show the hover borders by default to avoid bleeding */
@use "./_variables.scss" as *;
.btn-primary {
    background-color: #7c1243;
    border: 1px solid #33071C;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open>.dropdown-toggle.btn-primary {
    background-color: #33071C;
    border: 1px solid #33071C;
}


.btn-default {
  border: 1px solid #adadad;
}

.btn-info {
  border: 1px solid #269abc;
}

.btn-success {
  border: 1px solid #398439;
}

.btn-warning {
  border: 1px solid #d58512;
}

.btn-danger {
  border: 1px solid #ac2925;
}

.btn {
  text-decoration: none;
}

.alert-danger a.btn-primary,
.alert-danger a.btn-default,
.alert-danger a.btn-info,
.alert-danger a.btn-success,
.alert-danger a.btn-warning,
.alert-danger a.btn-danger {
  color: #fff;
}

.panel .btn, .well .btn {
    color: white;
}

.panel .btn-default, .well .btn-default {
    color: $highlight-background-text;
}
