@use 'sass:color';
@use "./_variables.scss" as *;

.btn-primary {
    background-color: color.adjust($brand-2024-blue, $lightness: -10%);
    border: 1px solid color.adjust($brand-2024-blue, $lightness: -30%);
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open>.dropdown-toggle.btn-primary {
    background-color: color.adjust($brand-2024-blue, $lightness: -30%);
    border: 1px solid color.adjust($brand-2024-blue, $lightness: -50%);
}


.btn-default {
  background-color: $form-element;
  border: 1px solid #adadad;
}

.btn-info {
  border: 1px solid #269abc;
}

.btn-success {
  background-color: $brand-2024-mid-green;
  border: 1px solid color.adjust($brand-2024-mid-green, $lightness: -20%);
}

.btn-warning {
  border: 1px solid color.adjust($brand-2024-orange, $lightness: -20%);
}

.btn-danger {
  background-color: color.adjust($brand-2024-pink, $lightness: -40%);
  border: 1px solid color.adjust($brand-2024-pink, $lightness: -50%);
}

.btn {
  text-decoration: none;
}

.alert-danger a.btn-primary,
.alert-danger a.btn-default,
.alert-danger a.btn-info,
.alert-danger a.btn-success,
.alert-danger a.btn-warning,
.alert-danger a.btn-danger {
  color: $form-element;
}

.panel .btn, .well .btn {
    color: $form-element;
}

.panel .btn-default, .well .btn-default {
    color: $highlight-background-text;
}
