@use "./_variables.scss" as *;
@use "sass:color";

.cfp-pane {
  background-color: $highlight-background;
  color: $highlight-background-text;
  padding: 15px;
}

.cfp-pane a {
  color: $highlight-background-link;
}

.cfp-pane .has-error .help-block a {
  color: inherit;
}

.cfp-pane .form-actions {
  margin-top: 2ex;
}
.cfp-guidance dt {
  margin-top: 15px;
  font-weight: normal;
  font-size: 18px;
}

.cfp-guidance dd {
  margin-left: 40px;
}

.cfp-guidance.well a,
.cfp-guidance.well h2,
.cfp-guidance.well h3 {
  color: inherit;
}

.cfp-choose-type a.list-group-item {
  text-decoration: none;
  background-color: $highlight-3-background;
  border-color: $highlight-3-border;
  padding-top: 15px;
  padding-bottom: 15px;
}

.cfp-choose-type a.list-group-item:hover {
  background-color: $highlight-3-background-hover;
}

.cfp-choose-type span.list-group-item {
  background-color: color.adjust($main-background, $lightness: 10%);
  border-color: color.adjust($main-background, $lightness: 10%);
  padding-top: 15px;
  padding-bottom: 15px;
}

textarea#description {
  height: 200px;
}
