@use "sass:color";
@use "./_variables.scss" as *;


.form-control {
    background-color: $form-element;
}
  
.form-horizontal .form-group .help-block {
    padding-left: 0.5em;
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
    margin-left: -25px !important;
    margin-top: 4px !important;
}

fieldset legend {
    margin-bottom: 10px;
}
  
input[type=range] {
    appearance: none;
    border: none;
    box-shadow: none;
    background: transparent;
    margin-bottom: 6px;
}

input[type=range]::range-track {
    appearance: none;
    height: 8.4px;
    cursor: pointer;
    background: $main-link-hover;
    border-radius: 3px;
}

input[type=range]:focus::range-track {
    background: color.adjust($main-link-hover, $lightness: 5%);
}

input[type=range]::range-thumb {
    appearance: none;
    box-shadow: 1px 1px 1px color.adjust($main-background, $lightness: 50%);
    border: 1px solid $main-background;
    height: 30px;
    width: 16px;
    border-radius: 3px;
    background: $highlight-3-background;
    cursor: pointer;
    margin-top: -11px;
}

ul.form-check-input input {
    vertical-align: top;
}

ul.form-check-input li {
    list-style-type: none;
}

ul.form-check-input label {
    font-weight: normal;
}