@use "./_variables.scss" as *;

header {
  background-image: url("../images/brand/2026/header.jpg");
  background-color: $main-background;
  padding: 10px 15px 0px 15px;
  background-position: top right;
  background-repeat: no-repeat;
  background-size: cover;

  display: grid;
  align-items: center;
  grid-template-areas:
    "logo text navbutton"
    "nav nav nav";
}

#main-logo {
  margin-bottom: 0;
  margin-right: 24px;
  text-decoration: none;
  font-family: $header-font-stack;
  font-size: 30px;
  color: $main-background-header;
  grid-area: logo;

  display: grid;
  grid-template-columns: max-content auto;
  grid-template-areas:
    "logo line1"
    "logo line2";

  img {
    grid-area: logo;
  }
  .logo-line {
    line-height: 34px;
  }
  .logo-line1 {
    grid-area: line1;
    align-self: end;
  }
  .logo-line2 {
    grid-area: line2;
    align-self: start;
  }
}

#logomark {
  height: 120px;
  width: 48px;
  margin-right: 12px;
}

#header-text {
  grid-area: text;
  font-size: 1.2em;
  justify-items: center;

  .header-date {
    color: $brand-2026-orange;
  }
}

#menu-container {
  grid-area: nav;
}

header #menu-button {
  display: none;
}

ul.menu a {
  color: white;
}

ul.menu a:hover {
  color: $main-link-hover;
}

ul.menu {
  margin-top: 0px;
  padding-left: 0px;
  font-weight: 500;
  letter-spacing: 0.5px;
}

ul.menu li {
  display: inline-block;
  padding-left: 1.5em;
}

ul.menu a {
  text-decoration: none;
}

#menu-container a {
  font-size: 1.5em;
}

// Mobile layout - menu is hidden behind a button.
@media (max-width: $header-collapse-width) {
  // Fixed header, visible on scroll
  header {
    position: fixed;
    padding: 3px 10px;
    height: $mobile-header-height;
    top: 0;
    z-index: 1000;
    width: 100%;

    grid-template-areas: "logo navbutton";
  }

  body {
    margin-top: $mobile-header-height;
  }

  #main-logo {
    display: block;

    .logo-line {
      font-size: 20px;
      line-height: 20px;
      vertical-align: middle;
    }
    .logo-line2 {
      margin-left: -4px;
    }
  }

  #logomark {
    width: 20px;
    height: auto;
    margin-right: 0;
  }

  header #menu-button {
    appearance: none;
    border: none;
    background-color: #333;
    margin-right: 0px;
    margin-top: 5px;
    padding-top: 7px;
    border-radius: $small-border-radius;
    display: block;
  }

  header #header-text {
    display: none;
  }

  header #menu-container {
    display: none;
    float: none;
    position: fixed;
    right: 0px;
    top: $mobile-header-height;
    height: 100%;
    z-index: 1000;
    padding: 5px 8px;
    background-color: #333;
    box-shadow: -2px 0px 3px #333;
  }

  ul.menu li {
    text-align: right;
    display: block;
    padding-left: 0;
    font-size: 18px;
    line-height: 1.8em;
  }

  #menu-container a {
    font-size: 1.2em;
  }
}

@media (min-width: ($header-collapse-width + 1)) {
  // Override visibility in case menu was hidden in mobile layout
  // and window was subsequently resized.
  header #menu-container {
    display: block !important;
  }
}

@media print {
  header #header-text {
    font-size: 1.3em;
    margin-bottom: 20px;
  }

  ul.menu {
    display: none;
  }

  h1 a[href]:after {
    content: none !important;
  }

  #logo {
    height: 0;
  }

  #logo:after {
    content: url("../images/logo-black-text.svg");
  }
}
