@use "./_variables.scss" as *;

header {
  background-image: url('../images/brand/header.jpg');
  padding: 10px 15px 0px 15px;
}

header h1 {
  display: block;
  float: left;
  margin-bottom: 0;
  margin-top: 5px;
}

header h1 a {
  margin-top: 7px;
}

#logomark {
  width: 40px;
  margin-top: -7px;
}

#logo-text {
  display: inline;
}

header #header-text {
  float: right;
  text-align: right;
  font-size: 1.5em;
  margin-top: 25px;
}

header #menu-container {
  clear: both;
  float:right;
}

header #menu-button {
  display: none;
}

ul.menu a {
  color: white;
}

ul.menu a:hover {
  color: $main-link-hover;
}

ul.menu {
  margin-top: 0px;
  padding-left: 0px;
  font-weight: 500;
  letter-spacing: 0.5px;
}

ul.menu li{
  display:inline-block;
  padding-left: 1.5em;
}

ul.menu a {
  text-decoration: none;
}

#menu-container a {
  font-size: 1.5em;
}

// Mobile layout - menu is hidden behind a button.
@media(max-width: $header-collapse-width) {
  $header-height: 56px;

  // Fixed header, visible on scroll
  header {
    position: fixed;
    padding: 3px 10px;
    height: $header-height;
    top: 0;
    z-index: 1000;
    width: 100%;
  }

  body {
    margin-top: $header-height;
  }

  header h1 {
    font-size: 25px;
  }

  header h1 a {
    margin-top: 4px;
  }

  #logomark {
    width: 16px;
    margin-top: -4px;
  }

  header #menu-button {
    appearance: none;
    border: none; 
    background-color: #333;
    margin-right: 0px;
    margin-top: 5px;
    padding-top: 7px;
    border-radius: 2px;
    float: right;
    display: block;
  }

  header #header-text {
    display:none;
  }

  header #menu-container {
    display: none;
    float: none;
    position: fixed;
    right: 0px;
    top: $header-height;
    height: 100%;
    z-index: 1000;
    padding: 5px 8px;
    background-color: #333;
    box-shadow: -2px 0px 3px #333;
  }

  ul.menu li {
    text-align: right;
    display: block;
    padding-left: 0;
    font-size: 18px;
    line-height: 1.8em;
  }

  #menu-container a {
    font-size: 1.2em;
  }
}

@media(min-width: ($header-collapse-width + 1)) {
  // Override visibility in case menu was hidden in mobile layout
  // and window was subsequently resized.
  header #menu-container {
    display: block !important;
  }
}

@media print {
  header #header-text {
    font-size: 1.3em;
    margin-bottom: 20px;
  }

  ul.menu {
    display: none;
  }

  h1 a[href]:after {
    content: none !important;
  }
  #logo {
    height: 0;
  }
  #logo:after {
    content: url('../images/logo-black-text.svg');
  }
}
