.line-up {
  .btn-transparent {
    background: transparent;
    border-color: transparent;
  }
  .btn-hoverlabel .hoverlabel {
    visibility: hidden;
    display: block;
  }
  .btn-hoverlabel:hover .hoverlabel,
  .btn-hoverlabel:focus .hoverlabel,
  .btn-hoverlabel:active .hoverlabel {
    visibility: visible;
  }
  .event {
    text-decoration: none;
  }
  .event > div {
    padding: 10px 4px;
    border-bottom: 1px solid rgba(100, 100, 100, 0.4);
    padding-top: 14px;
  }
  .event:first-child > div {
    border-top: 1px solid rgba(100, 100, 100, 0.4);
  }
  .event:hover,
  .event:focus,
  .event:active,
  .event:hover div,
  .event:focus div,
  .event:active div {
    background-color: #33071c;
    color: inherit;
  }
  h2.event-type {
    padding-top: 40px;
  }
  .favourite-button {
    margin-right: -8px;
    padding-left: 8px;
    padding-right: 8px;
    margin-top: -4px;
    margin-bottom: 0px;
    float: right;
  }
  .favourite-button svg {
    width: 24px;
  }
  .favourite-button-unfaved {
    color: rgba(255, 255, 255, 0.4);
  }
  .favourite-button-faved {
    color: rgba(255, 60, 80, 0.8);
  }
}
.favourite-button svg {
  width: 20px;
  vertical-align: -7px;
  padding-right: 3px;
}
.favourite-button:hover,
.favourite-button:focus,
.favourite-button:active {
  color: rgba(255, 255, 255, 0.8);
}
.favourite-button-unfaved:hover svg,
.favourite-button-unfaved:focus svg,
.favourite-button-unfaved:active svg {
  color: rgba(255, 255, 255, 0.7);
}
.favourite-button-faved:hover svg,
.favourite-button-faved:focus svg,
.favourite-button-faved:active svg {
  color: rgba(255, 100, 120, 0.7);
}

.youtube-link {
  img {
    width: 50%;
    /* margin: 0px auto; */
  }
  .no-thumbnail {
    background-color: rgb(128, 128, 128);
    display: block;
    color: #fff;
    font-size: 1.5em;
    height: 3em;
    width: 4em;
    margin: 60px auto;
    position: relative;
    text-align: center;
    border-radius: 50% / 10%;
    transition: all 150ms ease-out;
  }

  .no-thumbnail::before {
    content: '';
    background: inherit;
    border-radius: 5% / 50%;
    bottom: 9%;
    left: -5%;
    position: absolute;
    right: -5%;
    top: 9%;
  }

  .no-thumbnail::after {
    content: ' ';
    border-style: solid;
    border-width: 1em 0 1em 1.7em;
    border-color: transparent;
    border-left-color: rgba(255, 255, 255, 0.8);
    font-size: 0.7em;
    margin: -1em 0 0 -0.6em;
    top: 50%;
    position: absolute;
  }

  .no-thumbnail:hover,
  .no-thumbnail:active,
  .no-thumbnail:focus {
    background: rgba(200, 0, 0, 1);
  }
}
