/* A grid of panels. */
@use "./_variables.scss" as *;

.panel-grid {
  --panel-grid-min-size: 350px;
  --panel-grid-max-size: 1fr;
  --panel-grid-gap: 10px;

  display: grid;
  gap: var(--panel-grid-gap);
  grid-template-columns: repeat(auto-fill, minmax(var(--panel-grid-min-size), var(--panel-grid-max-size)));
  grid-template-rows: masonry;
  margin-bottom: 20px;

  .panel {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .panel-body {
    flex-grow: 1;

    p:last-child {
        margin-bottom: 0;
        padding-bottom: 0;
    }
  }

  .panel-footer {
    background-color: $highlight-background;
    border-top: 1px solid rgba(0, 0, 0, 0.12);
  }

  .panel-footer a {
    font-weight: 700;
    text-decoration: none;
    display: block;

    &:hover {
      text-decoration: underline;
    }
  }
}

.panel-grid > .panel {
  margin-bottom: 0;
}
