.sponsor a {
    text-decoration: none;
}

.sponsors .sponsor {
    padding-top: 10px;
    padding-bottom: 10px;
}

.sponsor img {
    padding: 15px;
    background-color: #f3f3f3;
    border-radius: 6px;
}

.sponsor-dark img {
    background-color: #222;
}

#sponsorship-levels {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#sponsorship-levels > .panel {
    margin-left: 10px;
    margin-right: 10px;
    flex: 1 1 auto;
}

#sponsorship-levels > .panel > .panel-body {
    min-width: 12em;
}

#sponsorship-levels ul {
    padding-left: 15px;
}

img.img-sponsor {
   max-height: 250px; 
   width: auto;
}
