.sponsor a {
    text-decoration: none;
}

.sponsors .sponsor {
    padding-top: 10px;
    padding-bottom: 10px;
}

.sponsor img {
    padding: 15px;
    background-color: white;
    border-radius: 6px;
}

.sponsor-dark img {
    background-color: #222;
}

#sponsorship-row {
    flex-wrap: wrap;
}

#sponsorship-row  ul {
    padding-left: 15px;
}

#sponsorship-row > div {
    padding-left: 10px;
    padding-right: 10px;
}

img.img-sponsor {
   max-height: 250px; 
   width: auto;
}
