table, table a {
    color: $highlight-background-text;
}

table > thead:first-child > tr:first-child > th:first-child,
table > tbody:first-child > tr:first-child > td:first-child {
    border-top-left-radius: 4px;
}

table > thead:first-child > tr:first-child > th:last-child,
table > tbody:first-child > tr:first-child > td:last-child {
    border-top-right-radius: 4px;
}

table > tbody:last-child > tr:last-child > td:first-child,
table > tfoot:last-child > tr:last-child > td:first-child {
    border-bottom-left-radius: 4px;
}

table > tbody:last-child > tr:last-child > td:last-child,
table > tfoot:last-child > tr:last-child > td:last-child {
    border-bottom-right-radius: 4px;
}

th,
tfoot > tr > td {
    color: $highlight-background-text;
    font-family: $header-font-stack;
}

.table > tfoot > tr > th,
.table > tfoot > tr > td {
    border-top: 0px;
}

.table > tbody > tr > td,
.table > thead > tr > th,
.table > tfoot > tr > td {
    border-top: 1px solid #ddd;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 5px;
}

.table > thead > tr > th {
    border-bottom: none;
}

thead tr {
    background-color: $highlight-background;
}

tr.even {
    background-color: $highlight-background;
}

tr.odd {
    background-color: $highlight-2-background;
}

.btns-table > tbody > tr > td {
    vertical-align: inherit;
    padding-bottom: 11px;
}

.btns-table > tbody > tr > td .btn {
    margin: -7px 0px -6px;
}

.table-actions {
    text-align: right;
}

@media print {
    .table-actions {
        display: none;
    }

}

