@use 'sass:color';
// Maximum content width
$main-content-width: 		950px;
// Minimum content width: horizontal scrolling below this.
$min-width:                     380px;

// Width at which header menu is hidden.
$header-collapse-width:         500px;

$header-font-stack:             "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
$body-font-stack:               "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

$brand-2024-pale-green:         #AFC944;
$brand-2024-mid-green:          #528329;
$brand-2024-dark-green:         #213018;
$brand-2024-yellow:             #F9E200;
$brand-2024-orange:             #F77F02;
$brand-2024-pink:               #F55089;
$brand-2024-blue:               #2EADD9;

$desaturated-yellow:            color.adjust($brand-2024-yellow, $lightness: -10%);

$body-background:               #272827;
$body-background-shadow:        #060606;

$main-background:               $brand-2024-dark-green;
$main-background-text:          #d8d8d8;
$main-background-header:        #ffffff;

$content-well-background:       $brand-2024-mid-green;

$main-link:                     $main-background-text;
$main-link-hover:               $brand-2024-blue;

/* Styles for "highlight" elements (wells and panels) */
$highlight-background:          #cfccc0;
$highlight-background-text:     #1e1e1e;
$highlight-background-link:     #171123;

$highlight-2-background:        #d6c8a0;
$highlight-2-border:            #bfaa7f;
$highlight-2-background-hover:  $desaturated-yellow;

$highlight-3-background:        $brand-2024-pale-green;
$highlight-3-border:            $brand-2024-mid-green;
$highlight-3-background-hover:  $desaturated-yellow;

$schedule-text:                 #d5d6da;
$schedule-block:                #123F8B;

$form-element:                  color.adjust($brand-2024-yellow, $lightness: +45%);

/* Alert elements */

$alert-info-background:         color.adjust($brand-2024-blue, $lightness: +20%);
$alert-info-border:             $brand-2024-blue;

$alert-warning-background:      color.adjust($brand-2024-orange, $lightness: +20%);
$alert-warning-border:          $brand-2024-orange;
$alert-warning-text:            #1e1e1e;