// Maximum content width
$main-content-width: 		950px;
// Minimum content width: horizontal scrolling below this.
$min-width:                     370px;

$header-font-stack:             "Raleway","Helvetica Neue",Helvetica,Arial,sans-serif;

$body-background:               #3c3c3c;
$body-background-shadow:        #222;

$main-background:               #171123;
$main-background-text:          #c8c8c8;
$main-background-header:        #ffffff;


$main-link:                     $main-background-text;
$main-link-hover:               #7c1243;

/* Styles for "highlight" elements (wells and panels) */
$highlight-background:          #c8c8c8;
$highlight-background-text:     #1e1e1e;
$highlight-background-link:     #171123;

$highlight-2-background:        #C7B3BF;

$highlight-3-background:        #d5d6da;
$highlight-3-border:            #c8c8c8;
$highlight-3-background-hover:  #c7b3bf;

$schedule-text:                 #d5d6da;
$schedule-block:                #6e2045;
