@use "sass:color";
// Maximum content width
$main-content-width: 950px;
// Minimum content width: horizontal scrolling below this.
$min-width: 380px;

// Width at which header menu is hidden.
$header-collapse-width: 500px;

$header-font-stack: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
$body-font-stack: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

$brand-2026-orange: #f77f02;
$brand-2026-coral: #f5515e;
$brand-2026-yellow: #f9e200;
$brand-2026-green: #2ae28c;
$brand-2026-light-blue: #2eadd9;
$brand-2026-mid-blue: #005d96;
$brand-2026-dark-blue: #000730;

$desaturated-yellow: color.adjust($brand-2026-yellow, $lightness: -10%);

$body-background: #000000;
$body-background-shadow: #060606;

$main-background: #050706;
$main-background-text: #dcdcdc;
$main-background-header: #ffffff;

$content-well-background: $brand-2026-mid-blue;

$main-link: $main-background-text;
$main-link-hover: $brand-2026-orange;

/* Styles for "highlight" elements (wells and panels) */
$highlight-background: #1a1a1a;
$highlight-background-text: #dcdcdc;

$highlight-2-background: $brand-2026-dark-blue;
$highlight-2-border: $brand-2026-mid-blue;
$highlight-2-background-hover: $brand-2026-mid-blue;
$highlight-2-text: #dcdcdc;

$highlight-3-background: $brand-2026-light-blue;
$highlight-3-border: $brand-2026-mid-blue;
$highlight-3-background-hover: $desaturated-yellow;

$schedule-text: #d5d6da;
$schedule-block: $brand-2026-mid-blue;

$form-element: #3a3a3a;
$form-element-text: #d5d6da;

/* Alert/button element colours */

$success-background: $brand-2026-green;
$success-text: #000;

$info-background: $brand-2026-mid-blue;
$info-text: #fff;

$warning-background: color.adjust($brand-2026-orange, $lightness: -20%);
$warning-text: #fff;

$danger-background: color.adjust($brand-2026-coral, $lightness: -40%);
$danger-text: #fff;

/* Borders */

$small-border-radius: 3px;
