@use "../node_modules/bootstrap/dist/css/bootstrap.css";
@use "./_non_prod_banner.scss" as *;

body {
  padding-top: 70px;
  padding-bottom: 40px;
}

h2 {
  margin-top: 0;
}

header h1 {
  text-align: left;
  font-size: 12pt;
  margin: 0.2ex 0;
}
header h1 .logo {
  width: 22px;
  height: 32px;
  background-size: contain;
  vertical-align: -11px;
}
header h1 > * {
  font-size: 12pt;
}

.container-wide {
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
  @media (max-width: 1400px) {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

.large {
  font-size: 1.1em;
}

.message-table .col-sm-2 {
  vertical-align: mide;
}
.multiline {
  white-space: pre-wrap;
}

.product .expired,
.product .limit-reached {
  font-weight: bold;
  color: #a00;
}

#product_overview .expired,
#product_overview .expired a,
#product_overview .inactive,
#product_overview .inactive a {
  color: #a99;
}

table.hire-purchases tr.payment-pending td {
  color: #999;
}

.non-prod-banner {
  margin-top: -20px; /* To match navbar's margin-bottom */
}

tr.even {
  background-color: #efefef;
}

tr.odd {
  background-color: #fafafa;
}

.actions-bar {
  position: fixed;
  background: #eee;
  border-top: 1px solid #999;
  bottom: 0;
  left: 0;
  padding: 1em;
  width: 100%;
}

:has(.actions-bar) {
  padding-bottom: 3em;
}

.btn-tiny {
  height: 1.5em;
  width: 1.5em;
  font-size: 10px;
  padding: 0;
}

.proposal-state {
  color: #000;
  display: inline-block;
  border: 1px #ddd solid;
  background-color: #eee;
  padding: 0 0.3em;
  border-radius: 5px;
}

.proposal-state-new {
  background-color: #fff;
}

.proposal-state-accepted {
  background-color: #bdffb5;
}

.proposal-state-finalised {
  background-color: #b1fde1;
}

.proposal-state-anonymised {
  background-color: #fbe1f4;
}

.proposal-state-checked {
  background-color: #e0ebfb;
}

.proposal-state-manual-review {
  background-color: #f7eda1;
}

.proposal-state-rejected {
  background-color: #fbe3e7;
}
