@use "../node_modules/datatables.net-bs/css/dataTables.bootstrap.css";

body {
  padding-top: 70px;
}

#query {
  margin-bottom: 2ex;
}

#tickets-data .highlight {
  font-weight: bold;
}

#tickets-data td {
  padding: 0;
}

table.dataTable.display tbody tr:hover {
  background-color: #ddd;
}

table.dataTable.display tbody tr:hover a {
  color: #2a6496;
  color: #333;
}

#tickets-data td > a {
  padding: 8px 10px;
  cursor: pointer;
  display: block;
  text-decoration: none;
  color: #555;
}

