@use "../node_modules/bootstrap/dist/css/bootstrap.css";
@use "../node_modules/@primer/octicons";
@use "./_main_grid.scss";
@use "./_base.scss";
@use "./_header.scss";
@use "./_footer.scss";
@use "./_secondary_nav.scss";

@use "./_compat_bootstrap_4.scss";
@use "./_tables.scss";
@use "./_buttons.scss";
@use "./_video.scss";

@use "./_about.scss";
@use "./_cfp.scss";
@use "./_lineup.scss";
@use "./_tickets.scss";
@use "./_responsive_table.scss";
@use "./_sponsorship.scss";
@use "./_volunteer.scss";
@use "./volunteer_schedule.scss";

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local(""),
    url("../fonts/raleway-v22-latin-ext_latin-regular.woff2") format("woff2"),
    url("../fonts/raleway-v22-latin-ext_latin-regular.woff") format("woff");
}

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local(""),
    url("../fonts/raleway-v22-latin-ext_latin-700.woff2") format("woff2"),
    url("../fonts/raleway-v22-latin-ext_latin-700.woff") format("woff");
}
