@use "../node_modules/bootstrap/dist/css/bootstrap.css";
@use "../node_modules/@primer/octicons";
@use "./_main_grid.scss";

.nextpage {
  margin-top: 50px;
  border-top: dashed 1px;
  padding-top: 40px;
  page-break-after: always;
}

@media print {
  .container {
    width: auto;
  }

  body {
    margin-top: 0;
    margin-bottom: 6ex;
  }

  .nextpage {
    border: none;
  }

  #flDebugToolbarHandle {
    display: none;
  }
}

@media screen {
  body {
    padding-bottom: 40px;
  }
}

.qrcode svg,
.qrcode img {
  width: 123px;
  height: 123px;
  margin-top: 40px;
}

.barcode svg,
.barcode img {
  display: block;
  margin: 20px auto 20px auto;
  width: 300px;
  height: 50px;
}

/* We have to use float because the print width is smaller than -xs- */
.header .left {
  float: left;
}
.header .right {
  float: right;
}
.header:after {
  clear: both;
}

.logo {
  margin-left: 10px;
  margin-top: 30px;
}
