@use "./_variables.scss" as *;

.filters {
  margin-top: 1em;

  h3 {
    color: black;
    margin-top: 0;
    font-size: 1.2em;
  }

  .panel-title {
    display: flex;
    justify-content: space-between;
  }
}

.no-recording {
  position: relative;
  width: 32px;
  height: 32px;

  .camera {
    position: absolute;
    top: 8px;
    left: 6px;
  }

  .slash {
    position: absolute;
    top: 0;
    left: 0;
    color: #d9534f;
  }
}

.favourite {
  color: #f0ad4e;
}

.family-friendly {
}

.form-inline .checkbox {
  margin-right: 0.75em;
  margin-bottom: 0.5em;
}

.checkbox-filter {
  margin-right: 0.5em;
}

.schedule-events-container {
  display: flex;
  flex-wrap: wrap;
}

.schedule-event {
  background-color: $schedule-block;
  color: $schedule-text;
  padding: 0.5em;
  border-radius: 5px;
  margin-right: 1em;
  margin-bottom: 1em;

  .event-synopsis {
    display: flex;
    justify-content: space-between;
    cursor: pointer;

    .event-icons {
      margin-left: 0.5em;
      margin-top: 0.25em;
      display: flex;

      &:empty {
        display: none;
      }
    }

    h3 {
      margin-top: 0;
      margin-bottom: 0;
      font-size: 20px;

      &.abbreviate-titles {
        max-width: 400px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    p {
      font-size: 16px;
      margin-bottom: 0;
      padding-bottom: 0;
    }
  }

  .event-details {
    margin-top: 1em;

    p {
      margin: 0;
      margin-bottom: 1em;
    }

    p.additional-information {
      margin-bottom: 0;
    }
  }
}

@media(max-width: 550px) {
  .schedule-event {
    width: 100%;
    margin-right: 0;
  }

  .form-inline .checkbox input {
    position: static;
    margin-left: 0;
    margin-right: 0em;
    margin-bottom: 0.5em;
  }
}
