{% extends "volunteer/admin/notify/base.html" %}
{% block title %}Volunteers{% endblock %}
{% block body %}
<a role="button" class="btn btn-default pull-right" href="{{ url_for('.message_batch', **request.args) }}">
    Email all {{ volunteers | count }} volunteers
</a>

<h2>Volunteers</h2>

<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a role="button" data-toggle="collapse" data-target="#searchPanel" 
                aria-controls="searchPanel" aria-expanded="true">
                Filter <small>(showing {{ volunteers | count }}/{{total_volunteers}})</small>
            </a>
        </h4>
    </div>
    <div class="panel-body collapse
    {%- if filtered %}in{% endif %}
        " id="searchPanel">
        {% include "volunteer/admin/notify/_volunteer_filter_form.html" %}
    </div>
</div>

<table class="table table-condensed">
    <tr>
        {% if not request.args.get('reverse') %}
            {% set qs_reverse_new=True %}
        {% else %}
            {% set qs_reverse_new=None %}
        {% endif %}
        <th>
            <a href="{{ url_for('.emailvolunteers', sort_by='name', reverse=qs_reverse_new, **new_qs) }}">Volunteer</a>
        </th>
        <th>
            Roles
        </th>
    </tr>
{% for volunteer in volunteers %}
    <tr>
        <td>
            {{volunteer.nickname}}
        </td>
        <td>
            {% for role in volunteer.interested_roles %}{{ role.name }},&nbsp;{% endfor %}
        </td>
    </tr>
{% else %}
    <tr><td colspan="5" class="text-center">No volunteers found</td></tr>
{% endfor %}
</table>
{% endblock %}
