{% from "_formhelpers.html" import render_field %}
{% extends "volunteer/admin/notify/base.html" %}
{% block body %}
{% set active='messages' %}

<h3>Batch messaging {{ volunteers | count }} volunteers</h3>

<div>
    <form method="post" action="{{ url_for('.message_batch', **request.args) }}">
        {{ form.hidden_tag() }}
        {{ render_field(form.subject, tabindex=1, rows=1) }}
        {{ render_field(form.message, tabindex=2, rows=6) }}
        <div class="pull-right">
            {{ form.send(class_='btn btn-success debounce', tabindex=2) }}
        </div>
    </form>
</div>

<br>

<div>
    <h4>Volunteers that will be messaged</h4>
    <table class="table table-condensed">
    <tr>
        <th>
            Volunteer
        </th>
        <th>
            Roles
        </th>
    </tr>
    {% for volunteer in volunteers %}
        <tr>
            <td> {{ volunteer.nickname }} </td>
            <td>
                {% for role in volunteer.interested_roles.all() %}{{ role.name }},&nbsp;{% endfor %} 
            </td>
        </tr>
    {% endfor %}
    </table>
</div>

{% endblock %}
