{% macro item(name, view_name) -%}
<li{% if request.endpoint == view_name %} class="active"{%endif%}>
  <a href="{{url_for(view_name)}}">{{name}}</a>
</li>
{%- endmacro %}

<ul role="navigation" aria-label="About">
  {{item("About EMF", "base.about")}}
  {{item("Travel", "base.travel")}}
  {{item("Arrival Times", "base.arrival")}}
  {{item("What to Bring", "base.what_to_bring")}}
  {{item("Health", "base.health")}}
  {{item("Accessibility", "base.accessibility")}}
  {{item("Food & Drink", "base.food")}}
  {{item("Power", "base.power")}}
  {#{{item("Internet", "base.internet")}}#}
  {{item("Childcare", "base.childcare")}}
  {{item("Villages", "base.villages")}}
  {{item("Bring & Donate", "base.bring_and_donate")}}
  {{item("Volunteering", "base.volunteering")}}
  {{item("Contact", "base.contact")}}
</ul>
