{% extends "base.html" %}
{% block title %}Arrival &amp; Departure Times{% endblock %}
{% block secondary_nav %}
  {% include "about/_nav.html" %}
{% endblock %}
{# FIXME: EVENT_START, EVENT_END, if you're updating them you need to set times here too! #}
{% block body %}
<h2>Arrival &amp; Departure Times</h2>

<ul id="opening-times" class="well">
  <li>The site is open to the public from: <strong>Thursday 30 May 10am</strong></li>
  <li>It closes at: <strong>Monday 3 June 12pm (midday)</strong></li>
</ul>

<h3>More detailed times</h3>

<p><strong>Thursday 30 May 10am</strong> -- Gates open. You can be on site from now; it's intended for folks to have a chance to set up their tents, find one another and get comfortable.
<p><strong>Friday 31 May 12pm (midday)</strong> -- Talks start on our stages.
<p><strong>Monday 3 June 12pm (midday)</strong> -- Site closes to the public.

<h3>Set up &amp; tear down</h3>

<p>The site is not open before <strong>Thursday 10am</strong>. A number of people will be on-site before then setting things up (e.g. volunteers, villages and installations). To be on site during the set-up you must have organised it with us, and received confirmation, before you arrive. Please, do not turn up before Thursday unless we're expecting you.</p>

<p>Similarly, from <strong>Monday midday</strong> we will be tearing down the site and if you're still on-site, you will need to have arranged this with us.</p>

{% endblock %}

