{% extends "base.html" %}
{% block title %}Childcare{% endblock %}
{% block secondary_nav %}
  {% include "about/_nav.html" %}
{% endblock %}
{% block body %}
<h2>Childcare</h2>
<p>We'll be providing free childcare for 0-16 year olds, provided by the award-winning <a href="https://www.nipperbout.com/">Nipperbout</a>. There's no need to register in advance. In previous years childcare has run from 10:30am to 8pm. At busy times there might be a limit on how long your children can stay for to allow as many people as possible to drop off their children too.</p>

<p>All staff caring for children are professionals who have been DBS checked.</p>

<h3>Youth Workshops</h3>
<p>We will also have a schedule of workshops targeted at a range of ages. Please check back later closer to the event for more details.</p>

<p>Not all of the content in the main schedule will be suitable for children or younger teenagers, but they are welcome to attend at your discretion.</p>
{% endblock %}

