{% extends "base.html" %}
{% block title %}Company Details{% endblock %}
{% block body %}
<p>Electromagnetic Field Ltd. is a company limited by guarantee, registered in England and Wales with company number 07788466.</p>
<p>We are a not-for-profit organisation with no employees; all volunteers are unpaid.</p>
<p>VAT number: (GB-)188170679</p>
<p>Registered office: 483 Green Lanes, London, N13 4BS</p>
If you have a question, please check out our <a href="https://wiki.emfcamp.org/wiki/Contact">contact details</a>, or email us at <a href="mailto:{{ config['CONTACT_EMAIL'][1] }}">{{ config['CONTACT_EMAIL'][1] }}</a>.
{% endblock %}
