{% extends "about/template.html" %}
{% block title %}Contact{% endblock %}
{% block body %}
  <h1>Contact</h1>
  <p>If you need to get in touch with us, first see if your query is best directed to one of the teams below:</p>

  <ul>
    <li><a href="mailto:content@emfcamp.org">Content</a>, for talks, workshops, and installations</li>
    <li><a href="mailto:volunteers@emfcamp.org">Volunteering</a></li>
    <li><a href="mailto:sponsors@emfcamp.org">Sponsorship</a></li>
    <li><a href="{{url_for('base.page', page_name='traders')}}">Traders</a></li>
    <li><a href="mailto:villages@emfcamp.org">Villages</a></li>
  </ul>

  <p>For general questions or if you're not sure which team is most appropriate, please email <a href="mailto:contact@emfcamp.org">contact@emfcamp.org</a>.</p>

  <p>We may take a while to respond, especially if you're contacting us when we're not actively planning an event
      &mdash; we're all volunteers!</p>

  <h2>Get Updates</h2>

  <p>If you're interested in updates about EMF, follow us on
    <a href="https://social.emfcamp.org/@emf">the Fediverse</a> or join our mailing list:</p>
    {{ mailing_list("main")}}

  <p>Some of our teams have their own Fediverse accounts too - you can see them <a href="https://fediwall.emf.camp">on our Fediwall</a>, subscribe to them <a href="https://social.emfcamp.org/feed.rss">using RSS</a>, or follow them individually:</p>

  <ul>
    <li><a href="https://social.emfcamp.org/@info">@info@emfcamp.org</a> for breaking news from the infodesk</li>
    <li><a href="https://social.emfcamp.org/@volunteer">@volunteer@emfcamp.org</a> for volunteering</li>
    <li><a href="https://social.emfcamp.org/@bus">@bus@emfcamp.org</a> for updates on the bus to and from Ledbury</li>

    <li><a href="https://social.emfcamp.org/@kitchen">@kitchen@emfcamp.org</a> for our wonderful volunteer kitchen</li>

    <li><a href="https://social.emfcamp.org/@badge">@badge@emfcamp.org</a> to hear about Tildagon, the EMF badge</li>
    <li><a href="https://social.emfcamp.org/@films">@films@emfcamp.org</a> to find out what's on with <a href="https://films.emfcamp.org">Electromagnetic Film</a></li>
    <li><a href="https://social.emfcamp.org/@installations">@installations@emfcamp.org</a> to hear about some of the creations that our attendees have brought along</li>
    <li><a href="https://social.emfcamp.org/@music">@music@emfcamp.org</a> to get updates on our musical performances</li>
    <li><a href="https://social.emfcamp.org/@content">@content@emfcamp.org</a> for the content team, responsible for talks and workshops</li>

    <li><a href="https://social.emfcamp.org/@robotarms">@robotarms@emfcamp.org</a> for the Robot Arms, our main bar</li>

    <li><a href="https://social.emfcamp.org/@nullsector">@nullsector@emfcamp.org</a> for NullSector</li>
    <li><a href="https://social.emfcamp.org/@polybio">@polybio@emfcamp.org</a> for mysterious things cooked up by Polybius Biotech</li>
    <li><a href="https://social.emfcamp.org/@cybar">@cybar@emfcamp.org</a> for Cybar, the NullSector bar</li>

    <li><a href="https://social.emfcamp.org/@video">@video@emfcamp.org</a> for video recordings/streaming of our stages</li>
    <li><a href="https://social.emfcamp.org/@noc">@noc@emfcamp.org</a> for the event internet connection and WiFi</li>
    <li><a href="https://social.emfcamp.org/@phones">@phones@emfcamp.org</a> for the on-site phone network</li>
  </ul>

  <h2>Community</h2>
  <p>You can join the EMF community on Matrix or IRC:</p>
  <ul>
    <li><strong>Matrix:</strong> Join <a href="https://matrix.to/#/#general:emfcamp.org">#general:emfcamp.org</a>.</li>
    <li><strong>IRC:</strong> Join <a href="ircs://irc.libera.chat/#emfcamp">#emfcamp</a> on the <a href="https://libera.chat/">Libera.Chat</a> network.</li>
  </ul>
{% endblock %}
