{% extends "base.html" %}
{% block title %}COVID 19{% endblock %}
{% block secondary_nav %}
  {% include "about/_nav.html" %}
{% endblock %}
{% set main_class = 'about' %}
{% block body %}
<h2>COVID-19</h2>

<p><em><small>Revision 1, published 2022-01-12</small></em></p>

<p><strong>This page is under constant review and may change at short notice.</strong></p>

<p>We are following the COVID-19 situation closely, and much has changed since we made the <a href="https://blog.emfcamp.org/2020/03/25/emf-2020-cancelled/">decision to cancel EMF 2020</a>.</p>

<p>Much more is likely to change (hopefully for the better) in the run-up to the event, but whatever happens we will be taking steps to ensure the safety of EMF attendees and volunteers.</p>

<p>Given the rapidly changing situation we cannot yet specify what measures will be implemented on site - the COVID precautions we take at EMF will be governed by the prevalence closer to the time, as well as any government restrictions in force.</p>

<p>We will clearly announce the measures in place before the event, and any recommendations we have for attendees to ensure both their safety and the safety of others.</p>

<p>In the meantime we encourage you to get vaccinated &amp; boosted as soon as possible, and test yourself regularly.</p>

{% endblock %}
