{% extends "base.html" %}
{% block title %}Food &amp; Drink{% endblock %}
{% block secondary_nav %}
  {% include "about/_nav.html" %}
{% endblock %}
{% set main_class = 'about' %}
{% block body %}
<h2>Food &amp; Drink</h2>
<p>There will be a variety of food vendors at EMF. In 2018, alongside the usual festival food we had vegetarian, vegan, and gluten free options. Doing a 3 hour <a href="/about/volunteering">volunteer shift</a> will allow you to enjoy a meal cooked by our excellent crew catering.</p>
<p>The Robot Arms will also be back, serving excellent ales, ciders, and non-alcoholic drinks.</p>

<h3>Bringing Your Own Food</h3>
<p>You are welcome to bring your own food and drink if you'd prefer. Please keep in mind that no open fires are allowed on the grass. If you can, please avoid bringing glass containers &mdash; broken glass is a pain to clear up.</p>
<p>If you need to resupply there's a Tesco in Ledbury, which is a five minute drive away, and easily accessible via the shuttle bus.</p>
{% endblock %}
