{% extends "base.html" %}
{% block title %}Food &amp; Drink{% endblock %}
{% block secondary_nav %}
  {% include "about/_nav.html" %}
{% endblock %}
{% set main_class = 'about' %}
{% block body %}
<h2>Food &amp; Drink</h2>
<p>There will be a variety of food vendors at EMF. In 2018, alongside the usual festival food we had vegetarian, vegan, and gluten free options. Doing a <a href="/about/volunteering">volunteer shift</a> will allow you to enjoy a meal cooked by our excellent crew catering.</p>
<p>The Robot Arms will also be back, serving excellent ales, ciders, and non-alcoholic drinks.</p>

<h3>Bringing Your Own Food</h3>
<p>You are welcome to bring your own food and drink if you'd prefer. Please keep in mind that no open fires are allowed on the grass. If you can, please avoid bringing glass containers &mdash; broken glass is a pain to clear up.</p>
<p>There'll be a shop on site offering a range of camping friendly food and drink, and if you need a larger resupply there's a Tesco in Ledbury, which is a five minute drive away, and easily accessible via the shuttle bus.</p>

<h3>Vendors</h3>

<ul>
  <li><a href="https://www.mobileveggiefood.co.uk/">Goodness Gracious Healthy Foods</a> &mdash; Vegetarian burgers, falafel, wraps and salad.</li>
  <li><a href="https://www.cantina-elburrito.co.uk/">Cantina El Burrito</a> &mdash; Tasty Mexican burritos, nachos and chilli.</li>
  <li><a href="https://www.isabelsbakehouse.com/">Isabel’s Bakehouse</a> &mdash; Sweet and savoury crêpes, and fresh baked goods.</li>
  <li><a href="https://www.mandmices.com/">M&M Ices</a> &mdash; Ice cream and frozen goodies.</li>
  <li>Gourmet Burger & Chicken Shack &mdash; Short rib burgers, Fried chicken burgers & wraps and loaded fries.</li>
  <li><a href="https://www.cheltenhampizzeria.com/">La Pizzeria</a> &mdash; Freshly made pizza.</li>
  <li><a href="http://www.coffeevagabond.co.uk/">The Coffee Vagabond</a> &mdash; Amazing coffee, courtesy of Alex and the team.</li>
</ul>
{% endblock %}
