{% extends "base.html" %}
{% block title %}Travel{% endblock %}
{% block secondary_nav %}
  {% include "about/_nav.html" %}
{% endblock %}
{% block body %}
<h2>Travelling to Electromagnetic Field</h2>
<p>EMF will be held at the Eastnor Castle Deer Park, just east of Ledbury, Herefordshire.</p>

<h3>By Train</h3>
<p>EMF is close to Ledbury station which is around <a href="https://traintimes.org.uk/londonpaddington/ledbury/">three hours direct</a> from London Paddington (on <a href="https://www.gwr.com/">GWR</a>) and <a href="https://traintimes.org.uk/birminghamnewstreet/ledbury/">one hour</a> from Birmingham New Street (on <a href="https://www.westmidlandsrailway.co.uk/">West Midlands Railway</a>).

<p>We will be providing a free shuttle bus service between Ledbury station and the EMF site approximately every half hour. The bus will leave from the bus stop on the road just outside the station.</p>

<h3>By Car</h3>
<p>If you plan to drive, you will need to buy a parking ticket or campervan ticket. Motorcycles do not require a parking ticket.</p>

<p>Plan your travel to the south gate (adjacent to A438) - postcode <strong>HR8 1RQ</strong> should get you there. The entrance to the site is 52°01'56"N 2°23'01"W / OS Grid SO 738 372.</p>

<p>Once you're near the site, you'll see yellow temporary road signs for EMF - follow these and ignore your sat nav if it tells you differently.</p>

<h3>By Air</h3>
<p>The closest major airport is <a href="https://en.wikipedia.org/wiki/Birmingham_Airport">Birmingham (BHX)</a>, which is around 1:40 by train to Ledbury station; or an hour by road. <a href="https://en.wikipedia.org/wiki/Bristol_Airport">Bristol (BRS)</a> and <a href="https://en.wikipedia.org/wiki/Cardiff_Airport">Cardiff (CWL)</a> are around 1:40 by road, but poorly connected by public transport.</p>

<p>For those travelling long-haul, BHX is likely to be be most useful followed by LHR.</p>

{% endblock %}
