{% extends "base.html" %}
{% block title %}Travel{% endblock %}
{% block secondary_nav %}
  {% include "about/_nav.html" %}
{% endblock %}
{% block body %}
<h2>Travelling to Electromagnetic Field</h2>
<p>EMF will be held at the Eastnor Castle Deer Park, just east of Ledbury, Herefordshire.</p>
<p>You can arrive after 10am on Thursday 2<sup>nd</sup> and you can stay until midday on Monday 6<sup>th</sup> June {# 2022 #}. You won't be allowed on site outside those times unless you've <a href="{{url_for('.volunteering')}}">volunteered</a> to help with setup or teardown.</p>

<h3>By Train</h3>
<p>EMF is close to Ledbury station which is around <a href="https://traintimes.org.uk/londonpaddington/ledbury/">three hours direct</a> from London Paddington (on <a href="https://www.gwr.com/">GWR</a>) and <a href="https://traintimes.org.uk/birminghamnewstreet/ledbury/">one hour</a> from Birmingham New Street (on <a href="https://www.westmidlandsrailway.co.uk/">West Midlands Railway</a>).

<p>We will be providing a free shuttle bus service between Ledbury station and the EMF site approximately every half hour. The bus will leave from the bus stop on the road just outside the station.</p>

<h3>By Car</h3>
<p>If you plan to drive, you will need to buy a parking ticket or live-in vehicle ticket. Motorcycles do not require a parking ticket. No vehicles other than camper vans are permitted to be parked on site. If your vehicle is an integral part of a village or installation please contact us in advance for permission.</p>

<p>Plan your travel to the south gate (adjacent to A438) - postcode <strong>HR8 1RQ</strong> should get you there. The entrance to the site is 52°01'56"N 2°23'01"W / OS Grid SO 738 372.</p>

<p>Once you're near the site, you'll see yellow temporary road signs for EMF - follow these and ignore your sat nav if it tells you differently.</p>

<h4>Electric Vehicles</h4>
<p>There will be no provision for EV charging at the event this year due to both a substantial cost in fuel for the generators on-site, as well as a predicted increase in demand.</p>

<p>We will be able to provide EV charging in an emergency.</p>

<p>There are a few AC 7kW Type 2 charge points in Ledbury, and there are multiple rapid chargers from different suppliers in Gloucester, Cheltenham and Worcester nearby. UK EV charging infrastructure is not the most reliable so it's a good idea to plan to charge in an area where there are multiple possibilities from multiple suppliers - using <a href="https://www.zap-map.com/live/">Zap Map</a>, <a href="https://abetterrouteplanner.com/">A Better Route Planner</a> etc can help with this.</p>

<p>It's also worth checking if you need to have an app, account or specific physical card for the charge points you plan to use, most you can now pay with at the point with a contactless card but it's worth double checking.</p>

<h3>By Air</h3>
<p>The closest major airport is <a href="https://en.wikipedia.org/wiki/Birmingham_Airport">Birmingham (BHX)</a>, which is around 1:40 by train to Ledbury station; or an hour by road. <a href="https://en.wikipedia.org/wiki/Bristol_Airport">Bristol (BRS)</a> and <a href="https://en.wikipedia.org/wiki/Cardiff_Airport">Cardiff (CWL)</a> are around 1:40 by road, but poorly connected by public transport.</p>

<p>For those travelling long-haul, BHX is likely to be be most useful followed by LHR.</p>

{% endblock %}
