{% extends "base.html" %}
{% block title %}Staying healthy at EMF{% endblock %}
{% block secondary_nav %}
  {% include "about/_nav.html" %}
{% endblock %}
{% set main_class = 'about' %}
{% block body %}
<h2>Staying healthy at EMF</h2>

<p>While you're at EMF, our first aid team will be available to assist you if you're injured or ill, or if you
    just need some suncream &mdash; drop by the first aid tent.</p>

<h3>COVID-19</h3>

<p>While outdoor events are some of the lowest-risk places to be in the company of several thousand people,
  COVID remains a significant health risk at EMF. Prevalence of COVID in the UK is currently falling, but it's
  likely to still be quite prevalent during the event.</p>

<h4>What you should do</h4>

<p><strong>We expect all attendees to be up to date on their
  <a href="https://www.nhs.uk/conditions/coronavirus-covid-19/coronavirus-vaccination/">COVID vaccinations</a></strong>.
  Vaccination reduces your chances of catching COVID, and reduces your chances of spreading COVID if you do catch it.</p>

<p>We strongly encourage you to:</p>
<ul>
  <li>Take a rapid test (lateral flow test) the day you leave for EMF</li>
  <li>Bring rapid tests with you to take during the event</li>
  <li>Bring masks, and wear a mask if you're in a busy enclosed area</li>
</ul>

<p>If you test positive for COVID in the days before the event, <strong>please don't attend</strong>. We will refund your ticket if
  you're unable to attend because you have COVID.</p>

<p>If you experience <a href="https://www.nhs.uk/conditions/coronavirus-covid-19/symptoms/">symptoms of COVID</a> during the event,
    please take a rapid test &mdash; if you don't have one, the First Aid tent will give you one for free.</p>

<p>A positive rapid test means that you are likely contagious. If you test positive for COVID, please wear a mask, take great
    care to avoid close contact with other attendees, and leave the event as soon as you are able to. Even mild COVID won't be
    fun if you're stuck in a tent.</p>

<h4>What we're doing</h4>

<p>We're paying particular attention to ventilation of our tents, and we will be monitoring CO<sub>2</sub>
    levels to ensure good ventilation.</p>
<p>We'll provide plenty of places for you to wash your hands, with running water and soap.</p>
<p>Toilets and showers will be cleaned regularly.</p>

<h3>Tick bites</h3>
<p>EMF is held in a deer park, which increases the risk of tick bites, especially if you wander off the event site into longer grass.</p>

<p>Tick bites can carry <a href="https://www.nhs.uk/conditions/lyme-disease/">Lyme disease</a>. If you are bitten by a tick,
  please visit the First Aid tent to have it removed, and be aware of the symptoms of Lyme disease.</p>

{% endblock %}
