{% extends "base.html" %}
{% block title %}Internet{% endblock %}
{% block secondary_nav %}
  {% include "about/_nav.html" %}
{% endblock %}
{% block body %}
<h2>Internet</h2>
<p></p>
<h3>Wireless</h3>
<p>The whole field has been covered with many wireless access points to ensure the best possible coverage and to allow you to roam seamlessly without interruption.</p>

<p>The following wireless networks will be available:</p>
<dl>
  <dt>emfcamp</dt>
  <dd>The main network - use this one if you can see it. The username and password are <strong>emf</strong>.</dd>
</dl>

<h3>Wired Ethernet</h3>

{% endblock %}
