{% extends "base.html" %}
{% block title %}Internet{% endblock %}
{% block secondary_nav %}
  {% include "about/_nav.html" %}
{% endblock %}
{% block body %}
<h2>Internet</h2>
<p></p>
<h3>Wireless</h3>
<dl>
  <dt>Network Name (SSID)</dt>
  <dd>emfcamp</dd>
  <dt>Username</dt>
  <dd>emf</dd>
  <dt>Password</dt>
  <dd>emf</dd>
</dl>

<p>The whole field has been covered with many wireless access points to ensure the best possible coverage and to allow you to roam seamlessly without interruption. Please note that your device will be reachable by anyone on the internet, please take suitable precautions such as turning on a firewall, and making sure your software is up to date. </p>

<p>You should not bring your own wireless access point, its unlikely to provide better service than the camp ones, and it makes the network worse for everyone else. Any rogue access points will be hunted down and disconnected from the network - <a href="https://wiki.emfcamp.org/wiki/Network/Rogue_Access_Points">see the wiki if you want to know why</a>. If you have a project that needs to provide its own AP for some reason please contact the NOC.</p>

<h3>Wired Ethernet</h3>
<p>All camping areas are within 60m of a datenklo (or data toilet), where you can connect to the network. If you intend to do so please bring 60-70m of CAT5 cable as we are unable to provide any.</p>

<p>Lay your own cable neatly from your tent back to the nearest Datenklo, and leave 6m of slack coiled on the floor in front of it. And please lay it so that it can be clearly seen that it needs to be plugged in - or you risk having your cable overlooked. At regular intervals a member of the NOC team will connect it up and enable the port.</p>

<p>Note that most of our ports will not support 10 Mbps - if you need it for old equipment or embedded things, please bring your own switch to convert.</p>
{% endblock %}
