{% extends "base.html" %}
{% block title %}Power{% endblock %}
{% block secondary_nav %}
  {% include "about/_nav.html" %}
{% endblock %}
{% block body %}
<h2>Power</h2>
<p>As usual, our lovely power team will provide power to all our attendees.
    This guide will tell you how to connect safely.</p>

<p>Power will predominantly be delivered via 16A (Blue IEC60309 "Ceeform") connectors although some 13A UK
    sockets will be available within datenklos.</p>

<p>We plan our campsites so that no point will be more than 40 metres away from a source of power,
    but the majority of power extension leads are 25m or shorter, so please aim to arrive
    early if you really need power, or try and connect via a neighbour.</p>

<p>If you're coming by yourself, bring a good-quality reel-type extension lead (ideally at
    least 25m) with a 13A or 16A plug. If you're coming as part of a larger village, try to
    bring enough equipment to safely distribute within your village.</p>

<p>Power requirements in excess of 16A single-phase are subject to special request -
    <a href="mailto:contact@emfcamp.org">please email us</a> as soon as possible so we can
    try and sort something out.</p>

<h4>Safety</h4>
<p>The power network is designed and tested to relevant UK standards. All sockets within the
    camping area are protected by 30mA RCDs to reduce risk of electrical shock.</p>

<p>You should always make sure that any connections are kept well inside an enclosed area which won't
    get wet. If you suspect a connection has got wet, please disconnect it yourself or ask for
    a member of the power team if you don't feel you can.</p>

<p>If it rains, the earth leakage current from a number of slightly damp appliances can add up
    to enough to trip our larger upstream RCDs, which will inconvenience more people than just
    you - so please keep try to keep things dry!</p>

<h4>Camper Vans &amp; Caravans</h4>
<p>As usual, we will provide 1x 16A Ceeform socket in the campervan area for every campervan/caravan
    ticket sold.</p>

<h4>Electric Vehicles</h4>
<p>Owing to the increased price of providing electricity at EMF, and the increasing number of electric
    vehicles, we do not plan to provide generally-available electric vehicle charging at EMF 2022.
    We ask that you arrive at EMF with enough charge to leave at the end of the event.
</p>

<p>We will be able to provide EV charging in an emergency.</p>


{% endblock %}
