{% extends "base.html" %}
{% block title %}Privacy{% endblock %}
{% block body %}
<h2>Privacy</h2>

<p>This policy describes how <a href="{{ url_for('.company') }}">Electromagnetic Field Ltd</a> (EMF)
stores and processes your data when you use our websites and attend our events.</p>

<p>We will never sell your data to anyone, and we will never share it
with any other organisation except as detailed below. Unless
specifically mentioned in this policy, all attendee data held by us will
be deleted no later than 12 months after the end of the event it relates to.</p>

<h3>Email</h3>
<p>If you have purchased a ticket, we will send you emails for the legitimate
interest of providing you information about the event.</p>

<p>If you are a speaker or a volunteer, we will save your email address in order
to email you about guaranteed tickets for the next event.</p>

<p>If you opt in, we will add your email address to our mailing list to
let you know about future events. If you do so, we will only send a maximum
of four emails to you per event. This list is managed by
<a href="https://mailchimp.com/">MailChimp</a>. You can unsubscribe at any time.</p>

<p>If you subscribe to our <a href="https://lists.emfcamp.org">mailing lists</a>,
your email address will be stored in relation to that mailing list. You can
unsubscribe at any time.</p>

<p>If you email us at an emfcamp.org address, your messages are stored by
<a href="https://helpmonks.com/">Helpmonks</a>, our email ticketing software. This
data is stored indefinitely so we can refer to it when running future events.</p>

<h3>Online payments</h3>
<p>If you pay us through our payment providers 
<a href="https://stripe.com">Stripe</a> or
<a href="https://gocardless.com/">GoCardless</a>,
they will process and store your payment details in accordance with their
privacy policies. EMF does not handle your online payment data in any form.</p>

<p>If you pay us by bank transfer, your name or bank details may appear on our
bank statements, and in our online accounting service
(<a href="https://www.xero.com">Xero</a>). We are required by UK law to retain
these for six years, and our bank
(<a href="https://www.home.barclays/">Barclays</a>) may retain them for longer.</p>

<h3>In-person payments</h3>
<p>When we accept card payments at our events, we store receipts and any
other data generated in accordance with PCI DSS standards.
Merchant payment receipts will be securely disposed of no later than 6 months after
the event ends.</p>

<h3>Video</h3>
<p>If you choose to allow recording of your session, the video will
be available indefinitely to stream and download under a Creative
Commons license on our
<a href="https://www.youtube.com/user/emfcamp1">YouTube channel</a> and
<a href="https://media.ccc.de">media.ccc.de</a>.</p>

<p>You may contact us to have the streaming video removed from our
channels, however we cannot control its distribution elsewhere under
the open license.</p>

<h3>Call for Participation and Schedule</h3>
<p>If your Call for Participation (CfP) submission is successful,
your name and talk description will be displayed indefinitely on the
schedule section of this website. You may contact us to get this
changed or removed.</p>

<p>For successful CfP submissions, your name, email
address, and any communications with you will be held for up to
5 years. This is to allow us to fairly allocate talks between
events, and so we have access to any special requirements
you may have requested for the previous event.</p>

<h3>Volunteering</h3>
<p>If you register to volunteer at the event, your name or alias,
chosen shifts and eligibility, and contact details will be made
available to volunteer managers during the event.</p>

<h3>Notifications</h3>
<p>We may use third party providers to send notifications about volunteer
shifts and other events around site when requested by you. Notifications
will be processed in accordance with the provider's privacy policies.</p>

<h3>Wiki content</h3>
<p>If you contribute to our <a href="https://wiki.emfcamp.org">event wiki</a>,
you consent that the content you produce will be displayed publicly
and archived indefinitely in a read-only manner after the event ends.
Your login details and session data will be stored for the legitimate
interest of allowing you to use the wiki, and purged no later than
12 months after the end of the event.</p>

<h3>Internet privacy</h3>
<p>We take the privacy and anonymity of our event internet
connection extremely seriously.</p>

<p>We never engage in any deep packet inspection or logging of
individual packet data, and we actively avoid logging all unnecessary data.
We may log traffic flows to manage our network.</p>

<p>Any data which may be used to assist in identifying a user
(such as DHCP server databases) is stored in memory only. All servers
which provide network services are securely erased before they leave the site
after the event.</p>

<h3>Web logging and analytics</h3>
<p>We log your web request data, including IP addresses, for the legitimate
interest of troubleshooting issues with our web sites and dealing with abuse.
These logs will be kept for the shortest time possible, but never later than
12 months after the end of the event.</p>

<h3>Conduct reports</h3>
<p>If we receive a report about your behaviour under our
<a href="{{ url_for('.code_of_conduct') }}">Code of Conduct</a>, we will keep
the report, as well as any other observations, indefinitely. This allows us
to carry out our legitimate interests of keeping the event safe for our
attendees.</p>

<p>Personal information on conduct reports is only made available to members of
the conduct team as well as the Directors of EMF.</p>

<h3>First aid</h3>
<p>If you seek first aid at one of our events, your details will be recorded on
our electronic patient record system.<p>

<p>These records are encrypted and only accessible to members of the first aid
team. They may be shared with the emergency services if you require further care.
Records will be deleted within two years of the event.</p>

<h3>Jurisdiction</h3>
<p>Data held by EMF is stored and processed in the UK in
accordance with UK and EU rules.</p>

<p>Data sent to Stripe, MailChimp, and Helpmonks is processed in the USA
under the EU-US Privacy Shield scheme.</p>

{% endblock %}
