{% extends "base.html" %}
{% block title %}About{% endblock %}
{% block body %}
<h1 id="volunteering-at-emf">Volunteering at EMF</h1>
<p>EMF is a non-profit event, entirely organised by volunteers. Nobody is paid to work on EMF, and everyone who attends (with very few exceptions<a href="#footnote">^</a>) pays for their own ticket. This includes the core organisers.</p>
<p>Being a completely volunteer-run event means that EMF tickets are much cheaper than they would otherwise be, which allows as many people as possible to attend. It also contributes to the uniquely community-run atmosphere of the event.</p>
<p>In essence, everyone who attends is responsible for making EMF a great event.</p>
<p>There are many ways to contribute: by giving a talk, bringing an installation, or running a village. But we’d like everyone to consider volunteering to help the event run smoothly, even if it is only for an hour or two.</p>
<h2 id="how-to-volunteer">How to Volunteer</h2>
<p>We understand that everyone who helps with EMF has other commitments and we plan ahead to cope with this.</p>
<p>We have two golden rules for you to help us with this:</p>
<ul>
<li>Don’t over-commit yourself</li>
<li>Tell us if you can’t get something done</li>
</ul>
<h3 id="volunteering-before-the-event">Volunteering before the event</h3>
<p>Running an event like EMF requires a huge amount of planning to make sure the event runs smoothly. This starts a year or more in advance.</p>
<p>A lot of this has already happened for EMF 2018, but we’re keen for more people to help out next time. The best way to get involved for next time is to help out this year and meet the team during the event.</p>
<h3 id="helping-out-during-the-event">Helping out during the event</h3>
<p>During the event, there are plenty of roles which need to be filled, from video mixing to volunteer cooking.</p>
<p>Closer to the event, you’ll be able to log in to the volunteer system which allows you to sign up for shifts. Volunteers who complete a shift will get a ticket for a delicious free meal from our volunteer kitchen.</p>
<h3 id="helping-with-setup-teardown">Helping with setup &amp; teardown</h3>
<p>We’re grateful for help setting up the event, and especially tearing it down.</p>
<p>If you want to help with either setup or teardown you will need a ticket to EMF and permission from us to turn up early or stay after the event ends. 
During setup and teardown, EMF is a construction site and we are liable for your safety. If you don’t follow safety instructions we will kick you out - for our protection.</p>
<p>If you’re on site for setup/teardown you have to help with everything - not just what you’re interested in. There’s plenty of lifting and shifting which has to happen, and if you’re not actively helping, we will ask you to leave.</p>
<h3 id="getting-involved">Getting Involved</h3>
<p>The EMF organisation is split into teams which organise different aspects of the event. Each team has a lead and a deputy who are responsible for keeping track of work and coordinating with other teams.</p>
<p>Some teams are a lot more popular than others, and they may already have enough people helping out.</p>
<p>To get involved:</p>
<ul>
<li>First join the <a href="https://lists.emfcamp.org/listinfo/general">general mailing list</a>, which is the main, low-traffic email list for getting involved with EMF.</li>
<li>To find a team, take a look at the <a href="https://wiki.emfcamp.org/wiki/Teams">teams page</a> on the wiki. This will list any roles which teams are looking for, as well as contact details for the team.</li>
</ul>
<p>Please remember that everyone is a volunteer, so you may not get an immediate response from a team.</p>
<br />
<p>
<small id="footnote">^ We provide free tickets for qualified First Aid staff who must work a minimum of three eight-hour shifts during the event.</small></p>
{% endblock %}
