{% extends "base.html" %}
{% block title %}Volunteering{% endblock %}
{% block secondary_nav %}
{% include "about/_nav.html" %}
{% endblock %}
{% set main_class = 'about' %}
{% block body %}
<h2 id="volunteer-roles">Pre-event Volunteer Roles</h2>
<div class="intro-text">
  <p>We're looking for people to fill the roles listed below, please keep in mind that all of them require a time
    commitment ahead of the event.</p>
  <p>Some of the roles are new this year whilst others are portions of previous positions in order to lighten the load 
     on other volunteers</p>
  <p>If any of these roles are of interest to you please send an email to <a
      href="mailto:volunteers@emfcamp.org">volunteers@emfcamp.org</a> and introduce yourself.</p>
  <p>If you can't find a role that interests you but would still like to help, get in touch - we'll do our best to find
    something that you'll enjoy!</p>
</div>

<div id="content" class="well content-well">
  <h3>Content Team</h3>

  <h4>Content Team Leads</h4>
  <p>Ahead of the event the content team leads are responsible for making sure there's something to do once you arrive
    at EMF, organising the talks, workshops, performances and installations around the site. They are responsible for
    managing the content sub-teams and ensuring that all teams operate smoothly both in the run-up and during the event.
  </p>
  <p>In the run up to the event you should be able to commit to about 20 hours a month, particularly around the CfP
    opening and closing.</p>

  <h4>Outreach &amp; Communications</h4>
  <p>The outreach team researches and gets in touch with people we’d like to speak, bring art, or run workshops. They
    manage the process of finding &amp; inviting them, working out any needs they have, and handing over to the
    logistics team to make sure everything is in place.</p>

  <h4>Music Team Lead / Deputy</h4>
  <p>Responsible for booking and organising all music at the event, along with artist relations. Artists are sourced
    both from our Call for Participation, and by direct outreach. This position will be supported by the rest of the
    Music Team.</p>
  <p>This role will need to commit about 10 hours a month ahead of the event to find, contact, and book artists, as well
    as working with your team.</p>

  <h4>Music Team</h4>
  <p>The music team arrange artists to play on the main stages each evening, and DJs for the Cybar dance floor. This
    year we may also have additional performance spaces.</p>
  <p>During the event the music team manage the stages each night, ensuring bands &amp; equipment are transported to
    stages, bands are looked after, and stage times are adhered to.</p>
  <p>While we have sound and lighting technicians available in our stage team, any experience in this area is helpful.
  </p>

</div>

<!-- </content> -->

<div id="arts" class="well content-well">
  <h3>Arts Team</h3>
  <p>Responsible for curating installations &amp; artwork across the site, both those submitted to the Call for
    Participation and outreach to things we'd love to exhibit on site. Responsible for grant applications to funding
    organisations such as the Arts Council, and communication with people who wish to exhibit.</p>

  <h4>Arts Logistics &amp; Ops</h4>
  <p>Logistics make sure we can get artworks &amp; installations to the site, and ensure they’ll be covered by our
    insurance ahead of the event. Once on site they’ll be welcoming invited artists to the site, locating &amp;
    installing artworks, and making sure they have power, network, and anything else they need.</p>

  <h4>Arts Installation Support Service</h4>
  <p>This team exists to help people who want to bring installations to EMF, starting with helping them to understand
    whether they need support at all. If they do, the team will help them find a place for their installation to live,
    and coordinate with logistics to make sure they get power, network, or required insurance coverage.</p>
  <p>They also put people in touch with each other who might want to collaborate on installations, and manage the Shiny
    Fund, a pot of money to provide small grants for installations that need it.</p>
</div>
<!-- </arts> -->

<div id="volunteer" class="well content-well">
  <h3>Volunteer Team</h3>
  <h4>Catering Manager</h4>
  <p>The catering manager will work with the chefs to make sure all the required equipment has been hired or bought
    ahead of time, organise food deliveries, and manage the kitchen team rota during the event.</p>
  <p>This could also be split into two roles if you're unable to commit ahead of time, or don't feel comfortable
     managing a team.</p>
</div>

<div id="design" class="well content-well">
  <h3>Design Team</h3>
  <p>In addition to the flags and beermats that may be familiar from the last EMF, for 2022 the new Design team will
    coordinate with other volunteers across EMF to help ensure the festival looks as cohesive and beautiful as possible,
    from the website to the wristbands to backgrounds for the stages.</p>

    <p>We’ve spelled out a few specific jobs we’d like to recruit for, but if you’d like to get involved in another
    capacity please get in touch, we’d love to hear from you!</p>

    <p>Whatever role you might like to take we’ll do our best to inform and support you, so come and have fun making EMF
    beautiful! </p>


  <h4>Logistics</h4>
  <p>In order to deliver the event, we need to wrangle a lot of suppliers, materials, equipment, volunteers, fabrication
    and transport. If you’re up for some admin, spreadsheets and emails, please jump in!</p>

  <h4>Lounge Lead</h4>
  <p>The lounge is a social space for attendees to relax, catch up with friends or take some time away from the bustle
    of the festival. We’re looking for a volunteer to oversee the design of this space, and work with other EMF teams to
    organise furniture, lighting, layout and any appropriate installations, as well as plan setup before the event.</p>

  <h4>Booklet Co-ordinator</h4>
  <p>The EMF Booklet is one of the first things attendees receive when they arrive on site, so it’s very important that
    it is accessible and clear! We’re looking for someone with an eye for words, layouts and who is comfortable working
    with contributors. You’ll liaise with other EMF teams to compile all the relevant information, and be assisted by
    our graphic designer and our mapmaker. It is probable you’ll also work on a matching Badge Booklet.</p>

  <h4>Graphics</h4>
  <p>If you can sling some pixels or splines around, your help would be greatly appreciated in adapting our graphic
    assets to wherever they’re needed, such as merchandise, site dressings, video idents and printed materials.</p>

  <h4>Inflatable Tentacle Fabricators</h4>
  <p>A sea-themed festival obviously needs some tentacles! Our prototyper has got us most of the way there with some
    huge illuminated, animated, inflatable monstrosities, but we need volunteers to take over and take them to the
    finish line. We’d like you to start from the plans for the prototype, finalise the design, work with our Lighting
    team on the electronics and controls, and coordinate or carry out production of the final products. </p>

  <p>This job would be ideal for two or three makers who live close together and are used to collaborating together.
    More details here: <a
      href="https://docs.google.com/document/d/1pkJv8dvAW-4IHaeRaSmzhwhWlUzcVaBqhZ04nf_vlto/edit?usp=sharing">Inflatacles
      Recruitment Brief</a></p>

  <h4>General Sewists</h4>
  <p>This year we’re using printed fabric as our main material and will need help to stitch our plans together. If you
    have a sewing machine and are happy to sew a few metres of bunting, flags and signage in advance of the festival
    please get in touch.</p>

  <p>Individuals or groups welcome, we’ll ship materials to you and arrange collection or delivery of completed items.
  </p>

  <h4>General Fabricators</h4>
  <p>We will want to build some odd items, so if you’re a hands-on fabricator able to get stuck in and solve problems in
    functional and cost-effective ways please say Hi. The exact list of fabrication jobs are to be confirmed, but if you
    give us an idea of your location, what skills and facilities are at your disposal and what your availability is
    like, we’ll contact you if a suitable task comes up. </p>

  <h4>Setup crew</h4>
  <p>It’s a little early to recruit for this, but if you are able to arrive to site a day early, there may be specialist
    decor assembly and deployment jobs that need a dedicated person. We should only need a few folks here, to be
    confirmed in early May.</p>
  <p><strong>Do not show up early unless cleared by a team lead</strong></p>
</div>
<!-- </design> -->

<div id="cybar" class="well content-well">
  <h3>Cybar Team - (NullSector)</h3>
  <p>The team who built Null Sector in 2018 are doing something else this year, and looking for people to make it even
    better. All these roles will be working with the team to build a consistent look and feel for the area.</p>

  <h4>Graphic Designer</h4>
  <p>Someone to take charge of the visual aspects of the area and make sure the set is authentic by providing consistent
    signage, posters, logos, videos etc.</p>

  <h4>Sound Designer</h4>
  <p>A sound designer to work on soundscapes and spot sound effects.</p>

  <h4>Night Market Manager</h4>
  <p>This person will work with the team to reach out to and manage the attendees who want to sell at this event's night
    market. As well as coordinate on the ground at the start of the evening to help the sellers set up and find their
    spot.</p>

  <h4>Pre-Build in London</h4>
  <p>We are looking for people who can spend time helping with all kinds of making and building in Battersea, London, from
    now until the event. They should be able to travel to the workshop and ideally be able to spend full days (though less
    is also useful). Tasks range from gluing and nailing wood, painting, cutting and wiring, sanding, screwing and
    more.</p>

  <h4>Setup &amp; Teardown</h4>
  <p>We’re looking for some people who know which end of drill to hold on to, and who preferably have some experience of
    theatre or events construction to assist with building and tearing down Null Sector. You’ll need a willingness to
    get involved in physical labour, and to deal with living on a building site for a few days.</p>
  <p><strong>Do not show up early unless cleared by a team lead</strong></p>
</div>
<!-- </cybar> -->

<div id="tent" class="well content-well">
  <h3>Tent Team</h3>
  <p>A new team this year, the Tent Team will be helping people who are new to the event, and particularly those who
    aren't used to camping.</p>

  <h4>Tent Team Organiser</h4>
  <p>Organise and recruit team members for on-site work helping others erect tents and get comforatble.</p>

  <h4>Camping Gear Librarian</h4>
  <p>Organise asking for loanable camping gear donations, manage check-in and out of items, and return at end of event.
    This aims to reduce single-use camping gear purchases and improve the experience for people who don't camp regularly
    (including several diversity groups).</p>
</div>
<!-- </tent> -->

<div id="logistics" class="well content-well">
  <h3>Logistics Team</h3>
  <p>During the build-up, event and tear-down the logistics team is responsible for ensuring the right things, including
    structures, get to the right place at the right time.</p>

  <h4>Logistics Team Second</h4>
  <p>Work with the logistics team lead and the site team handling suppliers, deliveries, and ensuring things end up where they should be before, after, and during the event.</p>
</div>

{% endblock %}
