{% extends "base.html" %}
{% block title %}Volunteering{% endblock %}
{% block secondary_nav %}
  {% include "about/_nav.html" %}
{% endblock %}
{% set main_class = 'about' %}
{% block body %}
<h2 id="volunteer-roles">Pre-event Volunteer Roles</h2>
<div class="intro-text">
  <p>We're looking for people to fill the roles listed below, please keep in mind that all of them require a time commitment ahead of the event.</p>
  <p>Some of these are entirely new roles for 2022, while others are making sure we have dedicated people focused on specific roles, rather than people taking on multiple roles.</p>
  <p>If any of these roles are of interest to you please send an email to <a href="mailto:volunteers@emfcamp.org">volunteers@emfcamp.org</a> and introduce yourself.</p>
</div>

<h3>Content Team</h3>

<h4>Content Team Leads</h4>
<p>Ahead of the event the content team are responsible for making sure there's something to do once you arrive at EMF, organising the talks, workshops, and installations around the site. They manage the CfP process, contact any invited speakers, and making sure any special requirements are dealt with.</p>
<p>Once on site, they make sure speakers are on the right stage at the right time, and manage the stage teams and heralds.</p>
<p>We're looking for both a team lead, and for someone to act as their second. In the run up to the event you should be able to commit to about 20 hours a month, particularly around the CfP opening and closing.</p>

<h4>Music Team Leads</h4>
<p>Working with the content team the music team arrange artists to play on one of the main stages in the evening, and DJs for the Cybar dance floor.</p>
<p>You'll need to commit about 20 hours a month ahead of the event to find, contact, and book artists.</p>

<h3>Outreach & Artist Comms</h3>
<p>The outreach team gets in touch with people we’d like to invite to speak, bring art, or run workshops. They then work through the process of inviting them, working out any needs they have, and handing over to the logistics team to make sure everything is in place.</p>

<h4>Workshops Co-ordinator</h4>
<p>Working with the content team the workshops coordinator will organise which wrokshops are running at which locations, that all required equipment has been bought or hired, and that it's available in the right place.</p>

<h4>Logistics &amp; Ops Team</h4>
<p>Working with the rest of the content team Logistics make sure we can get artworks to the site, and ensure they’ll be covered by our insurance ahead of the event. Once on site they’ll be welcoming invited artists to the site, locating & installing artworks, and making sure they have power, network, and anything else they need.</p>

<h4>Installation Support Service Team</h4>
<p>This team exists to help people who want to bring installations do so, starting with helping them to understand whether they need support at all. If they do, the team will help them find a place for their installation to live, and coordinate with logistics to make sure they get power, network, or required insurance coverage.</p>
<p>They also put people in touch with each other who might want to collaborate on installations, and manage the Shiny Fund, a pot of money to provide small grants for installations that need it.</p>

<h4>Special Projects</h4>
<p>We’re looking for two or three project managers/arts production people to manage specific projects. Some experience of managing arts projects, events, or similar would be helpful (or an enthusiasm to learn, there’ll be support from the rest of the team).</p>

<h3>Volunteer Team</h3>
<h4>Catering Manager</h4>
<p>The catering manager will work with the chefs to make sure all the required equipment has been hired or bought ahead of time, organise food deliveries, and manage the kitchen team rota during the event.</p>

<h3>Design Team</h3>
<p>In addition to the flags and beermats that may be familiar from the last EMF, for 2022 the new Design team will coordinate with other volunteers across EMF to help ensure the festival looks as cohesive and beautiful as possible, from the website to the wristbands to backgrounds for the stages.</p>
<p>We’re absolutely delighted to welcome logistics-minded volunteers who can wrangle suppliers and hands-on folks who can help build physical items.</p>

<h4>Graphic Designer</h4>
<p>We have a really exciting marine theme this year, including a corrupted/overgrown logo variant and deep sea luminescence colour palette.  We also have a CG artist who has offered to ‘grow’ assets for us.</p>
<p>We have a comprehensive plan for what needs to be created, but to stop Morag trying to design everything themselves we’re looking for people with skills in vector artwork and manipulation, desktop publishing and a tiny bit of web magic.</p>
<p>We would like help to create:</p>
<ul>
  <li>Assets such as logo colour variations, background graphics</li>
  <li>A matching style guide</li>
  <li>A cosmetic update for the website to fit this year’s theme</li>
  <li>Swag including stickers, tshirts, lanyards, wristbands</li>
  <li>Printed materials such as the attendee booklet and postcards</li>
  <li>Stage flats to act as a background for speakers</li>
  <li>Video cards/graphic inserts for talk streams/recordings</li>
  <li>Signage</li>
  <li>Other Cool Things!</li>
</ul>
<p>This is quite a broad remit, and we’d welcome your help for whatever parts of it match your skills and interests.  There’s so much to do and about 6 months to do it in, but you’d be welcomed with a shower of concept sketches and the most comprehensive planning and support we can manage.  We’re doing our best to set everyone up to succeed, and to have a great time volunteering.</p> 

<h3>Cybar Team</h3>
<p>The team who built Null Sector in 2018 are doing something else this year, and looking for people to make it even better. All these roles will be working with the team to build a consistent look and feel for the area.</p>

<h4>Graphic Designer</h4>
<p>Someone to take charge of the visual aspects of the area and make sure the set is authentic by providing consistent signage, posters, logos, videos etc.</p>

<h4>Sound Designer</h4>
<p>A sound designer to work on soundscapes and spot sound effects.</p>

<h4>Copy/story Writer</h4>
<p>A storyteller working with the wider team on the story of the area.</p>

<h4>Bar Manager (Cybar)</h4>
<p>A manager to liase between the bar and Cybar teams to make sure the bar is staffed, stocked, and can run throughout the event.</p>

<h4>Setup &amp; Teardown</h4>
<p>We’re looking for some people who know which end of drill to hold on to, and who preferably have some experience of theatre or events construction to assist with building and tearing down Null Sector. You’ll need a willingness to get involved in physical labour, and to deal with living on a building site for a few days.</p>

<h3>Tent Team</h3>
<p>A new team this year, the Tent Team will be helping people who are new to the event, and particularly those who aren't used to camping.</p>

<h4>Tent Team Organiser</h4>
<p>Organise and recruit team members for on-site work helping others erect tents and get comforatble.</p>

<h4>Camping Gear Librarian</h4>
<p>Organise asking for loanable camping gear donations, manage check-in and out of items, and return at end of event. This aims to reduce single-use camping gear purchases and improve the experience for people who don't camp regularly (including several diversity groups).</p>
{% endblock %}

