{% extends "base.html" %}
{% block title %}What to Bring{% endblock %}
{% block secondary_nav %}
  {% include "about/_nav.html" %}
{% endblock %}
{% set main_class = 'about' %}
{% block body %}
<h2>What to Bring</h2>

<h3>Vital Stuff</h3>
<ul>
<li>Tent (or space in someone else's)</li>
<li>Bedding - a sleeping bag and a pillow. It can get cold at night, so consider bringing an extra blanket</li>
<li>Clean clothes</li>
<li>A towel, shower gel, shampoo, soap, toothbrush, etc. (We have showers!)</li>
<li>Torch and extra batteries. The site will be well lit but there will be darker bits (e.g. inside your tent)</li>
<li>Food and/or money for food (the bar offers cashback on debit cards if you need more money)</li>
<li>Walking boots and/or wellies (the site is a field, good shoes are a must)</li>
<li>Waterproofs. This is the UK: it will probably rain</li>
<li>Warm clothing, for evenings and sleeping in if it gets cold</li>
<li>Medicines, hayfever tablets (again, the site is a field)</li>
<li>Sun cream and/or a sun hat</li>
<li>Your EMF ticket (printed or saved on your phone - these will be issued shortly before the event)</li>
</ul>

<h3>Useful Things</h3>
<ul>
<li>A 20-30m power lead. If you can, a 16A plug on the end is useful - <a href="/about/power">more info on power</a></li>
<li>A long (as long as the power lead) ethernet cable to connect your tent</li>
<li>A computer</li>
<li>A DECT phone to make and receive phone call via the local DECT network</li>
<li>Europe to UK plug adaptors (if you have non-UK equipment)</li>
<li>Making gear (for any/all of your hobbies)</li>
<li>A water bottle and/or mug, useful for food &amp; drink (when not got from vendors)</li>
<li>Tape, gaffer, LX, what ever, always useful for fixing things wot break (like tents)</li>
<li>Pen and paper</li>
<li>Bin bags (for rubbish and dirty clothes)</li>
<li>A few gold and silver space blankets and clothes pins to cover your tent and prevent it from turning into an oven in the morning sun</li>
</ul>

<h3>Advice for Villages/Large Groups</h3>
<ul>
<li>A small camping kettle may come in handy (larger kettles require care). We have food and drink vendors on site.</li>
<li>A camping stove shouldn't be needed, but will be permitted as long as it's off the ground.</li>
<li>A network switch may reduce the amount of network cabling required, but please inform the NOC if you need to connect more than 10 devices. Wireless access points are not allowed at all.</li>
<li>The switches in the DKs won't work at 10Mbps, so if you need 10baseT connectivity (e.g. for old or embedded things) please bring a switch.</li>
<li>A mini fridge may be useful for storing milk.</li>
</ul>

<h3>Things Not to Bring</h3>
<ul>
<li>Glass bottles: broken glass is a pain to clean up.</li>
<li>Pets: The site does not allow dogs, or indeed any other animals.</li>
<li>Things that are on fire: Unless you've cleared them with us before hand.</li>
</ul>
{% endblock %}
