{% extends "admin/base.html" %}
{% set nav_active = 'admin_txns' %}
{% block body %}
<h2>Reconcile transaction</h2>

<table class="table table-condensed table-striped">
<thead><tr>
  <th>Date</th>
  <th>Type</th>
  <th>Payee</th>
  <th>Amount</th>
  <!--<th>FIT</th>-->
</tr></thead>
<tbody>
<tr>
  <td>{{ txn.posted }}</td>
  <td>{{ txn.type }}</td>
  <td><b>{{ txn.payee }}</b></td>
  <td><b>{{ txn.amount | price(txn.account.currency) }}</b></td>
  <!--<td>{{ txn.fit_id }}</td>-->
</tr>
</tbody></table>

{% if not payments %}
<div class="alert alert-danger">
No suitable payments were found.
</div>
{% else %}
<table class="table table-condensed table-striped">
<thead><tr>
  <th>Name</th>
  <th>Email</th>
  <th>Amount</th>
  <th>Bankref</th>
  <th></th>
</tr></thead>
<tbody>
{% for payment in payments %}
<tr>
  <td><b>{{ payment.user.name }}</b></td>
  <td>{{ payment.user.email }}</td>
  <td><b>{{ payment.amount | price(payment.currency) }}</b></td>
  <td>{{ payment.bankref | bankref }}</td>
  <td>
    <a class="btn btn-warning" href="{{ url_for('admin.transaction_reconcile', txn_id=txn.id, payment_id=payment.id) }}">Reconcile</a>
  </td>
</tr>
{% endfor %}
</tbody></table>
{% endif %}

<div class="pull-right">
<a class="btn btn-danger" href="{{ url_for('admin.transaction_suppress', txn_id=txn.id) }}">Suppress transaction</a>
</div>

{% endblock %}
