<h2>Safety on Site</h2>
<p>
    During buildup and teardown, EMF is a construction site. There are some
    simple rules that everyone must follow to make sure everyone is safe. We
    have to take safety seriously, so if you refuse to follow these rules, you
    will be asked to leave the site.
</p>
<p>
    If you don't know how to do a task safety, or you're worried that something
    is being done in an unsafe way, <strong>please ask</strong>. If someone
    raises a point to you about safety, don't take it personally.
</p>
<p>
    If you still have any questions or concerns about safety, talk to Will or
    Russ, who are responsible for safety on site.
</p>

<h3>High-Vis</h3>
<p>
    After arriving on site for build up or teardown, please visit the HQ and let
    us know who you are. We'll issue you with a high-vis vest, which should be
    worn <strong>at all times</strong> while you're walking around the site.
</p>
<p>
    Please return all high-vis to the HQ at the end of buildup on Wednesday.
    High-vis must not be worn or carried visibly during the event unless you've
    been asked to wear it for a volunteer role.
</p>

<h3>Vehicle Safety</h3>
<ul>
    <li>Always make eye contact with drivers - this lets them know you've seen them
        (A thumbs up works too!)</li>
    <li>Give construction plant and large vehicles a wide berth - beware of blind
        spots (especially with telehandlers)</li>
    <li>Do not drive construction plant unless you have been specifically authorised
        to do so by HQ</li>
    <li>Do not exceed the posted speed limits</li>
    <li>Do not jump off moving vehicles. You'll get injured and feel silly.</li>
    <li>Do not use hazard lights while moving - this makes it difficult to discern
        what direction the vehicle is turning. Use dipped headlights or beacons
        instead.</li>
</ul>

<h3>Footwear</h3>
<p>
    A surprisingly large number of injuries during buildup and teardown are caused
    by inappropriate footwear. If you're wearing grossly inappropriate footwear we
    will not allow you to work.
</p>
<p>
    If you're not doing manual handling or other heavy work, a good pair of walking
    boots will work fine. Otherwise, waterproof steel-toed boots are strongly
    recommended.
</p>