{% macro item(label, view_name) -%}
<li{% if request.endpoint == view_name %} class="active"{%endif%}>
  <a href="{{url_for(view_name)}}">{{label}}</a>
</li>
{%- endmacro %}
{% macro page(label, page) -%}
<li{% if request.endpoint == "volunteer.info_page" and page_name == page %} class="active"{%endif%}>
  <a href="{{url_for('volunteer.info_page', page_name=page)}}">{{label}}</a>
</li>
{%- endmacro %}
<ul role="navigation list" aria-label="Volunteering Handbook">
  {{item("Intro", "volunteer.info")}}
  {{page("Emergency", "emergency")}}
  {{page("Lost Child", "lost_child")}}
  {{page("Safeguarding", "safeguarding")}}
  {{page("Food", "food")}}
</ul>
