{% macro menuitem(text, view) %}
<li {% if view_name == view -%} class="active" {%- endif %}>
    <a href="{{url_for(view)}}">{{text}}</a>
</li>
{% endmacro %}
{% macro urlmenuitem(text, url) %}
<li>
    <a href="{{url}}">{{text}}</a>
</li>
{% endmacro %}
<ul class="nav nav-pills">
    {% if current_user.is_authenticated %}
        {{ menuitem('Account', '.account') }}
        {{ menuitem('Roles', '.choose_role') }}
        {% if feature_enabled('VOLUNTEERS_SCHEDULE') %}
            {{ menuitem('Shift sign-up', '.schedule') }}
        {% endif %}
        {{ menuitem('Bar Training', '.bar_training') }}
        {{ menuitem('Handbook', '.info') }}
        {% if current_user.has_permission('volunteer:admin') %}
            {{ menuitem('Admin', 'volunteer_admin.index') }}
        {% endif %}
        {{ menuitem("Log Out", "users.logout") }}
    {% else %}
        {{ menuitem('Sign up', '.sign_up') }}
        {{ urlmenuitem('Log in', url_for('users.login', next=url_for('.main'))) }}
    {% endif %}
</ul>
