{% macro menuitem(text, view) %}
<li {% if view_name == view -%} class="active" {%- endif %}>
    <a href="{{url_for(view)}}">{{text}}</a>
</li>
{% endmacro %}
<div class="nav nav-pills">
    {% if current_user.is_authenticated %}
    {{ menuitem('Account', '.account') }}
    {{ menuitem('Roles', '.choose_role') }}
    {% if feature_enabled('VOLUNTEERS_SCHEDULE') %}
    {{ menuitem('Shift sign-up', '.schedule') }}
    {% endif %}
    {% else %}
    {{ menuitem('Sign up', '.sign_up') }}
    {% endif %}
    {{ menuitem('Bar Training', '.bar_training') }}
    {{ menuitem('Safeguarding', '.safeguarding') }}
    {{ menuitem('Useful info', '.info') }}

    {% if current_user.is_authenticated and current_user.has_permission('volunteer:admin') %}
        {{ menuitem('Manage Training', '.select_training') }}
        {{ menuitem('Admin', 'volunteer_admin.index') }}        
        <li><a href="{{ url_for('volunteer_admin_notify.main') }}">Email Volunteers</a></li>
    {% endif %}
    {{ menuitem("Log Out", "users.logout") }}
</div>

