{# Filter form on /volunteer/schedule #}
<form class="row">
    <fieldset class="form-horizontal col-sm-8">
        <div class="form-group">
            <label for="role" class="col-sm-4">
                Role<br>
                <small>(ctrl/&#8984; or shift click for multiple)</small>
            </label>
            <div class="col-sm-8">
                <select id="role-select" name="role" multiple="multiple" class="form-control shift-filter">
                    {% for r in roles %}
                        <option id='role-opt-{{r.id}}' value="{{r.id}}">{{r.name}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </fieldset>
    <fieldset class="form-horizontal col-sm-4">
        <div class="form-group">
            <div class="checkbox">
                <label>
                    <input id="is_trained" type="checkbox" class="role-filter">
                    I am trained for
                </label>
            </div>
        </div>
        <div class="form-group">
            <div class="checkbox">
                <label>
                    <input id="is_interested" type="checkbox" class="role-filter">
                    I am interested in
                </label>
            </div>
        </div>
        <div class="form-group">
            <div class="checkbox">
                <label>
                    <input id="show_past" type="checkbox" class="shift-filter">
                    Show finished shifts
                </label>
            </div>
        </div>
        <div class="form-group">
            <div class="checkbox">
                <label>
                    <input id="show_signed_up_only" type="checkbox" class="shift-filter">
                    I'm signed up for
                </label>
            </div>
        </div>
        <div class="form-group">
            <div class="checkbox">
                <label>
                    <input id="hide_full" type="checkbox" class="shift-filter">
                    Hide full shifts
                </label>
            </div>
        </div>
        <div class="form-group">
            <div class="checkbox">
                <label>
                    <input id="is_understaffed" type="checkbox" class="shift-filter">
                    Only understaffed shifts
                </label>
            </div>
        </div>
        <div class="form-group">
            <div class="checkbox">
                <label>
                    <input id="colourful_mode" type="checkbox">
                    Colourful Mode
                </label>
            </div>
        </div>
    <fieldset class="form-horizontal col-sm-12">
        <div class="form-group">
            <div class="btn-group">
                <a id="clear-btn" class="btn btn-default">Clear</a>
            </div>
        </div>
    </fieldset>
</form>

