{# Filter form on /volunteer/schedule #}
<div class="panel panel-default" id="filters" style="display: none">
    <div class="panel-heading" id="filters-toggle">
        <h2 class="panel-title">
            <span class="title">Filters</span>
            <span class="toggle"><a href="#">Toggle</a></span>
        </h2>
    </div>
    <div class="panel-body" id="filters-body" style="display: none">
        <div class="form-group form-inline">
            <h3>Roles</h3>
            <p>
                <a class="checkbox-filter" href="#" id="select-all-roles">Select all</a>
                <a class="checkbox-filter" href="#" id="select-no-roles">Select none</a>
                <a class="checkbox-filter" href="#" id="select-interested-roles">Select roles I'm interested in</a>
                <a class="checkbox-filter" href="#" id="select-trained-roles">Select roles I'm trained for</a>
            </p>
            {% for r in roles %}
                <label class="checkbox">
                    <input
                        type="checkbox"
                        {% if r.is_interested %}checked{% endif %}
                        data-role-id="{{ r.id }}"
                        data-trained="{{ r.is_trained }}"
                        data-interested="{{ r.is_interested }}"
                    />
                    {{ r.name }}
                </label>
            {% endfor %}
        </div>
        <div class="form-group form-inline">
            <h3>Filters</h3>
            <label class="checkbox">
                <input
                    type="checkbox"
                    id="show_past"
                />
                Show shifts in the past
            </label>
            <label class="checkbox">
                <input
                    type="checkbox"
                    id="show_signed_up_only"
                />
                Show my shifts
            </label>
            <label class="checkbox">
                <input
                    type="checkbox"
                    id="hide_full"
                    checked
                />
                Hide full shifts
            </label>
            <label class="checkbox">
                <input
                    type="checkbox"
                    id="is_understaffed"
                />
                Hide sufficiently staffed shifts
            </label>
        </div>
    </div>
</div>