{% extends "base.html" %}
{% set main_class = 'volunteer-account' %}

{% from "volunteer/_details_form.html" import volunteer_details_form %}

{% block title %}
    EMF Volunteer Account
{% endblock %}
{% block body %}
{% include "volunteer/_nav.html" %}

<h2>Update your volunteer details</h2>
<div class="panel panel-default">
    <div class="panel-heading">
        <p>
            This information will be made available to other volunteers on
            adjacent shifts, and volunteer managers.
        </p>
        <div>
            If you would like to be contacted via a different email, or use a
            different name, feel free to update it here.
        </div>
    </div>

    <form class="form-horizontal" method="post">
        {{ form.hidden_tag() }}
        <fieldset>
        <p></p>{# FIXME #}
        <div class="col-sm-12">
            {{ volunteer_details_form(form, True) }}
        </div>
        </fieldset>
        <p></p>{# FIXME #}
        <p></p>{# FIXME #}
    </form>
</div>
{% endblock %}
