{% extends "base.html" %}
{% set main_class = 'volunteer-account' %}

{% from "_formhelpers.html" import render_field %}

{% block title %}
    EMF Volunteer Account
{% endblock %}
{% block body %}
{% include "volunteer/_nav.html" %}

<h2>Update your volunteer details</h2>
<div class="panel panel-default">
    <div class="panel-heading">
        <p>
            This information will be made available to other volunteers on
            adjacent shifts, and volunteer managers.
        </p>
        <div>
            If you would like to be contacted via a different email, or use a
            different name, feel free to update it here.
        </div>
    </div>

    <form class="form-horizontal" method="post">
        {{ form.hidden_tag() }}
        <fieldset>
        <p></p>{# FIXME #}
        <div class="col-sm-12">
        {{ render_field(form.nickname, horizontal=10) }}
        {{ render_field(form.volunteer_email, horizontal=10) }}
        <div class="form-group">
          <div class="col-sm-10 col-sm-offset-2">
            {{ form.over_18(class_='big-checkbox') }}
            <label class="control-label big-checkbox" for="over_18">
                I'm at least 18 years old
            </label>
          </div>
        </div>
        {{ render_field(form.volunteer_phone, horizontal=10) }}
        <div class="form-group">
          <div class="col-sm-10 col-sm-offset-2">
            {{ form.allow_comms(class_='big-checkbox') }}
            <label class="control-label big-checkbox" for="allow_comms">
                I'm happy to receive messages during the event
            </label>
          </div>
        </div>
        {{ form.save(class_="btn btn-primary debounce pull-right") }}
        </div>
        </fieldset>
        <p></p>{# FIXME #}
        <p></p>{# FIXME #}
    </form>
</div>
{% endblock %}
