{% extends 'volunteer/base.html' %}
{% from "_formhelpers.html" import render_field %}

{% block title %}
    EMF Volunteer Account
{% endblock %}
{% block body %}
    <h1>Update your account</h1>
    <form class="form-horizontal" method="post">
        {{ form.hidden_tag() }}
        {{ render_field(form.name) }}
        {{ render_field(form.email) }}
        {{ render_field(form.age) }}
        {{ render_field(form.phone_number) }}
        {{ render_field(form.arrival) }}
        {{ render_field(form.departure) }}
        {{ form.submit(class_="btn btn-primary debounce") }}
    </form>
{% endblock %}
