{% extends 'volunteer/base.html' %}
{% from "_formhelpers.html" import render_field %}

{% block title %}
    EMF Volunteer Choose Roles
{% endblock %}
{% block body %}
    <h1>Which roles are you interested in?</h1>
    <form method="post">
        {{ form.hidden_tag() }}

        <table class="table table-hover">
            {% for f in form.roles %}
                <tr class="form-group">
                    <td class="col-sm-3">
                        {{ f.hidden_tag_without('csrf_token') }}
                        <div class="checkbox {%- if f.signup.errors %} has-error {%- endif %}">
                            <label for="{{ f.signup.name }}">
                                {{ f.signup()| safe }}
                                <strong>{{ f._role.name }}</strong>
                            </label>
                        </div>
                    </td>
                    <td class="col-sm-9">
                        {{ f._role.description }}
                    </td>
                </tr>
            {% endfor %}
        </table>

        <div class="form-group">
            {{ form.submit(class_="btn btn-primary debounce") }}
        </div>
    </form>
{% endblock %}
