{% extends 'base.html' %}

{% block title %}
    EMF Volunteer Info.
{% endblock %}

{% block secondary_nav %}
  {% include "volunteer/_info_nav.html" %}
{% endblock %}

{% block body %}
  {% include "volunteer/_nav.html" %}
  <h2>Lost Children</h2>

  <p>This process covers children (anyone under the age of 18), and Adults at Risk (AR, anyone over the age of 18 who has become separated from their carer). Nipperbout, who run the crêche, provider lost child services.</p>
  
  <p>The lost child area can be found at the <a href="https://map.emfcamp.org/#20.88/52.0408421/-2.3781232">crêche</a>, near Stage C.</p>
  
  <p>When reporting over the radio, never give a lost child’s name, and be clear whether a child or AR is found or missing.</p>
  
<p>If you find a child/AR:</p>
<ol>
  <li>Notify HQ via either radio or phone (1011) that you have a “Child Found” or “AR Found”, and then immediately escort the child/AR to the lost child area.</li>
  <li>Upon arrival at the lost child area you will be asked to complete some paperwork about where the child/AR was found, and to give contact details.</li>
  <li>If you find the child/AR’s carer on your way to the lost child area, ask them to come with you to complete the paperwork.</li>
</ol>

<p>It is likely the carer will not want to come to the lost child area, especially if they were only separated for a short time. In this case you ask the child/AR & their carer a security question. Ask the child/AR and carer this question separately and see if their answers match.</p>

<p>This question could be a teacher’s name, pet name, or where they went on holiday last. In the event the child/AR does not speak, the child’s nappy brand or sock colour would suffice. In addition you should ask the carer for a form of ID.</p>

<p>The aim is to check, to the best of your ability, that the child is safe to leave with the adult (that the adult really is this person’s parent/carer).</p>

<p>If you have returned the child/AR to their carer, notify HQ via radio or phone.</p>

<p>If you find a child/AR who has been reported missing:</p>
<ol>
  <li>Notify HQ via either radio or phone (1011) “Child Missing is now Found, escorting to Lost Child area”, or “AR Missing is now Found, escorting to Lost Child area”.</li>
  <li>Escort the child/AR to the lost child area.</li>
  <li>Nipperbout will take over once you reach them.</li>
</ol>

<p>If an adult reports a child/AR missing to you:</p>
<ol>
  <li>Reassure the adult, notify HQ via either radio or phone (1011) that you have a “Child Missing” or “AR Missing”, and then escort the adult to the lost child area.</li>
  <li>Nipperbout will take over once you reach them.</li>
</ol>

<p>If a child reports a child missing to you:</p>
<ol>
  <li>Notify HQ via either radio or phone (1011) that you have a “Found Child, seeking a Missing Child”.</li>
  <li>You should also treat the child who reported as a missing child, and escort them to the lost child area.</li>
</ol>


{% endblock body %}
