{% extends 'base.html' %}

{% block title %}
    EMF Volunteer Info.
{% endblock %}

{% block body %}
{% include "volunteer/_nav.html" %}
    <h1>Information for volunteers</h1>
    <p><a href="{{url_for('base.volunteering')}}">About volunteering (orga-side)</a></p>

    <h2>Important numbers</h2>
    <dl class="dl-horizontal">
        <dt>First aid (mobiles)</dt><dd>01908 870909</dd>
        <dt>First aid (tent)</dt><dd>01908 870908</dd>
        <dt>Site manager</dt><dd>01908 870904</dd>
        <dt>Conduct</dt><dd>01908 870912</dd>
    </dl>
{% endblock body %}
