{% extends 'base.html' %}
{% block title %}
    EMF Volunteer
{% endblock %}

{% macro shift_view(s) %}
  <div class="well content-well">
    <p><a href="{{ url_for(".role", role_id=s.role.id) }}">{{ s.role.name }}</a> -
      <a href="{{ s.venue.mapref }}">{{ s.venue.name }}</a>
      {{ s.start.strftime("%b %d %H:%M") }} - {{ s.end.strftime("%H:%M") }} 
      {% if s.role.instructions %}
      <br />
      <a href="{{ s.role.instructions }}">Instructions</a>
      {% endif %}
    </p>
  </div>
{% endmacro %}
{% block body %}
{% include "volunteer/_nav.html" %}
  {% if upcoming_shifts %}
    <h2>Your Upcoming Shifts</h2>
    {% for shift in upcoming_shifts|sort(attribute="start") %}
      {{ shift_view(shift) }}
    {% endfor %}
  {% endif %}
  {% if past_shifts %}
    <h2>Your Past Shifts</h2>
    {% for shift in past_shifts|sort(attribute="start") %}
      {{ shift_view(shift) }}
    {% endfor %}
  {% endif %}
    {% for role in admin_roles %}
    <a href="{{ url_for(".role_admin", role_id=role.id) }}">{{ role.name }} Admin</a>
    <br />
    {% endfor %}
    
{% endblock %}
