{% extends "base.html" %}

{% block title %}Public Volunteer Dashboard{% endblock %}

{% block head %}
    {% if refresh > 0 %}
        <meta http-equiv="refresh" content="{{ refresh }}">
    {% endif %}
{% endblock %}

{% block document %}
<header role="banner">
  <a aria-label="Electromagnetic Field" href="/" id="main-logo">
    <img id="logomark" src="{{ static_url_for('static', filename="images/brand/2026/emf2026-logo-light-clipped.svg") }}" alt="">
    <span class="logo-line logo-line1">Electromagnetic</span>
    <span class="logo-line logo-line2">Field <span class="brand-2026-rainbow">2026</span></span>
  </a>
  <div id="header-text">
    Eastnor, UK
    <br>
    <span class="header-date">July 16<sup>th</sup> – 19<sup>th</sup> 2026</span>
  </div>
</header>
<div class="volunteer-dashboard">
    <h1>Public Volunteer Dashboard</h1>
    <div class="row">
    {% for shift in shifts %}
        <div class="col-xs-3">
            <div class="volunteer-dashboard-card {% if shift.start <= now %}now{% elif shift.start <= soon %}upcoming{% endif %}">
                <h2>{{ shift.venue.name }}</h2>
                <h3>{{ shift.role.name }}</h3>
                <p>{{ shift.start.strftime("%H:%M") }} to {{ shift.end.strftime("%H:%M") }}<br>{{ shift.max_needed - shift.current_count }} needed</p>
            </div>
        </div>
    {% endfor %}
    </div>
</div>
{% endblock %}
