{% extends 'base.html' %}

{% block title %}
    EMF {{ role.name }} details
{% endblock %}

{% block body %}
{% include "volunteer/_nav.html" %}

    <h2>{{ role.name }}</h2>

    {% if role.over_18_only %}
        <p><strong>You must be over 18 to do this.</strong></p>
    {% endif %}

    {# {% if role.training_required %}
        <p><strong>Requires training</strong></p>
    {% endif %} #}

    {% if role.role_notes %}
        <p><strong>Other notes</strong> {{ role.role_notes }}</p>
    {% endif %}

    <p>{{ role.description }}</p>

    {% if description %}
        {{ description }}
    {% endif %}

    {% if role.over_18_only %}
        {% if current_volunteer.over_18 %}
            <form class="form-inline" method="POST">
                <button class="btn btn-primary debounce">
                    Sign up for this role
                </button>
            </form>
        {% endif %}
    {% else %}
        <form class="form-inline" method="POST">
            <button class="btn btn-primary debounce">
                Sign up for this role
            </button>
        </form>
    {% endif %}

{% endblock body %}
