{% extends 'base.html' %}

{% block title %}
    EMF {{ role.name }} training
{% endblock %}

{% block body %}
{% include "volunteer/_nav.html" %}

    <h2>{{ role.name }} Training</h2>
    {{ role.formatted_training_notes }}

    <div class="well">
    {% if role.allows_self_training %}
        {% if trained %}
            <p>You have marked yourself as trained for this role.</p>
        {% else %}
            <form method="post">
                <button type="submit" class="btn btn-primary debounce">I have read the notes above and recognise I'll look quite silly if I turn up and its obvious I haven't</button
            </form>
        {% endif %}
    {% endif %}
    </div>
{% endblock body %}
