{% extends 'base.html' %}

{% macro state_selector(shift_entry) %}
  <form method="post" action="/volunteer/role/{{ shift_entry.shift.role_id }}/set_state/{{ shift_entry.shift_id }}/{{ shift_entry.user_id }}" class="role-state-selector">
    <label class="sr-only" for="state">New State</label>
    <select name="state" class="form-control">
      <option value="{{ shift_entry.state }}">{{ shift_entry.state | capitalize | replace("_", " ") }}</option>
      <hr>
      {% for state in shift_entry.valid_states() %}
        <option value="{{ state }}">{{ state | capitalize | replace("_", " ") }}</option>
      {% endfor %}
    </select>
  </form>
{% endmacro %}

{% block title %}
  EMF Volunteer Role Admin
{% endblock %}

{% block body %}
  {% include "volunteer/_nav.html" %}
  <h2>{{ role }} Admin</h2>
  <div>
    <a href="{{ url_for('.role_volunteers', role_id=role.id) }}" class="btn btn-primary">All Volunteers</a> <a href="{{ url_for('.train_users', role_id=role.id) }}") }}" class="btn btn-primary">Training</a>
  </div>
  <h3>Volunteers on Shift</h3>
  <div class="role-admin-shift well content-well">
    {% for active in active_shift_entries %}
      <div class="volunteer">
        <p>
          <strong>{{ active.user.volunteer.nickname }}</strong> {{ active.shift.start.strftime("%a %H:%M") }}&ndash;{{ active.shift.end.strftime("%H:%M") }}
          {% if now > active.shift.end %}
              <br /><span class="overtime">{{ now - active.shift.end }} over</span>
          {% endif %}
        </p>
        {{ state_selector(active) }}
      </div>
    {% endfor %}
  </div>

  <h3>Volunteers Due</h3>
  <div class="role-admin-shift well content-well">
    {% for pending in pending_shift_entries %}
      <div class="volunteer">
        <p>{{ pending.user.volunteer.nickname }}: {{ pending.shift.start.strftime("%a %H:%M") }}&ndash;{{ pending.shift.end.strftime("%H:%M") }}</p>
        {{ state_selector(pending) }}
      </div>
    {% endfor %}
  </div>

  <h3>Upcoming Shifts</h3>
  {% for shift in shifts %}
    <div class="role-admin-shift well content-well">
      <h4>{{ shift.start.strftime("%a %H:%M") }} - {{ shift.end.strftime("%H:%M") }} - {{ shift.venue.name }}</h4>
      {% for se in shift.entries|sort(attribute="user_id") %}
        <div class="volunteer">
          <p>
            <strong>{{ se.user.volunteer.nickname }}</strong>
            {% if se.user.volunteer.volunteer_phone %}({{ se.user.volunteer.volunteer_phone }}){% endif %}<br />
            {% if not se.user.volunteer.completed_shift(role) %}First shift<br />{% endif %}
          </p>
          {{ state_selector(se) }}
        </div>
      {% endfor %}
    </div>
  {% endfor %}

  <p>
    {% if offset-limit >= 0 %}
      <a href="{{ url_for(".role_admin", role_id=role.id) }}?offset={{ offset - limit }}&limit={{ limit }}">Prev</a>
    {% endif %}
    <a href="{{ url_for(".role_admin", role_id=role.id) }}?offset={{ offset + limit }}&limit={{ limit }}">Next</a>
  </p>

  <div>
    <a href="{{ url_for('.role_volunteers', role_id=role.id) }}" class="btn btn-primary">All Volunteers</a> <a href="{{ url_for('.train_users', role_id=role.id) }}") }}" class="btn btn-primary">Training</a>
  </div>
{% endblock %}
