{% extends 'base.html' %}

{% block title %}
  EMF {{ role }} volunteers
{% endblock %}

{% macro listvols(vols) %}
  {% for vol in vols %}
    <p>{{ vol }}</p>
  {% endfor %}
{% endmacro %}

{% block body %}
  {% include "volunteer/_nav.html" %}
  <h2>{{ role }} Volunteers</h2>

  <h3>Signed up for a shift - {{ signed_up | length }}</h3>
  {{ listvols(signed_up) }}

  {% if completed %}
    <h3>With one or more completed shifts - {{ completed | length }}</h3>
    {{ listvols(completed) }}
  {% endif %}

  <h3>Interested Volunteers - {{ interested | length }}</h3>
  {{ listvols(interested) }}

{% endblock %}
