{% extends 'base.html' %}

{% block title %}
  EMF Volunteer Role Admin
{% endblock %}

{% block body %}
  {% include "volunteer/_nav.html" %}
  <h2>{{ role }} Admin</h2>
  {% for shift in shifts %}
    {% set s = shift.to_localtime_dict() %}
    <div class="role-admin-shift well content-well">
      <h3>{{ shift.start.strftime("%a %H:%M") }} - {{ shift.end.strftime("%H:%M") }} - {{ shift.venue.name }}</h3>
      {% for se in shift.entries|sort(attribute="user_id") %}
        <p>
          <strong>{{ se.user.volunteer.nickname }}</strong>
          {% if se.user.volunteer.volunteer_phone %}({{ se.user.volunteer.volunteer_phone }}){% endif %}<br />
          {% if not se.user.volunteer.completed_shift(role) %}First shift<br />{% endif %}
          {{ se.state | capitalize | replace("_", " ") }} | Mark as:&nbsp;
          {% for state in se.valid_states() %}
            <a href="/volunteer/role/{{ role.id }}/set_state/{{ se.shift_id }}/{{ se.user_id }}/{{ state }}">{{ state | capitalize | replace("_", " ") }}</a>
          {% endfor %}
        </p>
      {% endfor %}
    </div>
  {% endfor %}

  <p>
    {% if offset-limit >= 0 %}
      <a href="{{ url_for(".role_admin", role_id=role.id) }}?offset={{ offset - limit }}&limit={{ limit }}">Prev</a>
    {% endif %}
    <a href="{{ url_for(".role_admin", role_id=role.id) }}?offset={{ offset + limit }}&limit={{ limit }}">Next</a>
  </p>

  <p><a href="{{ url_for(".role_volunteers", role_id=role.id) }}">List of {{ role }} volunteers</a></p>
{% endblock %}
