{% extends 'base.html' %}

{% block title %}
    EMF Safeguarding Policy
{% endblock %}

{% block body %}
{% include "volunteer/_nav.html" %}


<H1>Safeguarding</H1>
<p>
    Safeguarding is the action that is taken to promote the health, human rights and wellbeing of vulnerable people and protect them from harm.
</p>
<p>
    A vulnerable person is someone that, because of their age, illness, physical or learning disability, is unable to take care of or protect themselves against harm or exploitation, this includes all children under 18.
</p>
<p>
    There are a number of incidents which may occur within EMF and could require action on the part of volunteers or attendees. There may include but are not limited to:
    <ul>
        <li>Young, unattended children</li>
        <li>Parents, carers or guardians who are intoxicated whilst caring for a child</li>
        <li>Witnessing physical and/or verbal abuse</li>
        <li>Witnessing inappropriate behaviour from an organiser, volunteer, attendee or a member of the public</li>
        <li>Receiving a report from a young person regarding physical or verbal abuse</li>
        <li>Signs of neglect</li>
        <li>Suggestions of inappropriate conduct by volunteers or other visitors</li>
        <li>Attendees taking photographs of children who are not known to them</li>
    </ul>
</p>
<p>
    All safeguarding incidents should be handled sensitively, with information regarding volunteers or attendees kept confidential.
</p>
<p>
    Anyone who is vulnerable will usually be accompanied by a responsible adult (a person over the age of 18 who has responsibility for the vulnerable people in their care e.g. parents, carers). No volunteer will ever be asked to take on the role of the responsible adult by EMF, nor should volunteers take on this role for themselves.
</p>

<p>
    If a volunteer or attendee witnesses any of the above or has any concerns about a child or vulnerable person’s welfare, they should:
    <ul>
        <li>Contact Team Conduct by visiting the First Aid post and asking to speak with a member of this team.</li>
        <li>Report that there are concerns about a person’s welfare.</li>
        <li>Provide as many details as possible, including location and relevant descriptions.</li>
        <li>If possible, try to do the above without causing any distress to other attendees - be mindful of what others can hear.</li>
        <li>Team Conduct should liaise with the Site Manager as soon as practically possible.</li>
        <li>If there is a concern about aggressive or inappropriate behaviour, the Site Manager should be prepared to send the security team to assist.</li>
        <li>The Site Manager should speak with Team Conduct and ascertain whether the issue is appropriate to be addressed by staff or whether escalation is needed.</li>
        <li>If there is found to be no cause for concern, the Duty Manager should ensure all teams stand down and should make a written record of the incident for any future reference.</li>
        <li>If an issue is identified, it can be referred directly to a designated agency e.g. NSPCC (0808 800 5000) or to local police (999/101). If a child is in immediate danger or an offence has been committed on the premises, the Site Manager should request police attendance.</li>
        <li>A detailed, written record should be made by the Site Manager and any referrals followed up in writing with the agency the incident was referred to.</li>
        <li>All witness statements, incident reports, and other documents should be saved in a secure and confidential location.</li>
        <li>If there is uncertainty around whether an incident should be escalated, an appropriate agency can be contacted for guidance e.g. the NSPCC or social services.</li>
    </ul>
</p>

{% endblock body %}
