{% extends 'volunteer/base.html' %}
{% from "_formhelpers.html" import render_field %}

{% macro shift_cell(shift) -%}
<td>
    {% if not shift %}
        --
    {% else %}
        <a href="{{ url_for('.shift', id=shift.id) }}">Do {{ shift.venue.name }} shift</a>
    {% endif %}
</td>
{%- endmacro %}

{% block title %}
    Volunteer Schedule
{% endblock %}
{% block body %}
    <from class="form-horizontal" submit="POST">
        <h2>Filters</h2>
        {{ render_field(form.trained_for) }}
        {{ render_field(form.roles) }}
        {{ render_field(form.location) }}
    </from>

    {# FIXME these tabs should work either via pure JS or server #}
    <ul class="nav nav-tabs" role="navigation" role="menu">
        <li role="presentation" class="active"><a href="#">Friday</a></li>
        <li role="presentation"><a href="#">Saturday</a></li>
        <li role="presentation"><a href="#">Sunday</a></li>
    </ul>
    <div class="tab-content">
        {# FIXME oh gods we need another schedule viewer... #}
        <table class="table table-bordered">
            <thead><tr>
                <th>Time</th>
                {% for v in venues %}
                    <th>{{ v.name }}</th>
                {% endfor %}
            </tr></thead>
            <tbody>
                {% for t in times %}
                    <tr>
                        <td>{{ t }}</td>
                        {% for v in venues %}
                            {{ shift_cell(all_shifts.get(t, {}).get(v.id, False)) }}
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
