{% extends 'base.html' %}
{% from "_formhelpers.html" import render_field %}

{% block title %}
    Shift
{% endblock %}
{% block body %}

    <div>
        <h2>{{shift.role.name}} <small>at {{shift.venue.name}}</small></h2>
    </div>
    <div>Start: {{ shift.start.strftime('%A %H:%M') }}</div>
    <div>Stop: {{ shift.end.strftime('%A %H:%M') }}</div>
    <div>{{ shift.role.full_description() }}</div>

    {% if current_user.has_permission('volunteer:manager') %}
        <h2>These people are on this shift</h2>
        <ul>
            {% for user in shift.volunteers %}
                <li>{{ user.volunteer.nickname }}</li>
            {% endfor %}
        </ul>
        <a href="{{ url_for('.shift_contact', shift_id=shift.id) }}">Contact signed up volunteers</a>

        <h2>Add volunteer</h2>
        <form action="{{ url_for('.shift_sign_up', shift_id=shift.id) }}" method="post">
            <input type="hidden" name="next" value="{{ url_for('.shift', shift_id=shift.id) }}">
            <select name="user_id">
                {% for volunteer in all_volunteers %}
                    {% if volunteer not in shift.volunteers %}
                        <option value="{{ volunteer.user_id }}">{{ volunteer.nickname }}</option>
                    {% endif %}
                {% endfor %}
            </select>

            <button type="submit" class="btn btn-primary">Sign up</button>
        </form>
    {% endif %}
{% endblock %}
