{% extends 'volunteer/base.html' %}
{% from "_formhelpers.html" import render_field %}

{% block title %}
    Shift
{% endblock %}
{% block body %}

    <div>
        <h2>{{shift.role.name}} <small>at {{shift.venue.name}}</small></h2>
    </div>
    <div>Start: {{ shift.start.strftime('%A %H:%M') }}</div>
    <div>Stop: {{ shift.end.strftime('%A %H:%M') }}</div>
    <div><a href="{{ url_for('.role', role_id=shift.role.id) }}">More info on {{ shift.role.name }}</a></div>

    <form method="POST" >
        <input id="csrf_token" name=_csrf_token type=hidden value="{{ csrf_token() }}">
        {% if shift in current_user.shift_entries %}
            <button class="btn btn-warn">
                Cancel this shift
            </button>
        {% else %}
            <button class="btn btn-primary">
                Sign up to do the shift!
            </button>
        {% endif %}
    </form>

    {% if current_user.has_permission('volunteer:manager') %}
        <h2>These people are on this shift</h2>
        <ul>
            {% for user in shift.volunteers %}
                <li>{{ user.volunteer.nickname }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
