{% extends "base.html" %}
{% set main_class = 'volunteer-signup' %}

{% from "volunteer/_details_form.html" import volunteer_details_form %}

{% block title %}
    EMF Volunteer Sign-Up
{% endblock %}
{% block body %}

<h2>Sign Up to Volunteer</h2>
<div class="panel panel-default">
    <div class="panel-heading">
        <h4>Thank you for helping make Electromagnetic Field {{ event_year }} run smoothly!</h4>
        <p>
        {% if current_user.is_authenticated %}
        We've pre-filled some of your data from your existing profile.
        {% else %}
        We need a little information about you first.
        {% endif %}
        This information will be made available to other volunteers on
        adjacent shifts, and volunteer managers.
        </p>
        <div>
        {% if current_user.is_authenticated %}
        If you would like to be contacted via a different email, or use a
        different name, feel free to update it here.
        {% else %}
        If you already have an account, please <a href="{{ url_for('users.login', next=url_for('.main'), email=form.volunteer_email.data) }}">log in</a> first. {% if SITE_STATE == 'event' %}If you're arriving with someone else, you might want to ask them to transfer your ticket to you.{% endif %}
        {% endif %}
        </div>
    </div>

    <form class="form-horizontal" method="post">
        <fieldset>
        <p></p>{# FIXME #}
        {% if form.volunteer_email.was_duplicate %}
        <div class="alert alert-warning">
            This email address already exists in our system.
            Please <a class="alert-link" href="{{ url_for('users.login', next=url_for('.main'), email=form.volunteer_email.data) }}">click here</a> to log in.
        </div>
        {% endif %}

        <div class="col-sm-12">
        {{ form.hidden_tag() }}
        {{ volunteer_details_form(form, True) }}
        </div>
        </fieldset>
        <p></p>{# FIXME #}
        <p></p>{# FIXME #}
    </form>
</div>
{% endblock %}
