{% extends 'base.html' %}

{% block title %}
    EMF volunteer training
{% endblock %}

{% block body %}
{% include "volunteer/_nav.html" %}

    <h2>Training</h2>
    <div class="well">
        <p>If you haven't already please read the <a href="{{ url_for('.info') }}">volunteer handbook</a>
           which covers important information for all volunteers such as what to do in case of emergencies
           and how to get free food.</p>
    </div>
    <p>Listed below you can find all the roles you've chosen which have training
       information attached so you can either complete the training or revisit it.</p>

    <ul>
        {% if include_bar %}
            <li>
                <a href="{{ url_for('.bar_training') }}">Bar</a>
                {% if trained_roles.all() | selectattr("uses_bar_training") | list %}
                    - Trained
                {% endif %}
            </li>
        {% endif %}
        {% for role in roles %}
            <li>
                <a href="{{ url_for('.training', role_id=role.id) }}">{{ role.name }}</a>
                {% if role in trained_roles %} - Trained{% endif %}
            </li>
        {% endfor %}
    </ul>
{% endblock body %}
