{% from "_formhelpers.html" import render_field %}
{% from "_diversityform.html" import render_diversity_fields %}

{% extends "base.html" %}
{% block title %}Your Details{% endblock %}
{% block body %}
{% include "account/_nav.html" %}
<h3>Your Details</h3>

<div class="panel panel-default">
  <div class="panel-body">
  <form method="post" class="form-horizontal">
    {{ form.hidden_tag() }}
    <fieldset>
      <h4>Your details</h4>
      <div class="col-sm-12">
        <div class="form-group">
          <label class="col-sm-2 control-label">Email</label>
          <div class="col-sm-10">
            <div class="form-control-static">{{ current_user.email }}</div>
          </div>
        </div>
        {{ render_field(form.name, True) }}
        <div class="form-group">
          <div class="col-sm-10 col-sm-offset-2">
            {{ form.allow_promo(class_='big-checkbox') }}
            <label class="control-label big-checkbox" for="allow_promo">
                Send me occasional emails about future EMF events
            </label>
          </div>
        </div>
      </div>
    </fieldset>
    {{ render_diversity_fields(form, current_user) }}

    {{ form.forward(class_="btn btn-primary pull-right") }}
  </form>
  </div>
</div>
{% endblock %}
