{% from "_formhelpers.html" import render_field %}
{% extends "base.html" %}
{% block title %}My Account{% endblock %}
{% block body %}
{% include "account/_nav.html" %}
<h3>Your Details</h3>

<div class="panel panel-default">
  <div class="panel-heading">
    {% if feature_enabled('CFP') %}
      <div>If you've made a submission to the CfP then your name (as it's set here) will be used
           in the schedule.</div>
    {% endif %}
  </div>
  <form method="post" class="form-horizontal">
    {{ form.hidden_tag() }}
    <fieldset>
      <p></p>
      <div class="col-sm-12">
        <div class="form-group">
          <label class="col-sm-2 control-label">Email</label>
          <div class="col-sm-10">
            <div class="form-control-static">{{ current_user.email }}</div>
          </div>
        </div>
        {{ render_field(form.name, True) }}
        <div class="form-group">
          <div class="col-sm-10 col-sm-offset-2">
            {{ form.allow_promo(class_='big-checkbox') }}
            <label class="control-label big-checkbox" for="allow_promo">
                Send me occasional emails about future EMF events
            </label>
          </div>
        </div>
      </div>
    </fieldset>
    <fieldset>
      <div class="col-sm-12">
        If you're comfortable telling us a little bit about yourself, we'd appreciate it.
        This information will only be summarised and compared with previous years, to find out how well we're doing with outreach.
      </div>
      <div class="col-sm-12">
        <p></p>
        {{ render_field(form.age, True, placeholder="Optional") }}
        {{ render_field(form.gender, True, placeholder="Optional") }}
        {{ render_field(form.ethnicity, True, placeholder="Optional") }}
        {{ form.forward(class_="btn btn-default pull-right", style="margin-bottom: 15px;") }}
      </div>
    </fieldset>
  </form>
</div>
{% endblock %}
