{% from "_formhelpers.html" import render_field %}
{% extends "base.html" %}
{% block title %}My Account{% endblock %}
{% block body %}
<h2>Account</h2>

<nav>
  <ul class="nav nav-pills">
    {% if feature_enabled('TICKET_SALES') %}
      <li><a href="{{ url_for('users.purchases') }}">Your tickets</a></li>
    {% endif %}
    {% if feature_enabled('LINE_UP') %}a
      <li><a href="{{ url_for('schedule.external_feeds') }}">Your event feeds</a></li>
    {% endif %}
    {% if feature_enabled('CFP') %}
      <li><a href="{{ url_for('cfp.proposals') }}">Your proposals</a></li>
      <li><a href="{{ url_for('cfp.all_messages') }}">
        Your messages
        {% if unread_count > 0 %}
          <span class="badge">{{ unread_count }}</span>
        {% endif %}
      </a></li>
      {% if current_user.has_permission('admin') %}
      <li><a href="{{ url_for('admin.home') }}">Admin</a></li>
      {% elif current_user.has_permission('cfp_admin') %}
      <li><a href="{{ url_for('cfp_review.proposals') }}">CFP Admin</a></li>
      {% else %}
        {% if current_user.has_permission('cfp_anonymiser') %}
        <li><a href="{{ url_for('cfp_review.anonymisation') }}">Anonymise proposals</a></li>
        {% endif %}
        {% if current_user.has_permission('cfp_reviewer') %}
        <li><a href="{{ url_for('cfp_review.review_list') }}">Review proposals</a></li>
        {% endif %}
      {% endif %}
    {% endif %}
  </ul>
  <ul class="nav nav-pills">
    <li><a href="{{ url_for('users.logout') }}">Log out</a></li>
  </ul>
</nav>
<h3>Your details</h3>

<div class="panel panel-default">
  <div class="panel-heading">
    {% if feature_enabled('CFP') %}
      <div>If you've made a submission to the CfP then your name (as it's set here) will be used
           in the schedule.</div>
    {% endif %}
  </div>
  <form method="post" class="form-horizontal">
    {{ form.hidden_tag() }}
    <fieldset>
      <p></p>
      <div class="col-sm-12">
        <div class="form-group">
          <label class="col-sm-2 control-label">Email</label>
          <div class="col-sm-10">
            <div class="form-control-static">{{ current_user.email }}</div>
          </div>
        </div>
        {{ render_field(form.name, True) }}
        <div class="form-group">
          <div class="col-sm-10 col-sm-offset-2">
            {{ form.allow_promo(class_='big-checkbox') }}
            <label class="control-label big-checkbox" for="allow_promo">
                Send me occasional emails about future EMF events
            </label>
          </div>
        </div>
      </div>
    </fieldset>
    <fieldset>
      <div class="col-sm-12">
        If you're comfortable telling us a little bit about yourself, we'd appreciate it.
        This information will only be summarised and compared with previous years, to find out how well we're doing with outreach.
      </div>
      <div class="col-sm-12">
        <p></p>
        {{ render_field(form.age, True, placeholder="Optional") }}
        {{ render_field(form.gender, True, placeholder="Optional") }}
        {{ render_field(form.ethnicity, True, placeholder="Optional") }}
        {{ form.forward(class_="btn btn-default pull-right", style="margin-bottom: 15px;") }}
      </div>
    </fieldset>
  </form>
</div>
{% endblock %}
