{% extends "base.html" %}
{% set main_class = 'account-purchases' %}

{% block title %}Your tickets{% endblock %}
{% block body %}

{% if tickets %}
  <h3>Your tickets</h2>
  <a id="tickets"></a>
  {% if not config['ISSUE_TICKETS'] %}
  <p>We'll send you a scannable ticket by email shortly before the event.
     This will include any <a href="{{ url_for('tickets.main', flow='other') }}">parking tickets</a>, which you need to print out
     and leave on the dashboard.
  </p>
  {% else %}
  <p>You can bring your entrance ticket on a mobile device. If you're coming
     by car, you need to print out your <a href="{{ url_for('tickets.main', flow='other') }}">parking ticket</a>
     and leave it on the dashboard.
  </p>
  {% endif %}
  {% include "account/purchases/ticket-list.html" %}
  <div class="clearfix"></div>
{% endif %}

{% if other_items %}
  <h3>Your other purchases</h2>
  <a id="other"></a>
  {% include "account/purchases/other-items-list.html" %}
  <div class="clearfix"></div>
{% endif %}


{% if payments %}
  <h3>Your payments</h2>
  <a id="payments"></a>
  {% include "account/purchases/payments.html" %}
  <div class="clearfix"></div>
{% endif %}

{% if transferred_to %}
  <h3>Tickets received</h2>
  <a id="transfers-to"></a>
  {% include "account/purchases/transferred-to.html" %}
  <div class="clearfix"></div>
{% endif %}

{% if transferred_from %}
  <h3>Tickets given</h2>
  <a id="transfers-from"></a>
  {% include "account/purchases/transferred-from.html" %}
  <div class="clearfix"></div>
{% endif %}

<p class="terms-reminder">
  Entrance to the festival is subject to our <a href="{{url_for('payments.terms')}}">Terms
  and Conditions</a> and the <a href="{{url_for('base.code_of_conduct')}}">Code of Conduct</a>.
</p>
<div class="pull-right ticket-actions">
    <a href="{{ url_for('tickets.main') }}" class="btn btn-primary">Buy another ticket</a>
</div>

{% endblock %}
{% block foot %}
<script type="text/javascript" nonce="{{csp_nonce}}">
$(function() {
  $('#summary').children().toggle();
});
</script>
{% endblock %}
