<div class="col-md-6">
  <p class="emphasis" itemprop="description">
    Electromagnetic Field is a non-profit camping festival for those with an
    inquisitive mind or an interest in making things: hackers, artists, geeks,
    crafters, scientists, and engineers.
  </p>
  <p>
    A temporary town of nearly four thousand curious people enjoying a long
    weekend of talks, performances, and workshops on everything from
    <strong>blacksmithing</strong> to <strong>biometrics</strong>,
    <strong>chiptunes</strong> to <strong>computer security</strong>,
    <strong>high altitude ballooning</strong> to <strong>lockpicking</strong>,
    <strong>origami</strong> to <strong>democracy</strong>, and
    <strong>online privacy</strong> to <strong>knitting</strong>.
  </p>
  <p>
    To help matters along, we provide <strong>fast internet</strong>,
    <strong>power to the tent</strong>, <strong>good beer</strong>, and
    <strong>amazing installations</strong>, entirely organised by a dedicated
    team of volunteers.
  </p>
</div>
