{% extends "base.html" %} {% block description %}Electromagnetic Field is a
non-profit UK camping festival for those with an inquisitive mind or an interest
in making things.{% endblock %} {% block body %}
<div class="row">
  <div class="col-md-12 text-center hidden">
    <h2>Electromagnetic Field {{ event_year }} is now over</h2>
    <div>&nbsp;</div>
  </div>
  <div class="col-md-12">
    <img
      class="img-responsive md-col-12"
      src="{{ url_for('static', filename='images/2018_post.jpg') }}"
    />
  </div>
  {% include "home/_emf_blurb.html" %}
  <div class="col-md-6">
    <p class="emphasis">
      We're immensely grateful to everyone who came and helped make EMF such a
      great event, and especially to those volunteers who devoted their time to
      making our non-profit event a success.
    </p>
    <p>
      If you want to re-live EMF, you can find photos, videos, and more on our
      <a href="https://wiki.emfcamp.org/{{ event_year }}/wiki/Memories">memories</a> page. Talk
      videos will be published as soon as we can make them available.
    </p>
    <div class="well">
      <p>
        If you're interested in updates about future events, follow us on
        <a href="https://social.emfcamp.org/@emf">the Fediverse</a> or join our mailing
        list:
      </p>
      {{contact_form("main")}}
    </div>
  </div>
</div>
{% endblock %}
