{% extends "base.html" %} {% block description %}Electromagnetic Field is a
non-profit UK camping festival for those with an inquisitive mind or an interest
in making things.{% endblock %} {% block body %}
<div class="row">
  <div class="col-md-12 text-center hidden">
    <h2>Electromagnetic Field 2016 is now over</h2>
    <div>&nbsp;</div>
  </div>
  <div class="col-md-12">
    <img
      class="img-responsive md-col-12"
      src="{{ url_for('static', filename='images/2018_post.jpg') }}"
    />
  </div>
  {% include "home/emf_blurb.html" %}
  <div class="col-md-6">
    <p class="emphasis">
      We're immensely grateful to everyone who came and helped make EMF such a
      great event, and especially to those volunteers who devoted their time to
      making our non-profit event a success.
    </p>
    <p>
      If you want to re-live EMF, you can find photos, videos, and more on our
      <a href="https://wiki.emfcamp.org/wiki/Memories">memories</a> page. Talk
      videos can be found at the
      <a href="https://media.ccc.de/c/emf{{ event_year }}">CCC site</a> or
      <a href="https://www.youtube.com/ElectromagneticField">on YouTube</a>.
    </p>
    <div class="well">
      <p>
        If you're interested in updates about future events, follow us on
        <a href="http://www.twitter.com/emfcamp">Twitter</a> or join our mailing
        list:
      </p>
      <form method="post" class="form-inline" role="form">
        <div class="input-group">
          <input
            id="email-field"
            type="text"
            class="form-control"
            placeholder="Enter email address"
            name="email"
          />
          <span class="input-group-btn">
            <button type="submit" class="btn btn-default debounce">Join</button>
          </span>
        </div>
      </form>
      <p>
        <small
          >(We'll only use your details to contact you about future
          events)</small
        >
      </p>
    </div>
  </div>
</div>
{% endblock %}
