{% extends "base.html" %} {% block description %}Electromagnetic Field is a
non-profit UK camping festival for those with an inquisitive mind or an interest
in making things.{% endblock %} {% block body %}
<div class="row">
  <div class="col-md-12 text-center hidden">
    <h2>Electromagnetic Field {{ event_year }} is now over</h2>
    <div>&nbsp;</div>
  </div>
  <div class="col-md-12">
    <img
      class="img-responsive md-col-12"
      src="{{ url_for('static', filename='images/2018_post.jpg') }}"
    />
  </div>
  {% include "home/_emf_blurb.html" %}
  <div class="col-md-6">
    <p class="emphasis">
      We're immensely grateful to everyone who came and helped make EMF such a
      great event, and especially to those volunteers who devoted their time to
      making our non-profit event a success.
    </p>
    <p>
      Missed some talks during the event? Don't worry!
      <a href="https://emf.camp/watch">Catch up for free</a>, with
      DRM-free video and audio. <i>Thanks to <a href="https://c3voc.de">C3VOC</a>
      for providing streaming hosting and infrastructure!</i>
    </p>
    <p>
      Have a fond memory you'd like to share with the commmunity? Read and add photos, 
      videos, and more on our <a href="https://www.emfcamp.org/wiki/2026-memories">
      attendee memories</a> wiki page. 
      {# event_year fixme hardcoded above #}
    </p>
    <div class="well">
      <p>
        If you're interested in updates about future events, follow us on
        <a href="https://social.emfcamp.org/@emf">the Fediverse</a> or join our mailing
        list:
      </p>
      {{mailing_list("main")}}
    </div>
  </div>
</div>
{% endblock %}
