{% extends "base.html" %}
{% block body %}
<div id="gallery" class="row">
    <img class="col-md-3 col-sm-4 col-xs-6" src="/static/images/main_images/EMF-Website-2014-V1_03.jpg" alt="Image of EMF 2012">
        <img class="col-md-3 col-sm-4 col-xs-6" src="/static/images/main_images/EMF-Website-2014-V1_05.jpg" alt="Image of EMF 2012">
        <img class="col-md-3 col-sm-4 col-xs-6" src="/static/images/main_images/EMF-Website-2014-V1_07.jpg" alt="Image of EMF 2012">
        <img class="col-md-3 col-xs-6 hidden-sm" src="/static/images/main_images/EMF-Website-2014-V1_09.jpg" alt="Image of EMF 2012">
        <img class="col-md-3 hidden-xs hidden-sm" src="/static/images/main_images/EMF-Website-2014-V1_15.jpg" alt="Image of EMF 2012">
        <img class="col-md-3 hidden-xs hidden-sm" src="/static/images/main_images/EMF-Website-2014-V1_16.jpg" alt="Image of EMF 2012">
        <img class="col-md-3 hidden-xs hidden-sm" src="/static/images/main_images/EMF-Website-2014-V1_17.jpg" alt="Image of EMF 2012">
        <img class="col-md-3 hidden-xs hidden-sm" src="/static/images/main_images/EMF-Website-2014-V1_18.jpg" alt="Image of EMF 2012">
</div>
<div class="row">
    <div class="col-md-6">
        <p class="emphasis">
          Electromagnetic Field is a non-profit UK camping festival for those with an inquisitive mind or an
          interest in making things: hackers, artists, geeks, crafters, scientists, and engineers.
        </p>
        <p>A temporary town of more than a thousand like-minded people enjoying a long weekend of talks, performances,
        and workshops on everything from <strong>blacksmithing</strong> to <strong>biometrics</strong>,
        <strong>chiptunes</strong> to <strong>computer security</strong>,
        <strong>high altitude ballooning</strong> to <strong>lockpicking</strong>,
        <strong>origami</strong> to <strong>democracy</strong>,
        and <strong>online privacy</strong> to <strong>knitting</strong>.
        </p>
        <p>To help matters along, we provide <strong>fast internet</strong>,
           <strong>power to the tent</strong>, <strong>good beer</strong>, and
          <strong>amazing installations</strong>, entirely organised by a dedicated team of volunteers.
        </p>
    </div>
    <div class="col-md-6" itemscope itemtype="http://schema.org/Festival">
        {% include "home/event-data.html" %}
       <div class="well">
          <p>If you're interested in updates about EMF 2016, follow us on
          <a href="http://www.twitter.com/emfcamp">Twitter</a> or join our mailing list:</p>
          <form method="post" class="form-inline" role="form">
            <input name="csrf_token" type="hidden" value="{{ csrf_token() }}">
            <div class="input-group">
              <input id="email-field" type="text" class="form-control" placeholder="Enter email address" name="email"/>
              <span class="input-group-btn">
                <button type="submit" class="btn btn-default debounce">Join</button>
              </span>
            </div>
          </form>
          <p><small>(We'll only use your details to contact you about future events)</small></p>
    </div>
</div>
{% endblock %}
