{% extends "base.html" %} {% block description %}Electromagnetic Field is a
non-profit UK camping festival for those with an inquisitive mind or an interest
in making things.{% endblock %} {% block body %} {% include
"home/gallery_block.html" %}
<div class="row" itemscope itemtype="http://schema.org/Festival">
  {% include "home/_emf_blurb.html" %}
  <div class="col-md-6">
    {% include "home/event-data.html" %} 
    <p class="emphasis">
    {#
      The first batch of tickets will go on sale on
      <strong>Saturday 3 February at 14:00</strong> (UK time).
    #}
    {#
    <a class="btn btn-lg btn-block btn-primary" itemprop="url" href="{{url_for('tickets.main')}}">View ticket prices</a>
    #}
    </p>
    <div class="well">
      <p>
        If you're interested in updates about EMF {{ event_start.year }}, follow
        us on <a href="https://social.emfcamp.org/@emf">the Fediverse</a> or join our
        mailing list:
      </p>
      {{contact_form("main")}}
    </div>
  </div>
</div>
{% endblock %}
