{# Event details, with microdata for semantic goodness.
    Surrounding scope needs the following attributes:
    itemscope itemtype="http://schema.org/Festival"
#}
<meta itemprop="startDate" content="2016-08-05T08:00">
<meta itemprop="endDate" content="2016-08-07T23:30">
<meta itemprop="url" content="https://www.emfcamp.org/">
<p class="emphasis">
    <span itemprop="name">Electromagnetic Field 2016</span>
    will be held on
    <strong>August 5&ndash;7 2016</strong>
    at
        <span itemprop="location" itemscope itemtype="http://schema.org/Place">
            <span itemprop="name" style="font-weight: bold">Loseley Park</span>,
            <span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                <span itemprop="addressLocality" style="font-weight: bold">Guildford</span>.
                <meta itemprop="addressRegion" content="Surrey">
                <meta itemprop="addressCountry" content="UK">
            </span>
        </span>
</p>
