{% extends "base.html" %} {% block description %}Electromagnetic Field is a
non-profit UK camping festival for those with an inquisitive mind or an interest
in making things.{% endblock %} {% block body %} {% include
"home/gallery_block.html" %}
<div class="row">
  {% include "home/_emf_blurb.html" %}
  <div class="col-md-6">
    <p>
      If you're running a talk or workshop in your village, you can now <a href="{{ url_for('schedule.attendee_content') }}">add your own content</a>, and it will appear automatically on <a href="{{ url_for("schedule.main") }}">schedule</a>.
    </p>
    <p>
      Want to help out? Visit the <a href="https://map.emfcamp.org/#18/52.0417/-2.377">Info Desk</a>, or sign up for an available <a href="{{ url_for('volunteer.main') }}">volunteering shift</a>.
    </p>
    <div class="well">
      <p>
        If you're interested in updates about EMF {{ event_year }}, follow us on
        <a href="https://social.emfcamp.org/@emf">the Fediverse</a> or join our
        mailing list:
      </p>
      <form method="post" class="form-inline" role="form">
        <div class="input-group">
          <input
            id="email-field"
            type="text"
            class="form-control"
            placeholder="Enter email address"
            name="email"
          />
          <span class="input-group-btn">
            <button type="submit" class="btn btn-default debounce">Join</button>
          </span>
        </div>
      </form>
      <p>
        <small
          >(We'll only use your details to contact you about future
          events)</small
        >
      </p>
    </div>
  </div>
</div>
{% endblock %}
