{# Event details, with microdata for semantic goodness.
    Surrounding scope needs the following attributes:
    itemscope itemtype="http://schema.org/Festival"
#}
<meta itemprop="startDate" content="{{ event_start.strftime('%Y-%m-%d') }}T08:00">
<meta itemprop="endDate" content="{{ event_end.strftime('%Y-%m-%d') }}T23:30">
<meta itemprop="url" content="https://www.emfcamp.org/">
<p class="emphasis">
    <span itemprop="name">Electromagnetic Field {{ event_year }}</span>
    will be held on
    <strong>{{ simple_dates }} {{ event_year }}</strong>
    at
        <span itemprop="location" itemscope itemtype="http://schema.org/Place">
            <span itemprop="name" style="font-weight: bold">Eastnor Castle Deer Park</span>,
            <span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                <span itemprop="addressLocality" style="font-weight: bold">Ledbury</span>.
                <meta itemprop="addressRegion" content="Herefordshire">
                <meta itemprop="addressCountry" content="UK">
            </span>
        </span>
</p>
