<div id="gallery" class="row" aria-hidden="true">
    <img class="col-md-3 col-sm-4 col-xs-6" src="{{ url_for('static', filename='images/main_images/EMF-Website-2014-V1_03.jpg') }}" alt="Image of EMF">
    <img class="col-md-3 col-sm-4 col-xs-6" src="{{ url_for('static', filename='images/main_images/001.jpg') }}" alt="Image of EMF">
    <img class="col-md-3 col-sm-4 col-xs-6" src="{{ url_for('static', filename='images/main_images/EMF-Website-2014-V1_07.jpg') }}" alt="Image of EMF">
    <img class="col-md-3 col-xs-6 hidden-sm" src="{{ url_for('static', filename='images/main_images/EMF-Website-2014-V1_09.jpg') }}" alt="Image of EMF">
    <img class="col-md-3 hidden-xs hidden-sm" src="{{ url_for('static', filename='images/main_images/EMF-Website-2014-V1_15.jpg') }}" alt="Image of EMF">
    <img class="col-md-3 hidden-xs hidden-sm" src="{{ url_for('static', filename='images/main_images/002.jpg') }}" alt="Image of EMF">
    <img class="col-md-3 hidden-xs hidden-sm" src="{{ url_for('static', filename='images/main_images/003.jpg') }}" alt="Image of EMF">
    <img class="col-md-3 hidden-xs hidden-sm" src="{{ url_for('static', filename='images/main_images/EMF-Website-2014-V1_18.jpg') }}" alt="Image of EMF">
</div>

