{% extends "base.html" %} {% block description %}Electromagnetic Field is a
non-profit UK camping festival for those with an inquisitive mind or an interest
in making things.{% endblock %} {% block body %} {% include
"home/gallery_block.html" %}
<div class="row" itemscope itemtype="http://schema.org/Festival">
  {% include "home/_emf_blurb.html" %}
  <div class="col-md-6">
    {% include "home/event-data.html" %}
    <div class="well">
      {% include "home/cfp_block.html" %} {% include "home/sales_block.html" %}
    </div>
  </div>
</div>
{% endblock %}
