version: "3.7"
services:
  app:
    build:
      context: "./"
    networks:
      - emfweb
    depends_on:
      - postgres
    volumes:
      - .:/app
      - ./var/vat_invoices:/vat_invoices
    ports:
      - "2342:2342"
    environment:
      SETTINGS_FILE: ./config/development.cfg
      FLASK_APP: dev_server.py
      FLASK_ENV: development
      COLORIZE_LOGS: always
      PYTHONUNBUFFERED: 1
      IRCCAT: fakeirccat:12345

  gulp:
    build:
      context: "./docker/gulp"
    init: true
    volumes:
      - .:/app

  postgres:
    image: 'postgis/postgis:16-3.4-alpine'
    environment:
      POSTGRES_PASSWORD: postgres
    networks:
      - emfweb

  fakeirccat:
    build:
      context: "./docker/netcat"
    command: -k -l -p 12345
    init: true
    networks:
      - emfweb

networks:
  emfweb:
