[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
decorator = "*"
"iso8601" = "*"
python-levenshtein = "==0.12.0"
simplejson = "*"
requests = "*"
markdown = "==2.6.9"
inlinestyler = "==0.2.3"
flask = "==1.1.1"
"jinja2" = ">=2.9.6"
flask-cdn = "==1.5.3"
flask-caching = "==1.7.2"
python-memcached = "==1.58"
flask-sqlalchemy = "==2.3.2"
sqlalchemy = "==1.1.18"
"psycopg2" = "==2.7.3.1"
sqlalchemy-utils = "==0.32.17"
sqlalchemy-continuum = "==1.3.4"
flask-migrate = "==2.1.1"
alembic = "==0.9.9"
mako = "==1.0.7"
flask-assets = "==0.12"
webassets = "==0.12.1"
pyscss = "==1.3.5"
pathlib = "==1.0.1"
cssmin = "==0.2.0"
jsmin = "==2.2.2"
flask-mail = "==0.9.1"
flask-wtf = "==0.12"
wtforms = "==2.2.1"
flask-script = "==2.0.6"
flask-login = "==0.4.1"
flask-debugtoolbar = "*"
gunicorn = "*"
eventlet = "*"
qrcode = "==5.3"
pybarcode = {git = "https://github.com/emfcamp/python-barcode"}
pillow = "*"
icalendar = "==3.11.7"
pytz = "*"
"mailchimp3" = "==2.0.17"
gocardless-pro = "==1.2.0"
stripe = "==1.66.0"
ofxparse = "==0.16"
funcsigs = "==1.0.2"
unicodecsv = "==0.14.1"
python-dateutil = "*"
slotmachine = {git = "https://github.com/emfcamp/slotmachine.git",editable = true}
awesome-slugify = "*"
faker = "*"
pyyaml = "*"
prometheus-client = "*"
pyppeteer = "==0.0.18"
flask-admin = "*"
pendulum = ">=2.0"
"geoalchemy2" = "*"
flask-restful = "*"
shapely = "*"
flask-cors = "*"

[dev-packages]
pytest = "*"
mock = "*"
"flake8" = "*"
black = "*"
locustio = "*"
ipdb = "*"
hypothesis = "*"
pytest-random-order = "*"
flask-shell-ipython = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
