[tool.poetry]
name = "website"
description = "The Electromagnetic Field web site"
version = "0.1"
authors = []

[tool.poetry.dependencies]
python = "~3.11"
decorator = "*"
"iso8601" = "*"
python-levenshtein = "~=0.12"
simplejson = "*"
requests = "~=2.29"
markdown = "~=3.1"
inlinestyler = "~=0.2"
flask = "~=2.3"
flask-caching = "~=2.0"
python-memcached = "==1.59"
flask-sqlalchemy = "~=3.0"
SQLAlchemy = "<2.0"
"psycopg2" = "~=2.8"
sqlalchemy-utils = "~=0.34"
sqlalchemy-continuum = "~=1.3"
Flask-Migrate = "~3.1"
alembic = "~=1.1"
flask-wtf = "~=1.0"
wtforms = "~=2.3"
flask-login = "~=0.6"
flask-debugtoolbar = "*"
gunicorn = "~=20.1"
pybarcode = {git = "https://github.com/emfcamp/python-barcode"}
pillow = "~=10.0"
icalendar = "==3.11.7"
pytz = "*"
stripe = "~=2.38.0"
ofxparse = "==0.16"
python-dateutil = "*"
slotmachine = {git = "https://github.com/emfcamp/slotmachine.git"}
awesome-slugify = "*"
faker = "*"
pyyaml = "*"
prometheus-client = "*"
pyppeteer = "*"
flask-admin = "*"
pendulum = ">=2.0,<3.0"
"geoalchemy2" = "~=0.13"
flask-restful = "~=0.3"
shapely = "~=2.0"
flask-cors = "~=3.0"
flask-shell-ipython = "*"
Flask-Static-Digest = "~=0.3"
email_validator = "^1.0"
segno = "^1.0.0"
pytest-vcr = "^1.0.2"
pywisetransfer = "^0.3.0"
freezegun = "^1.1.0"
logging_tree = "^1.9"
flask-mailman = "^0.3.0"


[tool.poetry.group.dev.dependencies]
pytest = "*"
mock = "*"
"flake8" = "3.8.3"
locust = "*"
ipdb = "*"
hypothesis = "*"
pytest-random-order = "*"
pytest-cov = "*"
coveralls = "*"
black = "=22.3.0"
pyzbar = "^0.1.8"
cairosvg = "^2.4.2"
flake8-print = "^4.0.0"
mypy = "^1.2.0"
types-requests = "^2.27.8"
types-simplejson = "^3.17.3"
types-decorator = "^5.1.4"
types-python-dateutil = "^2.8.9"
types-PyYAML = "^6.0.4"
types-Markdown = "^3.3.12"
types-pytz = "*"
lxml-stubs = "^0.3.1"
sqlalchemy-stubs = "^0.4"
