[tool.poetry]
name = "website"
version = "0.1"
authors = []

[tool.poetry.dependencies]
python = "~3.7"
decorator = "*"
"iso8601" = "*"
python-levenshtein = "==0.12.0"
simplejson = "*"
requests = "*"
markdown = "~=3.1"
inlinestyler = "~=0.2"
flask = "~=1.1"
"jinja2" = "~=2.10"
flask-caching = "~=1.7"
python-memcached = "==1.58"
flask-sqlalchemy = "~=2.4"
sqlalchemy = "~=1.3"
"psycopg2" = "~=2.8"
sqlalchemy-utils = "~=0.34"
sqlalchemy-continuum = "~=1.3"
flask-migrate = "==2.1.1"
alembic = "~=1.1"
flask-mail = "~=0.9"
flask-wtf = "~=0.14"
wtforms = "~=2.2"
flask-login = "~=0.4"
flask-debugtoolbar = "*"
gunicorn = "*"
qrcode = "==5.3"
pybarcode = {git = "https://github.com/emfcamp/python-barcode"}
pillow = "*"
icalendar = "==3.11.7"
pytz = "*"
"mailchimp3" = "*"
gocardless-pro = "==1.2.0"
stripe = "~=2.38.0"
ofxparse = "==0.16"
python-dateutil = "*"
slotmachine = {git = "https://github.com/emfcamp/slotmachine.git",editable = true}
awesome-slugify = "*"
faker = "*"
pyyaml = "*"
prometheus-client = "*"
pyppeteer = "*"
flask-admin = "*"
pendulum = ">=2.0"
"geoalchemy2" = "*"
flask-restful = "*"
shapely = "*"
flask-cors = "*"
flask-shell-ipython = "*"
Flask-Static-Digest = "*"
email_validator = "^1.0"

[tool.poetry.dev-dependencies]
pytest = "*"
mock = "*"
"flake8" = "*"
locustio = "*"
ipdb = "*"
hypothesis = "*"
pytest-random-order = "*"
pytest-cov = "*"
coveralls = "*"
black = "=19.10b0"
