# from pip/setuptools/pyopenssl
wheel==0.24.0
cffi==1.2.1
cryptography==1.0
enum34==1.0.4
idna==2.0
ipaddress==1.0.14
ndg-httpsclient==0.4.0
pyasn1==0.1.8
pycparser==2.14
pyOpenSSL==0.15.1
six==1.9.0

# basic/shared dependencies
decorator==4.0.2
certifi==2015.4.28
iso8601==0.1.10
lxml==3.4.4
python-Levenshtein==0.12.0
simplejson==3.8.0
requests==2.7.0

# web framework
Flask==0.10.1
Werkzeug==0.10.4
Jinja2==2.8
MarkupSafe==0.23
itsdangerous==0.24
flask-cdn==1.5.0
Flask-DebugToolbar==0.10.0
flask-cache==0.13.1

# database
Flask-SQLAlchemy==2.0
SQLAlchemy==1.0.8
psycopg2==2.6.1
py-bcrypt==0.4
SQLAlchemy-Utils==0.31.4
SQLAlchemy-Continuum==1.2.2
flask-migrate==1.8.0

# assets
Flask-Assets==0.11
webassets==0.11
pyscss==1.3.4
cssmin==0.2.0
jsmin==2.1.4

# mail
Flask-Mail==0.9.1
blinker==1.4

# forms
Flask-WTF==0.12
WTForms==2.0.2

# other Flask modules
Flask-Script==2.0.5
Flask-Login==0.2.11

# gunicorn
gunicorn==19.3.0
greenlet==0.4.7
eventlet==0.17.4

# ticket PDFs
qrcode==5.1
git+https://github.com/emfcamp/xhtml2pdf#egg=xhtml2pdf
html5lib==0.999999
PyPDF2==1.25.1
Pillow==2.9.0
reportlab==3.2.0

# Mailchimp
mailsnake==1.6.3

# payments
gocardless==0.5.3
stripe==1.25.0
ofxparse==0.14
beautifulsoup4==4.4.0

# testing
flake8==2.4.1
mock==1.3.0
mccabe==0.2.1
pep8==1.5.7
pyflakes==0.8.1
nose==1.3.7
pbr==1.5.0
funcsigs==0.4

