{% extends "installations/template.html" %}
{% block title %}Installations{% endblock %}
{% block body %}
<div id="installations-page">
<h1>Electromagnetic Field Installations</h1>
<p>There are dozens of installations around the site contributed by attendees, including artworks, games and restored machines.</p>

<p>The ones we know about are listed here by where to find them, but keep your eyes peeled as you move around the site as there will be lots more around the camping areas that we don't know about!</p>

<p>The Arts & Installations team are hugely grateful to everyone who has brought something to show. We know what a huge amount of work that EMF attendees put into making weird and wonderful things.</p>

</div>
{% endblock %}
