{% from "_formhelpers.html" import render_field %}
{% extends "base.html" %}
{% block title %}Finalise Proposal - {{ proposal.title }}{% endblock %}
{% block body %}

<form class="form-horizontal cfp-form" method="post">
  <div class="well">
    {{ form.hidden_tag() }}

    <fieldset>
        <legend>Confirm Your Details</legend>
        <p>Please confirm how you would like your name, and those of any
          collaborators to appear in the schedule. Any names you give here
          are separate to the one attached to your ticket.</p>
        {{ render_field(form.name, 9) }}
        <p>What pronouns should we use? For example 'they/them' or 'she/her'.
          These will be displayed in the schedule and given to heralds to use.</p>
        {{ render_field(form.pronouns, 9) }}
        <p>If you can supply a telephone number it helps us contact you
          once we're on site. It will be treated with strictest confidence
          and only accessible to those that absolutely need it.</p>
        {{ render_field(form.telephone_number, 9) }}
        <p>If you have a <a href="https://guru3.eventphone.de/">custom extension</a>
          (e.g. DECT) issued for our on-site phone network, we'll use that as an
          alternative way to contact you.</p>
        {{ render_field(form.eventphone_number, 9) }}
    </fieldset>

    <fieldset>
        <legend>Confirm Your {{proposal.human_type | title}}</legend>
        <p>Please confirm the details you would like to be publicly visible in the schedule</p>
        {{ render_field(form.title, 9) }}
        <div class="col-md-9 col-md-offset-3"><small>Your description should be about 100-150 words.</small></div>
        {{ render_field(form.description, 9) }}

        {% if proposal.type == 'workshop' or proposal.type == 'youthworkshop' %}
        <div class="col-md-9 col-md-offset-3"><small>Please give the cost in pounds (£) per attendee, with any options.</small></div>
        {{ render_field(form.cost, 9) }}
        <div class="col-md-9 col-md-offset-3"><small>The age range this workshop is suitable for. If anybody can take part, say "All ages".</small></div>
        {{ render_field(form.age_range, 9) }}
        <div class="col-md-9 col-md-offset-3"><small>If workshop attendees should bring things, please detail them.</small></div>
        {{ render_field(form.participant_equipment, 9) }}
        {% endif %}
    </fieldset>

    <fieldset>
        <legend>Arrival &amp; Departure</legend>
        <p>Please let us know when you will be arriving and leaving the festival. We won't schedule you for a time when you are likely to be travelling.</p>

        {{ render_field(form.arrival_period, 9) }}
        {{ render_field(form.departure_period, 9) }}
    </fieldset>

    {% if slot_times %}
    <fieldset>
        <legend>Your Availability</legend>
        <p>When are you available to deliver your {{ proposal.human_type }}? We'll do our best to pick a time that you are comfortable with.</p>

          {% if proposal.type == 'performance' %}
            <p>Performances will be scheduled between <strong>8pm and 1:30am</strong> (midnight)
              every day. There is a 1:30am curfew on amplified music.</p>
            <table class="table">
              <thead>
                <tr><th>Day</th><th>8pm - 10pm</th><th>10pm - 1:30am</th></tr>
              </thead>
          {% else %}
            <table class="table">
              <thead>
                <tr>
                  <th>Day</th>
                  {% for heading in slot_titles %}
                  <th>{{ heading }}</th>
                  {% endfor %}
                </tr>
              </thead>
          {% endif %}
              <tbody>
                <tr>
                  <th scope="row">Friday</th>
                  {% for slot in slot_times %}
                  <td>{{ day_form_slots['fri'].get(slot, 'n/a') }}</td>
                  {% endfor %}
                </tr>
                <tr>
                  <th scope="row">Saturday</th>
                  {% for slot in slot_times %}
                  <td>{{ day_form_slots['sat'].get(slot, 'n/a') }}</td>
                  {% endfor %}
                </tr>
                <tr>
                  <th scope="row">Sunday</th>
                  {% for slot in slot_times %}
                  <td>{{ day_form_slots['sun'].get(slot, 'n/a') }}</td>
                  {% endfor %}
                </tr>
              </tbody>
            </table>
    </fieldset>
    {% endif %}

    <fieldset>
        <legend>Final Requirements</legend>
        {% if proposal.type == 'talk' %}
        {{ render_field(form.may_record, 7) }}
        {{ render_field(form.needs_laptop, 7) }}
        {% endif %}
        {% if proposal.type == 'installation' %}
          <p>In addition to any requirements (including being under cover, power
            and water) please let us know if special provisions are needed for
            moving your installation (e.g. if it is fragile, must be disarmed first).</p>
        {% else %}
          <div class="col-md-9 col-md-offset-3">
            <small>Any equipment you might need, or other things you need us to provide.</small>
          </div>
        {% endif %}
        {{ render_field(form.requirements, 9) }}
    </fieldset>

    {% if proposal.scheduled_duration and (proposal.type == 'talk' or proposal.type == 'workshop') %}
    <fieldset>
      <legend>Your currently scheduled slot</legend>
      <dl class="dl-horizontal">
        <dt>Slot length</dt><dd>{{proposal.scheduled_duration}} minutes</dd>
        <dt>Slot time</dt><dd>{% if proposal.scheduled_time %}{{proposal.scheduled_time.strftime('%A at %-I:%M %p')}}{% else %}Not yet scheduled{% endif %}</dd>
        <dt>Venue</dt><dd>{{proposal.scheduled_venue_name or "Not yet scheduled"}}</dd>
      </dl>
      <div>If your slot is not suitable, please <b><a href="{{ url_for('.proposal_messages', proposal_id=proposal.id) }}">  get in touch with us!</a></b></div>
    </fieldset>
	{% endif %}


  </div>
  <div class="pull-right">
    <a href="{{ url_for('.edit_proposal', proposal_id=proposal.id) }}" class="btn btn-default">Back</a>
    <button type="submit" class="btn btn-success debounce">Update</button>
  </div>

  <div class="clearfix"></div>

</form>
{% endblock %}
