{% extends "base.html" %}
{% block body %}
<h2>All messages</h2>

<table class="table">
<thead>
    <tr>
        <th>Date</th>
        <th>Message Count</th>
        <th>Proposal Title</th>
    </tr>
</thead>
<tbody>
{% for proposal in proposal_with_message %}
    <tr class="{{ loop.cycle('odd', 'even') }}">
        <td>
            {% if proposal.get_unread_count(current_user) > 0 %}
                <span class="badge">{{ proposal.get_unread_count(current_user) }}</span>
            {% endif %}
            {{ proposal.messages[0].created.strftime("%Y-%m-%d") }}
        </td>
        <td>{{ proposal.messages | length }}</td>
        <td>
            <a href="{{ url_for('.proposal_messages', proposal_id=proposal.id) }}">
                {{ proposal.title }}
            </a>
        </td>
    </tr>
{% endfor %}
</tbody>
</table>

{% endblock %}
