{% extends "base.html" %}
{% block title %}Call for Participation{% endblock %}

{% block body %}
    <div class="well">
        <p class="emphasis">The Call for Participation is now closed</p>
        <p>If you have been asked to submit a new proposal for a talk, performance, workshop, youth workshop or installation, please
            {% if cfp_type %}
            <a href="{{ url_for('cfp.form', cfp_type=cfp_type) + '?closed' }}">click here</a>.</p>
            {% else %}
            <a href="{{ url_for('cfp.main') + '?closed' }}">click here</a>.</p>
            {% endif %}
        {% if current_user.is_authenticated %}
          {% if current_user.proposals %}
          <a class="btn btn-default" href="{{ url_for('cfp.proposals') }}">View my proposals</a>
          {% endif %}
        {% else %}
          <a class="btn btn-default" href="{{ url_for('users.login', next=url_for('cfp.proposals')) }}">View my proposals</a>
        {% endif %}

    </div>
{% endblock %}
