{% from "_diversityform.html" import render_diversity_fields %}
{% extends "base.html" %}
{% block body %}
<div class="alert alert-success">Thanks for your submission!</div>
<p>We'll be in touch by email as soon as we can.</p>
<p><a href="{{ url_for('.proposals') }}" target="_blank">Click here</a> to view or edit your proposals.
You will be able to make changes until we start the anonymisation process.</p>

{% if not current_user.diversity %}
<p>&nbsp;</p>

<form action={{ url_for('cfp.complete') }} method="post" class="form-horizontal" role="form">
  {{ form.hidden_tag() }}

  {{ render_diversity_fields(form, current_user) }}

  <div class="form-actions">
    <button type="submit" name="Create" class="btn btn-success pull-right debounce">Continue</button>
  </div>
</form>
{% endif %}

{% endblock %}
