{% from "_formhelpers.html" import render_field %}
{% extends "base.html" %}
{% block body %}
<div class="alert alert-success">Thanks for your submission!</div>
<p>We'll be in touch by email as soon as we can.</p>
<p><a href="{{ url_for('.proposals') }}" target="_blank">Click here</a> to view or edit your proposals.
You will be able to make changes until we start the anonymisation process.</p>

{% if not current_user.diversity %}
<p>&nbsp;</p>
<form action={{ url_for('cfp.complete') }} method="post" class="form-horizontal" role="form">
  {{ form.hidden_tag() }}
  <fieldset>
    <div class="panel panel-warning">
      <div class="panel-heading">
        If you're comfortable telling us a little bit about yourself, we'd appreciate it.
        This information won't be available to the selection panel &ndash; we'll only use it to help find out
        how well we're doing with outreach.
      </div>
      <div class="row">
        <div id="diversity" class="col-md-10 col-md-offset-1">
          <p></p>
          {{ render_field(form.age, True) }}
          {{ render_field(form.gender, True) }}
          {{ render_field(form.ethnicity, True) }}
        </div>
      </div>
    </div>
  </fieldset>

  <div class="form-actions">
    <button type="submit" name="Create" class="btn btn-success pull-right debounce">Continue</button>
  </div>
</form>
{% endif %}

{% endblock %}
