{% extends "base.html" %}
{% block title %}Edit Proposal - {{ proposal.title }}{% endblock %}
{% block body %}

<ul class="nav nav-tabs">
  <li role="presentation" class="active">Details</li>
  <li role="presentation">
    <a href="{{ url_for('.proposal_messages', proposal_id=proposal.id) }}">Messages</a>
  </li>
</ul>


<h2>Proposal Detail</h2>

{% if proposal.state in ['new', 'edit'] %}
  <div>You can currently edit your proposal as it has not been sent for review.
     For more information on the selection process, please see our
     <a href="{{ url_for('.guidance') }}" target="_blank">guidance</a>.
  </div>
  {% include "cfp/edit-form.html" %}
{% else %}
  <div class="well"><div class="row">
    <div class="col-md-12">
      You can't currently edit your proposal as it's being reviewed, if you have
      any questions you can use the messaging system, below, to ask them.
    </div>
    <div class="col-md-6">
      <legend>About your {{proposal.type|capitalize}}</legend>
      <dl class="dl-horizontal">
        <dt>Title</dt><dd>{{proposal.title}}</dd>
        <dt>Submitted</dt><dd>{{proposal.created.strftime('%d %B')}}</dd>
        <dt>Status</dt><dd>{{proposal.state|capitalize}}</dd>
        <dt>Description</dt><dd>{{proposal.description}}</dd>
      </dl>
    </div>
    <div class="col-md-6">
      <legend>Further details</legend>
      <dl class="dl-horizontal">
        <dt>Requirements</dt><dd>{{proposal.requirements}}</dd>
        {% if proposal.type == 'talk' %}
          <dt>Length</dt><dd>{{proposal.length}}</dd>
          <dt>Notice Required</dt><dd>{{proposal.notice_required}}</dd>
        {% elif proposal.type == 'workshop' %}
          <dt>Length</dt><dd>{{proposal.length}}</dd>
          <dt>Notice Required</dt><dd>{{proposal.notice_required}}</dd>
          <dt>Attendees</dt><dd>{{proposal.attendees}}</dd>
          <dt>Cost per attendee</dt><dd>£{{proposal.cost}}</dd>
        {% elif proposal.type == 'installation' %}
          <dt>Notice Required</dt><dd>{{proposal.notice_required}}</dd>
          <dt>Size</dt><dd>{{proposal.size}}</dd>
          <dt>Funds requested</dt><dd>£{{proposal.funds}}</dd>
        {% endif %}
      </dl>
    </div>
  </div></div>
{% endif %}

{% endblock %}
