{% extends "base.html" %}
{% block title %}Edit Proposal - {{ proposal.title }}{% endblock %}
{% block body %}

<ul class="nav nav-tabs">
  <li role="presentation" class="active"><a href="">Details</a></li>
  <li role="presentation">
    <a href="{{ url_for('.proposal_messages', proposal_id=proposal.id) }}">
      Messages
      {% set unread_count = proposal.get_unread_count(current_user) %}
      {% if unread_count > 0 %}
        <span class="badge">{{ unread_count }}</span>
      {% endif %}
    </a>
  </li>
</ul>


<h2>Proposal Detail</h2>

{% if proposal.state in ['new', 'edit'] %}
  <div>You can currently edit your proposal as it has not been sent for review.
     For more information on the selection process, please see our
     <a href="{{ url_for('.guidance') }}" target="_blank">guidance</a>.
  </div>
  <p></p>
  {% include "cfp/edit-form.html" %}
{% else %}
  <div class="well"><div class="row">
    {% if feature_enabled('CFP_FINALISE') and proposal.state in ['accepted', 'finished']  %}
      <div>Your talk has been accepted! If you haven't already please visit
        <a href="{{ url_for('.finalise_proposal', proposal_id=proposal.id ) }}">finalise your details</a>.
      </div>
    {% elif proposal.state not in ['new', 'edit', 'rejected', 'cancelled'] %}
      <div class="col-md-12">
        You can't currently edit your proposal as it's being reviewed.
        If you have any questions please <a href="{{ url_for('.proposal_messages', proposal_id=proposal.id) }}">add a message</a>.
      </div>
    {% endif %}
    <div>&nbsp;</div>
    <div class="col-md-6">
      <legend>About your {{proposal.human_type}}</legend>
      <dl class="dl-vertical">
        <dt>Title</dt><dd>{{proposal.title}}</dd>
        <dt>Submitted</dt><dd>{{proposal.created.strftime('%d %B')}}</dd>
        <dt>Status</dt><dd>{{proposal.state|capitalize}}</dd>
        <dt>Description</dt><dd class="multiline">{{ proposal.description | urlize }}</dd>
      </dl>
    </div>
    {% if proposal.scheduled_duration and (proposal.type == 'talk' or proposal.type == 'workshop') %}
    <div class="col-md-6">
      <legend>Your scheduled slot</legend>
      <dl class="dl-horizontal">
        <dt>Slot length</dt><dd>{{proposal.scheduled_duration}} minutes</dd>
        <dt>Slot time</dt><dd>{% if proposal.scheduled_time %}{{proposal.scheduled_time.strftime('%A at %-I:%M %p')}}{% else %}Not yet scheduled{% endif %}</dd>
        <dt>Venue</dt><dd>{{proposal.scheduled_venue_name or "Not yet scheduled"}}</dd>
      </dl>
      <div>If your slot is not suitable, please <b><a href="{{ url_for('.proposal_messages', proposal_id=proposal.id) }}">  get in touch with us!</a></b></div>
    </div>
    {% else %}
    <div class="col-md-6">
      <legend>Further details</legend>
      <dl class="dl-horizontal">
        <dt>Requirements</dt><dd>{{proposal.requirements}}</dd>
        {% if proposal.type == 'talk' %}
          <dt>Length</dt><dd>{{proposal.length}}</dd>
          <dt>Notice Required</dt><dd>{{proposal.notice_required}}</dd>
        {% elif proposal.type == 'workshop' %}
          <dt>Length</dt><dd>{{proposal.length}}</dd>
          <dt>Notice Required</dt><dd>{{proposal.notice_required}}</dd>
          <dt>Attendees</dt><dd>{{proposal.attendees}}</dd>
          <dt>Cost per attendee</dt><dd>£{{proposal.cost}}</dd>
        {% elif proposal.type == 'installation' %}
          <dt>Notice Required</dt><dd>{{proposal.notice_required}}</dd>
          <dt>Size</dt><dd>{{proposal.size}}</dd>
          <dt>Funds requested</dt><dd>£{{proposal.funds}}</dd>
        {% endif %}
      </dl>
    </div>
    {% endif %}
  </div></div>
{% endif %}

{% endblock %}
