<p>We&rsquo;re looking for installations that attendees can admire and interact with all over the site.</p>

<p>If you need installation inspiration, the EMF 2026 theme is &lsquo;Space&rsquo;. Think discovery, engineering, exploration, and fascination with our home planet. From distant galaxies to our pale blue dot, neutron stars to the smallest microbacteria, we want you to get excited about what fascinates you out there.</p>

<p>In previous years we&rsquo;ve had strange objects that wander the site, an upside-down campfire, a bird box dispensing wisdom, a robotic spider, a radioactive xylophone, fields of light and always domes!</p>

<p>Please read the <strong>Installation Checklist</strong> below before bringing your project without proposal via the CfP. Proposing via the CfP means we can promote it, advise you on how to get the best out of the festival with it, and ensure it complies with site safety.</p>

<h3>Installation Support</h3>
<p>Our installation support team are available to advise you on <a href="{{ url_for('.installation_support') }}#help">whether you need to involve us</a>, as well as:</p>
<ul>
  <li>Safety, insurance, facilities</a></li>
  <li>Practicalities of installations (siting, power, safety)</li>
  <li>Accessibility, if you&rsquo;d like to discuss your access requirements, or need advice on how to make your installation accessible</li>
  <li><a href="{{ url_for('.installation_support') }}#matchmaking">Matchmaking</a> ideas &amp; people who might help build them</li>
  <li><a href="{{ url_for('.installation_support') }}#inspiration">Inspiration</a> - there is a theme and an open list of ideas</li>
  <li><a href="{{ url_for('.installation_support') }}#funding">Funding</a> ideas, if your proposal is funding dependent</li>
</ul>

<p>Head over to our <a href="{{ url_for('.installation_support') }}">Installations Guide page</a> for additional guidance before proposing.</p>

<h3>Installation Checklist</h3>

<p>If any of the following apply to your installation, then you should get in touch with us well in advance of the festival:</p>

<ul>
<li><strong>Safety</strong> &mdash; it involves fire, lasers, whirling blades, large structures, etc</li>
<li><strong>Size</strong> &mdash; it&rsquo;s bigger or heavier than you</li>
<li><strong>Access</strong> &mdash; you think you&rsquo;ll need to come early to set it up</li>
<li><strong>Visibility</strong> &mdash; you would like to put it in a prominent spot, for instance, inside or near any of the main structures</li>
<li><strong>Location</strong> &mdash; it has location requirements outside of your village, such as near or in the Lake, or in Null Sector</li>
<li><strong>Power</strong> &mdash; it needs site power, network or phones</li>
<li><strong>Noise</strong> &mdash; it makes noises that can be heard more than a couple of metres away</li>
<li><strong>Funding</strong> &mdash; bringing your proposal is funding dependent</li>
<li><strong>Transport</strong> &mdash; you need assistance getting your installation to EMF</li>
<li><strong>Privacy</strong> &mdash; it has a camera that could photograph or video attendees</li>
<li><strong>Concerned</strong> &mdash; you&rsquo;re not sure if any of these conditions apply!</li>
</ul>

<h3>What if I don&rsquo;t need to submit my installation?</h3>
<p>We&rsquo;d still love to hear about it! Drop us an email on <a href="mailto:installations@emfcamp.org">installations@emfcamp.org</a></p>

<h3>Tickets</h3>
<p>You will be guaranteed the opportunity to buy tickets if your installation proposal is accepted.</p>
