<h3>What we're looking for</h3>
<p>We're looking for installations for our attendees to admire and interact with all over the site. Think big.</p>
<p>In previous years we've had towers of flame, robots to drag around, trees that react to breathing, visualisations of black holes, fields of light that swarm around you, and domes as far as the eye can see.</p>

<p>This year we're setting a theme for installations &ndash; while anything goes, we're specifically looking for installations that play with the themes of Artificial Intelligence, Privacy, and Robotics. Think twenty years in the future and bring it to life in a fun way.</p>

<h3>Selection</h3>
<p>After you submit a proposal, it will be considered anonymously by a diverse
selection panel. For more on the EMF selection process, see our
  <a href="{{ url_for('.guidance') }}" target="_blank">guidance</a>.</p>
