<h3>What we're looking for</h3>
<p>We have a dedicated area with content for those under 13, and are looking for workshops that are both entertaining and educational.</p>
<p>At previous events we've had workshops on everything from giant bubbles to making weather stations, lego robots to 3D printing, pom-pom making to storytelling, and bridge building to geocaching.</p>

<p>We're also looking for installations that are focused at our younger attendees &ndash; things they can play, experiment, and build with. Perhaps a DIY marble run they can add to over the weekend, or a laser-maze they can climb through. If you'd like to submit an installation please email <a href="mailto:youth@emfcamp.org">youth@emfcamp.org</a>.</p>

<h3>What it's like</h3>
<p>We'll give you our youth workshop tent for up to four hours to give a workshop on any subject. Each workshop seats around 30 and comes equipped with a screen and speakers &ndash; we can also provide some equipment (such as soldering irons) on request. Workshops are first-come-first-served to prevent problems with people not showing up, and they are always full!</p>
<p>Before the event we'll make sure we can host your workshop properly, and during the event our Youth team will assist you with setup and teardown, as well as advising you on how best to run the workshop.</p>
