<h3>What we're looking for</h3>
<p>Lightning talks are super short talks on any topic: be it a random tip you think more people should know about to a quick investigation of complex biology.</p>

<h3>What it's like</h3>
<p>We'll be running lightning talk sessions Friday to Sunday with each session being up to 12 slots each 10 minutes long.</p>

<h3>Selection</h3>
<p>Slots are allocated first come, first served. You must submit your slides as a pdf as part of the submission and select which day you'd like to talk.</p>
