<p>As well as our sponsored crèche, the EMF team also organise a range of workshops for children up to the age of 13 in a separate workshop tent.</p>

<p>We are looking for activities that will appeal to our younger audience and encourage them to play, experiment and create.</p>

<p>In the past, workshops have included programming Lego robots, making UV torches, bridge building competitions, Pom pom making, storytelling and geocaching.</p>

<p>We’d also love to hear from you if you have an idea for an installation that would be suitable for our younger attendees. In 2016 we had a large DIY marble run that proved to be very popular and we’d really like to have more things like this. If you have an idea for an installation the please email <a href="mailto:youth@emfcamp.org">youth@emfcamp.org</a>.</p>

<h3>Practical considerations</h3>

<ul>
  <li>All children will be accompanied by an adult during workshops.</li>
  <li>The workshop tent can hold a maximum of 30 people per workshop, including accompanying adults.</li>
  <li>Youth workshops are generally one to two hours long, but can vary.</li>
  <li>Workshop attendance is operated on a first-come-first-served basis.</li>
  <li>The tent comes equipped with tables, chairs, screen, and PA system.</li>
  <li>The Youth team are available to provide advice &amp; assistance both before the festival and at any time during the event.</li>
</ul>
