<h3>What we're looking for</h3>
<p>At previous events we've had bands, singers, DJ's, algoravers, and people playing hazardous home-constructed instruments. We also have a full film track in the evening, and are looking for other forms of entertainment we have yet to host.</p>
<p>This year we'd really love to host bands who play traditional instruments, as well as things that go bleep and bloop - if you're in a string quartet, jazz trio, or a brass band, we'd love to give you a stage.</p>
<p>We're looking for anyone who might like to perform on-stage, on-site, or perhaps even in the bar. Anything goes.</p>

<h3>What it's like</h3>
<p>We'll give you one of our 800-standing-capacity stages outfitted with an amazing soundsystem for one hour in the evening. If this sounds scary, don't worry - it'll be dark, and our laser-display team can put on a spectacular light show if you want it.</p>
<p>Before the event our team will be in touch to gather your requirements, and on the day our Stage team will be there to assist with your setup and soundcheck.</p>
<p>If your performance does not involve music we can offer you many other areas to perform, and if you are a DJ we have a new area just for you!</p>

<h3>What we'd like from you</h3>
If you could give us a soundcloud link or youtube video of you performing, it'll help with our selection process.
<br>
<br>
