<p>As well as our sponsored crèche, the EMF team also organise a range of workshops for families in a separate workshop tent.</p>

<p>We are looking for activities that will appeal to our younger audience and encourage them to play, experiment and create.</p>

<p>This should be run in a drop-in fashion (i.e. assume that people may join at any time).</p>

<p>In the past, workshops have included programming Lego robots, making UV torches, bridge building competitions, pom pom making, storytelling, and geocaching.</p>

<p>We’d also love to hear from you if you have an idea for an installation that would be suitable for our younger attendees - giant DIY marble runs, interactive inflatable tentacles, giant colouring books, anything goes! If you have an idea for an installation please email <a href="mailto:family@emfcamp.org">family@emfcamp.org</a>.</p>

<h3>Practical considerations</h3>

<ul>
  <li>All children will be accompanied by an adult during workshops.</li>
  <li>The tent can hold a maximum of 30 people per workshop, including accompanying adults.</li>
  <li>The family workshop should be run in a drop-in fashion (don't expect people to join at the start or stay until the end).</li>
  <li>Family workshops are generally one to two hours long, but can vary.</li>
  <li>Attendance is operated on a first-come-first-served basis.</li>
  <li>The tent comes equipped with tables, chairs, screen, and PA system.</li>
  <li>The Family Team are available to provide advice &amp; assistance both before the festival and at any time during the event.</li>
</ul>
