<h3>What we're looking for</h3>
<p>At previous events we've had workshops on everything from camera building to paper circuits, deep learning to yarn making, virtual reality to bookbinding, and cocktail making to sim-card hacking. Anything goes!</p>

<p>If you're enthusiastic about it, we are too! You don't need to be a professional or an expert to lead a workshop.</p>

<h3>What it's like</h3>
<p>We'll give you one of our workshop tents for up to two hours to give a workshop on any subject. Each workshop seats 30 people and comes equipped with a screen and speakers &ndash; we can also provide some equipment (such as soldering irons) on request.</p>
<p>We operate an online sign-up system for workshops, with some tickets held back until closer to the start of the session, and a small queue for spaces left by no-shows. The workshops are always extremely popular and usually oversubscribed, and this will prevent long queues and allow people to plan their day.</p>
<p>Before the event our Workshops team will get in touch to coordinate what you need and ensure we can host your workshop. During the event they'll be available for support and coordinate with the team running the tent that's hosting your workshop.</p>

<h3>Selection</h3>
<p>After you submit a proposal, it will be reviewed anonymously by a diverse
selection panel. <a href="{{ url_for('.guidance') }}" target="_blank">Learn more about the selection process</a>.</p>
