<h3>What we're looking for</h3>
<p>At previous events we've had workshops on everything from camera building to paper circuits, deep learning to yarn making, virtual reality to bookbinding, and cocktail making to sim-card hacking. Anything goes, and the workshops are always completely booked up!</p>

<p>If you're enthusiastic about it, we are too! You don't need to be a professional or an expert to lead a workshop:
<strong>impostors are welcome</strong>.</p>

<h3>What it's like</h3>
<p>We'll give you one of our workshop tents for up to four hours to give a workshop on any subject. Each workshop seats 30 people and comes equipped with a screen and speakers &ndash; we can also provide some equipment (such as soldering irons) on request. Workshops are first-come-first-served to prevent problems with people not showing up, and they are always full!</p>
<p>Before the event we'll make sure we can host your workshop properly, and during the event our Speaker Operations team will assist you with setup and teardown, as well as advising you on how best to run the workshop.</p>
<p>If your workshop doesn't fit well in our workshop spaces we might put you in touch with one of the <a href="https://wiki.emfcamp.org/wiki/Villages">Villages</a> who may have more suitable facilities, and can publish your workshop in the schedule.</p>

<h3>Selection</h3>
<p>After you submit a proposal, it will be considered anonymously by a diverse
selection panel. For more on the EMF selection process, see our
  <a href="{{ url_for('.guidance') }}" target="_blank">guidance</a>.</p>
