<p>We're looking for installations that attendees can admire and interact with all over the site.</p>
<p>In previous years we've had towers of flame, robots to drag around, tentacles, trees that react to breathing, tiny electric racing vehicles, visualisations of black holes, fields of light that swarm around you, and domes as far as the eye can see. Think big!</p>

<h3>Installation Support</h3>
<p>Our installation support team are waiting for your call! We are available to help and advise you on:
<ul>
  <li>Working out <a href="{{ url_for('.installation_support') }}#help">if you need to involve us</a> (around safety, insurance, facilities)</li>
  <li>The practicalities of installations (siting, power, safety)</li>
  <li><a href="{{ url_for('.installation_support') }}#matchmaking">Matchmaking</a> between people with ideas &amp; others who want to build them</li>
  <li><a href="{{ url_for('.installation_support') }}#inspiration">Inspiration</a> - We have a theme and a list of ideas to get you started</li>
  <li>How to obtain <a href="{{ url_for('.installation_support') }}#funding">funding</a> for your project</li>
</ul>

<p>If these sound like things you'd like assistance with, <strong><a href="{{ url_for('.installation_support') }}">head over to our installation support pages</a></strong>.</p>

<h3>What installations should be submitted here?</h3>
<p>You only need to submit an installation if any of the following are true - otherwise just bring it along!</p>
<ul>
  <li><strong>Safety concerns</strong> &mdash; it involves fire, lasers, whirling blades, large structures, etc</li>
  <li><strong>Location</strong> &mdash; it needs a lot of space, is noisy, or won't be in your tent/village area</li>
  <li><strong>Null Sector</strong> &mdash; you would like to submit an installation for inclusion in Null Sector</li>
  <li><strong>Power</strong> &mdash; it has power requirements beyond a normal 13A plug/Ceeform</li>
  <li><strong>Funding</strong> &mdash; you need funding to help build your installation</li>
  <li><strong>Tickets</strong> &mdash; you want to apply for guaranteed tickets to EMF</li>
  <li><strong>Transport</strong> &mdash; you need assistance getting your installation to EMF</li>
  <li><strong>Concerned</strong> &mdash; you're not sure if any of these conditions apply!</li>
</ul>

<h3>What if I don't need to submit my installation?</h3>
<p>We'd still love to hear about it! Drop us an email on <a href="mailto:installations@emfcamp.org">installations@emfcamp.org</a></p>

<h3>Tickets</h3>
<p>We have a limited number of tickets reserved for exceptional installations. In order to be <a href="{{ url_for('.installation_support') }}#tickets">considered for the opportunity to buy these tickets</a> you <strong>must</strong> submit your installation to the Call for Participation.</p>
<br>
