<h3>What we're looking for</h3>
<p>At previous events we've heard about everything from genetic modification to
electronics history, antarctic research to eco houses, blacksmithing to
high-energy physics, reverse engineering to lock picking, computer security to
crocheting, and quadcopters to brewing.</p>

<p>If you're enthusiastic about it, we are too! You don't need to be a professional or an expert to present:
<strong>impostors are welcome</strong>.</p>

<h3>What it's like</h3>
<p>We'll give you one of our three stages for up to an hour to talk on any subject. Any 

<h3>Selection</h3>
<p>After you submit a proposal, it will be considered anonymously by a diverse
selection panel. For more on the EMF selection process, see our
  <a href="{{ url_for('.guidance') }}" target="_blank">guidance</a>.</p>
