{% set main_class = 'cfp-guidance' %}
{% extends "base.html" %}
{% block title %}Call for Participation Process{% endblock %}
{% block body %}
<div class="cfp-guidance well">
<h2>Call for Participation Process</h2>

<p>
  Electromagnetic Field uses an anonymised review process for talks and workshops to avoid bias and ensure
  that our schedule is as diverse and interesting as possible.
</p>

<p>
  At least 90% of talk and workshop slots are allocated using the anonymous review process. We have the option of
  manually approving a small number of proposals &mdash; we may use this option if the speaker is too high-profile
  to effectively anonymise, or in the case of a small number of invited speakers, but manually approved proposals never
  comprise more than 10% of the schedule.
</p>

<p>
  Performances, installations, and youth workshops are difficult to review anonymously, so these are considered
  separately by the responsible teams.
</p>

<h3>How it works</h3>
<p>
  After you've submitted your proposal, it will first be anonymised to check that there's no identifying detail.
  If we can't anonymise your proposal, we will send it back to you to revise it &mdash; we'll provide as much
  feedback as we can to make this easy.
</p>
<p>
  Once your proposal is anonymised, the title and description will be sent to our panel of reviewers. Our reviewers
  are a diverse group of people who are drawn from the EMF community and are not otherwise involved with the call
  for participation process. Each reviewer scores the anonymised proposals on a 3-point scale.
</p>
<p>
  Once we have enough reviewed proposals (we aim for at least 10 reviews per proposal), we will rank the
  proposals based on the reviewers' scores and accept a number of the top-rated proposals. You'll receive an update
  on the status of your proposal at this point.
</p>
<p>
  This step is repeated every few weeks until we have enough talks to fill the schedule. Any un-accepted talks will
  be rolled forward into the next round. Don't worry if you're not accepted in the first round, as we start off slowly
  to give later submissions a chance.
</p>
<p>
  A few weeks before the event, you will be asked to finalise your proposal &mdash; this will allow you to edit the title
  and description which will be shown in the schedule, and provide additional information such as what times you're
  available.
</p>
<p>
  If you submit late, or if your submission is not accepted into our main schedule, one of our
  <a href="{{url_for('base.page', page_name="villages")}}">villages</a> may still be able to offer you a slot.
</p>

</div>
{% endblock %}
