{% set main_class = 'cfp-guidance' %}
{% extends "base.html" %}
{% block title %}Call for Participation guidance{% endblock %}
{% block body %}
<div class="cfp-guidance well">

<h2>Call for Participation guidance</h2>

<h3>What we're looking for</h3>

<p>
  Anything you're enthusiastic about. If you enjoy it, the odds are we will too!
  You don't need to be an expert to propose anything, <strong>impostors are welcome.</strong>
  For ideas on what we've hosted before check out what we've had on previously:
  <ul>
    <li><a href="{{ url_for('base.talks_2012') }}">2012</a></li>
    <li><a href="{{ url_for('base.talks_2014') }}">2014</a></li>
    <li><a href="{{ url_for('base.talks_2016') }}">2016</a></li>
    <li><a href="https://www.youtube.com/ElectromagneticField">Our YouTube channel</a></li>
  </ul>
</p>

<p>
  We have five broad 'types' of proposal: talks, performances, workshops,
  youth workshops and installations. Some proposals may fall between categories
  and some outside. If this is the case, pick what you feel is most relevant
  and we'll work with you to figure out what's best.
</p>

<dl>
  <a id="talk"></a>
  <dt>Talks</dt>
  <dd>
    <p>
      We have three fully-equipped stages that can host a person or
      group to speak about something they find awesome.
    </p>
    <p>
      Previously our stages have hosted talks on bees, locking-picking, and
      in-depth discussions on Linux containers.
    </p>
  <a id="performance"></a>
  <dt>Performances</dt>
  <dd>
    <p>
      In the evenings we want to fill the site with music, art and films.
      Whether it's a DJ set, algorave or classical we want to hear you!
    </p>
    <p>
      Similarly we'd love to showcase interesting films and documentaries, so
      if you have stuff to show get in touch.
    </p>
  </dd>
  <a id="workshop"></a>
  <dt>Workshops</dt>
  <dd>
    <p>
      Workshops are one of the most popular features of EMF. Hosted in both our
      dedicated marquees and by various villages they allow attendees to try
      something different or pick up new tricks for old skills.
    </p>
    <p>
      Examples of workshops include arm knitting, spork-making, and programming.
    </p>
  </dd>
  <a id="youth-workshop"></a>
  <dt>Youth Workshops</dt>
  <dd>
    <p>
      We have a dedicated area with content for those under 13, and are looking
      for workshops that are both entertaining and educational.
    </p>
    <p>
      At previous events we've had workshops on everything from giant bubbles
      to making weather stations, lego robots to 3D printing, pom-pom making
      to storytelling, and bridge building to geocaching.
    </p>
  </dd>
  <a id="installation"></a>
  <dt>Installations</dt>
  <dd>
    <p>
      Installations run all weekend. Some are static and brought on to the site
      for people to look at or use, while others are built over the weekend.
    </p>
    <p>
      Entries for this include a retro arcade, a ride-on duck, and a spaceship
      in a caravan.
    </p>
  </dd>
</dl>

<hr>
<a class="collapse-toggle" role="button" data-toggle="collapse" href="#timeline" aria-expanded="true" aria-controls="#timeline">
  <h3>Timeline<small class="glyphicon glyphicon-chevron-down"></small></h3>
</a>
<div class="collapse in" id="timeline">
  <p>
    <strong>This is provisional and subject to change</strong>
  </p>
  <p>
    The call for participation is split into several rounds, each lasting about
    2 months. At the end of each rounds the submissions will be ranked and the
    top ranked submissions accepted. Submissions that aren't accepted will be
    added to later rounds.
  </p>
  <p>
    A month before the event the submissions that will be on the main stages and
    in the workshop tents (i.e. not hosted by villages) will be locked and the
    schedule will be created. The call for participation will remain open until
    the week before the event but the submissions will be set to villages.
  </p>
  <p>
    If you would like to present on one of our main stages or in a workshop tent
    (and especially if you have any requests of us) you should aim to have your
    submission in <strong>by 6th July</strong> (i.e. 8 weeks before).
  </p>
</div>

<hr>

<a class="collapse-toggle" role="button" data-toggle="collapse" href="#process" aria-expanded="true" aria-controls="#process">
  <h3>The process <small class="glyphicon glyphicon-chevron-down"></small></h3>
</a>
<div class="collapse in" id="process">
  <p>
    We believe diverse views make a better festival. This is why we want people
    from diverse backgrounds to be involved. To facilitate this we use an
    anonymised review process for talk and workshop submissions.
  </p>
  <ol>
    <li>
      You send us your amazing submission.
    </li>
    <li>
      We anonymise it. If we can't, we may ask you to re-write bits of it;
      we'll provide as much feedback as we can to make this easy.
    </li>
    <li>
      The anonymised title &amp; description are sent to our reviewers. These are
      a diverse set of people chosen from amongst our community.
    </li>
    <li>
      Each reviewer scores the submissions in their category depending on how
      interested in the topic they are.
    </li>
    <li>
      The submissions are then ranked using the reviewers' scores.
    </li>
    <li>
      The top submissions are then accepted. Regardless of whether your
      submission is accepted, we'll let you know. In early rounds we'll
      only be accepting a small number of submissions, but you may be accepted
      in a later round (in which case we'll let you know).
    </li>
    <li>
      If your submission has been accepted we'll then check that you're happy
      with its title and description (as they'll appear in the schedule) and
      gather any remaining information from you.
    </li>
  </ol>
</div>

<hr>

<a class="collapse-toggle" role="button" data-toggle="collapse" href="#faq" aria-expanded="true" aria-controls="#faq">
  <h3>The FAQ<small class="glyphicon glyphicon-chevron-down"></small></h3>
</a>
<div class="collapse in" id="faq">
  <dl>
    <dt>I have (further) questions!</dt>
    <dd>
      If it's not here (or in the
      <a href="https://wiki.emfcamp.org/wiki/FAQ">wiki FAQ</a>) then feel free
      to <a href="mailto:{{ config['CONTENT_EMAIL'][1] }}">email us</a>.
    </dd>
    <dt>Why do you have your own messaging system?</dt>
    <dd>
      Because wrangling email from multiple people, possibly on
      multiple topics (i.e. if one person has several submissions) rapidly gets
      very tricky.

      We realise being sent a "you have pending messages" email sucks and we'd
      rather not do it but we just couldn't make alternatives work in the time
      we had to implement all of this.
    </dd>
    <dt>What goes through the anonymised review process?</dt>
    <dd>
      <p>
        We use the review process for the bulk of the content we host: talks
        and workshops. Youth workshops, performances, and installations are
        treated separately (generally by a smaller group of people).
      </p>
    </dd>
    <dt>Why don't youth workshops/performances/installations go through the same review process?</dt>
    <dd>
      <p>
      In the case of youth workshops we have to check details more thoroughly.
      Performances and installations are more difficult to anonymise and often have more
      stringent requirements.
      </p>
    </dd>
    <dt>Do I need a DBS check to run a youth workshop?</dt>
    <dd>
      <p>
      </p>
        No (but it's helpful if you do).
    </dd>
  </dl>
</div>


<hr>

<a class="collapse-toggle" role="button" data-toggle="collapse" href="#form" aria-expanded="true" aria-controls="#form">
  <h3>The form<small class="glyphicon glyphicon-chevron-down"></small></h3>
</a>
<div class="collapse in" id="form">
  <p>
    The forms are broadly the same regardless of whether they're for a talk,
    workshop, or installation. Each submission has two or three parts: 'Your
    details', 'About your ...', and 'More details'. The first of these is used
    to create a new account (you won't see this if you're logged in). The
    second section is anonymised and sent for review. The final consists of
    details that help our planning.
  </p>

  <p>
    This section will highlight a couple of important points about the forms.
  </p>

  <dl>
  <a id="form-name"></a>
    <dt>Name &amp; Email</dt>
    <dd>
        We use these to create a new account. Your personal details
        won't be seen by our review panel.
    </dd>
    <a id="form-title"></a>
    <dt>Title &amp; Description</dt>
    <dd>
      A short summary and fuller description of your proposal. As these will be
      anonymised, please try to avoid personally identifiable information.
      They'll also be used to produce our schedule (although you'll have a
      chance to edit them beforehand).
    </dd>
    <a id="form-requirements"></a>
    <dt>Requirements</dt>
    <dd>
      Depending on the type of your proposal you will likely have different
      needs. If we know what they are ahead of time we can help make sure they
      don't cause problems. Basic equipment, including microphones and
      projectors, will be available to everyone.
    </dd>
    <a id="form-help"></a>
    <dt>The help checkbox</dt>
    <dd>
      If you're unsure about your proposal and would like some help with it, or
      if you want some advice on carrying out your submission (e.g. preparing
      slides, running a workshop) tell us! We don't consider lack of experience
      a problem and we welcome those who haven't given talks before.
    </dd>
    <a id="form-notice"></a>
    <dt>Notice</dt>
    <dd>
      Preparing talks, planning workshops and building installations take time, and we
      don't want to waste yours. If you let us know how much notice you require
      to organise your submission we'll do all we can to let you know before that
      deadline.
    </dd>
    <a id="form-length"></a>
    <dt>Duration (talks and workshops)</dt>
    <dd>
      We have a fixed amount of space and time during the event. By letting us
      know how long your talk or workshop will run for we can figure out where
      to place you in the schedule (this doesn't apply to installations as it's
      assumed they'll run for most of the weekend).
    </dd>
    <a id="form-attendees"></a>
    <dt>Attendees (workshops only)</dt>
    <dd>
      Workshops involve more interaction than talks and this often puts a tighter
      limit on the number of attendees. Estimating the number of people that you
      feel capable of teaching at once will help us organise the schedule.
    </dd>
    <a id="form-attendee-equipment"></a>
    <dt>Attendees Equipment (workshops only)</dt>
    <dd>
      Things attendees will be expected to bring themselves (e.g. laptops for
      a programming workshop).
    </dd>
    <a id="form-cost"></a>
    <dt>Cost per attendee (workshops only)</dt>
    <dd>
      Many workshops have a material cost, and obviously it is unfair to ask you to
      bear this. Letting us know what this fee is likely to be will help us
      plan.
    </dd>
    <a id="form-size"></a>
    <dt>Size (installations only)</dt>
    <dd>
      Unlike talks and workshops, we need to plan for installations
      to coexist with each other. This size information doesn't have
      to be incredibly precise, but a reasonable estimate allows us
      to find a good place to put it, as well as ensure it's viable.
    </dd>
    <a id="form-funding"></a>
    <dt>Funding (installations only)</dt>
    <dd>
      EMF has some limited amount of funds that we can use to help installations.
    </dd>
  </dl>
</div>

</div>
{% endblock %}
