{% from "_formhelpers.html" import render_field %}
{% extends "base.html" %}
{% block title %}Call for Participation{% endblock %}
{% block body %}
<h2>Call for Participation</h2>
    <p class="emphasis"><a href="{{ url_for('base.about') }}">Electromagnetic
        Field</a> is a UK camping festival for those with an inquisitive mind
        or an interest in making things. It will be held from {{ fancy_dates }} at <a
        href="https://wiki.emfcamp.org/wiki/Location">Eastnor
        Castle Deer Park</a>, Ledbury.</p>

    <p>We're looking for talks, performances, installations, and workshops for
    all ages.  We're especially keen to hear from people with
      different backgrounds than you'd expect to find at a technology conference.</p>

    <p>At previous events we've heard about everything from genetic modification
      to electronics, blacksmithing to high-energy physics, reverse engineering
      to lock picking, computer security to crocheting, and quadcopters to brewing.
      If you're enthusiastic about it, we are too! You don't need to be a
      professional or an expert to present: <strong>impostors are
      welcome</strong>.</p>

    <h3>Money</h3>
    <p>EMF is a non-profit community event, entirely run by unpaid volunteers. All of
      the ticket cost goes directly towards turning a field into a habitable and amazing place
      to spend a weekend, and all those who attend contribute to making the event a success.</p>

    <p>You will be guaranteed <strong>two</strong> tickets to EMF if your
    proposal is accepted, with the option of a discounted weekend ticket or a
    free day ticket. We also have some budget to cover transport costs for
    those who can't otherwise afford to come.</p>

    <p>We ask that if you can afford it, you buy a full price ticket - this
    allows us to use our limited funds to assist those who otherwise could not
    attend or present at the event.</p>

    <h3>Selection</h3>
    <p>After you submit a proposal, it will be considered by a diverse
      selection panel. For more on the EMF selection process, see our
        <a href="{{ url_for('.guidance') }}" target="_blank">guidance</a>.</p>

    <h2>Submit a new proposal</h2>
    <p>Please select the type of proposal you want to submit:</p>
    <div class="list-group cfp-choose-type">
        <a href="{{ url_for('cfp.form', cfp_type='talk') + ('?closed' if ignore_closed else '') }}" class="list-group-item"><strong>Talk</strong> &ndash; A presentation on a stage</a>
        <a href="{{ url_for('cfp.form', cfp_type='workshop') + ('?closed' if ignore_closed else '') }}" class="list-group-item"><strong>Workshop</strong> &ndash; A workshop in an area with tables &amp; other equipment</a>
        <a href="{{ url_for('cfp.form', cfp_type='youthworkshop') + ('?closed' if ignore_closed else '') }}" class="list-group-item"><strong>Youth Workshop</strong> &ndash; A workshop for attendees under 13</a>
        <a href="{{ url_for('cfp.form', cfp_type='performance') + ('?closed' if ignore_closed else '') }}" class="list-group-item"><strong>Performance</strong> &ndash; A performance of music, art, dance, or film</a>
        <a href="{{ url_for('cfp.form', cfp_type='installation') + ('?closed' if ignore_closed else '') }}" class="list-group-item"><strong>Installation</strong> &ndash; A creation for attendees to admire or interact with</a>
    </div>

    {% if current_user.is_authenticated %}
      <p>If you've already submitted a proposal, you can
        view and edit it <a href="{{ url_for('.proposals') }}">here</a>.</p>
    {% else %}
      <p>If you have already submitted a proposal
        need to <a href="{{ url_for('users.login', next=url_for('.proposals') ) }}">login</a>
        in order to view or edit it.</p>
        {% endif %}

{% endblock %}
