{% from "_formhelpers.html" import render_field %}
{% extends "base.html" %}
{% block title %}Proposal Messages - {{ proposal.title }}{% endblock %}
{% block body %}

<ul class="nav nav-tabs">
  <li role="presentation">
    <a href="{{ url_for('.edit_proposal', proposal_id=proposal.id) }}">Details</a>
  </li>
  <li role="presentation" class="active">
    <a href="">
      Messages
      {% set unread_count = proposal.get_unread_count(current_user) %}
      {% if unread_count > 0 %}
        <span class="badge">{{ unread_count }}</span>
      {% endif %}
    </a>
  </li>
</ul>

<table class="table">
{% for msg in messages %}
<tr class="{{ loop.cycle('odd', 'even') }}">
  <td>
    <div class="row">
      <div class="col-sm-6">
        {% if msg.is_user_recipient(current_user) and not msg.has_been_read %}
        <small><span class="glyphicon glyphicon-envelope"></span></small>
        {% endif %}
        {% if msg.is_user_recipient(current_user) %}
        {{ msg.from_user.name }}
        {% else %}
        {{ current_user.name }}
        {%- endif -%}
        {% if msg.is_user_recipient(current_user) and not msg.has_been_read %}
        </b>
        {% endif %}
      </div>
      <div class="col-sm-3 pull-sm-right">
        <small>{{ msg.created.strftime('%Y-%m-%d %H:%M') }}</small>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="multiline">{{ msg.message }}</div>
      </div>
    </div>
  </td>
</tr>
{% endfor %}
</table>

<form method="post" action="{{ url_for('.proposal_messages', proposal_id=proposal.id) }}">
    {{ form.hidden_tag() }}
    {{ render_field(form.message, tabindex=1) }}
    <div class="pull-right">
        {{ form.send(class_='btn btn-success debounce', tabindex=2) }}
        &nbsp;
        {{ form.mark_read(class_='btn btn-success debounce') }}
    </div>
</form>

{% endblock %}
