{% set main_class = 'cfp-guidance' %}
{% extends "base.html" %}
{% block title %}Call for Participation Proposal Advice{% endblock %}
{% block body %}
<div class="cfp-guidance well">
<h2>So you want to submit a proposal to EMF</h2>

<p>We love reading your talk and workshop proposals – EMF wouldn't exist without ridiculously
    talented people getting up on stage and sharing their favourite things.</p>

<p>But we also know that the proposal form can be daunting, especially for first-timers.
    You know what you want to do, but how do you get that across in your application?
    Here's some advice to help you think about your proposal and make it sound amazing to
    the review team.</p>

<h3>Make it about what you love</h3>

<p>We're not the average business or tech conference. This isn't about boosting your LinkedIn profile.
    This certainly isn't about interviewing for a job. This is about sharing what you love with other people who
    want to learn about it. So you don't have to talk about something you do at work; you don't have to try to sell us
    something. You just have to love something so much you want to shout about it to the world. If your proposal sounds
    like a sales pitch or an academic paper, and there's no heart in it, you're more likely to be turned down.</p>

<h3>Don't rely on AI to write it for you</h3>

<p>You might think that it'll help you, that it'll make it sound better, but it won't. You know how we said we
    want stuff that has heart in it? Yeah, ChatGPT or Gemini or Claude or whatever...they're not interested in the heart,
    they're interested in making things bland and uninteresting. And it'll be spotted practically immediately. This doesn't
    mean you can't spell check. This doesn't mean you can't check the grammar. We just don't want it writing the entire
    thing for you. We want to hear what <em>you</em> think. What <em>you</em> love. Not what some large language model thinks
    is statistically plausible.</p>

<h3>Remember the audience</h3>

<p>While EMF is filled with nerdy, geeky, scientific, making-stuff kind of people, we're all coming from different backgrounds
    and we all have different experiences. Think about how your proposal would sound to a person on the street. Is it too
    technical? Are you using too much jargon? Is there a simpler way to describe what it's about? You're going to be up on stage
    explaining it to an audience that'll be all ages, all levels of education, and all different backgrounds, so if you're not
    sure it makes sense, ask a friend to review it, or ask online. There are people who want to help.</p>

<h3>Keep it anonymous</h3>

<p>When we review proposals, we like to make our decisions as free from personal bias as possible. We have a button to
    click when we recognise who the person is, taking us out of the voting process. So if there's anything in the proposal
    that makes it really obvious who you are, we'll have to send it back to you to rewrite it. Make sure you haven't included
    URLs, papers you've written, anything like that. You don't have to prove your credibility to us,
    you just have to love what you're talking about.</p>

<h3>Tell us what you need</h3>

<p>If you're planning on running a workshop, it's helpful to include what people will need to bring, what they'll
    need to install, and what you'll have on hand to use. Spending half a workshop just installing everything doesn't help
    anyone learn, and working out what you want will help you decide if maybe you're trying to do too much in a small amount
    of time. Plus, if you're thinking about selling a kit during the workshop, we can work with you to make sure people can
    purchase it without you having to make sure you have the right change or a card reader.</p>

<h3>Don't be afraid to get out there</h3>

<p>We love first-time speakers. We love obscure topics. We love people talking about their hobbies. We want to see even more
    amazing stuff in the tents, showing us the wonders of the world. So don't be afraid to go a little wild – talk about that
    random historical era you obsess over. Show us how you've used technology in a weird and different way. Talk about your
    experiences. Have us join your adventure. You've done amazing things in your life, and this is your chance to shine.</p>

<p><strong>Good luck!</strong></p>

</div>
{% endblock %}
