{% extends "base.html" %}
{% block title %}Your proposals{% endblock %}
{% block body %}

<h1>Your proposals</h1>

<table class="table">
  {% set cfp_cycler = cycler('odd', 'even') %}
  {% for proposal in proposals %}
  <tr class="{{- cfp_cycler.next() }}">
    <td>
      <h4><a href="{{ url_for('.edit_proposal', proposal_id=proposal.id) }}">{{ proposal.title }}</a></h4>
      <p>{{ proposal.type|title }}</p>
      <dl class="dl-horizontal">
        <dt>Submitted</dt>
        <dd>{{ proposal.created.strftime('%d %B') }}</dd>
        <dt>Status</dt>
        <dd>
        {% if proposal.state == 'new' %}
          Open for edits
        {% elif proposal.state == 'locked' %}
          Locked for edits (being anonymised)
        {% endif %}
        </dd>
        {% if proposal.type == 'talk' %}
        <dt>Duration</dt>
        <dd>{{ proposal.length }}</dd>
        {% elif proposal.type == 'workshop' %}
        <dt>Duration</dt>
        <dd>{{ proposal.length }}</dd>
        {% elif proposal.type == 'installation' %}
        <dt>Size</dt>
        <dd>{{ proposal.size }}</dd>
        {% endif %}
        <dt>Required notice</dt>
        <dd>{{ proposal.notice_required }}</dd>
      </dl>
    </td>
  </tr>
  {% endfor %}

</table>

<div class="pull-right">
  <a href="{{ url_for('users.account') }}" class="btn btn-default">Back</a>
  <a href="{{ url_for('cfp.main') }}" class="btn btn-success">Submit a new proposal</a>
</div>

{% endblock %}
