{% from "cfp/_proposal_state_label.html" import proposal_state_label %}

{% extends "base.html" %}
{% block title %}Your proposals{% endblock %}
{% block body %}
{% include "account/_nav.html" %}

<h2>Your proposals</h2>

{% for proposal in proposals %}
<div class="well">
    <div class="row">
    <div class="col-md-12"><h3>{{ proposal.human_type | title_add }}: {{ proposal.title }}</h3></div>
    <div class="col-md-9">
    <dl class="dl-horizontal">
    <dt>Submitted</dt>
    <dd>{{ proposal.created.strftime('%d %B') }}</dd>
    <dt>Status</dt>
    <dd>
    {{ proposal_state_label(proposal) }}
    </dd>
    <dt>Messages</dt>
    <dd>
        <a href="{{ url_for('.proposal_messages', proposal_id=proposal.id) }}">
        {{ proposal.get_unread_count(current_user) }} unread of {{ proposal.messages | length }}
        </a>
    </dd>
    {% if not proposal.schedule_item %}
        <dt>Required notice</dt>
        <dd>{{ proposal.notice_required }}</dd>
    {% else %}
        {% for occurrence in proposal.schedule_item.occurrences %}
        {% if proposal.schedule_item.occurrences | length > 1 %}
        <dt>Instance</dt><dd>{{ occurrence.occurrence_num }}</dd>
        {% endif %}
        {% if occurrence.scheduled %}
            <dt>Slot length</dt><dd>{{ occurrence.scheduled_duration }} minutes</dd>
            <dt>Slot time</dt><dd><b><font color="green">{{ occurrence.scheduled_time.strftime('%A %d %B at %H:%M') }}</font></b></dd>
            <dt>Venue</dt><dd>{{ occurrence.scheduled_venue.name }}</dd>
        {% else %}
            <dt>Venue</dt><dd>Not yet scheduled</dd>
        {% endif %}
        {% endfor %}
    {% endif %}

    {% if proposal.type == 'installation' %}
        <dt>Size</dt>
        <dd>{{ proposal.size }}</dd>
    {% else %}
        <dt>Duration</dt>
        <dd>{{ proposal.duration }}</dd>
    {% endif %}

    </dl>
    </div>

    <div class="col-md-3">
        <div class="btn-group btn-group-vertical pull-right">
            <a href="{{ url_for('.edit_proposal', proposal_id=proposal.id) }}" class="btn btn-info">{% if proposal.is_editable %}Edit{% else %}View{% endif %}</a>
            {% if feature_enabled('CFP_FINALISE') and proposal.state in ["accepted", "finalised"] and proposal.schedule_item %}
            <a href="{{ url_for('.finalise_proposal', proposal_id=proposal.id ) }}" class="btn btn-primary">Confirm details</a>
            {% endif %}
            {% if proposal.state != "withdrawn" %}
                <a href="{{ url_for('.withdraw_proposal', proposal_id=proposal.id) }}" class="btn btn-danger">Withdraw</a>
            {% endif %}
        </div>
    </div>
</div>
</div>
{% endfor %}

<h2>Your Lightning talks</h2>

{% for l_talk in lightning_talks %}
    <div class="well">
        <div><h3>{{l_talk.title}}</h3></div>
        <div class="col-md-9">
            <p>Session: {{ l_talk.occurrence.scheduled_time.strftime("%A %H:%M") }} on {{ l_talk.occurrence.scheduled_venue.name }}</p>
        </div>
        <div class="col-md-3">
            <div class="pull-right"><a href="{{ url_for("cfp.edit_lightning_talk", lightning_talk_id=l_talk.id) }}" class="btn btn-info">Edit</a></div>
        </div>
        &nbsp;
    </div>
{% endfor %}

<div class="pull-right">
  <a href="{{ url_for('cfp.main') }}" class="btn btn-success">Submit a new proposal</a>
</div>

{% endblock %}
