{% extends "base.html" %}
{% block title %}EMF 2016 Schedule{% endblock %}
{% block head %}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/dhtmlxscheduler_flat.css' ) }}">
{% endblock %}
{% block body %}
<h1>Schedule schedule schedule</h1>
<div id="scheduler_here" class="dhx_cal_container" style='width:100%; height:900px;'>
  {% for slot in schedule_data %}
    {# Need to group schedule_data by day & location for easy parsing #}
    {# Probably best to have two data objects in here, one for passing to #}
    {# dhtml scheduler and the other for making the JS free version #}
  {% endfor %}
</div>

{% endblock %}
{% block foot %}
  <script src="{{ url_for('static', filename='js/dhtmlxscheduler.js') }}"></script>
  <script>
    (function(){
      'use strict';
      var windowHeight = $('body').height(),
          schedulerDiv = $('#scheduler_here'),
          schedulerHeight = windowHeight - schedulerDiv.offset().top - 200,
          scheduleData = {{ schedule_data | tojson | safe }};

      // Manually set the scheduler height so it actually renders because
      // javascript and CSS
      schedulerHeight = (schedulerHeight < 100) ? windowWidth : schedulerHeight;

      schedulerDiv.height(schedulerHeight);
      schedulerDiv.append(
        '<div class="dhx_cal_navline">\n' +
          '<div class="dhx_cal_prev_button">&nbsp;</div>\n' +
          '<div class="dhx_cal_next_button">&nbsp;</div>\n' +
          '<div class="dhx_cal_today_button"></div>\n' +
          '<div class="dhx_cal_date"></div>\n' +
          '<div class="dhx_cal_tab" name="day_tab" style="right:204px;"></div>\n' +
          '<div class="dhx_cal_tab" name="week_tab" style="right:140px;"></div>\n' +
          '<div class="dhx_cal_tab" name="month_tab" style="right:76px;"></div>\n' +
        '</div>\n' +
        '<div class="dhx_cal_header"></div>\n' +
        '<div class="dhx_cal_data"></div>'
      );

      scheduler.init('scheduler_here', new Date(2014, 7,29, 10), "week");
      scheduler.parse(scheduleData, 'json');
    })();
  </script>
{% endblock %}
