{% extends "base.html" %}
{% block title %}EMF {{year}} Talks{% endblock %}
{% if year == 2013 %}
  {% set event_name = "Electromagnetic Wave %s" % year %}
{% else %}
  {% set event_name = "Electromagnetic Field %s" % year %}
{% endif %}
{% block body %}
<h2>{{event_name}} Talks</h2>
<p>These were the talks and workshops which happened at {{event_name}}.</p>

{% for venue in venues %}
{% set venue_loop = loop %}

<h3>{{ venue.name }}</h3>

<table class="table">
<thead>
  <tr><th>
    <div class="col-sm-3">Name</div>
    <div class="col-sm-9">Title</div>
  </th></tr>
</thead><tbody>
{% for row in venue.events %}
  <tr class="{{- loop.cycle('odd', 'even') }}"><td>
    <a href="{{url_for('schedule.item', year=year, proposal_id=row.id)}}" >
        <div class="col-sm-3"><strong>{{ row.speaker }}</strong></div>
        <div class="col-sm-8">{{ row.title }}</div>
    </a>
  </td></tr>
{% endfor %}
</tbody>
</table>

{% endfor %}

{% endblock %}
