{% extends "base.html" %}
{% block title %}2014 Talks{% endblock %}
{% block body %}
<h2>Electromagnetic Field 2014 Talks</h2>
<p>These were the talks which happened at EMF 2014.
Most of them are now available <a href="https://www.youtube.com/playlist?list=PL1Hr6VkuONaHy8EZtLIXIMZQ858315pmt">on YouTube</a>.</p>

<table class="table">
  <thead>
  <th>Name</th><th>Title</th>
</thead>
<tbody>
{% for row in talks %}
<tr class="{{- loop.cycle('odd', 'even') }}">
    <td><strong>{{ row.0 }}</strong></td><td>{{ row.1 }}</td>
</tr>
{% endfor %}
</tbody>
</table>
{% endblock %}
