{% extends "base.html" %}
{% block title %}EMW 2013 Talks{% endblock %}
{% block body %}
<h2>Electromagnetic Wave 2013 Talks</h2>
<p>These were the talks and workshops which happened at Electromagnetic Wave 2013.</p>

{% for venue in venues %}
{% set venue_loop = loop %}

<h3>{{ venue.name }}</h3>

<table class="table">
<thead>
  <tr><th>
    <div class="col-sm-3">Name</div>
    <div class="col-sm-9">Title</div>
  </th></tr>
</thead><tbody>
{% for row in venue.events %}
  <tr class="{{- loop.cycle('odd', 'even') }}"><td>
    <a class="collapse-toggle" role="button" data-toggle="collapse" href="#event{{ venue_loop.index }}-{{ loop.index }}" aria-expanded="true" aria-controls="#event{{ venue_loop.index }}-{{ loop.index }}">
        <div class="col-sm-3"><strong>{{ row.speaker }}</strong></div>
        <div class="col-sm-8">{{ row.title }}</div>
        <div class="col-sm-1 pull-right">
            <small class="glyphicon glyphicon-chevron-down"></small>
        </div>
    </a>
    <div id="event{{ venue_loop.index }}-{{ loop.index }}" class="collapse col-sm-12">
      <p></p>
      {{ row.description }}
      <p></p>
    </div>
  </td></tr>
{% endfor %}
</tbody>
</table>

{% endfor %}

{% endblock %}
