{% extends "base.html" %}
{% block title %}Your tickets{% endblock %}
{% block body %}

{% if tickets %}
  <h3>Your tickets</h2>
  <a id="your-tickets"></a>
  {% include "tickets-main/ticket-list.html" %}
  <div class="clearfix"></div>
{% endif %}

{% if other_items %}
  <h3>Your other purchases</h2>
  <a id="your-tickets"></a>
  {% include "tickets-main/other-items-list.html" %}
  <div class="clearfix"></div>
{% endif %}


{% if payments %}
  <h3>Your payments</h2>
  <a id="your-payments"></a>
  {% include "tickets-main/payments.html" %}
  <div class="clearfix"></div>
{% endif %}

{% if transferred_to %}
  <h3>Tickets received</h2>
  <a id="transfers-to"></a>
  {% include "tickets-main/transferred-to.html" %}
  <div class="clearfix"></div>
{% endif %}

{% if transferred_from %}
  <h3>Tickets given</h2>
  <a id="transfers-from"></a>
  {% include "tickets-main/transferred-from.html" %}
  <div class="clearfix"></div>
{% endif %}

<div class="pull-right">
    <a href="{{ url_for('tickets.choose') }}" class="btn btn-primary">Buy another ticket</a>
</div>

{% endblock %}
{% block foot %}
<script type="text/javascript">
$(function() {
  $('#summary').children().toggle();
});
</script>
{% endblock %}
