{% from "_datehelpers.html" import pprint_timedelta %}
{% if show_receipt and feature_enabled('ISSUE_TICKETS') %}
<p>
<a class="btn btn-success" href="{{ url_for('tickets.receipt') }}">Printable ticket</a>
<a class="btn btn-primary" href="{{ url_for('tickets.receipt') + '?pdf=1' }}">Download PDF</a>
</p>
{% endif %}
<table class="table tickets btns-table">
  <thead>
    <tr>
      <th>Type</th>
      <th>Status</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
{%- for t in tickets -%}

<tr class="
{{- loop.cycle('odd', 'even') }}
{%- if t.is_paid_for %} paid {%- endif -%}
{%- if t.payment and t.payment.expired %} expired {%- endif -%}
">
<td>{{ t.price_tier.parent.display_name }}</td>
<td>
    {%- if t.is_paid_for %}
    Paid
    {%- elif t.refund %}
    Refunded
    {%- elif t.payment and t.payment.expired %}
    Unpaid
    {%- else %}
    Pending {% if t.payment.expires -%} (expires in {{ pprint_timedelta(t.payment.expires_in) }}) {%- endif %}
    {%- endif %}
</td>
<td>
  {% if t.is_paid_for and t.type.is_transferable %}
    <a class="btn btn-default" href="{{ url_for('.transfer', ticket_id=t.id) }}">Transfer</a>
  {% endif %}
</td>
</tr>
{% endfor -%}
  </tbody>
</table>

{% if not (show_receipt and feature_enabled('ISSUE_TICKETS')) %}
<p>We'll email you when your e-tickets are ready closer to the event.</p>
{% endif %}
