{% extends "base.html" %}
{% block title %}Jobs{% endblock %}

{% block body %}
  <h1>Jobs</h1>

  <p>
    These job postings were submitted by our kind sponsors that helped make EMF happen this year. Click any entry for more details.
  </p>

  <table class="table" id="jobs-table">
    <thead>
      <tr>
        <th>Title</th>
        <th>Company</th>
        <th>Location</th>
        <th>Remuneration</th>
      </tr>
    </thead>
    <tbody>
      {%- for job in jobs -%}
      <tr data-href="{{job.url}}">
        <td>{{job.title}}</td>
        <td>{{job.company}}</td>
        <td>{{job.location}}</td>
        <td>{{job.remuneration}}</td>
      </tr>
      {% endfor -%}
    </tbody>
  </table>
{% endblock %}

{% block foot %}
  <script type="text/javascript" src="{{static_url_for('static', filename="js/jobs_board.js")}}"></script>
{% endblock -%}
