{% macro list_proposals(proposals) %}
    {% for human_type, human_type_proposals in proposals | groupby('human_type') %}
        <h2 class="event-type">{{ human_type | title }}</h2>
        <form method="post" action="{{url_for(".add_favourite")}}">
        <input type="hidden" name="event_type" value="proposal">
        <div>
            {% for prop in human_type_proposals %}
            <a href="{{ url_for('.item', proposal_id=prop.id, slug=prop.slug) }}" class="event proposal" id="proposal-{{ prop.id }}">
            <div class="row">
                <div class="col-xs-10">
                    <div>
                        <b>{{ prop.published_names or prop.user.name }}</b>
                        {% if not prop.may_record and prop.type == 'talk' and prop.state == 'finished' %}
                        <span style="padding-left: 10px;" title="This talk will not be recorded">🎦🚫</span>
                        {% endif %}
                    </div>
                    <div>
                        {{ prop.display_title }}
                    </div>
                </div>
                {% if current_user.is_authenticated %}
                <div class="col-xs-2">
                    <button name="fave" value="{{ prop.id }}" type="submit" class="btn btn-primary btn-transparent btn-hoverlabel favourite-button">
                        <span class="glyphicon glyphicon-heart{% if prop not in current_user.favourites %}-empty{% endif %} favourite-icon" aria-hidden="true"></span>
                        <span class="hoverlabel">Favourite</span>
                    </button>
                </div>
                {% endif %}
            </div>
            </a>
            {% endfor %}
        </div>
        </form>
    {% endfor %}
{% endmacro %}
