{# reusable icons #}
{% macro schedule_item_icons(schedule_item) %}
  {% if schedule_item.default_video_privacy == 'none' %}
  <span style="padding-left: 10px;" title="This {{ schedule_item.human_type }} will not be recorded"><img src="{{ static_url_for('static', filename='images/icons/not-recorded.svg') }}" width="24" height="24"></span>
  {% endif %}
  {% if isinstance(schedule_item.attributes, TalkAttributes | WorkshopAttributes | YouthWorkshopAttributes) %}
    {% if schedule_item.attributes.content_note %}
    <span style="padding-left: 10px;" title="There is a content note on this {{ schedule_item.human_type }}">⚠️</span>
    {% endif %}
  {% endif %}
  {% if isinstance(schedule_item.attributes, TalkAttributes | WorkshopAttributes) %}
    {% if schedule_item.attributes.family_friendly %}
    <span style="padding-left: 10px;" title="This {{ schedule_item.human_type }} is family friendly">{{ [ "👪","👩‍👧","👩‍👩‍👧","👨‍👦‍👦","👩‍👩‍👧‍👧"] | random }}</span>
    {% endif %}
  {% endif %}
  {% if schedule_item.type_info.supports_lottery %}
    {% if any(occurrence.lottery for occurrence in schedule_item.occurrences) %}
      <span style="padding-left: 10px;" title="This {{ schedule_item.human_type }} requires you sign up for a ticket">🎟</span>
    {% endif %}
  {% endif %}
{% endmacro %}
