{% from "schedule/_faves.html" import favourite_icons %}
{% from "schedule/_schedule_item_icons.html" import schedule_item_icons %}

{# List schedule items - works for the current event year only #}
{% macro list_schedule_items(grouped_schedule_items, ordered_type_infos, jump_links=False) %}
    {% if grouped_schedule_items %}
    {% include "schedule/_icon_key.html" %}
    {% endif %}
    {% if jump_links and grouped_schedule_items %}
    <p><strong>Jump to:</strong> {% for type, items in grouped_schedule_items.items() %}<a href="#{{ type }}">{{ items[0].human_type | title }}{% if type != "music" %}s{% endif %}</a>{% if not loop.last %}, {% endif %}{% endfor %}</p>
    {% endif %}
    {% for type_info in ordered_type_infos %}
        {% if grouped_schedule_items[type_info.type] %}
            <h2 class="event-type" id="{{ type_info.type }}">{{ type_info.human_type | title }}{% if type_info.type != "music" %}s{% endif %}</h2>
            <form method="post" action="{{url_for(".add_favourite")}}">
            <div>
                {% for schedule_item in grouped_schedule_items[type_info.type] %}
                <a href="{{ url_for('.item', year=event_year, schedule_item_id=schedule_item.id, slug=schedule_item.slug) }}"
                   class="event schedule-item" id="schedule-item-{{ schedule_item.id }}">
                <div class="row">
                    <div class="col-xs-10">
                        {% if schedule_item.names %}
                        <div>
                            <b>{{ schedule_item.names }}</b>
                            {{ schedule_item_icons(schedule_item) }}
                        </div>
                        <div>
                            {{ schedule_item.title }}
                        </div>
                        {% else %}
                        <div>
                            <b>{{ schedule_item.title }}</b>
                            {{ schedule_item_icons(schedule_item) }}
                        </div>
                        <div>
                            {{ schedule_item.short_description }}
                        </div>
                        {% endif %}
                    </div>
                    {% if current_user.is_authenticated %}
                    <div class="col-xs-2">
                        <button name="fave" value="{{ schedule_item.id }}" type="submit" class="btn btn-primary btn-transparent btn-hoverlabel favourite-button favourite-button-{{ 'faved' if schedule_item in current_user.favourites else 'unfaved' }}">
                            {{ favourite_icons() }}
                            <span class="hoverlabel">Favourite</span>
                        </button>
                    </div>
                    {% endif %}
                </div>
                </a>
                {% endfor %}
            </div>
            </form>
        {% endif %}
    {% endfor %}
{% endmacro %}
