{% extends "base.html" %}

{% block title %}About the workshop signup{% endblock %}
{% block body %}

<h2>Workshop sign-up</h2>

<p>Workshops at EMF are always extremely oversubscribed. To make things more
  equitable, and prevent long queues at the same time, we run an online lottery
  for tickets for most workshops.</p>

<p>Around half the places for workshops will be allocated via a lottery which takes
  place in advance. You can enter and win tickets for one workshop. When each lottery
  runs, you will either receive the total number of places you requested, or none.</p>

<p>Any workshop spaces that are not assigned during the lottery, plus the other half of
  the places not available in the lottery, will be available to people arriving at the
  workshop venue 15 minutes before the workshop start time on a first-come, first-served
  basis.</p>

<p>All family workshops will be drop-in and do not require booking, so workshops taking place
  in the family workshop tent will not be included in the lottery.</p>

<p>To enter the workshop lottery:</p>
<ol>
  <li>Go to the <a href="{{ url_for('.main') }}">schedule</a> and choose the
    workshops you'd most like to attend. Any that are part of the lottery are
    marked with 🎟</li>
  <li>Click on each workshop title and select how many tickets you would like.
    You can choose a maximum of 2 places for workshops.</li>
  <li>After you've selected all the workshops you would like to enter the lottery
    for, go to <a href="{{ url_for('.lotteries') }}">the workshop tickets page</a>
    and arrange them in your order of preference.</li>
</ol>

<p>All under-16s attending workshops must be accompanied by an adult, and adults accompanying
  children will need their own ticket as well.</p>

<p>On Wednesday 15th July {# 2026 #} lottery places will be allocated. The lottery will be
  closed from this point onwards.</p>

<p>If you've won, bring your code to the workshop, and show it to the workshop
  stewards. They will also be able to confirm your place by name if necessary.
  You can pass your code onto someone else, but only one person will be
  admitted per code.</p>

<p>After your place is confirmed, you can still attend other workshops where there is space
  by arriving at the workshop venue 15 minutes before the workshop start time. These remaining
  spaces will be available on a first-come first-served basis, and no more people will be
  admitted once the workshop has reached its full capacity.</p>

<p>Workshops provided by villages will not be using this system, and it is up to
  each village to decide how attendance works. Look out for communications from
  villages, or visit them early on to find out more.</p>

{% endblock %}
