{% extends "base.html" %}
{% from "_formhelpers.html" import render_field %}
{% from "schedule/_faves.html" import favourite_icons %}
{% from "schedule/_proposal_icons.html" import proposal_icons %}

{% macro display_ticket(ticket, is_draggable=False) %}
<div class=" panel {% if is_draggable %}list-group-item draggable-panel{% endif %}" data-id="{{ ticket.id }}">
  {{ ticket._form.ticket_id() }}
  {% if is_draggable %}
    {{ octicon("grabber-24") }}<span class="event-ticket-rank">{{ ticket.rank + 1 }}&nbsp;</span>
  {% endif %}
  <a href="{{ url_for('.item', proposal_id=ticket.proposal.id, year=2024 ) }}">{{ ticket.proposal.title }}</a>
  ({{ ticket.ticket_count }} tickets)
  {% if ticket.state == "ticket" %}
    <em>Codes for this workshop: {{ticket.ticket_codes |replace(',', ', ') | upper}}</em>
  {% endif %}
  {% if ticket.state != "cancelled" %}
    {{ ticket._form.cancel(class_="btn btn-primary pull-right")}}
    <div class="clearfix"></div>
  {% endif %}
</div>
{% endmacro %}

{% macro draggable_tickets_block(heading, tickets, sortable_id) %}
  {% if tickets %}
    <h4>{{ heading }}</h4>
    <div id="{{ sortable_id }}" class="list-group">
    {% for t in tickets %}
        {{ display_ticket(t, is_draggable=True) }}
    {% endfor %}
    </div>
  {% endif %}
{% endmacro %}

{% block title %}Workshop Tickets{% endblock %}
{% block body %}

<h2>Your current workshop tickets</h2>

<noscript>
  This page requires Javascript, sorry.
</noscript>

{% if tickets %}
  <div class="event-tickets">
    <form method="POST">
      {{ form.hidden_tag() }}

      {% if SIGNUP_STATE == "issue-lottery-tickets" %}
        <h2>Lottery entries</h2>

        <p>
          You can drag & drop your tickets in order of preference with top being your
          highest preference and the bottom being your lowest.
        </p>

        <p>
          You can only get tickets for a single workshop via the lottery but any remaining
          tickets will be made available once the event starts on a first-come, first served
          basis.
        </p>

        <p>
          {# FIXME hard coded date alert event_start should find this but I CBA with date calculations rn #}
          The lottery will be run on Wednesday 29th June 2024
        </p>

        <hr>
        {{ draggable_tickets_block("Workshops", tickets["entered-lottery"]["workshop"], "event-tickets-workshops") }}

        {{ draggable_tickets_block("Youth Workshops", tickets["entered-lottery"]["youthworkshop"], "event-tickets-youthworkshops") }}
      {% endif %}

      {% for state in ["ticket", "cancelled"] if (tickets[state]["workshop"] or tickets[state]["youthworkshop"])%}
        {% if state == "cancelled" %}
          <h2>Cancelled tickets</h2>
          <p>Tickets you have cancelled, were cancelled because you won a different
            lottery (you can only win once) or were cancelled because you lost this
            lottery. If there are still tickets you can apply for them once they re-open.</p>
        {% elif state == "ticket" %}
          <h2>Tickets</h2>
          <p>Tickets you have to workshops (or you have for youth workshops).</p>
          <p>When it's time for your workshop aim to arrive 15&nbsp;minutes early and give
            the assistant a code for each person, your name or your email address.
            Each code can only be used once.</p>
        {% endif %}

        {% if tickets[state]["workshop"] %}
          <strong>Workshops</strong>
          {% for t in tickets[state]["workshop"] %}
            {{ display_ticket(t) }}
          {% endfor %}
        {% endif %}

        {% if tickets[state]["youthworkshop"] %}
          <strong>Youth Workshops</strong>
          {% for t in tickets[state]["youthworkshop"] %}
            {{ display_ticket(t) }}
          {% endfor %}
        {% endif %}

      {% endfor %}
    </form>
  </div>
{% else %}
  <div class="well">You don't currently have any workshop or youthworkshop tickets. Checkout
    the <a href="{{url_for('.main_year', year=2024)}}">line up</a> to add some!</div>

{% endif %}

{% endblock %}

{% block foot %}
  <script type="text/javascript" src="{{static_url_for('static', filename="js/event-tickets.js")}}"></script>
{% endblock -%}
