{% extends "base.html" %}

{% block title %}About the workshop signup{% endblock %}
{% block body %}

<h2>Workshop sign-up</h2>

<p>Workshops (and youth workshops) at EMF are always extremely oversubscribed.
  To make things more equitable, and prevent long queues at the same time, we're
  introducing{# 2024 #} an online sign-up system for most workshops.</p>

<p>The majority of workshop places will be allocated via a lottery which takes
  place in advance. You can enter and win tickets for one workshop and one youth
  workshop. When each lottery runs, you will receive the total number of places you
  requested, or none.</p>

<p>Any remaining or returned tickets will typically be made available online on a
  first-come, first-served basis before the workshop is due to take place.
  Remaining places for youth workshops will be allocated at the Youth Workshop tent
  on a first-come, first-served basis 15 minutes before the workshop start time.</p>

<p>To enter the workshop lottery:</p>
<ol>
  <li>Go to the <a href="{{ url_for('.main') }}">schedule</a> and choose the
    workshops you'd most like to attend. Any that are part of the lottery are
    marked with 🎟</li>
  <li>Click on each workshop title and select how many tickets you would like.
    You can choose a maximum of 2 places for workshops, or a maximum of 5
    children's places for youth workshops.</li>
  <li>After you've selected all the workshops you would like to enter the lottery
    for, go to <a href="{{ url_for('.event_tickets') }}">the workshop tickets page</a>
    and arrange them in your order of preference.</li>
</ol>

<p>All under-16s attending workshops must be accompanied by an adult. For youth
  workshops, adults accompanying under-16s do not need their own ticket for the workshop.
  For workshops running outside the youth workshop tent, adults accompanying children
  will need their own ticket as well.</p>

<p>On Wednesday 29th May lottery places will be allocated. The lottery will be
  closed from this point onwards.</p>

<p>If you've won, bring your code to the workshop, and show it to the workshop
  stewards. They will also be able to confirm your place by name if necessary.
  You can pass your code onto someone else, but only one person will be
  admitted per code.</p>

<p>After your place is confirmed, you can still sign up for tickets for other
  workshops. These tickets will be available once the event starts on a first-come
  first-served basis, but there won't be as many.</p>

<p>Workshops provided by villages will not be using this system, and it is up to
  each village to decide how attendance works. Look out for communications from
  villages, or visit them early on to find out more.</p>

{% endblock %}
