{% from "schedule/_proposal_lister.html" import list_proposals %}
{% from "schedule/_external_lister.html" import list_externals %}
{% extends "base.html" %}
{% block title %}Favourites{% endblock %}
{% block body %}
<h1>Favourites</h1>

<p>You can also get this list as an <a href="{{ url_for('.favourites_ical') }}?token={{ token }}">iCal feed</a>
   for your calendar, and a <a href="{{ url_for('.favourites_json') }}?token={{ token }}">json feed</a> for your giant robot.
   {% if not config.get('SCHEDULE') %}
   The feed will only contain talks or workshops once they've been scheduled.
   {% endif %}
</p>

{{ list_proposals(proposals) }}
{{ list_externals(externals) }}

{% if proposals | count == 0 and externals | count == 0 %}
    <p>
        You currently don't have any favourites, add some by going to our
        <a href="{{ url_for('.line_up') }}">line-up</a>, clicking anything
        that interests, you then clicking the &lsquo;Favourite&rsquo; button.
    </p>
{% endif %}

{% endblock %}
