{% from "schedule/_schedule_item_lister.html" import list_schedule_items with context %}
{% extends "base.html" %}
{% block title %}Favourites{% endblock %}
{% block body %}
<h2>Favourites</h2>
<div class="well">
<p>You can <a href="{{ webcal_url('.favourites_ical', token=token) }}">subscribe to this list in your calendar</a>
   so it stays up to date, download it as an <a href="{{ url_for('.favourites_ical') }}?token={{ token }}">iCal file</a>,
   or get a <a href="{{ url_for('.favourites_json') }}?token={{ token }}">json feed</a> for your giant robot.
</p>
{% if not feature_enabled('SCHEDULE') %}
<p>The calendar feeds will only contain items once they've been allocated a stage and time. To help you confirm your client is working, we've already added the gates opening and site closing times.</p>
{% endif %}
<p><strong><a class="btn btn-lg btn-primary" href="{{ url_for('schedule.main_year', year=event_year) }}">View line-up</a></strong></p>
</div>
<div class="line-up">
{{ list_schedule_items(grouped_schedule_items, ordered_type_infos, jump_links=True) }}
</div>

{% if grouped_schedule_items | count == 0 %}
    <div class="alert alert-warning">
        You currently don't have any favourites! Add some by going to our
        <a href="{{ url_for('schedule.main_year', year=event_year) }}">line-up</a> and
        clicking the &lsquo;Favourite&rsquo; button.
    </div>
{% endif %}

{% endblock %}
