{% from "schedule/_proposal_lister.html" import list_proposals with context %}
{% extends "base.html" %}
{% block title %}Favourites{% endblock %}
{% block body %}
<h2>Favourites</h2>

<p>You can also get this list as an <a href="{{ url_for('.favourites_ical') }}?token={{ token }}">iCal feed</a>
   for your calendar, and a <a href="{{ url_for('.favourites_json') }}?token={{ token }}">json feed</a> for your giant robot.
</p>
{% if not feature_enabled('SCHEDULE') %}
<p>The feed will only contain talks or workshops once they've been allocated a stage and time.</p>
{% endif %}
<p><strong><a class="btn btn-lg btn-primary" href="{{ url_for('schedule.main_year', year=event_year) }}">View line-up</a></strong></p>

<div class="line-up">
{{ list_proposals(proposals) }}
</div>

{% if proposals | count == 0 %}
    <p>
        You currently don't have any favourites, add some by going to our
        <a href="{{ url_for('schedule.main_year', year=event_year) }}">line-up</a>, clicking anything
        that interests, you then clicking the &lsquo;Favourite&rsquo; button.
    </p>
{% endif %}

{% endblock %}
