{% extends "base.html" %}
{% block title %}{{ event.title }}{% endblock %}
{% block body %}

<h2>{{ event.title }}</h2>

<p>
  <b>
  {{ event.start_dt.strftime('%A') }}
  {% if event.start_dt < event_start or event.end_dt > event_end %}
  {{ event.start_dt.strftime('%-d %B %Y') }}
  {% endif %}
  {{ event.start_dt.strftime('%H:%M') }}&ndash;
  {%- if event.start_dt.day == event.end_dt.day %}
  {{- event.end_dt.strftime('%H:%M') }}
  {%- else %}
  {{- event.end_dt.strftime('%A') }}
  {% if event.start_dt < event_start or event.end_dt > event_end %}
  {{ event.start_dt.strftime('%-d %B %Y') }}
  {% endif %}
  {{- event.end_dt.strftime('%A %H:%M') }}
  {% endif %}
  </b> in <b>
  {% if event.map_link %}
  <a href="{{ event.map_link }}">{{ venue_name }}</a>
  {% else %}
  {{ venue_name }}
  {% endif %}
  </b>
</p>

<div class="well">
<p class="multiline">{{ event.description | urlize }}</p>
<hr>
{% if current_user.is_authenticated %}
  <form method="POST">
  <input id="csrf_token" name=_csrf_token type=hidden value="{{ csrf_token() }}">
  <button type="submit" class="btn btn-primary {% if is_fave %}active{% endif %}">
    {%- if is_fave -%}
      <i class="glyphicon glyphicon-heart favourite-icon"></i>
    {%- else -%}
      <i class="glyphicon glyphicon-heart-empty favourite-icon"></i>
    {%- endif -%}
    &nbsp;Favourite
  </button>
  </form>
{% else %}
  <p>If you would like to mark this as a favourite please
    <a href="{{ url_for('users.login', next=url_for('.item_external', year=event_year, event_id=event.id)) }}">log in</a>.
  </p>
{% endif %}
</div>

<h4>Schedule</h4>
<ul class='nav nav-pills'>
  <li>
    <a href="{{ url_for('.line_up') }}">Line-up</a>
  </li>
  {% if current_user.is_authenticated %}
    <li>
      <a href="{{ url_for('.favourites') }}">Favourites</a>
    </li>
  {% endif %}
</ul>
{% endblock %}
