{% extends "base.html" %}
{% from "_formhelpers.html" import render_field %}
{% from "schedule/_faves.html" import favourite_icons %}
{% from "schedule/_schedule_item_icons.html" import schedule_item_icons %}
{% block title %}{{ schedule_item.title }}{% endblock %}
{% block body %}

<h2>{{ schedule_item.title }}</h2>
<h2>
  <small>
  {{ schedule_item.human_type | title_add }}{% if schedule_item.names %} by {{ schedule_item.names }}{% if schedule_item.pronouns %} ({{schedule_item.pronouns}}){% endif %}{% endif %}
  {{ schedule_item_icons(schedule_item) }}
  </small>
</h2>

{% if feature_enabled("SCHEDULE") %}
{% for occurrence in schedule_item.occurrences if not occurrence.cancelled %}
  <div class="panel panel-default">
    {% if schedule_item.occurrences | length > 1 %}
    <div class="panel-heading">
       <h3 class="panel-title">Occurrence {{ occurrence.occurrence_num }}</h3>
    </div>
    {% endif %}

    <div class="panel-body">

      {% if occurrence.scheduled %}
      <div class="pull-right">
      <a href="{{ occurrence.scheduled_venue.map_link }}" target="_blank" class="btn btn-primary">📍&nbsp;Map</a>
      </div>

      <p>
        <strong>{{ occurrence.scheduled_time.strftime('%A from %-I:%M %p') }}</strong>
        -
        <strong>{{ occurrence.scheduled_end_time.strftime('%-I:%M %p') }}</strong>
        {% if occurrence.scheduled_venue.map_link %}
          in
          <strong><a href="{{ occurrence.scheduled_venue.map_link }}" target="_blank">
            {{ occurrence.scheduled_venue.name }}
          </a></strong>
        {% else %}
          in <strong>{{ occurrence.scheduled_venue.name }}</strong>
        {% endif %}
      </p>

      {% if occurrence.scheduled_venue.captions_url %}
      <p><a class="btn btn-primary" href="{{ occurrence.scheduled_venue.captions_url }}">Live captions</a></p>
      {% endif %}

      {% else %}

      <p>Currently unscheduled</p>

      {% endif %}

      {% if schedule_item.type_info.supports_lottery and feature_enabled("WORKSHOP_LOTTERY") %}
        {% if current_user.is_authenticated %}
          {% set occurrence_form = occurrence_forms[occurrence.id] %}
          <form method="post" class="form-inline">
          {{ occurrence_form.hidden_tag() }}
  
          {% set lottery = occurrence.lottery %}
          {% if not lottery %}
            <p>This {{ schedule_item.human_type }} does not require a lottery ticket.</p>
  
          {% elif lottery.state == "allow-entry" %}
            {% set entry = current_user.get_lottery_entry_for_occurrence(occurrence) %}
            {% if lottery.get_lottery_capacity() > 0 %}
              {{ occurrence_form.ticket_count.label() }}
              {{ occurrence_form.ticket_count(class_="form-control") }}
              {{ occurrence_form.enter_lottery(class_="btn btn-primary") }}
              {% if entry and entry.state != "cancelled" %}
                {{ occurrence_form.leave_lottery(class_="btn btn-danger") }}
              {% endif %}
            {% else %}
              <p>This {{ schedule_item.human_type }} does not have any tickets available via lottery.</p>
            {% endif %}
  
          {% elif lottery.state == "sign-up-list" %}:
            {% if lottery.get_all_ticket_capacity() > 0 %}
              {{ occurrence_form.ticket_count.label() }}
              {{ occurrence_form.ticket_count(class_="form-control") }}
              {{ occurrence_form.get_ticket(class_="btn btn-primary") }}
            {% else %}
              <p>This {{ schedule_item.human_type }} is now full. If any tickets become available they will be visible here.</p>
            {% endif %}
  
          {% elif lottery.state == "complete" %}
            <p>The lottery for this {{ schedule_item.human_type }} is currently closed.
               Remaining space in this workshop will be available on a first-come, first-served basis
               to people arriving at the workshop venue 15 minutes before the workshop start time.</p>
  
          {% endif %}
          </form>
        {% else %}{# Not logged in #}
          {% if occurrence.lottery %}
            <p>To enter the lottery for this {{ schedule_item.human_type }}, please
               <a href="{{ url_for('users.login', next=request.path) }}">log in</a>.</p>
          {% endif %}
        {% endif %}
      {% endif %}

      {% if occurrence.video_recording_lost %}
      <div class="alert alert-warning">
      The video recording for this {{ schedule_item.human_type }} was unfortunately lost due to technical issues.
      </div>
      {% endif %}

    </div>

  </div>

{% endfor %}
{% endif %}

{% if schedule_item.attributes.content_note %}
<p><strong>This {{ schedule_item.human_type }} has the following content notes:</strong><br>
  {{ schedule_item.attributes.content_note }} </p>
{% endif %}

<div class="well">

<p class="multiline">{{ (schedule_item.description) | urlize }}</p>

{% if schedule_item.type in ('workshop', 'familyworkshop') %}
  <table class="table">
  <tr>
    <td><b>Attending this {{ schedule_item.human_type }} will cost</b></td>
    <td>
      {% if schedule_item.attributes.participant_cost and schedule_item.attributes.participant_cost | tidy_workshop_cost %}
      {{ schedule_item.attributes.participant_cost | tidy_workshop_cost }}
      {% else %}
      Free
      {% endif %}
    </td>
  <tr>
  {% if schedule_item.attributes.age_range %}
  <tr>
    <td><b>Suitable age range</b></td>
    <td>{{ schedule_item.attributes.age_range }}</td>
  <tr>
  {% endif %}
  {% if schedule_item.attributes.participant_equipment %}
  <tr>
    <td><b>Attendees should bring</b></td>
    <td>{{ schedule_item.attributes.participant_equipment }}</td>
  <tr>
  {% endif %}
  <tr>
    <td><b>Drop-in</b></td>
    <td>
      {% if schedule_item.attributes.drop_in %}
      Drop-in workshop
      {% else %}
      Not a drop-in workshop
      {% endif %}
    </td>
  <tr>
  </table>
{% endif %}
</div>

{% if current_user.is_anonymous %}

  <p>If you would like to mark this as a favourite please
    <a href="{{ url_for('users.login', next=url_for('.item', year=event_year, schedule_item_id=schedule_item.id, slug=schedule_item.slug)) }}">log in</a>.
  </p>

{% else %}

  {% if schedule_item.lottery and schedule_item.lottery.state in ["complete", "sign-up-list"] and lottery_entry and lottery_entry.state == "valid-tickets" %}
    <div class="well">
      You currently have {{ lottery_entry.ticket_count }} codes for this {{ schedule_item.human_type }}.
      When you attend you can either give your name or a code to get in. Your codes are:
      <ul>
        {% for ticket_code in lottery_entry.ticket_codes %}
          <li>{{ ticket_code.code }}</li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}

  <form method="post" class="form-inline">
  {{ schedule_item_form.hidden_tag() }}

  <button name={{ schedule_item_form.toggle_favourite.name }} value="{{ schedule_item.id }}"
      class="btn btn-primary favourite-button favourite-button-{{ 'faved' if is_fave else 'unfaved' }}">
    {{ favourite_icons() }}
    &nbsp;Favourite
  </button>

  <div class="pull-right">
    {% if prev_id %}
    <a class="btn btn-info" href="{{ url_for(".item", year=year, schedule_item_id=prev_id) }}">Previous</a>
    {% endif %}

    {% if next_id %}
    <a class="btn btn-success" href="{{ url_for(".item", year=year, schedule_item_id=next_id) }}">Next</a>
    {% endif %}
  </div>

  </form>

{% endif %}
<p>&nbsp;</p>

{% for occurrence in schedule_item.occurrences %}

{% if occurrence.youtube_url or occurrence.c3voc_url %}
<h4>Video</h4>
<div class="well">
  {% if occurrence.c3voc_url %}
    <iframe src="{{ occurrence.c3voc_url }}/oembed" width="100%" height="500px"
        frameborder="0" allowfullscreen></iframe>
  {% elif occurrence.youtube_url %}
    <iframe src="{{ occurrence.youtube_url | replace('youtube.com/watch?v=', 'youtube.com/embed/') }}"
        width="100%" height="500px" frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  {% endif %}
  <strong>Video Hosts:</strong>
  <ul>
  {% if occurrence.c3voc_url %}
    <li>View this video <a href="{{ occurrence.c3voc_url }}">on media.ccc.de</a>.</li>
  {% endif %}
  {% if occurrence.youtube_url %}
    <li>View this video <a href="{{ occurrence.youtube_url }}">on YouTube</a>.</li>
  {% endif %}
  </ul>
</div>
<p>&nbsp;</p>
{% endif %}

{% endfor %}

<h4>Return to:</h4>
<ul class='nav nav-pills'>
  <li>
    <a href="{{ url_for('schedule.main_year', year=event_year) }}">Line-up</a>
  </li>
  {% if current_user.is_authenticated %}
    <li>
      <a href="{{ url_for('.favourites') }}">Favourites</a>
    </li>
    {% if feature_enabled("WORKSHOP_LOTTERY") %}
    <li>
      <a href="{{ url_for('.lotteries') }}">Lottery</a>
    </li>
    {% endif %}
  {% endif %}
</ul>
{% endblock %}

{% block foot %}
<script src="{{static_url_for('static', filename="js/line-up.js")}}"></script>
{% endblock %}
