{% extends "base.html" %}
{% from "_formhelpers.html" import render_field %}
{% from "schedule/_faves.html" import favourite_icons %}
{% from "schedule/_proposal_icons.html" import proposal_icons %}
{% block title %}{{ proposal.display_title }}{% endblock %}
{% block body %}

<h2>{{ proposal.display_title }}</h2>
<h2>
  <small>
  {{ proposal.human_type | title }} by {{ proposal.published_names or proposal.user.name }} {% if proposal.published_pronouns %}({{proposal.published_pronouns}}){% endif %}
  {{ proposal_icons(proposal) }}
  </small>
</h2>

{% if proposal.video_recording_lost %}
  <div class="alert alert-warning">
   The video recording for this talk was unfortunately lost due to technical issues.
  </div>
{% endif %}


{% if proposal.scheduled_time and venue_name %}
<p><strong>{{ proposal.scheduled_time.strftime('%A from %-I:%M %p') }}</strong> - <strong>{{ proposal.end_date.strftime('%-I:%M %p') }}</strong>
   {% if feature_enabled('SCHEDULE') and proposal.map_link %}
   in <strong><a href="{{ proposal.map_link }}" target="_blank">{{ venue_name }}</a></strong>
   {% else %}
   in <strong>{{ venue_name }}</strong>
   {% endif %}
</p>
{% endif %}

{% if proposal.content_note %}
<p><strong>This {{ proposal.human_type }} has the following content notes:</strong><br>
  {{ proposal.content_note }} </p>
{% endif %}

<div class="well">

<p class="multiline">{{ (proposal.published_description or proposal.description) | urlize }}</p>

{% if proposal.type == 'workshop' or proposal.type == 'youthworkshop' %}
  <table class="table">
  <tr>
    <td><b>Attending this workshop will cost</b></td>
    <td>{% if proposal.display_cost %}{{ proposal.display_cost }}{% else %}Free{% endif %}</td>
  <tr>
  {% if proposal.display_age_range %}
  <tr>
    <td><b>Suitable age range</b></td>
    <td>{{ proposal.display_age_range }}</td>
  <tr>
  {% endif %}
  {% if proposal.display_participant_equipment %}
  <tr>
    <td><b>Attendees should bring</b></td>
    <td>{{ proposal.display_participant_equipment }}</td>
  <tr>
  {% endif %}
  </table>
{% endif %}
</div>
{% if current_user.is_authenticated %}
  <form method="post">
  {{ form.hidden_tag() }}

  <button name={{form.toggle_favourite.name}} value="{{ proposal.id }}" class="btn btn-primary favourite-button favourite-button-{{ 'faved' if is_fave else 'unfaved' }}">
    {{ favourite_icons() }}
    &nbsp;Favourite
  </button>

  {% if SIGNUP_STATE == "issue_lottery_tickets" and proposal.requires_ticket %}
    {{ form.enter_lottery(class_="btn btn-primary") }}
  {% elif SIGNUP_STATE == "issue_tickets" and proposal.requires_ticket %}
    {{ form.get_ticket(class_="btn btn-primary") }}
  {% elif SIGNUP_STATE == "pending_tickets" and proposal.requires_ticket %}
    <p>The lottery for this {{proposal.human_type}} is currently closed. A small number of tickets will be available first come/first served on the day.</p>
  {% endif %}

  </form>
{% else %}
  <p>If you would like to mark this as a favourite please
    <a href="{{ url_for('users.login', next=url_for('.item', year=event_year, proposal_id=proposal.id, slug=proposal.slug)) }}">log in</a>.
  </p>
{% endif %}
<p>&nbsp;</p>

{% if proposal.youtube_url or proposal.c3voc_url %}
<h4>Video</h4>
<div class="well">
  {% if proposal.c3voc_url %}
    <iframe src="{{proposal.c3voc_url}}/oembed" width="100%" height="500px"
        frameborder="0" allowfullscreen></iframe>
  {% elif proposal.youtube_url %}
    <iframe src="{{proposal.youtube_url|replace('youtube.com/watch?v=', 'youtube.com/embed/')}}"
        width="100%" height="500px" frameborder="0" 
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <p>View this video <a href="{{ proposal.youtube_url }}">on YouTube</a>.</p>
  {% endif %}
</div>
<p>&nbsp;</p>
{% endif %}

<h4>Return to:</h4>
<ul class='nav nav-pills'>
  <li>
    <a href="{{ url_for('schedule.main_year', year=event_year) }}">Line-up</a>
  </li>
  {% if current_user.is_authenticated %}
    <li>
      <a href="{{ url_for('.favourites') }}">Favourites</a>
    </li>
  {% endif %}
</ul>
{% endblock %}

{% block foot %}
<script src="{{static_url_for('static', filename="js/line-up.js")}}"></script>
{% endblock %}
