{% from "schedule/_proposal_lister.html" import list_proposals with context %}

{% extends "base.html" %}
{% block title %}Line-up{% endblock %}
{% block body %}

<h2>Line-up</h2>
<div>
  <p>This is a list of the talks &amp; workshops that we're planning at EMF {{ event_year }}.
     Not all of them are announced yet, so check back frequently.</p>
  {% if current_user.is_authenticated %}
    <p>You can favourite talks which sound interesting, which will let you keep track of them, and help
        our scheduling algorithm place them in the best slot.
    </p>
    <p>
      <strong><a class="btn btn-lg btn-primary" href="{{ url_for('.favourites') }}">View your favourites</a></strong>
      <strong><a class="btn btn-lg btn-primary" href="{{ url_for('.event_tickets') }}">View your workshop tickets</a></strong>
    </p>
    {% if feature_enabled('SCHEDULE') %}
    <p>You can also get this list as an <a href="{{ url_for('.schedule_ical', year=event_year) }}">iCal feed</a>
       for your calendar, and a <a href="{{ url_for('.schedule_json', year=event_year) }}">json feed</a> for your giant robot.
    </p>
    {% endif %}
  {% else %}
  <div class="alert alert-info">
    Please <a class="alert-link" href="{{ url_for('users.login', next=url_for('.main')) }}" target="_new">log in</a> to let us know your favourite talks or workshops.
    You'll be able to download a calendar of these for the event.
  </div>
  {% endif %}
</div>

<div class="line-up">
{{ list_proposals(proposals) }}
</div>

{% endblock %}

{% block foot %}
<script src="{{static_url_for('static', filename="js/line-up.js")}}"></script>
{% endblock %}
