{% from "schedule/_schedule_item_lister.html" import list_schedule_items with context %}

{% extends "base.html" %}
{% block title %}Line-up{% endblock %}
{% block body %}

<h2>Line-up</h2>
<div class="well">
  <p>This is a list of the events we're planning at EMF {{ event_year }}.
     Not all of them are announced yet, so check back frequently.</p>
  {% if current_user.is_authenticated %}
    <p>You can favourite events which sound interesting - this lets you keep track of them, and helps
        our scheduling algorithm place them in the optimal time.
    </p>
    {% if feature_enabled('SCHEDULE') %}
    <p>You can <a href="{{ webcal_url('.schedule_ical', year=event_year) }}">subscribe to this list in your calendar</a>
       so it stays up to date, download it as an <a href="{{ url_for('.schedule_ical', year=event_year) }}">iCal file</a>,
       or get a <a href="{{ url_for('.schedule_json', year=event_year) }}">json feed</a> for your giant robot.
    </p>
    {% endif %}
  {% else %}
  <div class="alert alert-info">
    Please <a class="alert-link" href="{{ url_for('users.login', next=url_for('.main')) }}" target="_new">log in</a> to let us know your favourite talks or workshops.
    You'll be able to download a calendar of these for the event.
  </div>
  {% endif %}

  {% if feature_enabled("WORKSHOP_LOTTERY") %}
  <p>
    Workshops that require you to sign up for a ticket will be allocated via
    <a href="{{ url_for('.about_lotteries') }}" title="About ticket lotteries">a lottery</a>.
  </p>
  {% endif %}

  {% if current_user.is_authenticated %}
    <p>
      <strong><a class="btn btn-lg btn-primary" href="{{ url_for('.favourites') }}">View your favourites</a></strong>
      {% if feature_enabled("WORKSHOP_LOTTERY") %}
      <strong><a class="btn btn-lg btn-primary" href="{{ url_for('.lotteries') }}">View your lottery entries</a></strong>
      {% endif %}
    </p>
  {% endif %}
</div>

<div class="line-up">
{{ list_schedule_items(grouped_schedule_items, ordered_type_infos, jump_links=True) }}
</div>

{% endblock %}

{% block foot %}
<script src="{{static_url_for('static', filename="js/line-up.js")}}"></script>
{% endblock %}
