{% extends "base.html" %}
{% block title %}Schedule{% endblock %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="{{ static_url_for('static', filename='css/schedule.css') }}">
{% endblock %}
{% block body %}
  <p>
    <strong><a class="btn btn-lg btn-primary" href="{{ url_for('.favourites') }}">View your favourites</a></strong>
    <strong><a class="btn btn-lg btn-primary" href="{{ url_for('.event_tickets') }}">View your workshop tickets</a></strong>
  </p>
  <div id="schedule-app" data-api-token="{{ token }}" data-debug="{{ debug }}"></div>
  <p>
    <strong>Schedule feeds:</strong>
    <a href="{{ url_for('.schedule_json', year=year) }}">JSON</a> |
    <a href="{{ url_for('.schedule_ical', year=year) }}">iCal</a> |
    <a href="{{ url_for('.schedule_frab', year=year) }}">Frab</a>
  </p>
{% endblock %}
{% block foot %}
  <script src="{{ static_url_for('static', filename='js/schedule.js') }}"></script>
{% endblock %}
