{% extends "base.html" %}
{% block title %}Schedule{% endblock %}
{% block head %}
  {% assets 'css_schedule' %}
  <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
  {% endassets %}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/dhtmlxscheduler_flat.css' ) }}">
{% endblock %}
{% block document %}
{# Banner bar #}
<header role="banner" id="header" class="schedule-banner navbar navbar-default">
    <div class="alert alert-info alert-dismissible" role="alert" style="display: none" id="under-construction">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <div class="alert-body">
            <p><strong>Please note:</strong> The schedule is being slowly revealed! Youth and village content will appear soon.</p>
            <p>If you are running a village please email <a href="mailto:villagecontent@emfcamp.org">villagecontent@emfcamp.org</a> to have your events listed here.</p>
        </div>
    </div>
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
        <h1 aria-label="Electromagnetic Field">
            <a href="/"><div id="logo" alt="Electromagnetic Field"></div></a>
        </h1>
        <div id="header-text" class="banner-text">August 5<sup>th</sup>&ndash;7<sup>th</sup> 2016<br/>
             Guildford, UK</div>

        <div id="menu-container" class="banner-text" role="navigation" aria-label="main navigation">
            <ul class="menu" role="menu">
                <li role="presentation">
                    <a role="menuitem" href="{{ url_for('base.about') }}">About</a>
                </li>
                {% if SITE_STATE == 'sales' and SALES_STATE == 'available' %}
                    <li role="presentation">
                        <a role="menuitem" href="{{ url_for('tickets.choose') }}">Tickets</a>
                    </li>
                {% endif %}
                {% if feature_enabled('CFP') and not config.get('CFP_CLOSED') %}
                    <li role="presentation">
                        <a role="menuitem" href="{{ url_for('cfp.main') }}">Call for Participation</a>
                    </li>
                {% endif %}
                <li role="presentation">
                    <a role="menuitem" href="{{ url_for('schedule.line_up') }}">Line-up</a>
                </li>
                <li role="presentation">
                    <a role="menuitem" href="{{ url_for('schedule.main') }}">Schedule</a>
                </li>
                <li role="presentation">
                    <a role="menuitem" href="{{ url_for('base.sponsors') }}">Sponsors</a>
                </li>
            </ul>
        </div>
    </div>
    <div style="clear:both"></div>
</header>

{# Template for the popup #}
<div id="event_popup" class="event_popup">
    <div><h3>
        <a id="title_link"><span id="event_title"></span></a>
        <small>By: <span id="event_speaker"></span></small>
    </h3></div>

    <div><strong>Venue:</strong> <span id="event_venue"></span></div>
    <div><strong>Time:</strong> <span id="event_day"></span> at <span id="event_time"></span>
    </div>
    <div><span id="workshop_cost"></span></div>

    <div class="scroll_box" id="scroll_box" style=""><span id="event_description" class="multiline"></span></div>

    <button class="btn pull-right" onClick="emf_scheduler.close_popup()">Close</button>
    <form id="favourite_form" method="post" action="">
        <input id="csrf_token" name=_csrf_token type=hidden value="{{ csrf_token() }}">
        <button id="favourite_btn" class="btn btn-primary pull-right debouncel" onClick="emf_scheduler.favourite(); return false;">
            <i id="favourite_icon" class="glyphicon"></i>
            Favourite
        </button>
    </form>
    <div id="loggedout" style="display:none; margin-right: 1em;" class="pull-right">
        <small>
            To mark this as a favourite please <a href="/login?next=/schedule">login</a>.
        </small>
    </div>
</div>

<div class="alert alert-warning" role="alert" id="enable-javascript">
    <div class="alert-body">
        <p>Please enable Javascript to view the schedule.</p>
    </div>
</div>
<script type="text/javascript">
document.getElementById('enable-javascript').style.display = 'none';
</script>

{# Actual schedule bit #}
<div id="scheduler_here" class="dhx_cal_container" style='width:100%; height:100%; display: none'>
    <div class="dhx_cal_navline">
        <div class="dhx_cal_prev_button">&nbsp;</div>
        <div class="dhx_cal_next_button">&nbsp;</div>
        <div class="dhx_cal_today_button"></div>
        <div class="dhx_cal_date"></div>
        <div class="dhx_cal_tab" name="emf_day_tab" id="emf_day_tab"></div>
        <div class="dhx_cal_tab" name="emf_weekend_tab" id="emf_weekend_tab"></div>
    </div>
    <div class="dhx_cal_header"></div>
    <div class="dhx_multi_day"><div class="dhx_multi_day_icon"></div></div>
    <div class="dhx_cal_data"></div>
</div>

{% endblock %}
{% block foot %}
  <script src="{{ url_for('static', filename='js/dhtmlx_scheduler.js') }}"></script>
  <script>
    var emf_scheduler = {};
    (function(){
        'use strict';

        $('#under-construction').show();
        $('#scheduler_here').show();

        var scheduleData = {{ schedule_data | tojson }},
            venues = {{ venues | tojson }},
            is_anonymous = {% if current_user.is_anonymous() -%} true {%- else -%} false {%- endif %},
            todays_date = new Date(),
            start_date = new Date(2016, 7, 5),
            end_date = new Date(2016, 7, 8),
            venue_dict = {},
            day_format = "%D, %jth",   // e.g. Friday, 5th
            day_formatter = scheduler.date.date_to_str(day_format),
            time_formatter = scheduler.date.date_to_str("%H:%i"), // e.g. 22:33
            debounce = false,
            date_to_show = (start_date <= todays_date) ? todays_date : start_date,
            week_or_day = (start_date <= todays_date && end_date >= todays_date) ? 'emf_day' : 'emf_weekend';

        // Easily retrieve venue name from its ID
        for(var i = 0; i<venues.length; i++){
            venue_dict[venues[i].key] = venues[i].label;
        }

        /*
         * Required config
         */
        // Make sure dates are parsed correctly
        scheduler.config.api_date = "%Y-%m-%d %H:%i:%s";
        scheduler.config.xml_date = "%Y-%m-%d %H:%i:%s";

        // Nothing scheduled is multi-day so switch it off
        scheduler.config.multi_day = false;

        /*
         * Views
         */
        // Configure venues view
        scheduler.locale.labels.emf_day_tab = "Day"
        scheduler.locale.labels.section_custom="Section";
        scheduler.createUnitsView({
            name: "emf_day",
            property: "venue",
            list: venues,
            size: 5,
            step: 3,
        });

        scheduler.locale.labels.emf_weekend_tab = "Weekend"
        scheduler.createUnitsView({
            name:"emf_weekend",
            property:"venue",
            list:venues,
            days: 3,
        });

        // Clamp day view
        scheduler.date.add_emf_day = function (day, inc) {
            var res = scheduler.date.add(day, inc, "day"),
                last_day = new Date(end_date);

            // end date is Monday (to set inclusive ranges) last day is Sunday
            last_day.setUTCDate(end_date.getUTCDate() - 1);

            // Test on the date value so we can compare using less/greater than
            // or equals
            if (res.getUTCDate() <= start_date.getUTCDate()) {
                return start_date;
            } else if (res.getUTCDate() >= last_day.getUTCDate()) {
                return last_day;
            }
            return res;
        }

        // Make sure in weekend view you can't scroll away
        scheduler.date.add_emf_weekend = function (date,inc) {
            return scheduler.date.add(start_date, venues.length*3 ,"day");
        };

        scheduler.date.get_emf_weekend_end = function (date) {
            return scheduler.date.add(start_date, venues.length*3 ,"day");
        };

        scheduler.date.get_emf_weekend_start = function (date) {
            return start_date;
        };

        scheduler._click.dhx_cal_tab = function () {
            // Override the view toggle so that it always locks weekend view to
            // Friday
            var name = this.getAttribute("name"),
                mode = name.substring(0, name.search("_tab")),
                date = (mode === "emf_weekend" ) ? start_date : scheduler._date;
            scheduler.setCurrentView(date, mode);
        }

        scheduler._click.dhx_second_scale_bar = function () {
            console.log(arguments);
            scheduler.setCurrentView(date, 'emf_day');
        }

        // scheduler.date.week_emf_day_start = scheduler.date.week_start;

        // There'll be no events outside the weekend so lock the view to it
        scheduler.config.limit_view = true;
        scheduler.config.limit_start = start_date;
        scheduler.config.limit_end  = end_date;

        /*
         * Make it read-only
         */
        // This is read only so block all modifications
        scheduler.config.readonly_form = true;
        scheduler.config.details_on_dblclick = true;
        scheduler.config.dblclick_create = false;
        scheduler.attachEvent("onBeforeDrag",function(){ return false; });
        scheduler.attachEvent("onClick",function (id){
            scheduler.showLightbox(id);
            return false;// block further actions
        });

        /*
         * Custom popup
         */
        scheduler.showCover = function showCover(box){
            var view_height = window.innerHeight||document.documentElement.clientHeight,
                schedule_top = get_ele('scheduler_here').offsetTop,
                schedule_height = get_ele('scheduler_here').offsetHeight,
                margin = view_height > 768 ? 150 : 75;

            if (box){
                box.style.display="block";

                var top = schedule_top + margin,
                    bottom = view_height - margin,
                    difference = bottom - top,
                    scroll = get_ele('scroll_box'),
                    max_height = difference - (scroll.offsetTop + 40);

                scroll.style['max-height'] = max_height + 'px';

            }
            this.show_cover();
        };

        var get_ele = function (id) { return document.getElementById(id); },
            popup_event;

        scheduler.showLightbox = function(id) {
            function set_inner(id, text) {
                var element = get_ele(id);
                element.innerHTML = text;
            }
            var ev = scheduler.getEvent(id),
                fave = get_ele('favourite_icon'),
                link = get_ele('title_link'),
                form = get_ele('favourite_form'),
                btn = get_ele('favourite_btn'),
                loggedout = get_ele('loggedout'),
                ev_href = "{{ url_for('.line_up') }}" + '/' + ev.id;

            // Open the popup
            scheduler.startLightbox(id, document.getElementById("event_popup"));

            // Set the basic details
            set_inner('event_title', ev.title)
            set_inner('event_speaker', ev.speaker)

            set_inner('event_venue', venue_dict[ev.venue])
            set_inner('event_day', day_formatter(ev.start_date))
            set_inner('event_time', time_formatter(ev.start_date))
            set_inner('event_description', ev.description)

            if (ev.type === 'workshop' && ev.cost.trim() != '') {
                set_inner('workshop_cost',
                          '<strong>Cost:</strong> ' + ev.cost)
            } else {
                set_inner('workshop_cost','')
            }

            // Set the link and indicate whether this is a faved event
            link.href = ev_href;
            form.action = ev_href;
            fave.className = ev.is_fave ? "glyphicon glyphicon-star" :
                                          "glyphicon glyphicon-star-empty";
            if ( is_anonymous ) {
                btn.style.display = 'none';
                loggedout.style.display = 'block';
            }

            popup_event = ev;
        };

        function _close_popup(){
            scheduler.endLightbox(false, get_ele("event_popup"));
            popup_event = null;
        }

        emf_scheduler.close_popup = function close_popup() {
            _close_popup();
        }

        emf_scheduler.favourite = function favourite() {
            if (debounce) { return; }

            var http = new XMLHttpRequest(),
                form = get_ele('favourite_form'),
                csrf = get_ele('csrf_token'),
                fave = get_ele('favourite_icon'),
                event = popup_event.id;

            http.open("POST", form.action, true);
            http.setRequestHeader("Content-type","application/x-www-form-urlencoded");

            var params = csrf.name + '=' + csrf.value;
            http.send(params);
            debounce = true;
            setTimeout(function() {
                debounce = false;
            }, 250);

            popup_event.is_fave = !popup_event.is_fave;

            fave.className = popup_event.is_fave ? "glyphicon glyphicon-star" :
                                                   "glyphicon glyphicon-star-empty";

            scheduler.updateEvent(popup_event.id);
        }

        $(document).keyup(function(e){
                _close_popup();
        });

        /*
         * Styles
         */
        // Set the date format
        scheduler.config.show_loading = true;
        scheduler.config.default_date = day_format;
        // Make it show 10 min slots
        scheduler.config.first_hour = 9;
        scheduler.config.hour_size_px = 131;
        scheduler.config.separate_short_events = true;

        // Format the tooltips
        scheduler.templates.tooltip_text = function(start, end, event) {
            return "<b>Event:</b> " + event.text + "<br/>"+
                   "<b>Start date:</b> " + time_formatter(start) + "<br/>"+
                   "<b>End date:</b> " + time_formatter(end) + "<br/>"+
                   "<b>Venue:</b> " + venue_dict[event.venue];
        };

        scheduler.templates.event_class=function(start,end,event){
            var res = [];

            if (start < new Date() ) {
                res.push('past_event');
            }
            if (event.is_fave ) {
                res.push('favourite');
            }
            return res.join(' ');
        }

        emf_scheduler.size_scheduler = function size_scheduler(){
            var view_height = window.innerHeight||document.documentElement.clientHeight,
                header_offset = get_ele('header').offsetTop,
                header_height = get_ele('header').offsetHeight + header_offset,
                schedule_height = view_height - header_height,
                schedule = get_ele('scheduler_here');
            schedule.style.height = schedule_height + 'px';
        }

        scheduler.attachEvent("onSchedulerReady", emf_scheduler.size_scheduler);
        window.onresize = emf_scheduler.size_scheduler;

        window.onclick = function (mouseEvent) {
            if (mouseEvent.target.className.indexOf('dhx_cal_cover') !== -1) {
                _close_popup();
            }
        }

        if ($(window).width() <= 1024) {
            week_or_day = 'emf_day';
        }

        scheduler.init('scheduler_here', date_to_show, week_or_day);
        scheduler.parse(scheduleData, 'json');
    })();
  </script>
{% endblock %}
