{% extends "arcade/template.html" %}
{% block title %}About{% endblock %}
{% block body %}
<div id="arcade-page">
<h1>Electromagnetic Field Arcade</h1>
<p>Welcome to the Electromagnetic Field Arcade!</p>
<p>Thanks to the incredible variety of cool creative people that attend and surround EMF, this year we’ve created a homemade arcade to showcase some of their fantastic work. We’re extremely grateful to the developers, publishers, and engineers who have allowed us to feature their creations for our entertainment this weekend.</p>

<p>We have over 30 games in the arcade this year, including unique physical arcade machines, unusual arcade machines made out of things that were not built to be arcade machines, latest indie releases, developer platform showcases for Pico-8 and Downpour, and obscure game jam games.</p>

<p>We’d especially like to highlight that a large number of games in the arcade were in some way led (created, published, lead dev/art role, etc.) by people of historically underrepresented groups in the games industry. These are:</p>

<ul>
    <li>Downpour</li>
    <li>Pip Pepper: Park Planner</li>
    <li>Dikdik & Tune it up!</li>
    <li>Monument Valley 2</li>
    <li>Alba: A Wildlife Adventure</li>
    <li>Assemble With Care</li>
    <li>Roundguard</li>
    <li>Out and About</li>
    <li>Pupperazzi</li>
    <li>The Shrouded Isle</li>
    <li>Mutazione</li>
    <li>Saltsea Chronicles</li>
    <li>Moon Hunters</li>
    <li>Climate Survivors</li>
    <li>Hades II</li>
</ul>

<p>We also have a selection of climate and solarpunk related games to fit with the theme. Most of these have been donated by members of the <a href="https://www.igdaclimatesig.org/">IGDA Climate Special Interest Group</a>, please enjoy:</p>

<ul>
    <li>Alba: A Wildlife Adventure</li>
    <li>Monument Valley 2</li>
    <li>Out and About</li>
    <li>Climate Survivors</li>
    <li>HEAT.wav</li>
    <li>Was it always like this, dad?</li>
    <li>Saltsea Chronicles</li>
    <li>Mutazione</li>
</ul>

<p>Please check out the schedule for developer demo and Q&A sessions, information about the game jam, and browse the games we will have on display!</p>

<p>The arcade will be open from some time on Thursday depending on how quickly we can get it built.</p>
<p>9-10am each day will be a quiet session for those who would like to experience the games with low levels of sound. The more delicate machines that require attending will be closed off from 8pm at night until 9am the next day, but the main arcade machines will be open all night.</p>
<p>Curators: Jonathan Hogg, Joe Nash, Catherine Flick & Katie Steckles</p>
{% endblock %}
