{% macro format_expiry(item) %}
    {% if item.expires %}
        {{ item.expires.strftime('%Y-%m-%d') }}
    {% endif %}
{% endmacro %}

{% macro remaining(item) -%}
    {%- set rem = item.get_total_remaining_capacity() %}
    {%- if rem < 999999 %}{# Infinity check #}
        {{ rem }}
    {%- else %}
        ∞
    {%- endif %}
{%- endmacro %}

{% macro coalesce(val, def='') -%}
    {%- if val %}
        {{val}}
    {% else %}
        {{def}}
    {%- endif %}
{%- endmacro %}

{% macro breadcrumb(item) -%}
<h2>{{ breadcrumb_part(item) }}</h2>
{%- endmacro %}

{% macro breadcrumb_part(item, current=True) -%}
    {% if item.parent %}
        {{ breadcrumb_part(item.parent, False) }} → 
    {% endif %}
    {{ render_item(item, link=not current) }}
{%- endmacro %}

{% macro render_item(item, link=True) -%}
{% if item.__class__.__name__ == 'ProductGroup' %}
    {% if link %}<a href="{{url_for('.product_group_details', group_id=item.id) }}">{% endif %}Product Group: {{item.name}}{% if link %}</a>{% endif %}
{% elif item.__class__.__name__ == 'Product' %}
    {% if link %}<a href="{{url_for('.product_details', product_id=item.id) }}">{% endif %}Product: {{item.display_name}}{% if link %}</a>{% endif %}
{% elif item.__class__.__name__ == 'PriceTier' %}
    {% if link %}<a href="{{url_for('.price_tier_details', tier_id=item.id) }}">{% endif %}Price Tier: {{item.name}}{% if link %}</a>{% endif %}
{% endif %}
{%- endmacro %}
