{% extends "admin/base.html" %}
{% set nav_active = 'hire' %}
{% block body %}

<h2>Hire purchases</h2>
<table class="table table-condensed table-striped hire-purchases">
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Product</th>
    <th>State</th>
    <th>Count</th>
  </tr>
  {% for user, product, purchase_state, count in purchases %}
  <tr class="{{ purchase_state }}">
    <td>{{ user.name }}</td>
    <td><a href="{{ url_for('.user', user_id=user.id) }}">{{ user.email }}</a></td>
    <td>{{ product.name }}</td>
    <td>{{ purchase_state }}</td>
    <td>{{ count }}</td>
  </tr>

  {% endfor %}
</table>

<h4>Hires without a village</h4>

<table class="table table-condensed table-striped">
  <tr>
    <th>Name</th>
    <th>Email</th>
  </tr>
  {% for user in hires_without_villages %}
  <tr>
    <td>{{ user.name }}</td>
    <td><a href="{{ url_for('.user', user_id=user.id) }}">{{ user.email }}</a></td>
  </tr>
  {% endfor %}
</table>

<h4>Villages without a hire</h4>

<table class="table table-condensed table-striped">
  <tr>
    <th>Village name</th>
    <th>Owner name</th>
    <th>Owner email</th>
  </tr>
  {% for map_object in villages_without_hires %}
  <tr>
    <td>{{ map_object.name }}</td>
    <td>{{ map_object.owner.name }}</td>
    <td><a href="{{ url_for('.user', user_id=map_object.owner.id) }}">{{ map_object.owner.email }}</a></td>
  </tr>
  {% endfor %}
</table>

{% endblock %}
