{% from "admin/products/_macros.html" import format_expiry, breadcrumb %}
{% extends "admin/base.html" %}
{% set nav_active = 'products' %}
{% block title %}Price Tier: {{ tier.name }}{% endblock %}
{% block body %}

{{ breadcrumb(tier) }}

<dl class="dl-horizontal">
  <dt>Product</dt><dd>
      <a href="{{ url_for('admin.product_details', product_id=tier.parent.id) }}">{{ tier.parent }}</a>
  </dd>
  <dt>Active</dt><dd>{{ tier.active }}</dd>
  <dt>Sold</dt><dd>{{ tier.capacity_used }}</dd>
  <dt>Maximum</dt><dd>{{ tier.capacity_max }}</dd>
  <dt>Personal Maximum</dt><dd>{{ tier.personal_limit }}</dd>
  <dt>Expires</dt><dd>{{ format_expiry(tier) }}</dd>
</dl>

<h3>Prices</h3>

<dl class="dl-horizontal">
    {% for price in tier.prices %}
        <dt>{{price.currency}}</dt><dd>{{price.value}}</dd>
    {% endfor %}
</dl>

{% if tier.unused %}
    <p>This price tier has no purchases and and is inactive. It can be safely deleted.</p>
{% endif %}

<form method="post" class="btn-group">
<a href="{{ url_for('.price_tier_edit', tier_id=tier.id) }}" class="btn btn-default">Edit</a>
{{ form.hidden_tag() }}
{% if tier.unused %}
    <button name="delete" value="1" class="btn btn-danger">Delete</button>
{% endif %}
{% if tier.active %}
    <button name="deactivate" value="1" class="btn btn-default">Deactivate</button>
{% else %}
    <button name="activate" value="1" class="btn btn-default">Activate</button>
{% endif %}
</form>

{% endblock %}
