{% from "admin/products/_macros.html" import format_expiry, breadcrumb %}
{% extends "admin/base.html" %}
{% set nav_active = 'products' %}
{% block title %}Product: {{ product.display_name }}{% endblock %}
{% block body %}
    
{{ breadcrumb(product) }}

<dl class="dl-horizontal">
  <dt>Internal Name</dt>
  <dd>{{product.name}}</dd>
  <dt>Parent Group</dt>
  <dd><a href="{{url_for('admin.product_group_details', group_id=product.parent.id)}}">
        {{ product.parent }}
  </a></dd>
  <dt>Admits</dt><dd>{{ product.admits }}</dd>
  <dt>Sold</dt><dd>{{ product.capacity_used }}</dd>
  <dt>Maximum</dt><dd>{{ product.capacity_max }}</dd>
  <dt>Expires</dt><dd>{{ format_expiry(product) }}</dd>
  <dt>Issue Badge</dt><dd>{{ product.has_badge }}</dd>
  <dt>Transferable</dt><dd>{{ product.is_transferable }}</dd>
  <dt>Description</dt><dd>{{ product.description or '--' }}</dd>
</dl>

<h3>Price Tiers</h3>

<table class="table table-striped">
    <tr><th>Name</th><th>GBP</th><th>EUR</th></tr>
    {% for tier in product.price_tiers %}
        <tr>
            <td><a href="{{url_for('admin.price_tier_details', tier_id=tier.id)}}">{{tier.name}}</a></td>
            <td>{{tier.get_price('GBP')|price}}</td>
            <td>{{tier.get_price('EUR')|price}}</td>
        </tr>
    {% endfor %}
</table>

<div class="pull-right btn-group">
    <a class="btn btn-default" href="{{ url_for('.new_price_tier', product_id=product.id) }}">
        New Price Tier
    </a>
    <a class="btn btn-default" href="{{ url_for('.new_product', copy_id=product.id) }}">
        Clone
    </a>
    <a class="btn btn-warning" href="{{ url_for('.edit_product', product_id=product.id) }}">
        Edit
    </a>
</div>
{% endblock %}
