{% extends "admin/base.html" %}
{% set nav_active = 'products' %}
{% block title %}Products{% endblock %}
{% block body %}
<h2>Products</h2>
<table class="table table-condensed table-striped">
<thead><tr>
  <th>Name</th>
  <th>Display Name</th>
  <th>Admits</th>
  <th>Price</th>
  <th>Sold</th>
  <th>Max</th>
  <th>Expires</th>
  <th></th>
  <th></th>
</tr></thead>
<tbody>
{% for product in products %}
<tr class="ticket-product">
    <td>{{ product.name }}</td>
    <td><a href="{{ url_for('.product_details', product_id=product.id) }}">{{ product.display_name }}</a></td>
    <td>{{ product.type }}</td>
    <td>£{{ product.get_cheapest_price('GBP').value }}</td>
    <td class="{% if not product.has_capacity() -%} limit-reached {%- endif %}">
      {{ product.capacity_used or '' }}
    </td>
    <td class="{% if not product.has_capacity() -%} limit-reached {%- endif %}">
      {{ product.capacity_max if product.capacity_max != None }}
    </td>
    <td class="{% if product.expired -%} expired {%- endif %}">
      {{ product.expires.strftime('%Y-%m-%d') if product.expires != None }}
    </td>
    <td>
        <a class="btn btn-sm btn-success" href="{{ url_for('.new_product', copy_id=product.id) }}">Copy</a>
    </td>
    <td>
        <a class="btn btn-sm btn-warning" href="{{ url_for('.edit_product', product_id=product.id) }}">Edit</a>
    </td>
</tr>
{% endfor %}
</tbody>
</table>
<a class="btn btn-success" href="{{ url_for('.new_product') }}">New</a>
{% endblock %}
