{% extends "admin/base.html" %}
{% set nav_active = 'tees' %}
{% block body %}

<h2>T-shirt purchases</h2>
<table class="table table-condensed table-striped">
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Product</th>
    <th>Count</th>
  </tr>
  {% for user, product, count in purchases %}
  <tr>
    <td>{{ user.name }}</td>
    <td><a href="{{ url_for('.user', user_id=user.id) }}">{{ user.email }}</a></td>
    <td>{{ product.name }}</td>
    <td>{{ count }}</td>
  </tr>

  {% endfor %}
</table>

{% endblock %}
