{% extends "admin/base.html" %}
{% set nav_active = 'product_views' %}
{% block body %}

<h2>Product Views</h2>
<table class="table table-condensed table-striped">
  <tr>
    <th>Name</th>
    <th>Type</th>
    <th>Products</th>
    <th>Accepted CfP Only</th>
    <th>Vouchers Only</th>
  </tr>
  {% for view, count in view_counts %}
  <tr>
    <td><a href="{{ url_for('admin.product_view', view_id=view.id) }}">{{ view.name }}</a></td>
    <td>{{ view.type }}</td>
    <td>{{ count }}</td>
    <td>{% if view.cfp_accepted_only %}✔️{%endif%}</td>
    <td>{% if view.vouchers_only %}✔️{%endif%}</td>
  </tr>

  {% endfor %}
</table>

<a href="{{ url_for('.product_view_new') }}" class="btn btn-default">Create product view</a>

{% endblock %}
