{% extends "admin/base.html" %}
{% from "_formhelpers.html" import render_field  %}

{% set nav_active = 'product_views' %}
{% block body %}

<h2>Add voucher to product view</h2>
<form action="" method="post">
{{ form.hidden_tag() }}

{{ render_field(form.voucher, horizontal=False) }}
{{ render_field(form.expires, horizontal=False) }}
{{ render_field(form.num_purchases, horizontal=False) }}
{{ render_field(form.num_tickets, horizontal=False) }}


{{ form.create(class_="btn btn-success debounce") }}

</form>

{% endblock %}
