{% extends "admin/base.html" %}
{% from "_formhelpers.html" import render_field  %}

{% set nav_active = 'product_views' %}
{% block body %}

<h2>Product View {{ view.name }}</h2>
<form action="" method="post">
{{ form.hidden_tag() }}

{{ render_field(form.name, horizontal=False) }}
{{ render_field(form.type, horizontal=False) }}
{{ render_field(form.cfp_accepted_only, horizontal=False) }}

<h3>Products</h3>
<table class="table table-condensed table-striped">
  <tr>
    <th>Group</th>
    <th>Product</th>
    <th>Display Name</th>
    <th>Order</th>
    <th>Delete</th>
  </tr>
  {% for pvp in view.product_view_products %}
  <tr>
    <td>{{ pvp.product.parent.name }}</td>
    <td><a tabindex="-1" href="{{ url_for('admin.product_details', product_id=pvp.product.id) }}">{{ pvp.product.name }}</a></td>
    <td>{{ pvp.product.display_name }}</td>
    <td>
      {{ pvp._field.product_id() }}
      {{ pvp._field.order(class_="form-control") }}
    </td>
    <td>{{ pvp._field.delete(class_="btn btn-danger") }}</td>
  </tr>

  {% endfor %}
</table>

<h3>Vouchers</h3>
<table class="table table-condensed table-striped">
  <tr>
    <th>Token</th>
    <th>Expiry</th>
    <th>Used?</th>
  </tr>
  {% for vchr in view.tokens %}
    <tr>
      {# FIXME add a "copy URL" link? #}
      <td>{{ vchr.token }}</td>
      <td>{{ vchr.expiry }}</td>
      <td>{% if vchr.is_used %}Yes{% else %}No{% endif %}</td>
      }
    </tr>
  {% endfor %}
</table>

{{ form.update(class_="btn btn-success debounce") }}
<a href="{{ url_for('.product_view_add', view_id=view.id) }}" class="btn btn-default">Add products</a>
<a href="{{ url_for('.product_view_add_voucher', view_id=view.id) }}" class="btn btn-default">Add voucher</a>
<a href="{{ url_for('.bulk_create_vouchers_by_email', view_id=view.id) }}" class="btn btn-default">Bulk create vouchers</a>

</form>

{% endblock %}
