{% extends "admin/base.html" %}
{% from "_formhelpers.html" import render_field  %}

{% set nav_active = 'product_views' %}
{% block body %}

<h2>Product View {{ view.name }}</h2>
<form action="" method="post">
{{ form.hidden_tag() }}

<dl class="dl-horizontal">
<dt>Name</dt><dd>{{ view.name }}</dd>
<dt>Type</dt><dd>{{ view.type }}</dd>
</dl>

<table class="table table-condensed table-striped">
  <tr>
    <th>Group</th>
    <th>Product</th>
    <th>Display Name</th>
    <th>Order</th>
  </tr>
  {% for pvp in view.product_view_products %}
  <tr>
    <td>{{ pvp.product.parent.name }}</td>
    <td><a tabindex="-1" href="{{ url_for('admin.product_details', product_id=pvp.product.id) }}">{{ pvp.product.name }}</a></td>
    <td>{{ pvp.product.display_name }}</td>
    <td>{{ pvp.order }}</td>
  </tr>

  {% endfor %}
</table>

{% macro render_group_li(group, depth=0) -%}
<li>
  <a style="padding-left: {{ depth * 20 + 20 }}px" href="{{ url_for('.product_view_add', view_id=view.id, group_id=group.id) }}">
    {{ group | title }}
    {% if group == add_group %}
    {{ form.add_all_products(class_="btn btn-success debounce pull-right") }}
    {% endif %}
  </a>

  {% if group == add_group %}
    {% for product in group.products %}
    <li>
      <a style="padding-left: {{ depth * 20 + 40 }}px" href="{{ url_for('.product_view_add', view_id=view.id, group_id=group.id, product_id=product.id) }}">
      {{ product }}
      {% if product == add_product %}
      {{ form.add_product(class_="btn btn-success debounce pull-right") }}
      {% endif %}
      </a>
    </li>
    {% endfor %}
  {% endif %}
</li>
{% for child in group.children %}
  {{ render_group_li(child, depth=depth + 1) }}
{% endfor %}
{% endmacro %}

<div class="form-group">
  <label class="control-label">
    Product Group
  </label>
  <div class="controls">
    <ul class="nav">
      {% for group in root_groups %}
      {{ render_group_li(group) }}
      {% if not loop.last %}
      <li role="separator" class="divider"></li>
      {% endif %}
      {% endfor %}
    </ul>
  </div>
</div>

</form>

{% endblock %}
