{% extends 'base.html' %}

{% block title %}
    Bar training
{% endblock %}

{% block body %}
{% include "volunteer/_nav.html" %}

{% if not volunteer.over_18 %}

<h2>Bar training</h2>
<p>
    Thank you for your interest in working behind the bar. Unfortunately, this role is only available to those
    over the age of 18. If your age setting is incorrect, please update it on the 
    <a href="{{ url_for('volunteer.account') }}">volunteer account page</a>.
</p>

{% else %}

{% if trained %}

<h2>You have completed this training!</h2>
<p>
    <strong>Congratulations - you have completed your training for working in the bar.</strong>
    You can now <a href="{{ url_for('volunteer.schedule') }}">sign up</a> for bar shifts.
</p>
<p>
    You are welcome to review the training material again to boost your knowledge, or even
    complete the questions again - however you are not required to.
</p>
<hr />

{% endif %}

<form method="post">
    {% if form.errors %}
        <div class="alert alert-warning">Some of your answers are incorrect or incomplete, please review them below.</div>
    {% endif %}

    {% for page in pages %}
        <div id="page-{{ page['number'] }}" class="paged-content">
            {% if page['number'] != 1 %}<hr />{% endif %}

            {{ page.content|safe }}

            {% if page.questions %}
                <h3>Questions</h3>
                {% for q in form.questions %}
                    {% if page['number'] == q.page %}

                        {% if q.answers.errors %}
                            <p>
                                <mark>
                                    {{q.question_id.data + 1}}. {{ q.question|safe }}
                                    <strong class="pull-right" style="color: red">{{ ', '.join(q.answers.errors) }}</strong>
                                </mark>
                            </p>
                        {% else %}
                            <p>{{q.question_id.data + 1}}. {{ q.question|safe }}</p>
                        {% endif %}

                        {{ q.answers(class_="no-list-style") }}
                        {{ q.hidden_tag() }}
                    {% endif %}
                {% endfor %}
            {% endif %}

            {% if page['number'] == last_page %}
                {{ form.hidden_tag() }}
                {{ form.submit(class_="btn btn-primary") }}
            {% endif %}

        </div>
    {% endfor %}
</form>

<script>$('html, body').animate({ scrollTop: 0 }, 'fast');</script>
<style type="text/css">
label {
    font-weight: normal;
}

.no-list-style li{ 
    list-style-type: none;
}
</style>
{% endif %}

{% endblock %}

{% block footer %}
{% endblock %}

