{% extends 'base.html' %}

{% block title %}
    Train users
{% endblock %}
{% block body %}
    {% include "volunteer/_nav.html" %}
    <h2>Who have you trained?</h2>
    <form method="post">
        {{ form.hidden_tag() }}

        {% for field in form.volunteers %}
            {{ field.hidden_tag() }}
            <div class="checkbox">
                <label for="{{ field.trained.name }}">
                    {{ field.trained()| safe }}
                    <strong>{{ field._volunteer.nickname }}</strong>
                </label>
            </div>
        {% endfor %}


        <div class="form-group">
            {{ form.submit(class_="btn btn-primary debounce") }}
        </div>
    </form>
{% endblock %}
