{% extends 'base.html' %}
{% from "_formhelpers.html" import render_field %}

{% block title %}
    Train users
{% endblock %}
{% block body %}
    {% include "volunteer/_nav.html" %}
    <h2>{{ role.name }} Training</h2>
    <div class="well">
      <h3>Search for volunteers</h3>
      <p>You can search by nickname or email address, partial matches are supported.</p>
      <form method="post" class="form-inline">
        <label for="query" class="sr-only">Email/nickname:</label>
        <input type="text" class="form-control" value="{{ query }}" name="query">
        <button type="submit" class="btn btn-default">Search</button>
      </form>
    </div>

    {% if query != "" %}
        <ul>
            {% for volunteer in volunteers %}
                <li>
                    {% if volunteer in role.trained_volunteers %}
                        <form method="post" action="{{ url_for('.untrain_user', role_id=role.id, volunteer_id=volunteer.id) }}">
                            {{ volunteer.nickname }}
                            <button type="submit" class="btn btn-small btn-danger">Untrain</button>
                        </form>
                    {% else %}
                        <form method="post" action="{{ url_for('.train_user', role_id=role.id, volunteer_id=volunteer.id) }}">
                            {{ volunteer.nickname }}
                            <button type="submit" class="btn btn-small btn-primary">Train</button>
                        </form>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
