{% extends "villages/admin/base.html" %}
{% block title %}Village Info: {{village.name}}{% endblock %}
{% block body %}
<h3>Village Info: {{village.name}}</h3>
<dl class="dl-horizontal">
  <dt>Admins:</dt><dd>{% for admin in village.admins() %}
    {%- if current_user.has_permission('admin') -%}
      <a href="{{url_for('admin.user', user_id=admin.id)}}">
    {%- endif -%}
    {{admin.name}} ({{admin.email}})
    {%- if current_user.has_permission('admin') -%}
      </a>
    {%- endif %},
  {% endfor %}</dd>
  <dt>Description:</dt><dd>{{village.description}}</dd>
  <dt>URL:</dt><dd><a href="{{village.url}}" target="_blank">{{village.url}}</a></dd>
  <dt>Attendees:</dt><dd>{{village.requirements.num_attendees}}</dd>
  <dt>Size (m<sup>2</sup>):</dt><dd>{{village.requirements.size_sqm}}</dd>
  <dt>Noise:</dt><dd>{{village.requirements.noise}}</dd>
  <dt>Power:</dt><dd>{{village.requirements.power_requirements}}</dd>
  <dt>Structures:</dt><dd>{{village.requirements.structures}}</dd>
</dl>
{% endblock %}
