{% extends "villages/admin/base.html" %}
{% from "_formhelpers.html" import render_field  %}
{% block title %}Village Info: {{village.name}}{% endblock %}
{% block body %}
<h3>Village Info: {{village.name}}</h3>
<form method="POST">
    {{ form.hidden_tag() }}

    {{ render_field(form.name) }}
    {{ render_field(form.description) }}
    {{ render_field(form.url) }}
    {{ render_field(form.latlon) }}
    {{ render_field(form.num_attendees) }}
    {{ render_field(form.size_sqm) }}
    {{ render_field(form.power_requirements) }}
    {{ render_field(form.noise) }}
    {{ render_field(form.structures) }}

    {{ form.submit(class_="btn btn-success") }}
    <a class="btn" href="{{ url_for('.admin') }}">Back</a>
</form>
{% endblock %}
