{% extends "villages/admin/base.html" %}
{% from "_formhelpers.html" import render_field  %}
{% block title %}Village Info: {{village.name}}{% endblock %}
{% block body %}
<h3>Village Info: {{village.name}}</h3>
<b>Village administrators:</b>
<ul>
    {% set show_remove = village.admins()|count > 1 %}
    {% for user in village.admins() %}
        <li>
            {% if show_remove %}
            <a href="{{ url_for('admin.user', user_id=user.id) }}">{{ user.name }}</a> ({{ user.email }})
            <form method="POST" action="{{ url_for('villages.admin_village_admins_demote', village_id=village.id) }}" class="village-inline-form">
                <input type="hidden" name="user_id" value="{{ user.id }}" />
                <input type="submit" name="demote" value="Demote" class="btn btn-sm btn-warning"/>
            </form>
            <form method="POST" action="{{ url_for('villages.admin_village_admins_remove', village_id=village.id) }}" class="village-inline-form">
                <input type="hidden" name="user_id" value="{{ user.id }}" />
                <input type="submit" name="remove" value="Remove" class="btn btn-sm btn-danger"/>
            </form>
            {% else %}
                <a href="{{ url_for('admin.user', user_id=user.id) }}">{{ user.name }}</a> ({{ user.email }})
            {% endif %}
        </li>
    {% endfor %}
    <li>
        <form method="POST" action="{{ url_for('villages.admin_village_admins_add', village_id=village.id) }}">
            <input name="user_email" value="" placeholder="email address" />
            <input type="submit" name="add" value="Add" class="btn btn-sm btn-success"/>
        </form>
    </li>
</ul>

<b>Village members:</b>
<ul>
    {% for user in village.non_admins() %}
        <li>
            <a href="{{ url_for('admin.user', user_id=user.id) }}">{{ user.name }}</a> ({{ user.email }})
            <form method="POST" action="{{ url_for('villages.admin_village_members_promote', village_id=village.id) }}" class="village-inline-form">
                <input type="hidden" name="user_id" value="{{ user.id }}" />
                <input type="submit" name="promote" value="Promote" class="btn btn-sm btn-success"/>
            </form>
            <form method="POST" action="{{ url_for('villages.admin_village_members_remove', village_id=village.id) }}" class="village-inline-form">
                <input type="hidden" name="user_id" value="{{ user.id }}" />
                <input type="submit" name="remove" value="Remove" class="btn btn-sm btn-danger"/>
            </form>
        </li>
    {% endfor %}
    <li>
        <form method="POST" action="{{ url_for('villages.admin_village_members_add', village_id=village.id) }}">
            <input name="user_email" value="" placeholder="email address" />
            <input type="submit" name="add" value="Add" class="btn btn-sm btn-success"/>
        </form>
    </li>
</ul>

<form method="POST">
    {{ form.hidden_tag() }}

    {{ render_field(form.name) }}
    {{ render_field(form.description) }}
    {{ render_field(form.long_description) }}
    {{ render_field(form.url) }}
    {{ render_field(form.location_lat) }}
    {{ render_field(form.location_lon) }}
    {{ render_field(form.num_attendees) }}
    {{ render_field(form.size_sqm) }}
    {{ render_field(form.power_requirements) }}
    {{ render_field(form.noise) }}
    {{ render_field(form.structures) }}

    {{ form.submit(class_="btn btn-success") }}
    <a class="btn btn-danger" href="{{ url_for('.delete', village_id=village.id) }}">Delete</a>
    <a class="btn" href="{{ url_for('.admin') }}">Back</a>
</form>
{% endblock %}
