interactions:
- request:
    body: amount=23000&currency=GBP&statement_descriptor_suffix=EMF+2020+purchase&metadata[user_id]=1&metadata[payment_id]=1
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 467112d0-3ed0-4d55-90f6-04599a2fdca5
    method: POST
    uri: https://api.stripe.com/v1/payment_intents
  response:
    body:
      string: "{\n  \"id\": \"pi_1GUslpIcI91cWsdeheAuRsyg\",\n  \"object\": \"payment_intent\"\
        ,\n  \"allowed_source_types\": [\n    \"card\"\n  ],\n  \"amount\": 23000,\n\
        \  \"amount_capturable\": 0,\n  \"amount_received\": 0,\n  \"application\"\
        : null,\n  \"application_fee_amount\": null,\n  \"canceled_at\": null,\n \
        \ \"cancellation_reason\": null,\n  \"capture_method\": \"automatic\",\n \
        \ \"charges\": {\n    \"object\": \"list\",\n    \"data\": [\n\n    ],\n \
        \   \"has_more\": false,\n    \"total_count\": 0,\n    \"url\": \"/v1/charges?payment_intent=pi_1GUslpIcI91cWsdeheAuRsyg\"\
        \n  },\n  \"client_secret\": \"pi_1GUslpIcI91cWsdeheAuRsyg_secret_jm7QnCtrTMjZKeYmqmmmlXZlj\"\
        ,\n  \"confirmation_method\": \"automatic\",\n  \"created\": 1586161027,\n\
        \  \"currency\": \"gbp\",\n  \"customer\": null,\n  \"description\": null,\n\
        \  \"invoice\": null,\n  \"last_payment_error\": null,\n  \"livemode\": false,\n\
        \  \"metadata\": {\n    \"user_id\": \"1\",\n    \"payment_id\": \"1\"\n \
        \ },\n  \"next_action\": null,\n  \"next_source_action\": null,\n  \"on_behalf_of\"\
        : null,\n  \"payment_method\": null,\n  \"payment_method_options\": {\n  \
        \  \"card\": {\n      \"installments\": null,\n      \"request_three_d_secure\"\
        : \"automatic\"\n    }\n  },\n  \"payment_method_types\": [\n    \"card\"\n\
        \  ],\n  \"receipt_email\": null,\n  \"review\": null,\n  \"setup_future_usage\"\
        : null,\n  \"shipping\": null,\n  \"source\": null,\n  \"statement_descriptor\"\
        : null,\n  \"statement_descriptor_suffix\": \"EMF 2020 purchase\",\n  \"status\"\
        : \"requires_source\",\n  \"transfer_data\": null,\n  \"transfer_group\":\
        \ null\n}\n"
    headers:
      Content-Type:
      - application/json
      idempotency-key:
      - 467112d0-3ed0-4d55-90f6-04599a2fdca5
      original-request:
      - req_MGgq5mNOSPFvrt
      stripe-should-retry:
      - 'false'
      stripe-version:
      - '2016-07-06'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.stripe.com/v1/charges/ch_1GUslxIcI91cWsde5jePBfRQ
  response:
    body:
      string: "{\n  \"id\": \"ch_1GUslxIcI91cWsde5jePBfRQ\",\n  \"object\": \"charge\"\
        ,\n  \"amount\": 23000,\n  \"amount_refunded\": 0,\n  \"application\": null,\n\
        \  \"application_fee\": null,\n  \"application_fee_amount\": null,\n  \"balance_transaction\"\
        : \"txn_1GUslxIcI91cWsdenOKhyR4i\",\n  \"billing_details\": {\n    \"address\"\
        : {\n      \"city\": null,\n      \"country\": null,\n      \"line1\": null,\n\
        \      \"line2\": null,\n      \"postal_code\": \"42424\",\n      \"state\"\
        : null\n    },\n    \"email\": \"test@example.com\",\n    \"name\": \"Test\"\
        ,\n    \"phone\": null\n  },\n  \"calculated_statement_descriptor\": \"EMFCAMP*\
        \ EMF 2020 P\",\n  \"captured\": true,\n  \"created\": 1586171145,\n  \"currency\"\
        : \"gbp\",\n  \"customer\": null,\n  \"description\": null,\n  \"destination\"\
        : null,\n  \"dispute\": null,\n  \"disputed\": false,\n  \"failure_code\"\
        : null,\n  \"failure_message\": null,\n  \"fraud_details\": {\n  },\n  \"\
        invoice\": null,\n  \"livemode\": false,\n  \"metadata\": {\n    \"user_id\"\
        : \"1\",\n    \"payment_id\": \"2\"\n  },\n  \"on_behalf_of\": null,\n  \"\
        order\": null,\n  \"outcome\": {\n    \"network_status\": \"approved_by_network\"\
        ,\n    \"reason\": null,\n    \"risk_level\": \"normal\",\n    \"risk_score\"\
        : 55,\n    \"seller_message\": \"Payment complete.\",\n    \"type\": \"authorized\"\
        \n  },\n  \"paid\": true,\n  \"payment_intent\": \"pi_1GUslpIcI91cWsdeheAuRsyg\"\
        ,\n  \"payment_method\": \"pm_1GUslxIcI91cWsdeBYozsFYU\",\n  \"payment_method_details\"\
        : {\n    \"card\": {\n      \"brand\": \"visa\",\n      \"checks\": {\n  \
        \      \"address_line1_check\": null,\n        \"address_postal_code_check\"\
        : \"pass\",\n        \"cvc_check\": \"pass\"\n      },\n      \"country\"\
        : \"US\",\n      \"exp_month\": 4,\n      \"exp_year\": 2024,\n      \"fingerprint\"\
        : \"VKnD4kq2Jm2zibNl\",\n      \"funding\": \"credit\",\n      \"installments\"\
        : null,\n      \"last4\": \"4242\",\n      \"network\": \"visa\",\n      \"\
        three_d_secure\": null,\n      \"wallet\": null\n    },\n    \"type\": \"\
        card\"\n  },\n  \"receipt_email\": null,\n  \"receipt_number\": null,\n  \"\
        receipt_url\": \"https://pay.stripe.com/receipts/acct_14i5G7IcI91cWsde/ch_1GUslxIcI91cWsde5jePBfRQ/rcpt_H2yjkWzJc46LbnTbSqH7RdXWbbaVDSU\"\
        ,\n  \"refunded\": false,\n  \"refunds\": {\n    \"object\": \"list\",\n \
        \   \"data\": [\n\n    ],\n    \"has_more\": false,\n    \"total_count\":\
        \ 0,\n    \"url\": \"/v1/charges/ch_1GUslxIcI91cWsde5jePBfRQ/refunds\"\n \
        \ },\n  \"review\": null,\n  \"shipping\": null,\n  \"source\": null,\n  \"\
        source_transfer\": null,\n  \"statement_descriptor\": null,\n  \"statement_descriptor_suffix\"\
        : \"EMF 2020 purchase\",\n  \"status\": \"succeeded\",\n  \"transfer_data\"\
        : null,\n  \"transfer_group\": null\n}\n"
    headers:
      Content-Type:
      - application/json
      stripe-version:
      - '2016-07-06'
    status:
      code: 200
      message: OK
- request:
    body: charge=ch_1GUslxIcI91cWsde5jePBfRQ&amount=21000&metadata[refund_request]=1
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 14d0d6b0-d636-49bb-998a-a3a517a392aa
    method: POST
    uri: https://api.stripe.com/v1/refunds
  response:
    body:
      string: "{\n  \"id\": \"re_1GVEloIcI91cWsdemdIEKjOK\",\n  \"object\": \"refund\"\
        ,\n  \"amount\": 21000,\n  \"balance_transaction\": \"txn_1GVEloIcI91cWsdeWsmUp4Fr\"\
        ,\n  \"charge\": \"ch_1GUslxIcI91cWsde5jePBfRQ\",\n  \"created\": 1586255704,\n\
        \  \"currency\": \"gbp\",\n  \"metadata\": {\n    \"refund_request\": \"1\"\
        \n  },\n  \"payment_intent\": \"pi_1GUslpIcI91cWsdeheAuRsyg\",\n  \"reason\"\
        : null,\n  \"receipt_number\": null,\n  \"source_transfer_reversal\": null,\n\
        \  \"status\": \"succeeded\",\n  \"transfer_reversal\": null\n}\n"
    headers:
      Content-Type:
      - application/json
      idempotency-key:
      - 14d0d6b0-d636-49bb-998a-a3a517a392aa
      original-request:
      - req_2wQMwa8QK6IquD
      stripe-should-retry:
      - 'false'
      stripe-version:
      - '2016-07-06'
    status:
      code: 200
      message: OK
version: 1
