interactions:
- request:
    body: amount=23000&currency=GBP&statement_descriptor_suffix=EMF+2025+purchase&metadata[user_id]=1&metadata[payment_id]=1
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 90582ef1-1afd-4010-97ed-ad91e3b01c5d
      Stripe-Version:
      - '2023-10-16'
      authorization:
      - DUMMY
    method: POST
    uri: https://api.stripe.com/v1/payment_intents
  response:
    body:
      string: "{\n  \"id\": \"pi_3OiHFbHz0MWR65Xj0KidZr5i\",\n  \"object\": \"payment_intent\",\n
        \ \"amount\": 23000,\n  \"amount_capturable\": 0,\n  \"amount_details\": {\n
        \   \"tip\": {}\n  },\n  \"amount_received\": 0,\n  \"application\": null,\n
        \ \"application_fee_amount\": null,\n  \"automatic_payment_methods\": {\n
        \   \"allow_redirects\": \"always\",\n    \"enabled\": true\n  },\n  \"canceled_at\":
        null,\n  \"cancellation_reason\": null,\n  \"capture_method\": \"automatic\",\n
        \ \"client_secret\": \"pi_3OiHFbHz0MWR65Xj0KidZr5i_secret_Z9ikdFm8aaFuujx7VMlfTHP4M\",\n
        \ \"confirmation_method\": \"automatic\",\n  \"created\": 1707574191,\n  \"currency\":
        \"gbp\",\n  \"customer\": null,\n  \"description\": null,\n  \"invoice\":
        null,\n  \"last_payment_error\": null,\n  \"latest_charge\": null,\n  \"livemode\":
        false,\n  \"metadata\": {\n    \"payment_id\": \"1\",\n    \"user_id\": \"1\"\n
        \ },\n  \"next_action\": null,\n  \"on_behalf_of\": null,\n  \"payment_method\":
        null,\n  \"payment_method_configuration_details\": null,\n  \"payment_method_options\":
        {\n    \"card\": {\n      \"installments\": null,\n      \"mandate_options\":
        null,\n      \"network\": null,\n      \"request_three_d_secure\": \"automatic\"\n
        \   }\n  },\n  \"payment_method_types\": [\n    \"card\"\n  ],\n  \"processing\":
        null,\n  \"receipt_email\": null,\n  \"review\": null,\n  \"setup_future_usage\":
        null,\n  \"shipping\": null,\n  \"source\": null,\n  \"statement_descriptor\":
        null,\n  \"statement_descriptor_suffix\": \"EMF 2025 purchase\",\n  \"status\":
        \"requires_payment_method\",\n  \"transfer_data\": null,\n  \"transfer_group\":
        null\n}"
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 90582ef1-1afd-4010-97ed-ad91e3b01c5d
      Original-Request:
      - req_reP2uzOE3Oy0vT
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Stripe-Version:
      - '2023-10-16'
      authorization:
      - DUMMY
    method: GET
    uri: https://api.stripe.com/v1/charges/ch_3OibCXHz0MWR65Xj09SoiLkW
  response:
    body:
      string: "{\n  \"id\": \"ch_3OibCXHz0MWR65Xj09SoiLkW\",\n  \"object\": \"charge\",\n
        \ \"amount\": 21000,\n  \"amount_captured\": 21000,\n  \"amount_refunded\":
        0,\n  \"application\": null,\n  \"application_fee\": null,\n  \"application_fee_amount\":
        null,\n  \"balance_transaction\": \"txn_3OibCXHz0MWR65Xj0FGYSo9U\",\n  \"billing_details\":
        {\n    \"address\": {\n      \"city\": null,\n      \"country\": null,\n      \"line1\":
        null,\n      \"line2\": null,\n      \"postal_code\": \"11111\",\n      \"state\":
        null\n    },\n    \"email\": \"test@example.com\",\n    \"name\": \"Initial Admin
        User\",\n    \"phone\": null\n  },\n  \"calculated_statement_descriptor\":
        \"STRIPE* EMF 2022 PURCH\",\n  \"captured\": true,\n  \"created\": 1707650896,\n
        \ \"currency\": \"gbp\",\n  \"customer\": null,\n  \"description\": null,\n
        \ \"destination\": null,\n  \"dispute\": null,\n  \"disputed\": false,\n  \"failure_balance_transaction\":
        null,\n  \"failure_code\": null,\n  \"failure_message\": null,\n  \"fraud_details\":
        {},\n  \"invoice\": null,\n  \"livemode\": false,\n  \"metadata\": {\n    \"payment_id\":
        \"1\",\n    \"user_id\": \"1\"\n  },\n  \"on_behalf_of\": null,\n  \"order\":
        null,\n  \"outcome\": {\n    \"network_status\": \"approved_by_network\",\n
        \   \"reason\": null,\n    \"risk_level\": \"normal\",\n    \"risk_score\":
        47,\n    \"seller_message\": \"Payment complete.\",\n    \"type\": \"authorized\"\n
        \ },\n  \"paid\": true,\n  \"payment_intent\": \"pi_3OibCXHz0MWR65Xj0sgHN7Ni\",\n
        \ \"payment_method\": \"pm_1OibCmHz0MWR65XjLoAoi9pj\",\n  \"payment_method_details\":
        {\n    \"card\": {\n      \"amount_authorized\": 21000,\n      \"brand\":
        \"visa\",\n      \"checks\": {\n        \"address_line1_check\": null,\n        \"address_postal_code_check\":
        \"pass\",\n        \"cvc_check\": \"pass\"\n      },\n      \"country\": \"US\",\n
        \     \"exp_month\": 1,\n      \"exp_year\": 2030,\n      \"extended_authorization\":
        {\n        \"status\": \"disabled\"\n      },\n      \"fingerprint\": \"qyoEjYqy9x1BibQI\",\n
        \     \"funding\": \"credit\",\n      \"incremental_authorization\": {\n        \"status\":
        \"unavailable\"\n      },\n      \"installments\": null,\n      \"last4\":
        \"4242\",\n      \"mandate\": null,\n      \"multicapture\": {\n        \"status\":
        \"unavailable\"\n      },\n      \"network\": \"visa\",\n      \"network_token\":
        {\n        \"used\": false\n      },\n      \"overcapture\": {\n        \"maximum_amount_capturable\":
        21000,\n        \"status\": \"unavailable\"\n      },\n      \"three_d_secure\":
        null,\n      \"wallet\": null\n    },\n    \"type\": \"card\"\n  },\n  \"radar_options\":
        {},\n  \"receipt_email\": null,\n  \"receipt_number\": null,\n  \"receipt_url\":
        \"https://pay.stripe.com/receipts/payment/CAcaFwoVYWNjdF8xT2RocXVIejBNV1I2NVhqKIjgoq4GMgYedyoyka46LBahzyoz_mteiHuUGNdxRBku7tg6ApTa33nAeRp-PNF-XsrlCpM5MQnZwei3\",\n
        \ \"refunded\": false,\n  \"review\": null,\n  \"shipping\": null,\n  \"source\":
        null,\n  \"source_transfer\": null,\n  \"statement_descriptor\": null,\n  \"statement_descriptor_suffix\":
        \"EMF 2022 purchase\",\n  \"status\": \"succeeded\",\n  \"transfer_data\":
        null,\n  \"transfer_group\": null\n}"
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    status:
      code: 200
      message: OK
- request:
    body: charge=ch_3OibCXHz0MWR65Xj09SoiLkW&amount=21000&metadata[refund_request]=1
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 37370c9d-b7ea-42d2-b8d0-b70e33e2e0d4
      Stripe-Version:
      - '2023-10-16'
      authorization:
      - DUMMY
    method: POST
    uri: https://api.stripe.com/v1/refunds
  response:
    body:
      string: "{\n  \"id\": \"re_3OibCXHz0MWR65Xj0KIi9Hq0\",\n  \"object\": \"refund\",\n
        \ \"amount\": 21000,\n  \"balance_transaction\": \"txn_3OibCXHz0MWR65Xj0q14l4Pn\",\n
        \ \"charge\": \"ch_3OibCXHz0MWR65Xj09SoiLkW\",\n  \"created\": 1707651081,\n
        \ \"currency\": \"gbp\",\n  \"destination_details\": {\n    \"card\": {\n
        \     \"reference_status\": \"pending\",\n      \"reference_type\": \"acquirer_reference_number\",\n
        \     \"type\": \"refund\"\n    },\n    \"type\": \"card\"\n  },\n  \"metadata\":
        {\n    \"refund_request\": \"1\"\n  },\n  \"payment_intent\": \"pi_3OibCXHz0MWR65Xj0sgHN7Ni\",\n
        \ \"reason\": null,\n  \"receipt_number\": null,\n  \"source_transfer_reversal\":
        null,\n  \"status\": \"succeeded\",\n  \"transfer_reversal\": null\n}"
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 37370c9d-b7ea-42d2-b8d0-b70e33e2e0d4
      Original-Request:
      - req_fQu9FhEOR2ZON5
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    status:
      code: 200
      message: OK
[...]
