interactions:
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
    method: GET
    uri: https://api.sandbox.transferwise.tech/v1/profiles/123456789/account-details
  response:
    body:
      string: "[{\"id\":null,\"currency\":{\"code\":\"EUR\",\"name\":\"Euro\"},\"balanceId\":-1,\"title\":\"Your
        EUR account details\",\"subtitle\":\"IBAN and Swift/BIC\",\"status\":\"AVAILABLE\",\"deprecated\":false,\"migrated\":false,\"receiveOptions\":[{\"type\":\"LOCAL\",\"title\":\"Local\",\"description\":{\"title\":\"Your
        EUR account details\",\"body\":\"Receive from a bank in the Eurozone<a href=\\\"https://wise.com/help/17/borderless-account/2827505/how-do-i-use-my-eur-bank-details\\\"
        rel=\\\"noopener\\\" target=\\\"_blank\\\">See how to use EUR account details</a>\",\"cta\":null},\"summaries\":[{\"type\":\"TIME\",\"title\":\"Payments
        take up to 2 working days to arrive\",\"description\":null},{\"type\":\"INFO\",\"title\":\"SEPA
        includes countries in the EU and EEA\",\"description\":{\"title\":\"What\u2019s
        SEPA?\",\"body\":\"<p>SEPA stands for the Single Euro Payments Area. Within
        this area, cross-border euro payments must cost the same as a regular, local
        one. It\u2019s EU law.</p><p>SEPA covers all the countries within the EU.
        It also includes other European countries like Monaco, Norway, and Switzerland.</p><p>So
        if your sender is sending from a euro bank account in one of these countries,
        they shouldn\u2019t have to pay much \u2014 if anything \u2014 to send money
        to your EUR account details.</p><h5>Good to know</h5><ul><li>SEPA payments
        to your EUR account details usually take 1\u20132 working days.</li><li>Just
        because a country uses euros, doesn\u2019t mean it\u2019s in SEPA.\_Please
        check the list below if you\u2019re unsure.</li></ul><p><a href=\\\"https://wise.com/help/articles/2968880/sepa-countries-and-ibans\\\"
        rel=\\\"noopener\\\" target=\\\"_blank\\\">See the full list of SEPA countries</a></p>\",\"cta\":null}},{\"type\":\"SAFETY\",\"title\":\"Learn
        how Wise keeps your money safe\",\"description\":{\"title\":\"How Wise keeps
        your money safe\",\"body\":\"<ul><li>We follow strict regulations everywhere
        we work</li><li>We safeguard 100% of your cash</li><li>We work round the clock
        to keep your money protected</li></ul><p>Your Wise account, and the money
        in it, are managed and protected by Wise in your region.</p><p><a href=\\\"https://wise.com/help/articles/2949821/how-wise-keeps-your-money-safe?origin=topic-5U80whCL1cmJnbIVNGsm3h\\\"
        rel=\\\"noopener\\\" target=\\\"_blank\\\">Learn more</a></p>\",\"cta\":null}}],\"details\":[{\"type\":\"ACCOUNT_HOLDER\",\"title\":\"Account
        holder\",\"body\":\"Willis and Daughters 4056\",\"description\":null,\"hidden\":false},{\"type\":\"SWIFT_CODE\",\"title\":\"BIC\",\"body\":\"TRWIBxxxxxx\",\"description\":{\"title\":\"What\u2019s
        BIC?\",\"body\":\"<p>A BIC code identifies banks and financial institutions
        globally. It says who and where they are \u2014 a sort of international bank
        code or ID.</p>\",\"cta\":null},\"hidden\":false},{\"type\":\"IBAN\",\"title\":\"IBAN\",\"body\":\"BE29
        9670 xxxx xxxx\",\"description\":{\"title\":\"What is an IBAN?\",\"body\":\"<p>IBAN
        stands for International Bank Account Number. Your EUR account details include
        a Belgian IBAN, which begins with BE.</p><p>You only have one Wise account,
        no matter how many account details you have. Your Wise account is managed
        and protected by Wise in your region. <a href=\\\"https://wise.com/help/articles/2897226\\\"
        rel=\\\"noopener\\\" target=\\\"_blank\\\">Learn more.</a></p><p><b>Do you
        need an account number?</b></p><p>If your sender specifically asks for an
        account number, use: <strong>0000001</strong></p>\",\"cta\":{\"label\":\"IBAN\",\"content\":\"BE29
        9670 xxxx xxxx\"}},\"hidden\":false},{\"type\":\"BANK_NAME_AND_ADDRESS\",\"title\":\"Bank
        name and address\",\"body\":\"TransferWise Europe SA\\nSquare de Mee\xFBs
        38 bte 40\\nBrussels\\n1000\\nBelgium\",\"description\":{\"title\":\"Did they
        ask for a bank address?\",\"body\":\"<p>Although Wise isn\u2019t a bank, you
        can use these details if your sender needs a bank name and address and we\u2019ll
        process the transfer.</p>\",\"cta\":null},\"hidden\":false}],\"alert\":null,\"shareText\":null},{\"type\":\"INTERNATIONAL\",\"title\":\"Global
        \xB7 Swift\",\"description\":{\"title\":\"Your EUR account details\",\"body\":\"Receive
        from a bank outside the Eurozone<a href=\\\"https://wise.com/help/17/borderless-account/2827505/how-do-i-use-my-eur-bank-details\\\"
        rel=\\\"noopener\\\" target=\\\"_blank\\\">See how to use EUR account details</a>\",\"cta\":null},\"summaries\":[{\"type\":\"TIME\",\"title\":\"Payments
        take up to 5 working days to arrive\",\"d[...]
