{% extends 'base.html' %}

{% macro state_selector(shift_entry) %}
  <form method="post" action="{{ url_for("volunteer.set_state", role_id=shift_entry.shift.role_id, shift_id=shift_entry.shift_id, user_id=shift_entry.user_id)}}" class="role-state-selector">
    <label class="sr-only" for="state">New State</label>
    <select name="state" class="form-control">
      <option value="{{ shift_entry.state }}">{{ shift_entry.state | capitalize | replace("_", " ") }}</option>
      <hr>
      {% for state in shift_entry.valid_states() %}
        <option value="{{ state }}">{{ state | capitalize | replace("_", " ") }}</option>
      {% endfor %}
    </select>
  </form>
{% endmacro %}

{% block title %}
  EMF Volunteer Role Admin
{% endblock %}

{% block body %}
  {% include "volunteer/_nav.html" %}
  <h2>{{ role }} Admin</h2>
  <p>
    <a href="{{ url_for('.role_volunteers', role_id=role.id) }}" class="btn btn-primary">All Volunteers</a>
    <a href="{{ url_for('.role_edit', role_id=role.id) }}" class="btn btn-primary">Edit</a>
    <a href="{{ url_for('.train_users', role_id=role.id) }}" class="btn btn-primary">Training</a>
    {% if not role.shifts_finalised %}
        <a href="{{ url_for('.role_shift_templates', role_id=role.id) }}" class="btn btn-primary">Shift Configuration</a>
    {% endif %}
    <a href="{{ url_for('.team_admin', team_id=role.team_id) }}" class="btn btn-primary">Team Admins</a>
  </p>
  {% if venues | length > 1 %}
  <div class="well">
    <form method="get" class="form-inline">
      <label for="venue_id">Location:</label>
      <select name="venue_id" id="venue_id" class="form-control">
        <option value="0">All venues</option>
        {% for venue in venues %}
        <option value="{{ venue.id }}" {{ "selected" if venue.id == selected_venue_id }}>{{ venue.name }}</option>
        {% endfor %}
      </select>
      <button type="submit" class="btn btn-default">Filter</button>
    </form>
  </div>
  {% endif %}
  <h3>Volunteers on Shift</h3>
  <div class="role-admin-shift well content-well">
    {% for active in active_shift_entries %}
      <div class="volunteer">
        <p>
          <strong>{{ active.user.volunteer.nickname }}</strong> {{ active.shift.local_start.strftime("%a %H:%M") }}&ndash;{{ active.shift.local_end.strftime("%H:%M") }}
          {% if now > active.shift.end %}
              <br /><span class="overtime">{{ (now - active.shift.end)|duration_hm }} over</span>
          {% endif %}
        </p>
        {{ state_selector(active) }}
      </div>
    {% endfor %}
  </div>

  <h3>Volunteers Due</h3>
  <div class="role-admin-shift well content-well">
    {% for pending in pending_shift_entries %}
      <div class="volunteer">
        <p>{{ pending.user.volunteer.nickname }}: {{ pending.shift.local_start.strftime("%a %H:%M") }}&ndash;{{ pending.shift.local_end.strftime("%H:%M") }}</p>
        {{ state_selector(pending) }}
      </div>
    {% endfor %}
  </div>

  <h3>Upcoming Shifts</h3>
  {% for shift in upcoming_shifts %}
    <div class="role-admin-shift well content-well">
      <h4 id="shift-{{ shift.id }}">
        {{ shift.local_start.strftime("%a %H:%M") }} - {{ shift.local_end.strftime("%H:%M") }} - {{shift.venue.name }}
        {% if shift.multiplier != 1 %}
            {{ shift.multiplier }}×
        {% endif %}
      </h4>
      <form method="post" class="shift-editor" id="shift-editor-{{ shift.id }}" action="/volunteer/role/{{ shift.role_id }}/{{ shift.id }}">
        <div class="form-group">
          <label class="control-label" for="min_needed">Minimum Volunteers</label>
          <input name="min_needed" type="number" class="form-control" value="{{ shift.min_needed }}">
        </div>
        <div class="form-group">
          <label class="control-label" for="max_needed">Maximum Volunteers</label>
          <input name="max_needed" type="number" class="form-control" value="{{ shift.max_needed }}">
        </div>
        <div class="form-group">
        <label for="multiplier" class="control-label">Multiplier</label>
        <input type="number" step="0.01" name="multiplier" class="form-control" value="{{ shift.multiplier }}">
        </div>
        <div class="form-group">
          <label class="control-label" for="notes">Notes</label>
          <input name="notes" type="text" class="form-control" value="{{ shift.notes if shift.notes }}">
          <p class="help-block">Notes to make available for volunteers signing up to this shift. Leave blank if none required. Primarily intended for workshop helpers.</p>
        </div>
        <div class="form-group">
          <button type="button" class="btn btn-danger shift-editor-cancel" data-shift-id="{{ shift.id }}">Cancel</button>
          <button type="submit" class="btn btn-primary">Update</button>
        </div>
      </form>
      <div class="clearfix"></div>
      <ul class="shift-status" id="shift-status-{{ shift.id }}">
        <li><strong>Minimum:</strong> {{ shift.min_needed }}</li>
        <li><strong>Maximum:</strong> {{ shift.max_needed }}</li>
        <li><strong>Current:</strong> {{ shift.entries | count }}</li>
        <li><a href="#shift-status-{{ shift.id }}" class="shift-status-edit" data-shift-id="{{ shift.id }}">Edit</a></li>
      </ul>
      {% if shift.notes %}
        <p><strong>Notes:</strong><br>{{ shift.notes }}</p>
      {% endif %}
      {% for se in shift.entries|sort(attribute="user_id") %}
        <div class="volunteer">
          <p>
            <strong>{{ se.user.volunteer.nickname }}</strong>
            {% if se.user.volunteer.volunteer_phone %}({{ se.user.volunteer.volunteer_phone }}){% endif %}<br />
            {% if not se.user.volunteer.completed_shift(role) %}First shift<br />{% endif %}
          </p>
          {{ state_selector(se) }}
        </div>
      {% endfor %}
    </div>
  {% endfor %}

  <h3>Past Shifts</h3>
  {% for shift in past_shifts %}
      <div class="role-admin-shift well content-well">
      <h4 id="shift-{{ shift.id }}">
          {{ shift.local_start.strftime("%a %H:%M") }} - {{ shift.local_end.strftime("%H:%M") }} - {{shift.venue.name }}
          {% if shift.multiplier != 1 %}
              {{ shift.multiplier }}×
          {% endif %}
      </h4>
      <div class="clearfix"></div>
      <ul class="shift-status" id="shift-status-{{ shift.id }}">
        <li><strong>Minimum:</strong> {{ shift.min_needed }}</li>
        <li><strong>Maximum:</strong> {{ shift.max_needed }}</li>
        <li><strong>Current:</strong> {{ shift.entries | count }}</li>
        <li><a href="#shift-status-{{ shift.id }}" class="shift-status-edit" data-shift-id="{{ shift.id }}">Edit</a></li>
      </ul>
      {% if shift.notes %}
        <p><strong>Notes:</strong><br>{{ shift.notes }}</p>
      {% endif %}
      {% for se in shift.entries|sort(attribute="user_id") %}
        <div class="volunteer">
          <p>
            <strong>{{ se.user.volunteer.nickname }}</strong>
            {% if se.user.volunteer.volunteer_phone %}({{ se.user.volunteer.volunteer_phone }}){% endif %}<br />
            {% if not se.user.volunteer.completed_shift(role) %}First shift<br />{% endif %}
          </p>
          {{ state_selector(se) }}
        </div>
      {% endfor %}
    </div>
  {% endfor %}

  <p>
    {% if offset-limit >= 0 %}
      <a href="{{ url_for(".role_admin", role_id=role.id) }}?offset={{ offset - limit }}&limit={{ limit }}&venue_id={{ selected_venue_id }}">Prev</a>
    {% endif %}
    <a href="{{ url_for(".role_admin", role_id=role.id) }}?offset={{ offset + limit }}&limit={{ limit }}&venue_id={{ selected_venue_id }}">Next</a>
  </p>

  <div>
    <a href="{{ url_for('.role_volunteers', role_id=role.id) }}" class="btn btn-primary">All Volunteers</a> <a href="{{ url_for('.train_users', role_id=role.id) }}") }}" class="btn btn-primary">Training</a>
  </div>
{% endblock %}
