/*
 * Breakpoints
 *   - 550px
 *   - 768px
 *   - 1200px
 */

body {
  font-size: 16px;
  color: $main-background-text;
  background-color: $body-background;
}

a {
  color: $main-link;
  text-decoration: underline;
}

a:hover {
  color: $main-link-hover;
}

html, body, .container, .main-row, .main-column {
  height: 100%;
}

.well, .jumbotron, .panel {
  background-color: $highlight-background;
  color: $highlight-background-text;
}

.well, .jumbotron, .panel {
  border: none;
}

.panel {
    color: $highlight-background-text;
    display: block;
}

.panel-footer {
    margin-top: auto;
}

.panel-default > .panel-heading,
.panel-default > .panel-footer {
    background-color: $highlight-2-background
}

.panel-default > .panel-heading > * {
    color: $highlight-background-text;
}

.panel-default {
    background-color: $highlight-background;
}

.well a, .panel a {
  color: $highlight-background-link;
}

.well .has-error .help-block a,
.panel .has-error .help-block a {
  color: inherit;
}

.panel-footer-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

header, h2, h3, h4, h5, h6 {
    color: $main-background-header;
    font-family: $header-font-stack;
}

header {
  background-image: url('../images/brand/header.jpg');
  margin:-20px -15px 0px -15px;
  padding: 20px 15px 0px 15px;
}

header h1 {
  display: block;
  float: left;
  margin-bottom: 0;
}

#logo {
  background: url('../images/brand/logo.png') no-repeat left top;
  background-size: 350px 125px;
  width: 350px;
  height: 125px;
}

@media print {
  h1 a[href]:after {
    content: none !important;
  }
  #logo {
    height: 0;
  }
  #logo:after {
    content: url('../images/logo-black-text.svg');
  }
}

header #header-text {
  float: right;
  text-align: right;
  font-size: 1.5em;
  margin-top: 1em;
}

@media(min-width:1200px){
  header #header-text {
    font-size: 2em;
    margin-top: 0.5em;
  }
}

@media print {
  header #header-text {
    font-size: 1.3em;
    margin-bottom: 20px;
  }
}

header #menu-container {
  clear: both;
  float:right;
}

ul.menu a {
    color: white;
}

ul.menu a:hover {
  color: $main-link-hover;
}

ul.menu {
  margin-top: 0px;
  padding-left: 0px;
  font-weight: 500;
  letter-spacing: 0.5px;
}

@media print {
  ul.menu {
    display: none;
  }
}

ul.menu li{
  display:inline-block;
  padding-left: 1.5em;
}

ul.menu a {
  text-decoration: none;
}

#menu-container a {
  font-size: 1.5em;
}

footer {
  background: url('../images/brand/footer.jpg') no-repeat left top;
  clear:both;
  position: absolute;
  bottom: 0px;
  right: 10px;
  width: 100%;
  margin-right:-10px;
  margin-top:20px;
}

footer #credits {
  font-size: 0.75em;
  float: right;
  clear: both;
  margin-top: 5px;
  padding-right:15px;
}

#bottom-menu-container {
  font-family: $header-font-stack;
  padding: 10px 15px 0px 15px;
}

#bottom-menu-container .menu {
  float: left;
}

#bottom-menu-container ul.menu li{
  display:inline-block;
  padding-left: 0;
  padding-right: 1em;
}


#bottom-menu-container .share {
  float: right;
}

.main-column {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  background-color: $main-background;
  margin-bottom: -130px;
}

@media(min-width:768px){
  .main-column {
    box-shadow: 5px -1px 15px $body-background-shadow, -5px -1px 15px $body-background-shadow;
  }
}

@media(max-width:768px) {
  .container {
    padding: 0 0 0 0;
  }
}

#gallery .col-md-3, #gallery .col-md-12 {
  padding: 0;
}

#gallery {
  margin-top: -15px;
  padding-bottom: 15px;
}

#main-content {
  height: 100%;
  min-height: 100%;
  padding-top: 15px;
}

.push {
  height: 130px;
  clear: both;
}

.flash {
    font-weight:bold;
    color: red;
    font-size: 140%;
    margin-bottom: 1ex;
}

p.emphasis {
  font-size: 1.2em;
  letter-spacing: 0.5px;
}

h1 a, h1 a:hover {
    text-decoration:none;
    color:inherit;
}

div.presale {
    text-align:center;
    font-size:2em;
    font-weight:bold;
    padding-bottom:1em
}

p, u, ol {padding-bottom: 5px;}

p.summary {
    font-size: 130%
}

.errors {
  color: #933;
  font-weight: bold;
}

.jumbotron p.small {
    line-height: 14px;
    font-weight: normal;
}

form.shrink {
    margin: 0;
}

.main-footer {
  padding-bottom: 2ex;
}


img.padit {
	padding: 24px;
}

@media print {
  .sidebar-nav { display: none }
  .logout { display: none }
}

div.micro img {
  display: block;
  margin-left:auto;
  margin-right:auto;
  padding: 2px;
  border: #ccc solid 1px;
  margin-bottom: 10px;
}

.help-block {
  font-size: 0.9em;
  margin-bottom: 0px;
}

.form-horizontal .form-group .help-block {
  padding-left: 0.5em;
}

legend {
  margin-bottom: 0px;
  border-bottom: 1px solid #aaa;
}

.glyphicon.input-group-addon {
  top: 0px;
}

.nav a {
  text-decoration: none;
}

.nav a:hover {
  color: #555;
}

/* Restore link colours */
.alert-success a {
  color: #3c763d;
}

.alert-info a {
  color: #31708f;
}

.alert-warning a {
  color: #8a6d3b;
}

.alert-danger a {
  color: #a94442;
}

.alert-link {
  text-decoration: none;
}

.intro-text {
  font-size: 1.2em;
}

div#about-page {
  font-size: 1.2em;
}

div#about-page img, .embed-responsive {
  margin-bottom: 15px;
}

th.checkbox-cell {
  width: 30px;
}
td.checkbox-cell {
  position: relative;
}
td.checkbox-cell label {
  position: absolute;
  left: 0; right: 0; top: 0; bottom: 0;
  margin: 0;
  padding: 8px;
}

.sponsor a {
  text-decoration: none;
}

.sponsors .sponsor {
  padding-top: 10px;
  padding-bottom: 10px;
}

.sponsor img {
  padding: 15px;
  background-color: white;
  border-radius: 6px;
}


@media (min-width: 768px) {
    .row-equal, .row-equal > div[class*='col-'] {
        display: -webkit-flex;
        display: flex;
        flex:1 1 auto;
    }
}


/* Make sure that focused elements don't change colour etc. unless also hovered */
a.collapse-toggle:focus,
a.collapse-toggle:focus .glyphicon {
  text-decoration: none;
  color: inherit;
}

/*
 * collapse toggles are normally white, grey on hover with only the text underlined
 */
a.collapse-toggle {
  text-decoration: none;
}
a.collapse-toggle .glyphicon {
  margin-left: 0.3em;
}

a.collapse-toggle:hover            { text-decoration: underline; }
a.collapse-toggle:hover .glyphicon { text-decoration: none; }

a.collapse-toggle:hover .glyphicon {
}

.multiline { white-space: pre-wrap }

.credit {
  position: relative;
  bottom: 24px;
  right: 8px;
}

.share a,
.share a:hover,
.share a:active,
.share a:focus,
.share a:visited {
  text-decoration: none !important;
}

@media print {
  .share a:after {
    content: none !important;
  }
  #credits a:after {
    content: none !important;
  }
}

.about-volunteering .intro-text {
  font-size: 1.2em;
}

/* print-only */
.account-purchases .terms-reminder,
.account-purchases .login-details {
  display: none;
}

@media print {
  .account-purchases .push {
    height: 100px;
  }

  .account-purchases .ticket-actions {
    display: none;
  }

  .account-purchases .terms-reminder,
  .account-purchases .login-details {
    display: inherit;
  }

  .account-purchases .terms-reminder a:after {
    content: none !important;
  }
}
