@import "variables";

.cfp-form fieldset {
  padding-top: 1em;
}

.cfp-tab {
  padding: 15px;
  background-color: $highlight-background;
  color: #333;
}

.cfp-tab a {
  color: #333;
}

@media (max-width: 550px){
  .cfp-types.nav-tabs > li {
    display: block;
    max-width: 150px;
    height: 138px;
  }
  .cfp-types.nav-tabs > li > a {
    height: 100%;
  }
}

@media (min-width: 550px) and (max-width: 768px) {
  .cfp-types.nav-tabs > li {
    display: block;
    max-width: 170px;
    height: 138px;
  }
  .cfp-types.nav-tabs > li > a {
    height: 100%;
  }
}

.cfp-types.nav-tabs > li > a {
  background-color: #B6CCE2;
  color: #555555;
  padding-bottom: 9px; /* align tab bottoms */
}

.cfp-types.nav-tabs > li.active > a,
.cfp-types.nav-tabs > li.active > a:hover,
.cfp-types.nav-tabs > li.active > a:focus {
  background-color: $highlight-background;
  padding-bottom: 10px; /* align tab bottoms */
}

.cfp-types.nav > li > a:hover,
.cfp-types.nav > li > a:focus {
  background-color: #e3ecf6;
}

.cfp-tab .form-actions {
  margin-top: 2ex;
}
.cfp-guidance dt {
  margin-top: 15px;
  font-weight: normal;
  font-size: 18px;
}

.cfp-guidance dd {
  margin-left: 40px;
}

.cfp-guidance.well a,
.cfp-guidance.well a.collapse-toggle .glyphicon {
  color: inherit;
}

