.line-up {
  .btn-transparent {
    background: transparent;
    border-color: transparent;
  }
  .btn-hoverlabel .hoverlabel {
    visibility: hidden;
    display: block;
  }
  .btn-hoverlabel:hover .hoverlabel,
  .btn-hoverlabel:focus .hoverlabel,
  .btn-hoverlabel:active .hoverlabel {
    visibility: visible;
  }
  .event {
    text-decoration: none;
  }
  .event > div {
    padding: 10px 4px;
    border-bottom: 1px solid rgba(100, 100, 100, 0.4);
    padding-top: 14px;
  }
  .event:first-child > div {
    border-top: 1px solid rgba(100, 100, 100, 0.4);
  }
  .event:hover,
  .event:focus,
  .event:active,
  .event:hover div,
  .event:focus div,
  .event:active div {
    background-color: #33071c;
    color: inherit;
  }
  h2.event-type {
    padding-top: 40px;
  }
  .favourite-icon {
    color: rgba(255, 255, 255, 0.4);
  }
  .favourite-icon.glyphicon-heart {
    color: rgba(255, 60, 80, 0.8);
  }
}
.favourite-icon {
  font-size: 20px;
  vertical-align: -4px;
  padding-right: 2px;
}
.favourite-button:hover,
.favourite-button:focus,
.favourite-button:active {
  color: rgba(255, 255, 255, 0.8);
}
.favourite-button:hover .favourite-icon,
.favourite-button:focus .favourite-icon,
.favourite-button:active .favourite-icon {
  color: rgba(255, 255, 255, 0.7);
}
.favourite-button:hover .favourite-icon.glyphicon-heart,
.favourite-button:focus .favourite-icon.glyphicon-heart,
.favourite-button:active .favourite-icon.glyphicon-heart {
  color: rgba(255, 100, 120, 0.7);
}
.favourite-button {
  margin-right: -8px;
  padding-left: 8px;
  padding-right: 8px;
  margin-top: -4px;
  margin-bottom: 0px;
  float: right;
}

