.ticket-info.form-horizontal .form-group {
  margin-top: 2ex;
  margin-bottom: 0;
}

#choose_tickets button[name="set_currency"] {
  font-weight: bold;
  font-size: 16px;
}

.products label {
  font-size: 110%;
}

.products p.description {
  font-size: 90%;
}

.products select.amount {
  min-width: 3em;
}

@media (max-width: 768px) {
  .tickets .volunteer,
  .tickets .accessible {
    display: none
  }
}

/* Set of hacks because IE doesn't can't flexbox */
.panel--payment {
  position: relative;
}

.panel--payment .panel-body {
  padding-bottom: 80px;
}

.panel--payment .panel-footer-center{
  position: absolute;
  bottom: 0;
  width: 100%;
}
