
$header-font-stack:             "Raleway","Helvetica Neue",Helvetica,Arial,sans-serif;

$main-background:               #5E93CE;
$main-background-text:          #FFF;

/* Styles for "highlight" elements (wells and panels) */
$highlight-background:          #d3e0f1;
$highlight-background-text:     #333;
$highlight-background-link:     #5E93CE;
