.email-link {
  font-weight: bold;
  cursor: pointer;
}

.minipush {
  padding-top: 2ex;
  clear: both;
}

td.receipt {
  font-weight: bold;
}

.unpaid td {
  background-color: #ebccd1;
  color: #a94442;
}

.unpaid td a {
  color: #a94442;
}

.unpaid td a.btn {
  color: #fff;
}

#bottom-menu-container {
  background-color: #eee;
  padding: 10px 15px 2px 15px;
  margin-top: 20px;
}

#bottom-menu-container .menu {
  background-color: #eee;
}

#bottom-menu-container ul.menu li{
  display:inline-block;
  padding-left: 0;
  padding-right: 1em;
}


