.email-link {
  font-weight: bold;
  cursor: pointer;
}

.minipush {
  padding-top: 2ex;
  clear: both;
}

td.receipt {
  font-weight: bold;
}

.unpaid td {
  background-color: #ebccd1;
  color: #a94442;
}

.unpaid td a {
  color: #a94442;
}

.unpaid td a.btn {
  color: #fff;
}
