body {
  margin-top: 0;
  margin-bottom: 2ex;
}

.navbar {
  margin-bottom: 0;
}
.top-form {
  margin-bottom: 20px;
}
#edit-company {
  padding: 10px;
  background-color: #f8f8f8;
  border: solid 0px #e7e7e7;
  border-bottom-width: 1px;
}
#edit-company .btn {
  margin-top: 7px;
}
#edit-company textarea {
  height: 73px;
}

.cancelled .table:before {
  content: 'CANCELLED';
  font-size: 50pt;
  color: rgba(0, 0, 0, 0.4) !important;
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: auto;
}

.sender-row,
.recipient-row {
  clear: both;
}

.sender-row .title {
  display: inline-block;
  font-size: 24pt;
  text-align: center;
  float: left;
}

.sender-row .sender {
  float: right;
}

.sender-row .sender .logo {
  padding-right: 4px;
}

.sender-row .sender .logo,
.sender-row .sender .vcard {
  display: inline-block;
  vertical-align: bottom;
}

.sender span {
  display: inline-block;
}

.sender span.street-address,
.sender span.country-name {
  display: block;
}

.recipient {
  float: left;
  padding-top: 20px;
  padding-bottom: 20px;
}

.invoice-details {
  float: right;
  padding-top: 20px;
}


.table > thead > tr > th {
  border-bottom: 1px solid black;
}

.table > tfoot > tr.total > td {
  border-top: 1px solid black;
}

tr.total {
  font-weight: bold;
}

td,
th {
  text-align: right;
}

th:first-child,
tr.purchase td:first-child,
tr.premium td:first-child {
  text-align: left;
}


.due-date {
  font-weight: bold;
  padding-bottom: 2ex;
}

/* From Bootstrap, but without the media query */
.dl-horizontal dt {
  float: left;
  width: 160px;
  clear: left;
  text-align: right;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.dl-horizontal dd {
  margin-left: 180px;
}

@media print {
  .container {
    width: auto;
  }

  body {
    margin-top: 0;
    margin-bottom: 6ex;
  }

  dl.company-info {
    padding-top: 5ex;
    position: fixed;
    bottom: 0;
  }

  .company-missing {
    display: none;
  }

  nav {
    display: none;
  }
}

dl.company-info {
  padding-top: 10ex;
  font-size: 10pt;
}

dl.company-info dt,
dl.company-info dd{
  display: inline;
  font-weight: normal;
}

dl.company-info dt:after {
  content: ':	';
}

dl.company-info dd:after {
  content: '.';
}

.company, .edit-company {
  white-space: pre-wrap;
}

.company {
  display: none;
}

@media print {
  .container {
    width: auto;
  }

  body {
    margin-top: 2ex;
    margin-bottom: 6ex;
  }

  dl.company-info {
    padding-top: 5ex;
    position: fixed;
    bottom: 0;
  }

  #edit-company {
    display: none;
  }

  .company {
    display: initial;
  }

  .edit-company {
    display: none;
  }

  nav {
    display: none;
  }

  .alert {
    display: none;
  }
}


