body {
        font-family: Helvetica, Arial, Verdana, sans-serif;
            margin: 0; padding:0; padding-top:5px;
        }

#hd {
    padding-bottom:20px;
    text-align: center
}

#hd h1 {
    font-weight: bold;
    font-size: 5em
}

h1 a {
    text-decoration:none;
    color:inherit;
}

h2 {
    font-weight:bold;
    font-size: 2em;
    margin-top:15px;
    margin-bottom:5px;
}

h3 {
    font-weight: bold;
    font-size: 1.4em;
    margin-top: 10px;
    margin-bottom: 5px;
}

p, ul, ol {padding-bottom: 10px;}

strong { font-weight: bold; }

p.summary {
    font-size: 130%
}

table {
    margin: 1ex 0.5em;
}

td, th {
    padding: 1ex 0.5em;
}

th {
    font-weight: bold;
}

tr.even {
    background-color: #ddd;
}

tr.odd {
    background-color: #eee;
}


#google-form { margin-top:5px; margin-bottom: 5px; position:relative; left: 237px; border: 1px solid #aaa; padding:5px;}

#ft {
    font-size: 0.75em;
    padding-top:20px;
}

ul li {
    padding-left:5px;
    list-style:circle inside;
}

ol {
   padding-left: 25px;

}
ol li {
    list-style: decimal outside;
}

#ft .logout {
    float: right;
}

.flash {
  margin-bottom: 1ex;
}

.choose-prepay-tickets dl,
.choose-prepay-tickets dt,
.choose-prepay-tickets dd {
    display: inline;
}

.choose-prepay-tickets dl {
  margin-bottom: 1ex;
}

dl.bank-details {
  float: left;
  width: 100%;
  margin-bottom: 2ex;
}
.bank-details dt,
.bank-details dd {
  float: left;
  padding-top: 3px;
  padding-bottom: 3px;
  min-width: 10em;
}
.bank-details dt {
  clear: left;
  font-weight: bold;
  padding-right: 3px;
}

table.tickets tr.paid {
  font-weight: bold;
}

table.tickets tr.expired {
  color: #f00;
}

.errors {
  color: #933;
  font-weight: bold;
}

