@import url(https://fonts.googleapis.com/css?family=Raleway:700,500);

body {
  font-size: 16px;
  color: white;
}

a {
  color: white;
  text-decoration: underline;
}

a:hover {
  color: #d3e0f1;
}

html, body, .container, .main-row, .main-column {
  height: 100%;
}

.well, .jumbotron {
  background-color: #d3e0f1;
  color: #333;
}

header, h2, h3, h4, h5, h6 {
  font-family: "Raleway","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 700;
}

header {
  background: url('../images/header.jpg') no-repeat left top;
  margin:-20px -15px 0px -15px;
  padding: 20px 15px 0px 15px;
}

header h1 {
  display: block;
  float: left;
}

header a:hover {
  color: #333;
}

#logo {
  background: url('../images/logo.png') no-repeat left top;
  width: 472px;
  height: 168px;
}

@media(max-width:550px){
  #logo {
    background: url('../images/logo-small.png') no-repeat left top;
    width: 370px;
    height: 132px;
    margin-left: -10px;
  }
}

header #header-text {
  color: #333;
  float: right;
  text-align: right;
  font-size: 1.5em;
  margin-top: 1em;
}

@media(min-width:1200px){
  header #header-text {
    font-size: 2em;
    margin-top: 0.5em;
  }
}

header #menu-container {
  clear: both;
  float:right;
}

ul.menu {
  margin-top: 0px;
  padding-left: 0px;
  font-weight: 500;
  letter-spacing: 0.5px;
}

ul.menu li{
  display:inline-block;
  padding-left: 1.5em;
}

ul.menu a {
  text-decoration: none;
}

#menu-container a {
  font-size: 1.5em;
}

footer {
  clear:both;
  position: absolute;
  bottom: 0px;
  right: 10px;
  width: 100%;
  margin-right:-10px;
  margin-top:20px;
}

footer #credits {
  font-size: 0.75em;
  float: right;
  clear: both;
  margin-top: 5px;
  padding-right:15px;
}

#bottom-menu-container {
  font-family: "Raleway","Helvetica Neue",Helvetica,Arial,sans-serif;
  background: url('../images/footer.jpg') no-repeat left top;
  padding: 10px 15px 0px 15px;
}

#bottom-menu-container, #bottom-menu-container a {
  color: #333;
}

#bottom-menu-container .menu {
  float: left;
}

#bottom-menu-container ul.menu li{
  display:inline-block;
  padding-left: 0;
  padding-right: 1em;
}


#bottom-menu-container .share {
  float: right;
}

.main-column {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  background-color: #5E93CE;
  margin-bottom: -130px;
}

@media(min-width:768px){
  .main-column {
    box-shadow: 5px -1px 15px  #bbb, -5px -1px 15px #bbb;
  }

}

@media(max-width:768px) {
  .container {
    padding: 0 0 0 0;
  }
}

#gallery .col-md-3 {
  padding: 0;
}

#gallery {
  margin-top: -15px;
  padding-bottom: 15px;
}

#main-content {
  height: 100%;
  min-height: 100%;
  padding-top: 15px;
}

.push {
  height: 130px;
  clear: both;
}

.flash {
    font-weight:bold;
    color: red;
    font-size: 140%;
    margin-bottom: 1ex;
}

p.emphasis {
  font-size: 1.2em;
  letter-spacing: 0.5px;
}

h1 a, h1 a:hover {
    text-decoration:none;
    color:inherit;
}

div.presale {
    text-align:center;
    font-size:2em;
    font-weight:bold;
    padding-bottom:1em
}

p, u, ol {padding-bottom: 5px;}

p.summary {
    font-size: 130%
}

table {
    color: #333;
    margin: 1ex 0.5em 0 0;
}

table a {
    color: #333;
}

td, th {
    padding: 1ex 0.5em;
}

th {
    font-weight: bold;
}

thead tr {
    /* background-color: #82aad4; */
    color: white;
}

.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tfoot > tr > td {
    border-top: 1px solid transparent;
    color: white;
}

.table > tbody > tr > td,
.table > thead > tr > th {
    border-top: 1px solid #7d9fcb;
}

.table > thead > tr > th {
    /* border-bottom: 2px solid #7d9fcb; */
    border-bottom: 2px solid transparent;
}

tr.even {
    background-color: #d3e0f1;
}

tr.odd {
    background-color: #aec6ea;
}


.errors {
  color: #933;
  font-weight: bold;
}

.hero-unit p.small {
    line-height: 14px;
    font-weight: normal;
}

form.shrink {
    margin: 0;
}

.main-footer {
  padding-bottom: 2ex;
}


img.padit {
	padding: 24px;
}

.ticket-info.form-horizontal .control-group {
  margin-top: 2ex;
  margin-bottom: 0;
}

#choose_tickets button[name="set_currency"] {
  font-weight: bold;
  font-size: 16px;
}

.receipt-qr {
  min-width: 74px;
  min-height: 74px;
}

@media print {
  .sidebar-nav { display: none }
  .logout { display: none }
}

div.micro img {
  display: block;
  margin-left:auto;
  margin-right:auto;
  padding: 2px;
  border: #ccc solid 1px;
  margin-bottom: 10px;
}

.ticket-types label {
  font-size: 110%;
}

.ticket-types p.description {
  font-size: 90%;
}

.cfp-form fieldset {
  padding-top: 1em;
}

.glyphicon.input-group-addon {
  top: 0px;
}

.nav a {
  text-decoration: none;
}

.nav a:hover {
  color: #555;
}

.cfp-tab {
  padding-right: 15px;
  background-color: #d3e0f1;
  color: #333;
}

.cfp-tab a {
  color: #333;
}

.cfp-types.nav-tabs > li.active > a,
.cfp-types.nav-tabs > li.active > a:hover,
.cfp-types.nav-tabs > li.active > a:focus {
  background-color: #d3e0f1;
}

.cfp-types.nav > li > a:hover,
.cfp-types.nav > li > a:focus {
  background-color: #e3ecf6;
}

.cfp-tab .form-actions {
  margin-top: 2ex;
}

/* Restore link colours */
.alert-success a {
  color: #3c763d;
}

.alert-info a {
  color: #31708f;
}

.alert-warning a {
  color: #8a6d3b;
}

.alert-danger a {
  color: #a94442;
}

.alert-link {
  text-decoration: none;
}

/* But not for buttons */
.alert-danger a.btn-primary,
.alert-danger a.btn-default,
.alert-danger a.btn-info,
.alert-danger a.btn-success,
.alert-danger a.btn-warning,
.alert-danger a.btn-danger {
  color: #fff;
}

/* Show the hover borders by default to avoid bleeding */
.btn-primary {
  border: 1px solid #285e8e;
}

.btn-default {
  border: 1px solid #adadad;
}

.btn-info {
  border: 1px solid #269abc;
}

.btn-success {
  border: 1px solid #398439;
}

.btn-warning {
  border: 1px solid #d58512;
}

.btn-danger {
  border: 1px solid #ac2925;
}

.btn {
  text-decoration: none;
}

div#about-page {
  font-size: 1.2em;
}

div#about-page img, .embed-responsive {
  margin-bottom: 15px;
}

.ticket-info .well {
  padding-left: 30px;
}

th.checkbox-cell {
  width: 30px;
}
td.checkbox-cell {
  position: relative;
}
td.checkbox-cell label {
  position: absolute;
  left: 0; right: 0; top: 0; bottom: 0;
  margin: 0;
  padding: 8px;
}

@media (max-width: 768px) {
  .tickets .volunteer,
  .tickets .accessible {
    display: none
  }
}

.sponsor-portcullis img {
  padding-top: 30px;
  padding-bottom: 60px;
}
