$schedule-text:  #d5d6da;
$schedule-block: #6E2045;

html, body{
    margin:0px;
    padding:0px;
    height:100%;
    overflow:hidden;
}

.event_popup {
    position: absolute;
    z-index: 100001;
    display: none;
    color: $main-background;
    background-color: white;
    border: 2px outset gray;
    h3 {
        color: $main-background;
    }
    .scroll_box {
        overflow-y: scroll;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

@media (max-width: 768px) {
.event_popup {
    top: 100px;
    left: 50px;
    right: 50px;
    padding: 10px;
    font-size: 12pt;
}
}

@media (min-width: 768px) {
.event_popup {
    top: 325px;
    left: 150px;
    right: 150px;
    padding: 20px;
    font-size: 14pt;
}
}

.schedule-banner {
    margin-bottom: 0;
    .banner-text {
        padding-right: 20px;
    }
}

.dhx_cal_container .dhx_cal_data .dhx_scale_holder .dhx_cal_event div {
    color: $schedule-text;
    background-color: rgba($schedule-block, 85%);
}

.dhx_cal_container .dhx_cal_data .dhx_scale_holder .dhx_cal_event {
    &.past_event div {
        background-color: rgba($schedule-block, 60%);
    }

    &.favourite div {
        color: #fff;
        background-color: lighten($schedule-block, 13%);
    }

    &.favourite.past_event div {
        background-color: rgba(lighten($schedule-block, 13%), 70%);
    }
}
@media (max-width: 768px) {
    .dhx_cal_navline .dhx_cal_tab {
        width: auto;
        padding-left: 10px;
        padding-right: 10px;
    }
    .dhx_cal_container .dhx_cal_navline .dhx_cal_date {
        font-size: 15px;
    }
    .dhx_cal_today_button {
        display: none;
    }
    #emf_day_tab {
        font-size: 12px;
        left: 5px !important;
    }
    #emf_weekend_tab {
        font-size: 12px;
        left: 50px !important;
    }
}

@media (min-width: 768px) {
    .dhx_cal_navline .dhx_cal_tab {
        width: 70px;
    }
    #emf_day_tab {
        font-size: 14px;
        left: 20px !important;
    }
    #emf_weekend_tab {
        font-size: 14px;
        left: 110px !important;
    }
}
.dhx_cal_container .dhx_cal_tab,
.dhx_cal_container .dhx_cal_prev_button,
.dhx_cal_container .dhx_cal_next_button,
.dhx_cal_container .dhx_cal_today_button {
    color: $schedule-block;
    &.active {
        color: $schedule-text;
        background-color: $schedule-block;
    }
}