body {
  font-family: helvetica, sans-serif;
}

#container {
  position: relative;
 	margin-left: auto;
 	margin-right: auto;
 	width: 964px;
 	height: 850px;
  margin-top : 24px;
  padding : 0px;
}

.col {
  background-color: #f2f2f2;
  color: #3e3e3e;
  position: absolute;
  top: 0px;
 	margin-left: 0px;
 	margin-right: 0px;
  margin-top : 0px;
 	width: 312px;
 	height: 850px;
  margin: 0px;
}

h4 {
  color: #009ee2;
  font-size: 1.3em;
  font-weight: bold;
  margin-bottom: 12px;
}

#left, #right {
   background-color: #009ee2;
   color:white;
}

#middle {
  left : 328px;
}

#right {
  left : 656px;
}

#logo {
  padding-bottom: 12px;
}

.inner{
  padding: 24px;
  padding-top: 128px;
}

#left .inner, #right .inner {
  padding-top:24px;
}

#right .inner {
  padding-left: 22px;
}


#gallery img {
  margin-bottom: 12px;
  border: 1px #3e3e3e solid;
}

p.lhead {
  font-size: 1.2em;
}

p.body a:link,
p.body a:visited 
{
color: #009ee2;
text-decoration: none;
}

p.body a:hover {
color:#99CCCC;
}

p.follow {
  position:absolute; bottom: 24px;
}

#twitter {
  margin-top:5px;
}
#left a, #right a {
  color: white;
  text-decoration: underline;
}
