{% set active = "edit" %}
{% extends "cfp_review/venues/_venue_base.html" %}
{% from "_formhelpers.html" import render_field  %}
{% block venue_body %}
<div class="col-md-8 well">
<form method="POST">
    {{ form.hidden_tag() }}

    {{ render_field(form.name) }}
    {{ render_field(form.village_id) }}
    {{ render_field(form.official_venue) }}
    {{ render_field(form.allows_attendee_content) }}
    {{ render_field(form.location_lat) }}
    {{ render_field(form.location_lon) }}
    {{ render_field(form.capacity) }}
    {{ form.submit(class_="btn btn-success") }}
    {{ form.delete(class_="btn btn-danger") }}
    <a class="btn" href="{{ url_for('.venues') }}">Back</a>
</form>
</div>
{% endblock %}
