{% from "_formhelpers.html" import render_field %}
{% extends "admin/base.html" %}
{% block body %}
<h2>Users</h2>

<h4>Find user</h4>
<form method="GET" class="form-horizontal">
  <div class="form-group">
      <label for="search" class="col-sm-2 control-label">
          Search
      </label>
      <div class="col-sm-10 controls">
        <input type="search" name="search" placeholder="Search for user by name or email" class="form-control">
      </div>
  </div>
  <div class="pull-right">
    <input class="btn" type="submit">
  </div>
</form>

<div class="clearfix"></div>

<h4>Add User</h4>
<form method="POST" class="form-horizontal">
<p>This will send a welcome email to the user.</p>
{{ form.hidden_tag() }}

{{ render_field(form.name, True) }}
{{ render_field(form.email, True) }}

<div class="pull-right">{{ form.add(class_="btn btn-success") }}</div>
<div>&nbsp;</div>
<div>&nbsp;</div>
</form>


<h4>User List</h4>

{% if users.pages > 1 %}
<nav aria-label="User page navigation">
  <ul class="pagination">
    {% if users.has_prev %}
    <li class="page-item"><a class="page-link" href="{{url_for('.users', page=users.prev_num, size=users.per_page)}}">
      <span aria-hidden="true">&laquo;</span>
      <span class="sr-only">Previous</span>
    </a></li>
    {% endif %}
    <li class="page-item active"><a class="page-link" href="#">{{ users.page }}</a></li>
    {% if users.has_next %}
    <li class="page-item"><a class="page-link" href="{{url_for('.users', page=users.next_num, size=users.per_page)}}">
      <span aria-hidden="true">&raquo;</span>
      <span class="sr-only">Next</span>
    </a></li>
    {% endif %}
  </ul>
</nav>
{% endif %}

<table class="table table-condensed">
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Permissions</th>
      <th>Checked in</th>
    </tr>
{% for u in users %}
<tr class="{{ loop.cycle('odd', 'even') }}">
    <td>{{ u.name }}</td>
    <td><a href="{{ url_for('.user', user_id=u.id) }}">{{ u.email }}</a></td>
    <td>{% for permission in u.permissions %}{{ permission.name }}&nbsp;{% endfor %}</td>
    <td>{{ u.owned_admission_tickets | selectattr("checked_in") | list | count or '' }}</td>
</tr>
{% endfor %}
</table>

{% endblock %}
