{% from "_formhelpers.html" import render_field %}
{% extends "admin/base.html" %}
{% block title %}User {{user.name}}{% endblock %}
{% block body %}
<h2>User Details</h2>

<table class="table table-condensed">
    <tr><th>ID</th><td>{{user.id}}</td></tr>
    <tr><th>Name</th><td>{{user.name}}</td></tr>
    <tr><th>Email</th><td>{{user.email}}</td></tr>
</table>


<h3>Permissions</h3>
<p>Note that the admin permission implies all other permissions.</p>
<form method="post">
{{ form.hidden_tag() }}
{{ form.keys }}

<table class="table table-condensed">
    <tr>{% for permission in permissions %}
            <th>{{permission.name|capitalize}}</th>
        {% endfor %}
    </tr>
    <tr>
        {% for permission in permissions %}
            <td>{{ form["permission_" ~ permission.name]() }}</td>
        {% endfor %}
    </tr>
</table>
{{ form.change_permissions(class_="btn btn-success pull-right") }}

<div class="row">&nbsp;</div>
<hr>
{{ render_field(form.note) }}
{{ form.add_note(class_="btn btn-success pull-right") }}
</form>
<div class="row">&nbsp;</div>

<h3>Payments</h3>
<table class="table table-condensed">
<thead><tr>
  <th>Type</th>
  <th>State</th>
  <th>Purchases</th>
  <th>Amount</th>
  <th>Expires</th>
</tr></thead>
<tbody>
{% for payment in user.payments %}
<tr>
  <td><a href="{{ url_for('.payment', payment_id=payment.id) }}">{{ payment.name }}</a></td>
  <td>{{payment.state}}</a></td>
  <td>{{ payment.purchases | count }}</td>
  <td><b>{{ payment.amount | price(payment.currency) }}</b></td>
  <td>{% if payment.expires %}{{ payment.expires.strftime('%Y-%m-%d') }}{% endif %}</td>
</tr>
{% endfor %}
</tbody>
</table>

<h3>Owned Tickets</h3>
<table class="table table-condensed">
    <tr>
        <th>Product Group</th>
        <th>Name</th>
	<th>State</th>
	<th>Payment</th>
        <th>Checked in?</th>
        <th></th>
    </tr>
    {% for ticket in user.owned_tickets %}
        <tr>
            <td>{{ ticket.product.parent.name }}</td>
            <td>{{ ticket.product.display_name }}</td>
	    <td>{{ ticket.state }}</td>
            <td>{% if ticket.payment %}
                  <a href="{{ url_for('.payment', payment_id=ticket.payment.id) }}">{{ ticket.payment.name }}</a>
              {% else %}
                  No payment
              {% endif %}
            </td>
            <td>{% if ticket.checked_in %}Yes{% else %}No{% endif %}</td>
            <td>
              {% if ticket.is_paid_for and ticket.is_transferable %}
              <a class="btn btn-default" href="{{ url_for('.transfer_ticket', ticket_id=ticket.id) }}">Transfer</a>
              {% endif %}
              <a class="btn btn-default" href="{{ url_for('.convert_ticket', ticket_id=ticket.id) }}">Convert</a>
            </td>
        </tr>
    {% endfor %}
</table>
<div class="row">&nbsp;</div>

<h3>Proposals</h3>
<table class="table table-condensed">
    <tr>
        <th>Title</th>
        <th>Type</th>
        <th>State</th>
    </tr>
    {% for proposal in user.proposals %}
        <tr>
            <td>
                <a href="{{ url_for('cfp_review.update_proposal', proposal_id = proposal.id ) }}">{{ proposal.title }}</a>
            </td>
            <td>{{ proposal.type }}</td>
            <td>{{ proposal.state }}</td>
        </tr>
    {% endfor %}
</table>

{% endblock %}
