{% from "_formhelpers.html" import render_field %}
{% extends "admin/base.html" %}
{% block body %}
<h2>Users</h2>

<h4>Add User</h4>
<form method="POST" class="form-horizontal">
<p>This will send a welcome email to the user.</p>
{{ form.hidden_tag() }}

{{ render_field(form.name, True) }}
{{ render_field(form.email, True) }}

<div class="pull-right">{{ form.add(class_="btn btn-success") }}</div>
<div>&nbsp;</div>
<div>&nbsp;</div>
</form>

<h4>User List</h4>

{% if total_pages > 1 %}
<nav aria-label="Page navigation example">
  <ul class="pagination">
    {% if current_page != 1 %}
    <li class="page-item"><a class="page-link" href="{{url_for('.users', page=current_page - 1, size=size)}}">
      <span aria-hidden="true">&laquo;</span>
      <span class="sr-only">Previous</span>
    </a></li>
    {% endif %}
    <li class="page-item active"><a class="page-link" href="#">{{current_page}}</a></li>
    {% if current_page < total_pages %}
    <li class="page-item"><a class="page-link" href="{{url_for('.users', page=current_page + 1, size=size)}}">
      <span aria-hidden="true">&raquo;</span>
      <span class="sr-only">Next</span>
    </a></li>
    {% endif %}
  </ul>
</nav>
{% endif %}

<table class="table table-condensed">
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Permissions</th>
      <th>Checked in</th>
    </tr>
{% for u in users %}
<tr class="{{ loop.cycle('odd', 'even') }}">
    <td>{{ u.name }}</td>
    <td><a href="{{ url_for('.user', user_id=u.id) }}">{{ u.email }}</a></td>
    <td>{% for permission in u.permissions %}{{ permission.name }}&nbsp;{% endfor %}</td>
    <td>{{ u.owned_admission_tickets | selectattr("checked_in") | list | count or '' }}</td>
</tr>
{% endfor %}
</table>

{% endblock %}
