{% from "_formhelpers.html" import render_field %}
{% macro render_occurrence(heading, form, occurrence) %}
{% set schedule_item = occurrence.schedule_item %}
  <h2>{{ heading }}: <a href="{{ url_for('schedule.item', year=year, schedule_item_id=schedule_item.id) }}">{{ schedule_item.title }}</a></h2>
  <div>
    {% if schedule_item.official_content %}
      A {{schedule_item.human_type}} by
    {% else %}
      An attendee {{schedule_item.human_type}} by
    {% endif %}
    {{ schedule_item.names }}{% if schedule_item.pronouns %} ({{schedule_item.pronouns}}){% endif %}
  </div>

  <p></p>
  <div class="col-sm-12">{{ schedule_item.description }}</div>

  <div>&nbsp;</div>
  <div>{{ occurrence.scheduled_time.strftime("%A %H:%M") }} for {{ occurrence.scheduled_duration }} minutes</div>

  <div>&nbsp;</div>
  <div class="col-sm-6 col-sm-offset-6">
    {{ form.talk_id() }}
    {{ render_field(form.video_privacy) }}
    <input type="submit" name="{{form.update.name}}" value="{{form.update.label.text}}" class="btn btn-success debounce pull-right"/>
  </div>
  <div style="clear: both"></div>
{% endmacro %}
{% extends "base.html" %}
{% block title %}Herald for {{ venue_name }}{% endblock %}
{% block body %}

  <form method="post">
    {{ form.hidden_tag() }}
    {% if now %}
    {{ render_schedule_item("Now", form.now, now) }}
    <p>&nbsp;</p>
    {% endif %}

    {% if next %}
    {{ render_schedule_item("Next", form.next, next) }}
    <p>&nbsp;</p>
    {% endif %}

    <h2>Send message to the Greenroom</h2>

  <div class="col-sm-12">
    {{ render_field(form.message) }}
    <input type="submit" name="{{form.send_message.name}}" value="{{form.send_message.label.text}}" class="btn btn-success debounce pull-right"/>
  </div>
  </form>
<p>&nbsp;</p>

  {% if messages %}
    <h1>Messages</h1>

    <table class="table products">
      <thead>
        <tr>
          <th>Time</th>
          <th>From</th>
          <th>Message</th>
        </tr>
      </thead>
      <tbody>
        {% for msg in (messages | sort(attribute="created", reverse=True)) %}
          <tr class="product form-group {{ loop.cycle('odd', 'even') }}">
            <td>{{ msg.created.strftime("%A %H:%M")  }}</td>
            <td>{{ msg.created_by.name }}</td>
            <td>{{ msg.message }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endif %}
{% endblock %}
