{% macro badge(count) %}
    {% if count > 0 %}
        <span class="badge">{{count}}</span>
    {% endif %}
{% endmacro %}

{% macro menuitem(text, view, badge_count=0) %}
<li {% if view_name == view -%} class="active" {%- endif %}>
    <a href="{{url_for(view)}}">{{text}}{{badge(badge_count)}}</a>
</li>
{% endmacro %}

<ul class="nav navbar-nav">
    {% if current_user.has_permission('admin') %}
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
            aria-haspopup="true" aria-expanded="false">Payments
            {{badge(unreconciled_count + expiring_count)}}
            <span class="caret"></span></a>
        <ul class="dropdown-menu">
            {{ menuitem("All", ".payments") }}
            {{ menuitem("Bank Transfer", ".transactions", unreconciled_count) }}
            {{ menuitem("Expiring", ".expiring", expiring_count) }}
            {{ menuitem("Suppressed Transactions", ".suppressed") }}
        </ul>
    </li>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
            aria-haspopup="true" aria-expanded="false">Tickets <span class="caret"></span></a>
        <ul class="dropdown-menu">
            {{ menuitem("Paid", ".tickets") }}
            {{ menuitem("Unpaid", ".tickets_unpaid") }}
            {{ menuitem("Transfers", ".purchase_transfers") }}
            {{ menuitem("Free Tickets", ".tickets_choose_free") }}
            <li role="separator" class="divider"></li>
            {{ menuitem("Products", "admin_new.product.index_view") }}
            {{ menuitem("Free Tickets (given)", ".list_free_tickets") }}
            {{ menuitem("Reports", ".ticket_report") }}
            {{ menuitem("Furniture", ".furniture") }}
        </ul>
    </li>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
            aria-haspopup="true" aria-expanded="false">CfP <span class="caret"></span></a>
        <ul class="dropdown-menu">
            {{ menuitem("Proposals", "cfp_review.proposals") }}
            {{ menuitem("Messages", "cfp_review.all_messages") }}
        </ul>
    </li>
    {{ menuitem("Users", ".users") }}
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
            aria-haspopup="true" aria-expanded="false">Config <span class="caret"></span></a>
        <ul class="dropdown-menu">
            {{ menuitem("Feature Flags", ".feature_flags") }}
            {{ menuitem("Site States", ".site_states") }}
            {{ menuitem("Schedule iCal Feeds", ".schedule_feeds") }}
        </ul>
    </li>
{% endif %}
</ul>
