{% macro badge(count) %}
    {% if count > 0 %}
        <span class="badge">{{count}}</span>
    {% endif %}
{% endmacro %}

{% macro menuitem(text, view, badge_count=0) %}
<li {% if view_name == view -%} class="active" {%- endif %}>
    <a href="{{url_for(view)}}">{{text}}{{badge(badge_count)}}</a>
</li>
{% endmacro %}

<ul class="nav navbar-nav">
    {% if current_user.has_permission('admin') %}
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
            aria-haspopup="true" aria-expanded="false">Payments
            {{badge(requested_refund_count + unreconciled_count + expiring_count)}}
            <span class="caret"></span></a>
        <ul class="dropdown-menu">
            {{ menuitem("All", ".payments") }}
            {{ menuitem("Refunds Requested", ".refunds", requested_refund_count) }}
            <li role="separator" class="divider"></li>
            {{ menuitem("Bank Transfer", ".transactions", unreconciled_count) }}
            {{ menuitem("Expiring", ".expiring", expiring_count) }}
            {{ menuitem("Suppressed Transactions", ".suppressed") }}
        </ul>
    </li>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
            aria-haspopup="true" aria-expanded="false">Tickets <span class="caret"></span></a>
        <ul class="dropdown-menu">
            {{ menuitem("Paid", ".tickets") }}
            {{ menuitem("Unpaid", ".tickets_unpaid") }}
            {{ menuitem("Free Tickets", ".list_free_tickets") }}
            <li role="separator" class="divider"></li>
            {{ menuitem("Issue or Reserve Tickets", ".tickets_issue") }}
        </ul>
    </li>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
            aria-haspopup="true" aria-expanded="false">Hires <span class="caret"></span></a>
        <ul class="dropdown-menu">
            {{ menuitem("All Hires", ".hire") }}
        </ul>
    </li>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
            aria-haspopup="true" aria-expanded="false">Products <span class="caret"></span></a>
        <ul class="dropdown-menu">
            {{ menuitem("Overview", "admin.products") }}
            <li role="separator" class="divider"></li>
            {{ menuitem("Product Views", "admin.product_views") }}
            <li role="separator" class="divider"></li>
            {{ menuitem("Arrivals Views", "admin.arrivals_views") }}
        </ul>
    </li>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
            aria-haspopup="true" aria-expanded="false">Users <span class="caret"></span></a>
        <ul class="dropdown-menu">
            {{ menuitem("All users", ".users") }}
            {{ menuitem("Signup link", ".user_signup") }}
        </ul>
    </li>

    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
            aria-haspopup="true" aria-expanded="false">Config <span class="caret"></span></a>
        <ul class="dropdown-menu">
            {{ menuitem("Feature Flags", ".feature_flags") }}
            {{ menuitem("Site States", ".site_states") }}
            {{ menuitem("Schedule Messages", ".all_messages") }}
            {{ menuitem("Payments", ".payment_config_verify") }}
            {{ menuitem("Scheduled Tasks", ".scheduled_tasks") }}
        </ul>
    </li>
    <li role="separator" class="divider"></li>
    {{ menuitem("CfP", "cfp_review.main") }}
    {{ menuitem("Volunteers", "volunteer_admin.index") }}
    {{ menuitem("Villages", "villages.admin") }}
{% endif %}
</ul>
<form class="navbar-form navbar-right" action="{{url_for('.search')}}" method="get">
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Search" name="q" value="{{q}}">
    </div>
</form>

