{% extends "base.html" %}
{% block body %}
<H1>List of admins</H1>

<form method=post action="{{ url_for('make_admin') }}">
{{ adminform.hidden_tag() }}
{{ adminform.keys }}

<table class="table table-condensed">
<tr><th><i class="glyphicon glyphicon-user"></i> Name</th><th><i class="glyphicon glyphicon-envelope"></i> email</th><th></th></tr>
{% for u in users %}
<tr class="
{{ loop.cycle('odd', 'even') }}
">
<td>{{ u.name }}</td>
<td>{{ u.email }}</td>
<td>{{ adminform[u.id ~ "_admin"]() }}</td>
</tr>
{% endfor %}
</table>
{{ adminform.change(class_="btn btn-success") }}
</form>

<p>Back to <a href="{{ url_for('admin') }}">admin things</a>.</p>

{% endblock %}
