{% from "_formhelpers.html" import render_field %}
{% extends "base.html" %}
{% block body %}
<H1>Manually Reset Ticket Expirey times:</H1>

{# <th>ticket type</th>
<th>expires</th> #}

<table class="table table-condensed table-striped">
<thead>
<tr>
<th><i class="icon-user"></i> username</th>
<th><i class="icon-envelope"></i> email</th>
<th>tickets</th>
<th></th>
</tr>
</thead>
<tbody>
{% for p in payments %}
<tr>
<td>{{p.user.name}}</td>
<td>{{p.user.email}}</td>
<td>
<table class="table">
<thead>
<tr><th>id</th><th>type</th><th>expires</th></tr>
</thead>
<tbody>
{% for t in p.tickets %}
<tr>
<td><b>{{t.id}}</b></td>
<td>{{t.type.name}}</td>
<td>
{% if t.expired() %}
<b><i class="icon-warning-sign"></i> {{t.expires }}</b>
{% else %}
{{t.expires}}
{% endif %}
</td>
</tr>
{% endfor %}
</tbody>
</table>
</td>
<td>
<form method=post action="{{ url_for('expire_reset') }}" class="shrink">
{{ resetforms[p.id].hidden_tag() }}
{{ resetforms[p.id].reset(class_="btn btn-success") }}
</form>
</td>
</tr>
{% endfor %}
</tbody>
</table>

<p>Back to <a href="{{ url_for('admin') }}">admin things</a>.</p>

{% endblock %}
