{% extends "base.html" %}
{% block body %}
<H1>Manually reconcile a payment:</H1>

<table class="table table-condensed table-striped">
<thead>
<tr>
<th><i class="glyphicon glyphicon-user"></i> username</th>
<th><i class="glyphicon glyphicon-envelope"></i> email</th>
<th>bankref</th>
<th><i class="glyphicon glyphicon-shopping-cart"></i> tickets</th>
<th>total amount</th>
<th></th>
</tr>
</thead>
<tbody>
{% for p in payments %}
<tr>
<td>{{p.user.name}}</td>
<td>{{p.user.email}}</td>
<td><b>{{p.bankref}}</b></td>
<td>
<table class="table table-condensed table-bordered">
<tbody>
{% for t in p.tickets %}
<tr>
<td>{{ t.id }}</td>
<td>{{ t.type.name }}</td>
<td>{{ t.type.get_price(p.currency) | price(p.currency) }}</td>
<td>{{ t.expired() }}</td>
<td>{{ t.paid }}</td>
</tr>
{% endfor %}
</tbody>
</table>
</td>
<td><b>{{ p.amount | price(p.currency) }}</b></td>
<td>
<form method=post action="{{ url_for('manual_reconcile') }}" class="shrink">
{{ paymentforms[p.id].hidden_tag() }}
{{ paymentforms[p.id].reconcile(class_="btn btn-success") }}
</form>
</td>
</tr>
{% endfor %}
</tbody>
</table>

<p>Back to <a href="{{ url_for('admin') }}">admin things</a>.</p>

{% endblock %}
