<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock %}{% if self.title() %} - {% endif %}EMF Admin</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        {% assets "css_admin" -%}
        <link rel="stylesheet" href="{{ ASSET_URL }}">
        {% endassets -%}
        {% block head -%}{% endblock -%}
        <!--[if lt IE 9]>
              <script src="//oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
              <script src="//oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->
        <link rel="shortcut icon" href="/favicon.ico">
    </head>
<body>
{% block document %}
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url_for('admin.home') }}">EMF Admin</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            {% include "admin/_nav.html" %}
        </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col-md-9">
        {% for message in get_flashed_messages() -%}
            <div class="alert alert-danger">{{ message }}</div>
        {% endfor -%}

        {% block body -%}{% endblock -%}
        </div>
    </div>
</div>
{% endblock %}
<script src="//code.jquery.com/jquery-1.10.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
{% assets "js_main" -%}
<script src="{{ ASSET_URL }}"></script>
{% endassets -%}
{% block foot -%}{% endblock -%}
</body>
</html>

