{% from "_formhelpers.html" import render_field  %}
{% from "schedule/_external_lister.html" import list_externals with context %}
{% extends "admin/base.html" %}
{% set nav_active = 'schedule-feeds' %}
{% block title %}
{%- if feed -%}
    Edit Feed - {{ feed.name }}
{%- else -%}
    New Feed
{%- endif -%}
{% endblock %}
{% block body %}
{% if feed %}
    <h2>Edit Feed - {{ feed.name }}</h2>
{% else %}
    <h2>New Feed</h2>
{% endif %}

<p>Created by <a href="{{ url_for('admin.user', user_id=feed.user.id) }}">{{feed.user.name}}</small></a></p>

<form method="POST">
    {{ form.hidden_tag() }}

    {{ render_field(form.feed_name, true) }}
    {{ render_field(form.url, true) }}
    {{ render_field(form.location, true) }}
    {{ render_field(form.priority, true) }}
    {{ render_field(form.enabled, true) }}
    {{ render_field(form.published, true) }}

    {{ form.submit(class_="btn btn-success") }}
    {{ form.delete(class_="btn btn-danger") }}
    <a class="btn" href="{{ url_for('.schedule_feeds') }}">Back</a>
</form>

<h3>Feed events</h3>
{{ list_externals(feed.events) }}

{% endblock %}
