{% extends "admin/base.html" %}
{% set nav_active = 'admin_payments' %}
{% block body %}
<h2>Update payment</h2>

<p>To refresh the status this payment, please click below.</p>

<dl class="dl-horizontal">
<dt>Type</dt><dd>{{ payment.provider }}</dd>
<dt>Name</dt><dd>{{ payment.user.name }}</dd>
<dt>Email</dt><dd>{{ payment.user.email }}</dd>
<dt>Price</dt><dd>{{ payment.amount | price(payment.currency) }}</dd>
<dt>State</dt><dd>{{ payment.state }}</dd>
{% if payment.provider == 'stripe' %}
<dt>Charge ID</dt><dd>{{ payment.chargeid }}</dd>
{% endif %}
</dl>

<table class="table table-condensed table-striped">
<thead><tr>
  <th>Type</th>
  <th>Expires</th>
</tr></thead>
<tbody>
{% for t in payment.tickets %}
<tr>
  <td>{{ t.type.name }}</td>
  <td>{{ t.expires.strftime('%Y-%m-%d %H:%M:%S') }}</td>
</tr>
{% endfor %}
</tbody>
</table>

<form method="post" action="{{ url_for('admin_update_payment', payment_id=payment.id) }}" class="shrink">
{{ form.hidden_tag() }}
{{ form.update(class_="btn btn-success pull-right") }}
</form>

{% endblock %}
