{% extends "admin/base.html" %}
{% set nav_active = 'products' %}
{% block title %}Products{% endblock %}
{% block body %}
<h2>Products</h2>
<table class="table table-condensed table-striped">
<thead><tr>
  <th>Name</th>
  <th>Order</th>
  <th>Admits</th>
  <th>Price</th>
  <th>Sold</th>
  <th>Max</th>
  <th>Expires</th>
  <th>Discount token</th>
  <th></th>
</tr></thead>
<tbody>
{% for product in products %}
<tr class="ticket-product">
    <td><a href="{{ url_for('.product_details', product_id=product.id) }}">{{ product.name }}</a></td>
    <td>{{ product.order }}</td>
    <td>{{ product.admits }}</td>
    <td>£{{ product.get_price('GBP') }}</td>
    <td class="{% if product.get_sold().count() >= product.product_limit -%} limit-reached {%- endif %}">
      {{ product.get_sold().count() }}
    </td>
    <td class="{% if product.get_sold().count() >= product.product_limit -%} limit-reached {%- endif %}">
      {{ product.product_limit }}
    </td>
    <td class="{% if product.expired -%} expired {%- endif %}">
      {% if product.expires %}{{ product.expires.strftime('%Y-%m-%d') }}{% else %}--{% endif %}
    </td>
    <td>{{ product.discount_token or '--' }}</td>
    <td>
        <a class="btn btn-sm btn-success" href="{{ url_for('.new_product', copy_id=product.id) }}">Copy</a>
    </td>
    <td>
        <a class="btn btn-sm btn-warning" href="{{ url_for('.edit_product', product_id=product.id) }}">Edit</a>
    </td>
</tr>
{% endfor %}
</tbody>
</table>
<a class="btn btn-success" href="{{ url_for('.new_product') }}">New</a>
{% endblock %}
