{% extends "admin/base.html" %}
{% set nav_active = 'schedule-feeds' %}
{% block body %}
<h2>iCal feeds</h2>
<p>
    These are external feeds to use in the schedule.
</p>

<table class="table table-condensed">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Venue</th>
            <th>Email</th>
            <th>Published</th>
            <th>Enabled</th>
        </tr>
    </thead>
    <tbody>
        {% for f in feeds %}
        <tr>
            <td><a href="{{ url_for('.schedule_feed', feed_id=f.id) }}">{{ f.id }}</a></td>
            <td><a href="{{ url_for('.schedule_feed', feed_id=f.id) }}">{{ f.name }}</a></td>
            <td>{{ (f.mapobj and f.mapobj.name) or '' }}</td>
            <td>{{ f.user.email }}</td>
            <td>{{ f.published }}</td>
            <td>{{ f.enabled }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a class="btn btn-success" href="{{ url_for('.new_feed') }}">New</a>
{% endblock %}
