{% extends "admin/base.html" %}
{% set nav_active = 'schedule-feeds' %}
{% block body %}
<h2>iCal feeds</h2>
<p>
    These are external feeds to use in the schedule.
</p>

<table class="table table-condensed">
    <thead>
        <tr>
            <th>Name</th>
            <th>Main Venue</th>
            <th>Email</th>
            <th>Phone</th>
        </tr>
    </thead>
    <tbody>
        {% for f in feeds %}
        <tr>
            <td><a href="{{ url_for('.feed', feed_id=f.id) }}">{{ f.name or f.url }}</a></td>
            <td>{{ f.main_venue or '' }}</td>
            <td>{{ f.contact_email or '' }}</td>
            <td>{{ f.contact_phone or '' }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a class="btn btn-success" href="{{ url_for('.new_feed') }}">New</a>
{% endblock %}
