{% extends "admin/base.html" %}
{% from "_formhelpers.html" import render_field, render_static %}
{% set nav_active = 'site_states' %}
{% block body %}

<h2>Site states</h2>

<form method="post">
{{ form.hidden_tag() }}

{% call render_field(form.site_state) %}
Current state: {{ SITE_STATE }}
{% endcall %}

{% call render_field(form.sales_state) %}
Current state: {{ SALES_STATE }}
{% endcall %}

{% call render_field(form.refund_state) %}
Current state: {{ REFUND_STATE }}
{% endcall %}

{% call render_field(form.signup_state) %}
Current state: {{ SIGNUP_STATE }}
{% endcall %}

{{ form.update(class_="btn btn-success debounce") }}
</form>
{% endblock %}
