{% extends "admin/base.html" %}
{% set nav_active = 'ticket_transfers' %}
{% block body %}

<h2>Ticket Transfers</h2>
<table class="table table-condensed table-striped">
  <tr>
    <th>Date</th>
    <th>Ticket Type</th>
    <th>From</th>
    <th>To</th>
  </tr>
  {% for trans in transfers %}
  <tr>
    <td>{{ trans.timestamp.strftime('%d %b %Y') }}</td>
    <td>{{ trans.ticket.type.name }}</td>
    <td>{{ trans.from_user.name }}</td>
    <td>{{ trans.to_user.name }}</td>
  </tr>

  {% endfor %}
</table>

{% endblock %}
