{% extends "admin/base.html" %}
{% set nav_active = 'ticket_transfers' %}
{% block body %}

<h2>Ticket Transfers</h2>
<table class="table table-condensed table-striped">
  <tr>
    <th>Date</th>
    <th>Ticket Type</th>
    <th>From</th>
    <th>To</th>
  </tr>
  {% for trans in transfers %}
  <tr>
    <td>{{ trans.timestamp.strftime('%d %b %Y') }}</td>
    <td>{{ trans.ticket.type.name }}</td>
    <td><a href="{{ url_for('.user', user_id=trans.from_user.id) }}">{{ trans.from_user.name }}</a></td>
    <td><a href="{{ url_for('.user', user_id=trans.to_user.id) }}">{{ trans.to_user.name }}</a></td>
  </tr>

  {% endfor %}
</table>

{% endblock %}
