{% extends "admin/base.html" %}
{% set nav_active = 'admin_txns' %}
{% block body %}
<h2>Reconcile transaction</h2>

<p>To reconcile this transaction to this payment, please click below.</p>

<dl class="dl-horizontal">
<dt>Date</dt><dd>{{ txn.posted }}</dd>
<dt>Type</dt><dd>{{ txn.type }}</dd>
<dt>Payee</dt><dd><b>{{ txn.payee }}</b></dd>
<dt>Amount</dt><dd><b>{{ txn.amount | price(txn.account.currency) }}</b></dd>
<dt>FIT</dt><dd>{{ txn.fit_id }}</dd>
</dl>

<dl class="dl-horizontal">
<dt>Name</dt><dd>{{ payment.user.name }}</dd>
<dt>Email</dt><dd>{{ payment.user.email }}</dd>
<dt>Price</dt><dd><b>{{ payment.amount | price(payment.currency) }}</b></dd>
<dt>Reference</dt><dd><b>{{ payment.bankref | bankref }}</b></dd>
</dl>

<table class="table table-condensed table-striped">
<thead><tr>
  <th>Type</th>
  <th>Expires</th>
</tr></thead>
<tbody>
{% for t in payment.tickets %}
<tr>
  <td>{{ t.type.name }}</td>
  <td>{{ t.expires.strftime('%Y-%m-%d %H:%M:%S') }}</td>
</tr>
{% endfor %}
</tbody>
</table>

<form action="{{ url_for('admin.transaction_reconcile', txn_id=txn.id, payment_id=payment.id) }}" method="post">
  {{ form.hidden_tag() }}
  {{ form.reconcile(class_="btn btn-warning pull-right") }}
</form>

{% endblock %}
