{% extends "base.html" %}
{% block body %}
<h1>Reconcile transaction</h1>

<table class="table table-condensed table-striped">
<thead><tr>
  <th>Date</th>
  <th>Type</th>
  <th>Payee</th>
  <th>Amount</th>
  <!--<th>FIT</th>-->
</tr></thead>
<tbody>
<tr>
  <td>{{ txn.date }}</td>
  <td>{{ txn.type }}</td>
  <td><b>{{ txn.payee }}</b></td>
  <td><b>{{ txn.amount | price(txn.account.currency) }}</b></td>
  <!--<td>{{ txn.fit_id }}</td>-->
</tr>
</tbody></table>

{% if not payments_forms %}
<div class="alert alert-danger">
No suitable payments were found.
</div>
{% else %}
<table class="table table-condensed table-striped">
<thead><tr>
  <th>Name</th>
  <th>Email</th>
  <th>Amount</th>
  <th>Bankref</th>
  <th></th>
</tr></thead>
<tbody>
{% for payment, form in payments_forms %}
<tr>
  <td><b>{{ payment.user.name }}</b></td>
  <td>{{ payment.user.email }}</td>
  <td><b>{{ payment.amount | price(payment.currency) }}</b></td>
  <td>{{ payment.bankref | bankref }}</td>
  <td>
    <form action="{{ url_for('admin_txn_reconcile', txn_id=txn.id) }}" method="post">
      {{ form.hidden_tag() }}
      {{ form.reconcile(class_="btn btn-warning") }}
    </form>
  </td>
</tr>
{% endfor %}
</tbody></table>
{% endif %}

<div class="pull-right">
<form action="{{ url_for('admin_txn_suppress', txn_id=txn.id) }}" method="post">
  {{ suppress_form.hidden_tag() }}
  {{ suppress_form.suppress(class_="btn btn-danger") }}
</form>
</div>

<a class="btn btn-default" href="{{ url_for('admin') }}">Back</a>
{% endblock %}
