{% from "_formhelpers.html" import render_field %}
{% extends "admin/base.html" %}
{% block body %}
<h2>Users</h2>

<h4>Add User</h4>
<form method="POST" class="form-horizontal">
{{ form.hidden_tag() }}

{{ render_field(form.name, True) }}
{{ render_field(form.email, True) }}

<div class="pull-right">{{ form.add(class_="btn btn-success") }}</div>
<div>&nbsp;</div>
<div>&nbsp;</div>
</form>

<h4>User List</h4>
<table class="table table-condensed">
    <tr>
        <th><i class="glyphicon glyphicon-user"></i> Name</th>
        <th><i class="glyphicon glyphicon-envelope"></i> email</th>
        <th><i class="glyphicon glyphicon-lock"></i> Permissions</th>
    </tr>
{% for u in users %}
<tr class="{{ loop.cycle('odd', 'even') }}">
    <td><a href="{{ url_for('.user', user_id=u.id) }}">{{ u.name }}</a></td>
    <td>{{ u.email }}</td>
    <td>{% for permission in u.permissions %}{{ permission.name }}{% endfor %}</td>
</tr>
{% endfor %}
</table>

{% endblock %}
