{% extends "admin/base.html" %}
{% set nav_active = 'make_arrivals' %}
{% block body %}
<h2>List of arrivals operators</h2>

<form method=post action="{{ url_for('make_arrivals') }}">
{{ arrivalsform.hidden_tag() }}
{{ arrivalsform.keys }}

<table class="table table-condensed">
<tr><th><i class="glyphicon glyphicon-user"></i> Name</th><th><i class="glyphicon glyphicon-envelope"></i> email</th><th></th></tr>
{% for u in users %}
<tr class="
{{ loop.cycle('odd', 'even') }}
">
<td>{{ u.name }}</td>
<td>{{ u.email }}</td>
<td>{{ arrivalsform[u.id ~ "_arrivals"]() }}</td>
</tr>
{% endfor %}
</table>
{{ arrivalsform.change(class_="btn btn-success pull-right") }}
</form>

{% endblock %}
