{% from "_formhelpers.html" import render_field %}
{% extends "admin/base.html" %}
{% block body %}
<h2>User Details</h2>

<table class="table table-condensed">
    <tr><th>ID</th><td>{{user.id}}</td></tr>
    <tr><th>Name</th><td>{{user.name}}</td></tr>
    <tr><th>Email</th><td>{{user.email}}</td></tr>
</table>


<h3>Permissions</h3>
<p>Note that the admin permission implies all other permissions.</p>
<form method="post">
{{ form.hidden_tag() }}
{{ form.keys }}

<table class="table table-condensed">
    <tr>{% for permission in permissions %}
            <th>{{permission.name|capitalize}}</th>
        {% endfor %}
    </tr>
    <tr>
        {% for permission in permissions %}
            <td>{{ form["permission_" ~ permission.name]() }}</td>
        {% endfor %}
    </tr>
</table>
{{ form.change_permissions(class_="btn btn-success pull-right") }}

<div class="row">&nbsp;</div>
<hr>
{{ render_field(form.note) }}
{{ form.add_note(class_="btn btn-success pull-right") }}
</form>
<div class="row">&nbsp;</div>

<h3>Tickets</h3>
<table class="table table-condensed">
    <tr>
        <th>Name</th>
        <th>Status</th>
        <th>Checked in?</th>
    </tr>
    {% for ticket in user.tickets %}
        <tr>
            <td>{{ ticket.type.name }}</td>
            <td>{% if ticket.paid -%}
                Paid
            {%- elif ticket.expired -%}
                Expired
            {%- else -%}
                --
            {%- endif %}</td>
            <td>{% if ticket.checkin %}Yes{% else %}No{% endif %}</td>
        </tr>
    {% endfor %}
</table>
<div class="row">&nbsp;</div>

<h3>Proposals</h3>
<table class="table table-condensed">
    <tr>
        <th>Title</th>
        <th>Type</th>
        <th>State</th>
    </tr>
    {% for proposal in user.proposals %}
        <tr>
            <td>
                <a href="{{ url_for('cfp_review.update_proposal', proposal_id = proposal.id ) }}">{{ proposal.title }}</a>
            </td>
            <td>{{ proposal.type }}</td>
            <td>{{ proposal.state }}</td>
        </tr>
    {% endfor %}
</table>

{% endblock %}
