{% extends "base.html" %}
{% block body %}

<div class="span6">
	<div class="tabbable"> <!-- Only required for left/right tabs -->
		<ul class="nav nav-tabs">
			<!-- {bar':{}, 'steward':{}, 'stage':{}, 'parking':{}} -->
			<li class="active"><a href="#steward" data-toggle="tab">Stewarding</a></li>
			<li><a href="#bar" data-toggle="tab">Bar work</a></li>
			<li><a href="#stage" data-toggle="tab">Stage work</a></li>
		</ul>
	</div>
	<div class="tab-content">
		{% for role in ("steward", "bar", "stage") %}			
			<div class="tab-pane {% if role=='steward' %} active {% endif %}" id="{{ role }}">
				{% for day in (31, 2, 1, 3) %}
					{% if day == 31 %}
						<b>Friday 31st</b>
					{% elif day == 1 %}
						<b>Saturday 1st</b>
					{% elif day == 2 %}
						<b>Sunday 2nd</b>
					{% elif day == 3 and (role == 'parking' or role == 'steward') %}
						<b>Monday 3rd</b>
					{% endif %}
					<br>
					{% for shift_slot in all_shifts if shift_slot._role==role and shift_slot.start_time.day == day %}
						{{ shift_slot.start_time.hour }}:00
						{% for signup in shift_slot._signups %}
							{% for u in signup %}
								{{ u }}; 
							{% endfor %}
						{% endfor %}
						<br>
					{% endfor %}
					<br>
				{% endfor %}
			</div>
		{% endfor %}
	</div>
		
</div>
{% endblock %}