{% extends "base.html" %}
{% block body %}

<div class="span6">
	<div class="tabbable"> <!-- Only required for left/right tabs -->
		<ul class="nav nav-tabs">
			<!-- {bar':{}, 'steward':{}, 'stage':{}, 'parking':{}} -->
			
			<li class="active dropdown" data-toggle="dropdown" href="#steward">
				<a href="#steward" data-toggle="tab">Stewarding</a>
			</li>
			<li><a href="#bar" data-toggle="tab">Bar work</a></li>
			<li><a href="#stage" data-toggle="tab">Stage work</a></li>
		</ul>
	</div>
	<div class="tab-content">			
		{% for role in shift_data %}			
			<div class="tab-pane {% if role=='steward' %} active {% endif %}" id="{{ role }}">
				{% for day in shift_data[role] %}
					{% if day == 31 %}
						<a name="{{ role }}{{ day }}"></a><b>Friday 31st</b>
					{% elif day == 1 %}
						<a name="{{ role }}{{ day }}"></a><b>Saturday 1st</b>
					{% elif day == 2 %}
						<a name="{{ role }}{{ day }}"></a><b>Sunday 2nd</b>
					{% elif day == 3 and (role == 'parking' or role == 'steward') %}
						<a name="{{ role }}{{ day }}"></a><b>Monday 3rd</b>
					{% endif %}
					<br>
					{% for hour in shift_data[role][day] %}
						{{ hour }}:00
						<ul>
						{% for signup in shift_data[role][day][hour] %}
							<li>{{ signup }} </li>
						{% endfor %}
						</ul>
						<br>
					{% endfor %}
					<br>
				{% endfor %}
			</div>
		{% endfor %}
	</div>
</div>
{% endblock %}
