{% extends "base.html" %}
{% block body %}

<div class="span6">
    <div class="tabbable"> <!-- Only required for left/right tabs -->
        <ul class="nav nav-tabs">
            <!-- {bar':{}, 'steward':{}, 'stage':{}, 'parking':{}} -->
            
            <li class="active dropdown" data-toggle="dropdown" href="#steward">
                <a href="#steward" data-toggle="tab">Stewarding</a>
            </li>
            <li><a href="#bar" data-toggle="tab">Bar work</a></li>
            <li><a href="#stage" data-toggle="tab">Stage work</a></li>
        </ul>
    </div>
    <div class="tab-content">
        {% for role in shift_data %}
            <div class="tab-pane {% if role=='steward' %} active {% endif %}" id="{{ role }}">
                {# for day in shift_data[role] #}
                {% for day in (31, 1, 2, 3) %}
                    {% if day == 31 %}
                        <a name="{{ role }}{{ day }}"></a><b>Friday 31st</b>
                    {% elif day == 1 %}
                        <a name="{{ role }}{{ day }}"></a><b>Saturday 1st</b>
                    {% elif day == 2 %}
                        <a name="{{ role }}{{ day }}"></a><b>Sunday 2nd</b>
                    {% elif day == 3 and (role == 'parking' or role == 'steward') %}
                        <a name="{{ role }}{{ day }}"></a><b>Monday 3rd</b>
                    {% endif %}
                    <br>
                    {% if shift_data[role][day] %}
                        <table class="table table-condensed table-hover">
                            <thead> 
                                <tr>
                                    <th>Start</th>
                                    <th>Required</th>
                                    <th>Status</th>
                                    <th>Name</th>
                                    <th>Phone number</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for hour in shift_data[role][day] | sort() %}
                                    {% for person in shift_data[role][day][hour]['people'] %}
                                        <tr>
                                            {% if loop.first %}
                                                <td>{{ hour }}:00</td>
                                                <td>{{ shift_data[role][day][hour]['min'] }}</td>
                                                {% if shift_data[role][day][hour]['status'] == 'not_full' %}
                                                    <td><span class="label label-info">Ok</span></td>
                                                {% elif shift_data[role][day][hour]['status'] == 'full' %}
                                                    <td><span class="label label-success">Full</span></td>                                  
                                                {% elif shift_data[role][day][hour]['status'] == 'under' %}
                                                    <td><span class="label label-warning">Below</span></td>
                                                {% endif %}
                                            {% else %}
                                                <td></td><td></td><td></td> 
                                            {% endif %}
                                            <td>{{ person[0] }}</td>
                                            <td>{{ person[1] }}</td>
                                        </tr>
                                    {% else %}
                                        <tr>
                                            <td>{{ hour }}:00</td>
                                            <td>{{ shift_data[role][day][hour]['min'] }}</td>
                                            <td><span class="label label-important">Empty</span></td>
                                            <td></td><td></td>
                                        </tr>
                                    {% endfor %}
                                {% endfor %}
                            </tbody>    
                        </table>
                    {% endif %}
                {% endfor %}
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
