{% set main_class = 'sponsor portcullis' %}
{% extends "base.html" %}

{% block body %}

<h2><a href="https://www.portcullis-security.com/">Portcullis</a></h2>

<p>Portcullis is delighted to be sponsoring EMF 2014 at Bletchley for what
   promises to be their biggest and best event ever.</p>

<p>Since our formation in 1986, Portcullis has developed into a widely
   recognized and respected provider of Information Security services with
   the strong foundation that comes from being an independent, mature and
   financially stable Company.</p>

<p>Portcullis’ excellent reputation stems from our Security Testing Services,
   launched back in 1996, which flourished into the professional and high
   quality services that our clients benefit from today. This is further
   endorsed by Portcullis’ array of industry accreditations and the numerous
   CHECK Team Leaders / Members and CREST Application / Infrastructure
   Consultants we have. This is testament to the investment Portcullis makes
   in its highly skilled workforce, their training and our research and
   development.</p>

<p>As a well established provider of Information security we understand the
   importance of networking and sharing ideas and information within our
   industry. This not only helps us fight cyber crime but also allows our
   industry and those related to grow and reach new areas. That’s why
   Portcullis is excited to sponsor Electromagnetic Field this year having
   attended in previous years and found it such a fantastic place to share
   ideas and learn.</p>

<p>We welcome people to come visit us at our village this year and within the,
   you’ll find our location on the EMF wiki and you’re sure to see our
   Portcullis flags flying high!</p>

<a href="https://www.portcullis-security.com/">
  <img class="img-responsive col-sm-8 col-sm-offset-2" src="{{ url_for('static', filename='images/sponsors/portcullis.jpg') }}"/>
</a>

{% endblock %}
