{% set main_class='sponsors' %}
{% extends "base.html" %}
{% block title %}Sponsor Electromagnetic Field{% endblock %}
{% block body %}

<h2>Sponsor Electromagnetic Field</h2>

    <img src="{{ url_for('static', filename='images/sponsor/sponsor_1.jpg')}}"
            class="img-thumbnail img-responsive" style="float:right; width:320px; margin-left: 16px;">
<p>Electromagnetic Field (EMF) is the UK’s largest technology-focused camping festival: a three-day event for people with an inquisitive mind and an interest in science, engineering, arts, technology, crafts, games, DIY, or security.</p>

<p>Held every two years, EMF is a cross between a conference and a festival, with talks and workshops on a wide range of subjects. EMF is a non-profit event, entirely run by a dedicated team of volunteers.</p>

<p>At the end of July 2020 we're running the fifth EMF festival at <a href="http://eastnorcastle.com/visit-eastnor-castle/eastnor-deer-park/">Eastnor Castle Deer Park</a> in Herefordshire. We're providing a programme of three days of fascinating talks, workshops, and performances, to an audience of over 2500 attendees in an internet-connected field.</p>

<h3>Help Us Out</h3>
<p>Ticket sales provide for the basic EMF infrastructure, but we rely on partnerships
with generous sponsors to make the festival a truly amazing place to visit. This year,
we hope support from sponsors will make the following things possible:</p>

<ul>
    <li>A custom, programmable electronic badge (TiLDA), free to all attendees.</li>
    <li>Comprehensive, free on-site childcare and content for young people.</li>
    <li>Live transcription of talks.</li>
    <li>Large-scale interactive art installations.</li>
    <li>Funding for speakers and workshops who are otherwise unable to attend.</li>
</ul>
<p>We routinely work with sponsors to tailor their sponsorship package to an appropriate area.</p>

<p>Previous major sponsors have included <a href="https://www.microsoft.com">Microsoft</a>, <a href="http://www.engineering.ucl.ac.uk/">UCL Engineering</a>, <a href="http://www.farnell.com/">Farnell</a>, <a href="https://www.paypal.com">Paypal</a>, <a href="http://uk.mathworks.com/">Mathworks</a>, <a href="https://www.nexmo.com">Nexmo</a>, <a href="https://www.spotify.com">Spotify</a>, and <a href="https://imgtec.com/">Imagination Technologies</a>.

<h3>Audience</h3>
<p>The festival has rapidly grown in size, from just 400 attendees at the first EMF in 2012 to a predicted attendance of well over 2500 this year.</p>

<p>EMF draws a broad spectrum of attendees from a large range of disciplines around the world. We actively aim to become more diverse with each event, seeking out new topics and speakers from underrepresented demographics. As a result we have a strong <a href="{{url_for('base.code_of_conduct')}}">Code of Conduct</a>.</p>

<p>A significant proportion of EMF attendees work in technology or related industries, however we encourage them to speak on topics unrelated to their careers. In 2014 we introduced our first young people's track, with dedicated activities for the under-16s and full childcare for under 10s.</p>

<p>We encourage all sponsors to gift unused admission tickets to those who otherwise may not attend EMF. In previous years they have been donated to <a href="https://codebar.io/">Codebar</a> and <a href="https://www.codeclub.org.uk/">Code Club</a>, although sponsors may choose any group they wish.</p>

<h3>Press</h3>
<p>Since we began in 2012 EMF has been covered by the national press in print,
online, and on television.</p>

<h3>Sponsorship Levels</h3>
<p>The following sponsorship levels are presented as guidance, however we are happy to produce
    a custom sponsorship package for each sponsor that wishes to be involved with EMF.</p>
<div class="row row-equal" id="sponsorship-row">
    <div class="col-sm-6 col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading"><h4>Bronze: £1000</h4></div>
            <div class="panel-body">
                <ul>
                    <li>Logo on website</li>
                    <li>Logo on printed programme</li>
                    <li>Two admission tickets</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading"><h4>Silver: £3000</h4></div>
            <div class="panel-body">
                <ul>
                    <li>Logo on website</li>
                    <li>Logo on printed programme</li>
                    <li>Logo on talk video title cards</li>
                    <li>A mention in blog posts</li>
                    <li>A mention in emails to attendees</li>
                    <li>Four admission tickets</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading"><h4>Gold: £6000+</h4></div>
            <div class="panel-body">
                <ul>
                    <li>Logo on website</li>
                    <li>Logo on printed programme</li>
                    <li>Logo on talk video title cards</li>
                    <li>A mention in blog posts</li>
                    <li>A mention in emails to attendees</li>
                    <li>Logo on electronic camp badge</li>
                    <li>One speaker slot for an agreed speaker &amp; presentation</li>
                    <li>Eight admission tickets</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading"><h4>Custom</h4></div>
            <div class="panel-body">
                <p>Any number of custom options, such as:</p>
                <ul>
                    <li>Giving out swag (t-shirts, umbrellas) to attendees</li>
                    <li>Dedicated sponsorship of a thing (e.g. live transcription)</li>
                    <li>Dedicated sponsorship of an area (e.g. for the lounge)</li>
                </li>
            </div>
        </div>
    </div>
</div>

<p>Please note: sponsorship is subject to UK VAT at 20%, and the sponsorship levels on this page exclude VAT.</p>

<h3>Get in Touch</h3>
<p>If you're interested in sponsoring EMF {{ event_year }} we'd love to hear from you. You can get in touch by:</p>
<ul>
    <li>Emailing <a href="mailto:sponsor@emfcamp.org">sponsor@emfcamp.org</a></li>
    <li>Calling <a href="tel:+441908870919">+44 (0)1908 870919</a> (weekdays between 9am-5pm UK time)</li>
</ul>
{% endblock %}
