{% set main_class='sponsors' %} {% extends "base.html" %} {% block title
%}Sponsors{% endblock %} {% block body %}

<h2>Sponsors</h2>

<div class="well">
  <p>
    EMF is a non-profit event, and would not exist without help from our wonderful sponsors.
  </p>
    We're still accepting sponsors for this year's event.
    <a href="{{url_for('.sponsor')}}">Learn more about sponsoring Electromagnetic Field</a>.
</div>

{% macro sponsor(url, image, alt, dark=False) %}
<div class="sponsor{% if dark %} sponsor-dark{% endif %}">
  <a href="{{ url }}" title="{{alt}}" target="_blank" rel="noopener">
    <img class="img-responsive col-xs-12 img-sponsor" alt="{{alt}}"
      src="{{ url_for('static', filename='images/sponsors/' + image) }}" />
  </a>
</div>
{% endmacro %}

<div class="clearfix col-xs-12">
  <h3>Gold</h3>
  <div class="sponsors-list sponsors-list--gold">
    {{ sponsor("https://foundryzero.co.uk/", "foundry-zero.svg", "Foundry Zero") }}
  </div>

  <h3>Silver</h3>
  <div class="sponsors-list sponsors-list--silver">
    {{ sponsor("https://cside.com/", "cside.png", "cside") }}
    {{ sponsor("https://grafana.com/", "grafana.svg", "Grafana Labs") }}
    {{ sponsor("https://www.mythic-beasts.com/", "mythicbeasts.svg", "Mythic Beasts") }}
    {{ sponsor("https://www.onega.net/", "onega.jpg", "Onega") }}
    {{ sponsor("https://utaw.tech/about/", "UTAW.svg", "United Tech and Allied Workers") }}
  </div>

  <h3>Bronze</h3>
  <div class="sponsors-list sponsors-list--bronze">
    {{ sponsor("https://codemyriad.io/", "codemyriad.svg", "Codemyriad", True) }}
    {{ sponsor("https://feng-ltd.com/", "FEng.svg", "Fieldhouse Engineering") }}
  </div>
</div>

<div class="clearfix col-xs-12">
  <h3>Special Thanks</h3>
  <p>
    We'd like to extend special thanks to the following organisations who have
    been instrumental in making EMF happen:
  </p>
  <p>
    <a href="http://bitfolk.com">Bitfolk</a>, the
    <a href="https://www.ccc.de">Chaos Computer Club</a>,
    <a href="https://eventinfra.org">EventInfra</a>, {#
    <a href="https://www.flexoptix.net">Flexoptix</a>,#}
    <a href="https://www.irccloud.com">IRCCloud</a>,
    <a href="https://lakefest.co.uk/">Lakefest</a>,
    <a href="https://www.lonap.net">LONAP</a>,
    <a href="https://www.opentech.org.uk/">OpenTech</a>,
    <a href="https://rtwilson.com/">Robin Wilson</a>,
    <a href="https://businessconnect.sky.com">Sky Connect</a>,
    <a href="https://www.templant.co.uk/">Templant</a>,
    <a href="https://multi-streamer.com/">Volkert Software</a>,
    <a href="https://info-beamer.com">info-beamer</a>,
    and everyone who volunteered.
  </p>
</div>
{% endblock %}
