{% set main_class='sponsors' %}
{% extends "base.html" %}
{% block title %}Sponsors{% endblock %}

{% block body %}

<h2>Sponsors</h2>

{#
<div class="well">
    We're still accepting sponsors for this year's event. <a href="{{url_for('.sponsor')}}">Learn more about sponsoring Electromagnetic Field</a>.
</div>
#}

{% macro sponsor(url, image) %}
<div class="sponsor">
<a class="clearfix" href="{{ url }}">
  <img class="img-responsive col-xs-12 img-sponsor" src="{{ url_for('static', filename='images/sponsors/' + image) }}"/>
</a>
</div>
{% endmacro %}

<div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">

<h3>Gold</h3>
{{ sponsor("https://uk.mathworks.com/", "mathworks.svg") }}
{{ sponsor("https://www.nexmo.com/", "nexmo.png") }}
<h3>Silver</h3>
{{ sponsor("https://www.codethink.co.uk/", "codethink.png") }}
{{ sponsor("https://github.com", "github.png") }}
{{ sponsor("https://mlab.com", "mlab.png") }}
<h3>Bronze</h3>
{{ sponsor("https://aaisp.net.uk/", "aaisp.png") }}
{{ sponsor("https://amsat-uk.org/", "amsat-uk.jpg") }}
{{ sponsor("http://www.medicalconnections.co.uk/", "medicalconnections.png") }}
{{ sponsor("http://www.msraynsford.co.uk/", "msraynsford.svg") }}
{{ sponsor("https://smokeandmirrors.store/", "smokeandmirrors.svg") }}
</div>
<div class="clearfix col-xs-12">
    <h3>Special Thanks</h3>
    <p>We'd like to extend special thanks to the following people and organisations
    who have been instrumental in making EMF happen:</p>
    <div class="sponsor" style="width: 150px">
    <a href="https://samsunginter.net"><img class="img-responsive img-sponsor" src="{{ url_for('static', filename='images/sponsors/samsung.svg') }}"></a>
    <p>
    </div>
    <a href="http://bitfolk.com">Bitfolk</a>,
    <a href="http://comtec.com">Comtec</a>,
    <a href="http://lonap.net">LONAP</a>,
    <a href="http://eventinfra.org">EventInfra</a>,
    <a href="http://helpmonks.com">Helpmonks</a>,
    <a href="http://irccloud.com">IRCCloud</a>,
    the <a href="https://ccc.de">Chaos Computer Club</a>,
    and everyone who volunteered.
    </p>
</div>
{% endblock %}
