{% set main_class='sponsors' %}
{% extends "base.html" %}
{% block title %}Sponsor Electromagnetic Field{% endblock %}
{% block description %}
    Electromagnetic Field is the UK's largest camping festival for people interested in technology, science, and arts.
    We're looking for sponsors to help us make this year our best event yet.
{% endblock %}
{% block body %}

<h2>Sponsor Electromagnetic Field</h2>

    <img src="{{ static_url_for('static', filename='images/main_images/004.jpg') }}"
            title="EMF 2018" class="img-thumbnail img-responsive" style="float:right; width:280px; margin-left: 16px;">
<p>Electromagnetic Field (EMF) is the UK’s largest technology-focused camping festival: a three-day event for people with an inquisitive mind and an interest in science, engineering, arts, technology, crafts, games, DIY, or security.</p>

<p>Held every two years, EMF is a cross between a conference and a festival, with talks and workshops on a wide range of subjects. EMF is a non-profit event, entirely run by a dedicated team of volunteers.</p>

<p>In 2026 we'll be running the seventh EMF festival at <a href="http://eastnorcastle.com/visit-eastnor-castle/eastnor-deer-park/">Eastnor Castle Deer Park</a> in Herefordshire. We're providing a programme of three days of fascinating talks, workshops, and performances, to an audience of over 3000 attendees in an internet-connected field.</p>

<h3>Help Us Out</h3>
<p>Ticket sales provide for the basic EMF infrastructure, but we rely on partnerships
with generous sponsors to make the festival a truly amazing place to visit. This year,
we hope support from sponsors will make the following things possible:</p>

<ul>
    <li>Comprehensive, free on-site childcare and content for young people.</li>
    <li>Live transcription of talks.</li>
    <li>Large-scale interactive art installations.</li>
    <li>Funding for speakers and workshops who are otherwise unable to attend.</li>
</ul>
<p>We routinely work with sponsors to tailor their sponsorship package to an appropriate area.</p>

<h3>Audience</h3>
<p>The festival has rapidly grown in size, from just 400 attendees at the first EMF in 2012 to a predicted attendance of over 3000 this year.</p>

<p>EMF draws a broad spectrum of attendees from a large range of disciplines around the world. We actively aim to become more diverse with each event, seeking out new topics and speakers from underrepresented demographics. As a result we have a strong <a href="{{url_for('base.code_of_conduct')}}">Code of Conduct</a>.</p>

<p>A significant proportion of EMF attendees work in technology or related industries, however we encourage them to speak on topics unrelated to their careers. In 2014 we introduced our first young people's track, with dedicated activities for the under-13s and full childcare for under 10s.</p>

<p>We encourage sponsors to gift unused admission tickets to those who otherwise may not attend EMF.</p>

<h3>Getting The Most From Sponsoring</h3>
<p>EMF is not a typical technology event. There is no central hall, sponsor area, or place for roller banners - sponsors who get the most from the event often do so through active participation.</p>
<h4>Speaking & Facilitating Workshops</h4>
<p>We're looking for talks, performances, and workshops for all ages. Sessions should have wide appeal and not just be a vendor pitch, however we welcome you to think about novel content that includes your company's product, goal, or message.</p>
<p>You can submit in our <a href="/cfp">Call for Participation</a> or discuss including a proposal as part of a sponsorship package.</p>
<h4>Villages</h4>
<p>Around the camp attendees will pitch tents, often forming 'villages' of individuals with similar interests. Villages range from a simple group of people camping together, all the way up to miniature conferences in their own right, organising activities, events, and workshops. We'll work with you to design a village and programme that will best suit your goals and integrate you with the festival.</p>
<p>We can handle the hiring of a large tent and furniture for your village if you wish discuss the cost of this as part of our sponsorship conversation. This facility is included as standard in the Platinum sponsorship.</p>
<h3>Sponsorship Levels</h3>
<p>The following sponsorship levels are presented as guidance, however we are happy to produce
    a custom sponsorship package for each sponsor that wishes to be involved with EMF.</p>
<div id="sponsorship-levels">
    <div class="panel panel-default">
        <div class="panel-heading"><h4>Copper: £1000 or lower</h4></div>
        <div class="panel-body">
            <ul>
                <li>Logo on website</li>
            </ul>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading"><h4>Bronze: £2500</h4></div>
        <div class="panel-body">
            <ul>
                <li>Logo on website</li>
                <li>Logo on printed programme</li>
                <li>Two admission tickets</li>
            </ul>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading"><h4>Silver: £5000</h4></div>
        <div class="panel-body">
            <ul>
                <li>Logo on website</li>
                <li>Logo on printed programme</li>
                <li>Logo on talk video title cards</li>
                <li>A mention in blog posts</li>
                <li>Four admission tickets</li>
            </ul>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading"><h4>Gold: £10000</h4></div>
        <div class="panel-body">
            <ul>
                <li>Logo on website</li>
                <li>Logo on printed programme</li>
                <li>Logo on talk video title cards</li>
                <li>A mention in blog posts</li>
                <li>A mention in emails to attendees</li>
                <li>Logo on electronic camp badge app</li>
                <li>Six admission tickets</li>
            </ul>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading"><h4>Platinum: £20000</h4></div>
        <div class="panel-body">
            <ul>
                <li>Logo on website</li>
                <li>Logo on printed programme</li>
                <li>Logo on talk video title cards</li>
                <li>A mention in blog posts</li>
                <li>A mention in emails to attendees</li>
                <li>Logo on electronic camp badge app</li>
                <li>Logo on electronic camp badge PCB</li>
                <li>Eight admission tickets</li>
                <li>Village tent - 6x6m marquee</li>
            </ul>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading"><h4>Custom add-ons</h4></div>
        <div class="panel-body">
            <p>Any number of custom options, such as:</p>
            <ul>
                <li>Giving out swag (t-shirts, umbrellas) to attendees</li>
                <li>Dedicated sponsorship of a thing (e.g. live transcription)</li>
                <li>Dedicated sponsorship of an area (e.g. for the lounge)</li>
                <li>Village tent and furniture</li>
            </li>
        </div>
    </div>
</div>

<p>Sponsorship for levels Bronze and above is subject to UK VAT at 20%. The sponsorship levels on this page exclude VAT.</p>


<h3>Get in Touch</h3>
<p>If you're interested in sponsoring EMF {{ event_year }} we'd love to hear from you. You can get in touch by:</p>
<ul>
    <li>Emailing <a href="mailto:sponsor@emfcamp.org">sponsor@emfcamp.org</a></li>
    <li>Calling <a href="tel:+443331122949">+44 (0)3331 122949</a> (weekdays between 9am-5pm UK time)</li>
</ul>
{% endblock %}
