{% set main_class='sponsors' %} {% extends "base.html" %} {% block title
%}Sponsors{% endblock %} {% block body %}

<div class="row">
  <div class="col-sm-7 sponsor-blurb">
    <h2>Sponsors</h2>

    <p>We routinely work with sponsors to tailor their sponsorship package to an appropriate area. If you're interested in sponsoring <strong>EMF {{ event_year }}</strong>, we'd love to hear from you.</p>
  </div>

  <div class="col-sm-5">
    <div class="sponsor-well">
      <p>We're still accepting sponsors for this year's event.</p>
      <p><a href="{{url_for('.sponsor')}}">Learn more about sponsoring Electromagnetic Field</a>.</p>
    </div>
  </div>
</div>

<hr>

{% macro sponsor(url, image, alt, dark=False) %}
<div class="sponsor{% if dark %} sponsor-dark{% endif %}">
  <a href="{{ url }}" title="{{alt}}" target="_blank" rel="noopener">
    <img class="img-responsive col-xs-12 img-sponsor" alt="{{alt}}"
      src="{{ url_for('static', filename='images/sponsors/' + image) }}" />
  </a>
</div>
{% endmacro %}
<div class="row sponsor-row">
  <div class="col-sm-4">
    <h3 class="sponsor-tier-name sponsor-tier-name--palladium">Palladium</h3>
  </div>
  <div class="col-sm-8">
    <div class="sponsors-list sponsors-list--palladium">
      {{ sponsor("https://nationwide.co.uk/", "nationwide.svg", "Nationwide") }}
    </div>
  </div>
</div>
<div class="row sponsor-row">
  <div class="col-xs-12">
    <h3 class="sponsor-tier-name sponsor-tier-name--gold">Gold</h3>
    <div class="sponsors-list sponsors-list--gold">
      {{ sponsor("https://foundryzero.co.uk/", "foundry-zero.svg", "Foundry Zero") }}
      {{ sponsor("https://zzoomm.com/", "zzoomm.png", "zzoomm") }}
      {{ sponsor("https://fullfibre.co/", "fullfibre.png", "FullFIbre") }}
      {{ sponsor("https://mathworks.com/", "mathworks.svg", "MathWorks") }}
    </div>
  </div>
</div>

<div class="row sponsor-row">
  <div class="clearfix col-xs-12">
    <h3 class="sponsor-tier-name sponsor-tier-name--silver">Silver</h3>
    <div class="sponsors-list sponsors-list--silver">
      {{ sponsor("https://antithesis.com/", "antithesis.svg", "Antithesis", True) }}
      {{ sponsor("https://cside.com/", "cside.svg", "cside") }}
      {{ sponsor("https://grafana.com/", "grafana.svg", "Grafana", True) }}
      {{ sponsor("https://www.mythic-beasts.com/", "mythicbeasts.svg", "Mythic Beasts") }}
      {{ sponsor("https://www.onega.net/", "onega.jpg", "Onega") }}
      {{ sponsor("https://utaw.tech/", "utaw.svg", "UTAW") }}
    </div>
  </div>
</div>

<div class="row sponsor-row">
  <div class="clearfix col-xs-12">
    <h3 class="sponsor-tier-name sponsor-tier-name--bronze">Bronze</h3>
    <div class="sponsors-list sponsors-list--bronze">
      {{ sponsor("https://codemyriad.io/", "codemyriad.svg", "Codemyriad", True) }}
      {{ sponsor("https://coretech-security.com/", "coretech.svg", "Coretech-Security") }}
      {{ sponsor("https://feng-ltd.com/", "FEng.svg", "FEng Ltd") }}
    </div>
  </div>
</div>

<div class="row sponsor-row">
  <div class="clearfix col-xs-12">
    <h3 class="sponsor-tier-name sponsor-tier-name--badge">Badge</h3>
    <div class="sponsors-list sponsors-list--badge">
      {{ sponsor("https://www.bosch-sensortec.com/", "bosch.png", "Bosch Sensortec") }}
      {{ sponsor("https://espressif.com/", "espressif-logo.svg", "Espressif") }}
      {{ sponsor("https://nextpcb.com/", "NextPCB.svg", "NextPCB") }}
      {{ sponsor("https://ti.com/", "texasinstruments.svg", "Texas Instruments") }}
    </div>
  </div>
</div>

<div class="row sponsor-row">
  <div class="clearfix col-xs-12">
    <h3 class="sponsor-tier-name sponsor-tier-name--pyro">Pyro</h3>
    <div class="sponsors-list sponsors-list--pyro">
      {{ sponsor("https://standbyplease.tech/", "standbyplease.svg", "standby, please") }}
    </div>
  </div>
</div>

<div class="row sponsor-row">
  <div class="clearfix col-xs-12">
    <h3 class="sponsor-tier-name sponsor-tier-name--copper">Copper</h3>
    <ul>
      <li>Pimoroni</li>
      <li>Hookdeck</li>
      <li>Dee "iVPN is better anyway"</li>
      <li>🏳️‍⚧️Creatures for Civility, Camaraderie, Community, and human rights🏳️‍🌈</li>
      <li>bgp.tools / Port 179 LTD</li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="clearfix col-xs-12">
    <h3>Special Thanks</h3>
    <p>
      We'd like to extend special thanks to the following organisations who have
      been instrumental in making EMF happen:
    </p>
    <p>
      <a href="https://eventinfra.org">EventInfra</a>,
      <a href="https://lakefest.co.uk/">Lakefest</a>,
      <a href="https://www.lonap.net">LONAP</a>,
      <a href="https://pylonone.com/">Pylon One</a>, and
      <a href="https://info-beamer.com">info-beamer</a>
    </p>
  </div>
</div>
{% endblock %}
