{% set main_class='sponsors' %}
{% extends "base.html" %}
{% block title %}Sponsor EMF{% endblock %}
{% block body %}

<div class="well">
<h2>Sponsor EMF</h2>
<p>Electromagnetic Field (EMF) is the UK’s largest technology-focused camping festival: A three-day event for people with an inquisitive mind and an interest in science, engineering, technology, crafts, DIY, and computer security.</p>

<p>Held every two years, EMF is a cross between a conference and a festival, with talks and workshops on a wide range of subjects. EMF is a non-profit event, entirely run by a dedicated team of volunteers who have experience staffing and organising similar events across Europe.</p>

<p>In August 2016, we're running the third EMF festival, near Guildford, Surrey. We're providing a programme of three days of fascinating talks, workshops, and performances, to an audience of over 1500 attendees in an internet-connected field.</p>

<h3>Help Us Out</h3>
<p>Ticket sales provide for the basic EMF infrastructure, but we rely on partnerships with generous sponsors to make the festival an amazing place to visit. At previous events, support from sponsors has made the following things possible:</p>

<ul>
    <li>A custom, <a href="http://blog.emfcamp.org/post/94157161753/announcing-tilda-mke-the-incredible-emf-2014-camp">programmable electronic badge</a> (TiLDA), free to all attendees.</li>
    <li>Comprehensive, free on-site childcare and content for young people.</li>
    <li>Large-scale interactive art installations.</li>
    <li>Funding for speakers and workshops who are otherwise unable to attend.</li>
</ul>
<p>We routinely work with sponsors to tailor their sponsorship package to an appropriate area.</p>

<h3>Audience</h3>
<p>EMF draws a broad spectrum of attendees from an large range of disciplines around the world. We actively aim to become more diverse with each event, seeking out new topics and speakers from underrepresented demographics that otherwise may not attend. As a result we have a strong <a href="{{url_for('base.code_of_conduct')}}">Code of Conduct</a> which all attendees and sponsors are required to read and adhere to.</p>

<p>A significant proportion of EMF attendees work in technology or related industries, however we encourage them to speak on topics unrelated to their careers.</p>


<h3>Press</h3>

<p>Since we began in 2012 EMF has been covered by the national press in print,
online, and on television. The 2014 event received excellent coverage from <a
    href="http://www.bbc.co.uk/news/technology-29011889" target="_blank">the
    BBC</a>,
    <a href="https://www.theguardian.com/technology/2014/sep/03/electromagnetic-field-camp-emfcamp-drones-arduino-burning-man" target="_blank">The Guardian</a>, and
    <a href="http://motherboard.vice.com/read/inside-uks-electromagnetic-field-festival" target="_blank">Vice
        magazine</a>. The BBC was also on site in
    <a href="http://www.bbc.co.uk/news/technology-19441861" target="_blank">2012</a> and <a
    href="http://www.bbc.co.uk/news/technology-22659071" target="_blank">2013</a> for our one-day event.</p>

<h3>Sponsorship Levels</h3>
<p>The following sponsorship levels are presented as guidance, however we are happy to produce
    a custom sponsorship package for each sponsor that wishes to be involved with EMF.</p>
<div class="row row-equal" id="sponsorship-row">
    <div class="col-sm-6 col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading"><h4>Bronze: £1000</h4></div>
            <div class="panel-body">
                <ul>
                    <li>Logo on website</li>
                    <li>Logo on printed programme</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading"><h4>Silver: £2500</h4></div>
            <div class="panel-body">
                <ul>
                    <li>Logo on website</li>
                    <li>Logo on printed programme</li>
                    <li>Logo on talk video title cards</li>
                    <li>Logo on electronic camp badge</li>
                    <li>A mention in email to attendees</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading"><h4>Gold: £5000+</h4></div>
            <div class="panel-body">
                <ul>
                    <li>Logo on website</li>
                    <li>Logo on printed programme</li>
                    <li>Logo on talk video title cards</li>
                    <li>Logo on electronic camp badge</li>
                    <li>A mention in email to attendees</li>
                    <li>One speaker slot for an agreed speaker &amp; presentation</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading"><h4>Custom</h4></div>
            <div class="panel-body">
                Any of the above, plus any number of custom options.
            </div>
        </div>
    </div>
</div>

<h3>Get in Touch</h3>
<p>If you're interested in sponsoring EMF 2016 we'd love to hear from you. You can get in touch by:</p>
<ul>
    <li>Emailing <a href="mailto:sponsor@emfcamp.org">sponsor@emfcamp.org</a></li>
    <li>Calling <a href="tel:+447793223857">07793 223 857</a> (between 10am-5pm)</li>
</ul>
</div>
{% endblock %}
