<h2>Tildagon Badge</h2>

<p><a href="https://tildagon.badge.emfcamp.org/">Tildagon</a> badges, upgrades, expansions, and spares.</p>

<p>Everything ordered here must be picked up on-site at the festival - <strong>we cannot post badges or components to you</strong>.</p>

<ul>
  <li>If you do not already have a Tildagon, order the "Complete Tildagon badge"</li>
  <li>If you have a 2024 Tildagon badge and want to upgrade, order a "Spaceagon frontboard kit"</li>
  <li>You do not need a Tildagon to enjoy EMF, it's just a fun extra!</li>
</ul>
