<h2>Tildagon Badge</h2>
<p>
This year's badge is the Tildagon badge. It's a hexagon with a slot on each side that you can plug
hexpansions into. A hexpansion is a 1 mm thick object with a particular shape on one edge. It can be
made of cardstock, so you can quickly add some cat ears to your badge, or it can be a printed
circuit board.
</p>

<p>
This year, the badge will have a price in addition to the base ticket. We intend for the badge to be
reusable for multiple events, with only a small and cheap part of the badge being replaced. The base
of the badge is designed to last and have lots of functionality we don't want to redesign, rebuild,
and discard every two years. The price will be lower if you bring your own battery &mdash; the 2016
and 2018 badge batteries are compatible with the 2024 badge.
</p>
