<h2>Straw bale hire</h2>
<p>
If you're planning to form a village, we can help fit out your
communal area by hiring straw bales for the duration of the event.
</p>
<p>
Bales will be delivered from our local supplier, and will be available
for you to use by Thursday evening. Any intact bales will be collected
at the end of the event for agricultural use.
</p>

<div>&nbsp;</div>
<p>
  By making a hire you are agreeing to our <a href="{{url_for('payments.terms')}}">Terms
  and Conditions</a> and the <a href="{{url_for('base.code_of_conduct')}}">Code of Conduct</a>.
</p>

