<h2>Parking &amp; Caravan tickets</h2>
<p>
  We have limited space for parking, so if you're coming by car you'll need a parking ticket.
  We recommend you share a car or use public transport to travel to the site.
  A dedicated shuttle bus service will be operating from a nearby station &mdash;
  see our <a href="https://wiki.emfcamp.org/wiki/Travel" target="_new">Travel Guide</a> for more information.
</p>
<p>
  There is a restricted area on-site for caravans and campervans. If you're bringing your
  caravan with a car, you don't need a separate parking ticket.
</p>

<div>&nbsp;</div>
<p>
  By making a purchase you are agreeing to our <a href="{{url_for('payments.terms')}}">Terms
  and Conditions</a> and the <a href="{{url_for('base.code_of_conduct')}}">Code of Conduct</a>.
</p>

