<h2>Equipment and marquee hire</h2>
<p>
If you're planning to form a village, we can help fit out your
communal area by hiring equipment for the duration of the event.
</p>
<p>
Marquees will be assembled by our supplier, and we aim to make them
available for you to use by Thursday evening. The price includes 
an interior light and power strip. We'll be in touch nearer the
event to discuss the exact placement.
</p>
<p>
Chairs and tables will be kept in a central location from which
you can collect them. If you have a large number, we'll do our
best to leave them near your village.
</p>

<div>&nbsp;</div>
<p>
  By making a hire you are agreeing to our <a href="{{url_for('payments.terms')}}">Terms
  and Conditions</a> and the <a href="{{url_for('base.code_of_conduct')}}">Code of Conduct</a>.
  Hire costs do not cover damages.
</p>

