<h2>T-shirts</h2>
<p>
  We're doing a limited run of navy blue t-shirts with a professionally-printed design on high quality
  cotton. Pre-ordered t-shirts will be available for collection during the event.
</p>
<div>&nbsp;</div>
<div class="row">
    <img class="img-responsive md-col-12" src="{{ url_for('static', filename='images/EMF-2016-Tshirts-V1-02.jpg') }}">
</div>
<h3>Sizing</h3>
<div><img src="{{ url_for('static', filename='images/T-shirt_size_diagram.svg') }}"></div>
<div class="row">
  <div class="col-sm-6">
    <h4>Semi-fitted Women&rsquo;s</h5>
    <table class="table">
    <thead>
      <tr><th>Size</th><th>Width</th><th>Length</th></tr>
    </thead>
    <tbody>
      <tr class="odd" ><td> S   </td><td> 44cm (17in) </td><td> 62cm (24in) </td></tr>
      <tr class="even"><td> M   </td><td> 47cm (19in) </td><td> 64cm (25in) </td></tr>
      <tr class="odd" ><td> L   </td><td> 51cm (20in) </td><td> 66cm (26in) </td></tr>
      <tr class="even"><td> XL  </td><td> 55cm (22in) </td><td> 68cm (27in) </td></tr>
      <tr class="odd" ><td> XXL </td><td> 60cm (24in) </td><td> 70cm (28in) </td></tr>
    </tbody>
    </table>
  </div>
  <div class="col-sm-6">
    <h4>Unfitted</h5>
    <table class="table">
    <thead>
      <tr><th>Size</th><th>Width</th><th>Length</th></tr>
    </thead>
    <tbody>
      <tr class="odd" ><td> S   </td><td> 48cm (19in) </td><td> 68cm (27in)   </td></tr>
      <tr class="even"><td> M   </td><td> 52cm (20in) </td><td> 71cm (28in)   </td></tr>
      <tr class="odd" ><td> L   </td><td> 56cm (22in) </td><td> 74cm (29in)   </td></tr>
      <tr class="even"><td> XL  </td><td> 60cm (24in) </td><td> 77cm (30in)   </td></tr>
      <tr class="odd" ><td> XXL </td><td> 66cm (26in) </td><td> 80.5cm (32in) </td></tr>
    </tbody>
    </table>
  </div>
</div>


