<h2>T-shirts</h2>
<div class="row" style="margin-bottom:1em">
<p>EMF 2024 T-shirts are now available to pre-order. Pre-orders will be available to collect at the shop during the event, we'll also have a limited supply available for purchase if you want to see them in person first.</p>
<p>To purchase a T-shirt you will need an event ticket. If someone else bought your ticket you can ask them to transfer it to you from their account page.</p>
<img class="img-responsive col-md-6" src="{{ url_for('static', filename='images/merch/2024/adult-tee.png') }}">
<img class="img-responsive col-md-6" src="{{ url_for('static', filename='images/merch/2024/child-tee.png') }}">
</div>

