{% if not available %}
<div class="well">
  <p class="emphasis">There are no tickets currently available. {# See
  <a href="https://blog.emfcamp.org/2024/01/21/emf-2024-ticket-sales/">our blog</a> for
  details on ticket sales. #}</p>

  <p>Please follow us on <a href="https://social.emfcamp.org/@emf">the Fediverse</a> or
  join our mailing list to be notified when more tickets are on sale:</p>
  {{mailing_list("main")}}

  {% if feature_enabled('CFP') %}
  <p>If we accept your <a href="{{url_for('cfp.main')}}">talk, workshop, or installation proposal</a>,
  you will be guaranteed the chance to buy two tickets to EMF.</p>
  {% endif %}
</div>
{% endif %}

{% include 'purchase/_tickets_blurb.html' %}
