{% if not available %}
<div class="well">
  <p class="emphasis">There are no tickets currently available. Future ticket sales dates are
  <a href="https://blog.emfcamp.org/2020/02/14/ticket-sales-dates/">on our blog</a></p>

  {# - We don't want to show this at the moment as we won't be sending emails for the next sales.
  <p>Please follow us <a href="https://twitter.com/emfcamp">on Twitter</a> or
  join our mailing list to be notified when more tickets are on sale:</p>
  {% include "home/_mailchimp_form.html" %}
  #}
  <p>We can't reserve any tickets, but if we accept your
  {% if config['CFP'] %}
  <a href="{{url_for('cfp.main')}}">talk, workshop, or installation proposal</a>,
  {% else %}
  talk, workshop, or installation proposal,
  {% endif %}
  you will be guaranteed <strong>two</strong> tickets to EMF.</p>
</div>
{% endif %}

<h4>A ticket to Electromagnetic Field {{event_year}} will get you:</h4>
<ul>
    <li>A secure place to camp from Thursday July 23<sup>rd</sup> until Monday July 27<sup>th</sup></li>
    <li>Very fast internet access, both wired and wireless</li>
    <li>Mains power</li>
    <li>Access to running water, hot showers, a well-stocked bar, and a variety of food vendors</li>
    <li>A whole pile of awesome talks and workshops</li>
    <li>A campsite filled with weird and wonderful things to see</li>
    <li>Free childcare</li>
    <li>A weekend unlike any other in the UK</li>
</ul>

<p>
  <b>Still not sure?</b> <a href="{{url_for('base.about')}}">Learn more</a>.
</p>

<p>
  <strong>Accessibility:</strong> we're committed to making EMF as accessible as we can.
  If you have any requirements or requests you would like to discuss with us please
  feel free to email us on <a href="mailto:{{ config['TICKETS_EMAIL'][1] }}">{{ config['TICKETS_EMAIL'][1] }}</a>. We offer free tickets for carers; please drop us an email after you've bought your ticket.
</p>

<p>
  <strong>Parking:</strong> Only live-in vehicles are permitted to park on site, with the appropriate ticket. Other vehicles must be parked in the designated car parks &mdash; you will need to buy a car parking ticket if you intend to bring a car. If your vehicle is an integral part of a village or installation please contact us.
</p>

<p>
  By buying a ticket you are agreeing to our <a href="{{url_for('payments.terms')}}">Terms
  and Conditions</a> and the <a href="{{url_for('base.code_of_conduct')}}">Code of Conduct</a>.
</p>

