{% from 'payments/_invoicehelpers.html' import render_epc_qr with context %}

{% extends 'base.html' %}

{% block css %}
<link rel="stylesheet" href="{{ static_url_for('static', filename='css/invoice.css') }}">
{% endblock %}

{% block document %}
{# navbars are hidden by default when printing #}
<nav class="navbar navbar-default navbar-static-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <div class="navbar-brand">Payment {{ payment.id }}</div>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="?js=0" class="print-invoice">Print</a></li>
            <li><a href="{{url_for('.invoice', payment_id=payment.id, fmt='pdf')}}">Download PDF</a></li>
            <li><a href="#" id="vat-invoice">VAT Invoice</a></li>
        </ul>
    </div>
</nav>
{% if payment.user == current_user %}
<div class="top-form">
    <form method="post" action="{{ url_for('.invoice', payment_id=payment.id) }}"
            id="edit-company" class="form {% if not edit_company -%} hidden {%- endif %}">
      <p>Please enter your company name and address to generate a VAT invoice.
          By requesting a VAT invoice, your data will be stored for six years in accordance with UK law.</p>
        {{ form.hidden_tag() }}
        {{ form.company(class_="form-control", placeholder="Company name and address") }}
        {{ form.update(class_="btn btn-info debounce") }}
    </form>
</div>
{% endif %}

<div class="container invoice">
  {% for message in get_flashed_messages() -%}
      <div class="alert alert-warning">{{ message }}</div>
  {% endfor -%}

  <div class="main-row">
    <div class="col-md-10 col-md-offset-1 main-column">
      <div id="main-content" class="{% if payment.state == 'cancelled' -%} cancelled {%- endif %}">

{% block body %}

<div class="sender-row">
  <div class="title">
    <h2>{% if mode == 'invoice' %}VAT Invoice{% else %}Receipt{% endif %}</h2>
  </div>

  <div class="sender">
    <img class="logo" src="{{ url_for('static', filename='images/logomark-black.svg') }}" height="80" alt="Electromagnetic Field" />
    <div class="vcard">
      <div class="fn org">Electromagnetic Field Ltd.</div>
      <div class="adr">
        <span class="street-address">483 Green Lanes</span>
        <span class="locality">London</span>
        <span class="postal-code">N13 4BS</span>
        <span class="country-name">UNITED KINGDOM</span>
      </div>
    </div>
  </div>
</div>
  
<div class="recipient-row">
{% if mode == 'invoice' %}
  <div class="recipient">
    <div>{{ payment.user.name }}</div>
    {% if payment.user.company %}
    <div class="company">{{ payment.user.company }}</div>
    {% endif %}
    {% if payment.user == current_user %}
    <div class="edit-company"><a class="edit-company-link" href="?edit_company=1">
      {%- if payment.user.company -%}
      {{ payment.user.company }}
      {%- else -%}
      (no company name provided)
      {%- endif -%}
    </a></div>
    {% endif %}
    <div>{{ payment.user.email }}</div>
  </div>
  {% endif %}

  <div class="invoice-details">
    <dl class="dl-horizontal">
      <dt>Date</dt><dd>{{ payment.versions[0].transaction.issued_at.strftime('%d %b %Y') }}</dd>
      {% if mode != 'invoice' %}<dt>Order number</dt><dd>{{ payment.order_number() }}</dd>{% endif %}
      {% if mode == 'invoice' %}
        <dt>Invoice number</dt><dd>{{invoice_number}}</dd>
        <dt>VAT number</dt><dd>188170679</dd>
      {% endif %}
    </dl>
  </div>
</div>

<table class="table">
<thead>
<tr>
  <th>Product</th>
  <th>Unit price</th>
  <th>Quantity</th>
  <th>Amount</th>
</tr>
</thead>

<tbody>
{% set line_class = cycler('odd', 'even') %}

{%- for pt, count in invoice_lines -%}
<tr class="purchase {{ line_class.next() }}">
<td>{{ pt.parent.display_name }}</td>
<td>{{ pt.get_price(payment.currency).value_ex_vat | price(payment.currency) }}</td>
<td>{{ count }}
<td>{{ (pt.get_price(payment.currency).value_ex_vat * count) | price(payment.currency) }}</td>
</tr>
{% endfor -%}

{#
{% if payment.provider == 'stripe' %}
<tr class="premium {{ line_class.next() }}">
<td>Credit Card Premium</td>
<td>{{ premium | price(payment.currency) }}</td>
<td>{{ 1 }}
<td>{{ premium | price(payment.currency) }}
</tr>
{% endif %}
#}

</tbody>

<tfoot>
<tr class="subtotal {{ line_class.next() }}">
<td colspan=2></td>
<td>Subtotal</td>
<td>{{ subtotal | price(payment.currency) }}</td>
</tr>

<tr class="vat {{ line_class.next() }}">
<td colspan=2></td>
<td>VAT at 20%</td>
<td>{{ vat | price(payment.currency) }}</td>
</tr>

<tr class="total {{ line_class.next() }}">
<td colspan=2></td>
<td>Total</td>
<td>{{ payment.amount | price(payment.currency) }}</td>
</tr>

{% for refund in payment.refunds %}
<tr class="{{ line_class.next() }}">
  <td colspan=2></td>
  <td>Refunded ({{refund.provider}}) on {{refund.timestamp.date()}} </td>
  <td>-{{refund.amount|price(payment.currency)}}</td>
</tr>
{% endfor %}
</tfoot>

</table>

{% if payment.state in ('paid', 'refund-requested') %}
<div class="paid">Payment already received - thank you!</div>
{% elif payment.state == 'refunded' %}
<div class="paid">Payment refunded.</div>
{% else %}
<div class="payment-terms">
  {% if payment.expires %}
  <div class="due-date">Due Date: {{ payment.expires.strftime('%d %b %Y') }}</div>
  {% endif %}
  {% if payment.provider == 'banktransfer' %}
  <dl class="bank-info dl-horizontal">
    <dt>Bank</dt><dd>{{ account.institution }}, {{ account.address }}</dd>
    <dt>Payee</dt><dd>Electromagnetic Field Ltd</dd>
    {% if payment.currency == 'GBP' %}
    <dt>Sort code</dt><dd>{{ account.sort_code | sort_code }}</dd>
    <dt>Account number</dt><dd>{{ account.acct_id }}</dd>
    {% else %}
    <dt>SWIFT</dt><dd>{{ account.swift }}</dd>
    <dt>IBAN</dt><dd>{{ account.iban | iban }}</dd>
    {% endif %}
    <dt>Reference</dt><dd>{{ payment.bankref | bankref }}</dd>
    {% if payment.provider == 'banktransfer' and payment.currency == 'EUR' and payment.state == 'inprogress' %}
    <dt>EPC QR Code</dt><dd>{{ render_epc_qr(payment) }}</dd>
    {% endif %}
  </dl>
  {% elif payment.provider == 'stripe' %}
  <div>Payment to be made online at {{ external_url('payments.stripe_capture', payment_id=payment.id) }}</div>
  {% endif %}
</div>
{% endif %}

<p>For terms and conditions, see {{ external_url('payments.terms') }}</p>
{% if mode != 'invoice' %}<p><strong>This is not a VAT invoice.</strong></p>{% endif %}

{% endblock %}

      </div>

      <footer>
        <dl class="company-info">
          <dt>Company Registration No</dt><dd>07788466</dd>
          <dt>Registered Office</dt><dd>483 Green Lanes, London, N13 4BS</dd>
        </dl>
      </footer>
    </div>
  </div>
</div>
{% endblock %}

{% block foot %}
<script nonce="{{csp_nonce}}">
$(function() {
  $('#vat-invoice').on('click', function(e) {
      $('#edit-company').removeClass('hidden').on('keydown', function(e) {
        if (e.keyCode == 27) {
            $('#edit-company').addClass('hidden');
        }
      });
      $('#edit-company textarea').focus();
      e.preventDefault();
  });

  $('.print-invoice').on('click', function(e) {
      window.print();
      e.preventDefault();
  });
});
</script>
{% endblock %}
