{% from "_formhelpers.html" import render_field %}
{% extends "base.html" %}
{% block title %}Refund Request{% endblock %}
{% block body %}

<div class="col-md-10">

<h2>Refund your payment</h2>

<p>You can request a full refund for your payment with this form.
   Please provide the information below, and we'll let you know by email if it's approved.</p>

<p>If you need to submit a refund in a different currency from your original payment, or
   to a non-UK/EU bank account,
  please <a href="mailto:{{ config['TICKETS_EMAIL'][1] }}">email us</a>
   with your payment reference.</p>

<form method="post" action="{{ url_for('.payment_refund_request', payment_id=payment.id, currency=currency) + ('?no_stripe' if no_stripe else '') }}">
{{ form.hidden_tag() }}
<div class="well">
  {% if currency == 'GBP' %}
  {{ render_field(form.bank) }}
  {{ render_field(form.account) }}
  {% else %}
  {{ render_field(form.iban) }}
  {% endif %}
  {% call render_field(form.payee_name) %}
    Please enter the account holder name exactly as it appears on your account.
  {% endcall %}

  {% call render_field(form.note) %}
  If you only want part of your payment refunded, please say here.
  {% endcall %}
</div>
{% if bank_validation_failed %}
{{ form.really_submit(class_="btn btn-danger debounce") }}
{% else %}
{{ form.submit(class_="btn btn-danger debounce") }}
{% endif %}
<a class="btn btn-info" href="{{ url_for('users.purchases') }}">Go back to my tickets</a>
</form>


</div>
{% endblock %}
