{% from "_formhelpers.html" import render_field %}
{% extends "base.html" %}
{% block title %}Refund Request{% endblock %}
{% block body %}

<div class="col-md-10">

<h2>Refund your payment</h2>

<p>You can request a refund for your payment with this form. We'll let you know by email when it's approved.</p>

<p>If you have any questions,
   please <a href="mailto:{{ config['TICKETS_EMAIL'][1] }}?subject=Refund Query (WEB-{{payment.id}})">drop us an email</a>.</p>

<div class="well">
<form method="post" action="{{ url_for('.payment_refund_request', payment_id=payment.id, currency=currency) }}">
{{ form.hidden_tag() }}
  <fieldset>
    <legend>Donation</legend>
    <p>If you want, you can donate some of your payment to help us recoup our losses for this year
        and fund our next event. This is completely optional &mdash; we have enough money in the bank
        to survive until 2022.</p>
    {{ render_field(form.donation_amount, min=0, max=payment.amount, value=0,
          donation_range_payment=payment, donation_range_currency=CURRENCY_SYMBOLS[currency]) 
    }}
  </fieldset>

  {% if payment.provider == 'banktransfer' %}
    <fieldset id="bank-details">
      <legend>Bank details</legend>
      <p>We'll need your {% if payment.currency == 'GBP' %}UK{% else %}Euro{% endif %} bank account
          details to send your money back to.</p>
      {% if currency == 'GBP' %}
      {{ render_field(form.sort_code) }}
      {{ render_field(form.account) }}
      {% else %}
      {{ render_field(form.iban)}}
      {{ render_field(form.swiftbic) }}
      {% endif %}
      {% call render_field(form.payee_name) %}
        Please enter the account holder name exactly as it appears on your account.
      {% endcall %}
      <p>Your payment will be refunded to your bank account within four weeks.</p>
    </fieldset>
  {% elif payment.provider == 'stripe' %}
    <p id="bank-details">Your payment will be refunded back to your card within three weeks.</p>
  {% endif %}

  {#
  {% call render_field(form.note) %}
  If you only want part of your payment refunded, please say here.
  {% endcall %}
  #}
{{ form.submit(class_="btn btn-danger debounce") }}
</form>
</div>

<a class="btn btn-default" href="{{ url_for('users.purchases') }}">Back to my tickets</a>
</div>
{% endblock %}
