{% extends "base.html" %}
{% block body %}

<div class="col-md-10">

<h2>Retry your card payment</h2>

<div class="alert alert-danger">
    <p>We have your card details, but we were unable to charge your card.
    You have not paid us any money.</p>
    <p>You can try your payment again, or cancel and purchase with another card.</p>
</div>

<form method="post" action="{{ url_for('payments.stripe_tryagain', payment_id=payment.id) }}">
{{ form.hidden_tag() }}
{{ form.tryagain(class_="btn btn-warning debounce") }}
{{ form.cancel(class_="btn btn-default debounce") }}
</form>

<h3></h3>
<p>If you have any queries about your order, please
<a href="mailto:{{ config['TICKETS_EMAIL'][1] }}">email us</a>.</p>

</div>
{% endblock %}
