{% extends "base.html" %}
{% block title %}Payment Complete{% endblock %}
{% block body %}

<div class="col-md-10">

<h2>Thank You!</h2>

<div class="well">
    {% if payment.state == 'paid' %}
    <p>Your Stripe payment for {{ payment.amount | price(payment.currency) }}
        has been confirmed. You should receive a receipt by email to the
        address you provided.</p>

    {% else %}
    <p>Your Stripe payment for {{ payment.amount | price(payment.currency) }}
       has been set up and your order will be reserved {% if payment.expires -%} until {{ payment.expires.strftime('%-d %B %Y') }}{% endif %}
       to allow for your payment to arrive.
       We will email you when the transaction has been completed.</p>
    {% endif %}

    {% if SITE_STATE != 'after-event' %}
    <p>See you at Electromagnetic Field!</p>
    {% endif %}

    <a class="btn btn-success" href="{{ url_for('users.purchases') }}">Show my tickets</a>
</div>


</div>
{% endblock %}
