{% from 'payments/_invoicehelpers.html' import render_epc_qr with context %}

{% extends "base.html" %}
{% block body %}

<div class="col-md-10">

<h2>Thank you!</h2>

<div class="well">
    {% if payment.state == 'paid' %}
    <p>Your payment for {{ payment.amount | price(payment.currency) }}
        has been confirmed. You should receive a receipt by email to the
        address you provided.</p>

    {% if SITE_STATE != 'after-event' %}
    <div>See you at Electromagnetic Field!</div>
    {% endif %}

    {% else %}
    <p>Your order has been reserved {% if payment.expires -%} until {{ payment.expires.strftime('%-d %B %Y') }}{% endif %}
        while you pay by bank transfer. The bank details to use are below. We'll email you when we receive your payment.</p>

    <p>If you have selected the incorrect currency, you can change it:</p>
    <div class="button-group">
        <form action={{ url_for('payments.transfer_change_currency', payment_id=payment.id) }} method="post" role="form">
            {{ form.hidden_tag() }}
            <button type="submit" name="change" class="btn btn-default debounce" value="1">Change currency to {% if payment.currency == 'GBP' %}Euros (€){% else %}Pounds (£){% endif %}</button>
        </form>
    </div>
    {% endif %}
</div>

{% if payment.state == 'inprogress' %}
<p>We will use the reference below to identify the payment as yours, so please ensure it's included in full. (Don't worry about the hyphen, or if the payee name doesn't quite fit.)</p>
<dl class="dl-horizontal" style="position: relative">
<dt>Bank</dt><dd>{{ account.institution }}, {{ account.address }}</dd>
<dt>Payee</dt><dd>EMF Festivals Ltd</dd>
{% if payment.currency == 'GBP' %}
<dt>Sort code</dt><dd>{{ account.sort_code | sort_code }}</dd>
<dt>Account number</dt><dd>{{ account.acct_id }}</dd>
{% else %}
<dt>SWIFT</dt><dd>{{ account.swift }}</dd>
<dt>IBAN</dt><dd>{{ account.iban | iban }}</dd>
{% endif %}
<dt>Amount</dt><dd>{{ payment.amount | price(payment.currency) }}</dd>
<dt>Reference</dt><dd>{{ payment.customer_reference | bankref }}</dd>
{% if payment.currency == 'EUR' %}
<dt>EPC QR Code</dt>
<dd class="well">
<a class="collapse-toggle" role="button" data-toggle="collapse" href="#epc-qr-code" aria-expanded="true" aria-controls="#epc-qr-code"><strong>Click to show</strong>{{octicon('chevron-down-24')}}</a>
<div id="epc-qr-code" class="epc-qr-code collapse">{{ render_epc_qr(payment) }}</div>
<div class="pull-right" aria-describedby="what-is-epc-qr">(what is this?) {{octicon('info-24')}}</div>
<div id="what-is-epc-qr" class="well" role="tooltip" style="left: 20px; top: -20px">
<p>The European Payments Council (EPC) has published <a href="https://www.europeanpaymentscouncil.eu/sites/default/files/kb/file/2022-09/EPC069-12%20v3.0%20Quick%20Response%20Code%20-%20Guidelines%20to%20Enable%20the%20Data%20Capture%20for%20the%20Initiation%20of%20an%20SCT_0.pdf">technical guidelines</a> that allow payment request information to be displayed as a Quick Response (QR) code.
<p>If your banking app supports scanning EPC QR codes, you can enter our bank account details accurately and conveniently by scanning the QR code.</p>
<p>Please check that the details match the text version on this page, and that all of them match your expectations, before sending the payment.</p>
</div>
</dd>
</dl>
{% endif %}

{% if SITE_STATE != 'after-event' %}
<p>See you at Electromagnetic Field!</p>
{% endif %}
{% endif %}

<a class="btn btn-info" href="{{ url_for('users.purchases') }}">Show my tickets</a>

</div>
{% endblock %}
