DEBUG = True
FIX_URL_SCHEME = False
DEBUG_TB_INTERCEPT_REDIRECTS = False

SEND_FILE_MAX_AGE_DEFAULT = 0

# Warning: set the following to False if you put
# any secret keys or passwords in this config
DEBUG_TB_ENABLED = True

SQLALCHEMY_DATABASE_URI = "postgresql://postgres:postgres@postgres/emf_site"
SQLALCHEMY_TRACK_MODIFICATIONS = False
SECRET_KEY = "test"

# Uncomment to log every query to the console - handy when using flask shell
#SQLALCHEMY_ECHO=True

CACHE_TYPE = "simple"
NO_INDEX = True

SESSION_COOKIE_HTTPONLY = True
SESSION_COOKIE_SAMESITE = "Lax"

STRIPE_SECRET_KEY = ""
STRIPE_PUBLIC_KEY = ""
STRIPE_WEBHOOK_KEY = ""

TRANSFERWISE_ENVIRONMENT = "sandbox"
TRANSFERWISE_API_TOKEN = ""

MAILCHIMP_KEY = ""

MAIL_SERVER = "localhost"
MAIL_SUPPRESS_SEND = True

# Feature flags
BANK_TRANSFER = True
BANK_TRANSFER_EURO = True
STRIPE = True
CFP = True
CFP_FINALISE = True
CFP_CLOSED = False
LINE_UP = False
SCHEDULE = False
VOLUNTEERS = True
RADIO = False
ISSUE_TICKETS = False
RECONCILE_IN_WEBHOOK = True
VOLUNTEER_SITE = True
VOLUNTEERS_SIGNUP = True
VOLUNTEERS_SCHEDULE = True
# Blueprint toggles are feature flags
ARRIVALS_SITE = False

BAR_TRAINING_FORM = ''

CFP_MINIMUM_VOTES = 10

EXPIRY_DAYS_TRANSFER = 10
EXPIRY_DAYS_TRANSFER_EURO = 12
EXPIRY_DAYS_STRIPE = 3
TICKETS_EMAIL = ("Electromagnetic Field", "tickets@emfcamp.org")
TICKETS_NOTICE_EMAIL = ("Electromagnetic Field", "tickets@emfcamp.org")
CONTACT_EMAIL = ("Electromagnetic Field", "contact@emfcamp.org")
CONTENT_EMAIL = ("Electromagnetic Field", "content@emfcamp.org")
CONDUCT_EMAIL = ("Electromagnetic Field", "conduct@emfcamp.org")
SPEAKERS_EMAIL = ("Electromagnetic Field", "speakers@emfcamp.org")
VILLAGECONTENT_EMAIL = ("Electromagnetic Field", "villagecontent@emfcamp.org")
DUTY_EMAIL = ("Electromagnetic Field", "contact@emfcamp.org")
VOLUNTEER_EMAIL = ("Electromagnetic Field", "volunteer@emfcamp.org")
CHECKIN_BASE = "https://checkin.emf.camp/"

RESERVE_LIST_TICKET_LINK = "fill in a reserve list ticket link"

SALES_START = "2019-10-01 19:00:00"
EVENT_START = "2020-07-24 13:00:00"
EVENT_END = "2020-07-26 23:00:00"

# Days before and after to allow arrivals and departures
# Presented to volunteers when signing up
ARRIVAL_DAYS = 2
DEPARTURE_DAYS = 2
