{% macro menu_view(title, view_name) -%}
  <li class="{{ 'active' if request.endpoint == view_name }}">
    <a href="{{ url_for(view_name, year=year) }}">{{ title }}</a>
  </li>
{%- endmacro %}
{% macro menu_page(title, target_page) -%}
  <li class="{{ 'active' if request.endpoint == 'base.night_market_page' and page_name == target_page }}">
    <a href="{{ url_for('base.night_market_page', page_name=target_page, year=year) }}">{{ title }}</a>
  </li>
{%- endmacro %}
{% extends "base.html" %}
{% set main_class = "night-market" %}
{% block secondary_nav %}
  <ul role="navigation list" aria-label="Night Market">
    {{ menu_view("Night Market", "base.night_market")}}
    <summary>Vendors</summary>
    {% for page in pages %}
    {{ menu_page(page.metadata["title"], page.metadata["slug"]) }}
    {% endfor %}
  </ul>
{% endblock %}
