{% extends "night-market/2026/base.html" %}
{% macro page_link(page) -%}
{% if page %}
<a href="{{ url_for('base.night_market_page', page_name=page.metadata["slug"], year=year) }}">{{ page.metadata["title"] }}</a>
{% endif %}
{%- endmacro %}
{% block title %}Night Market{% endblock %}
{% block body %}
<h3>About</h3>

<p>The Night Market is a low-key bazaar where you can admire and buy wares of makers from a wide range of backgrounds!

<p>Night Market stalls are typically open from 6-11pm, Friday to Sunday. Some stalls will stay open until 1am to catch the late crowds.</p>

<p>The Night Market is located away from the dance floor, so you can still get your accessories into the evening. However, if you prefer a quieter time, we recommend coming around 6-7pm.</p>

<h3>Hexpansion Day Market</h3>

<p>We’ll also be hosting a day market exclusively for buying, trading, and selling badge Hexpansions from 2-4pm on Saturday, and again from 10am-midday on Sunday. This day market will take over the dance floor of NullSector, to allow enough space for everyone.</p>

<p>Bring your own Hexpansion to trade or sell, or just your pocket money to seek out awesome plug-ins. And if you're selling, please bring whatever you need to help you hold and display your stock so you can comfortably perform any transactions (e.g. a wearable display so you have your hands free).</p>

<h3>Payment</h3>

<p>Night Market vendors will all accept card payment, no need for cash or Polybius Credits.</p>

<h3>Vendors</h3>

<div class="table-responsive">
<table class="table table-striped">
<thead>
<tr>
  <th>
    <div>Friday</div>
    <small>evening-late</small>
  </th>
  <th>
    <div>Saturday</div>
    <small>6pm-late</small>
  </th>
  <th>
    <div>Sunday</div>
    <small>6pm-late</small>
  </th>
</tr>
<tr>
</tr>
</thead>
<tbody>
{% for fri, sat, sun in days_table %}
<tr>
  <td>{{ page_link(fri) }}</td>
  <td>{{ page_link(sat) }}</td>
  <td>{{ page_link(sun) }}</td>
</tr>
{% endfor %}
</tbody>
</table>
</div>
{% endblock %}
