{% from "admin/products/_macros.html" import remaining %}
{% from "_formhelpers.html" import render_field %}
{% extends "admin/base.html" %}
{% block title %}Issue Free Tickets{% endblock %}
{% block body %}
<h2>Issue free tickets</h2>
<form method="post" class="form-horizontal">
{{ form.hidden_tag() }}
<p>This form will allocate complimentary (free) tickets to a user.</p>
{% if user %}
<p>To allocate free tickets to this user, choose the number of tickets:</p>
<dl>
  <dt>Name</dt><dd><a href="{{ url_for('.user', user_id=user.id) }}">{{ user.name }}</a></dd>
  <dt>Email</dt><dd>{{ user.email }}</dd>
</dl>
{% else %}
    <p>The user {{ email }} doesn't exist. Please enter a name for this user:</p>
{{ render_field(form.name, True) }}
{% endif %}

<table class="table products">
    <thead>
    <tr>
        <th>Product Group</th>
        <th>Product</th>
        <th>Display Name</th>
        <th>Used</th>
        <th>Remaining</th>
        <th>Amount</th>
    </tr>
    </thead>

    <tbody>
    {% set row_class = cycler('odd', 'even') %}
    {% for f in form.price_tiers %}
    {% if f._any or f.amount.errors %}
    <tr class="{{ loop.cycle('odd', 'even') }}
               {% if f.amount.errors -%} has-error {%- endif %}">
        <td>{{ f._tier.parent.parent.name }}</td>
        <td>{{ f._tier.parent.name }}</td>
        <td>{{ f._tier.parent.display_name }}</td>
        <td>{{ f._tier.capacity_used }}</td>
        <td>{{ remaining(f._tier) }}</td>
        <td>
            {{ f.hidden_tag_without('csrf_token') }}
            <div class="controls">{{ f.amount(class_="amount") | safe }}
            {% if f.amount.errors %}
                {% for error in f.amount.errors %}
                <div class="help-block">{{ error }}</div>
                {% endfor %}
            {% endif %}
            </div>
        </td>
    </tr>
    {% endif %}
    {% endfor %}
</tbody>
</table>

<div class="pull-right">{{ form.allocate(class_="btn btn-success debounce") }}</div>
<div>&nbsp;</div>
</form>
{% endblock %}
