{% from "_formhelpers.html" import render_field %}
{% extends "admin/base.html" %}
{% block body %}
<h2>Tickets</h2>

<h4>Reserve tickets</h4>
<form method="post" class="form-horizontal">
{{ form.hidden_tag() }}

{% if user %}
<p>To reserve tickets for this user, choose the number of tickets:</p>
<dl>
  <dt>Name</dt><dd><a href="{{ url_for('.user', user_id=user.id) }}">{{ user.name }}</a></dd>
  <dt>Email</dt><dd>{{ user.email }}</dd>
</dl>
{% else %}
<p>To reserve tickets, pick a user below or enter details for a new account:</p>
{{ render_field(form.name, True, placeholder="Optional") }}
{% endif %}

<table class="table products">
    <thead>
    <tr>
        <th>Product Group</th>
        <th>Product</th>
        <th>Price Tier</th>
        <th>Cost</th>
        <th>Amount</th>
    </tr>
    </thead>

    <tbody>
    {% set row_class = cycler('odd', 'even') %}
    {% for f in form.price_tiers %}
    {% if f._any or f.amount.errors %}
    <tr class="{{ loop.cycle('odd', 'even') }}
               {% if f.amount.errors -%} has-error {%- endif %}">
        <td>
            {{ f.hidden_tag() }}
            {{ f._tier.parent.parent.name }}
        </td>
        <td>
            <label for="{{ f.amount.id }}"><b>{{ f._tier.parent.display_name }}</b></label>
            {% if f._tier.parent.description %}<p class="description">{{ f._tier.parent.description }}</p>{% endif %}
        </td>
        <td>
            {{ f._tier.name }}
        </td>
        <td>
            {{ f._tier.get_price('GBP') | price }}&nbsp;|&nbsp;{{ f._tier.get_price('EUR') | price }}
        </td>
        <td>
            <div class="controls">{{ f.amount(class_="amount") | safe }}
            {% if f.amount.errors %}
                {% for error in f.amount.errors %}
                <div class="help-block">{{ error }}</div>
                {% endfor %}
            {% endif %}
            </div>
        </td>
    </tr>
    {% endif %}
    {% endfor %}
</tbody>
</table>

<div class="col-sm-3 col-sm-offset-9">
{{ render_field(form.currency, horizontal=7) }}
</div>

<div class="pull-right">{{ form.allocate(class_="btn btn-success debounce") }}</div>
<div>&nbsp;</div>
</form>
{% endblock %}
