{% extends "admin/base.html" %}
{% set nav_active = 'tickets' %}
{% block body %}
<h2>Tickets</h2>

<table class="table table-condensed table-striped">
<thead>
  <tr>
    <th>Full name</th>
    <th>Email</th>
    <th>Product</th>
    <th>Source</th>
    <th></th>
  </tr>
</thead>
<tbody>
{% for ticket in tickets %}
  <tr>
    <td><a href="{{ url_for('.user', user_id=ticket.owner.id) }}">{{ ticket.owner.name }}</a></td>
    <td>{{ ticket.owner.email }}</td>
    <td><a href="{{ url_for('.product_details', product_id=ticket.product.id) }}">{{ ticket.product.name }}</a></td>
    {% if ticket.payment %}
    <td><a href="{{ url_for('.payment', payment_id=ticket.payment.id) }}">{{ ticket.payment.name }} {{ ticket.payment.id }}</a></td>
    {% elif ticket.transfers %}
    <td>Transferred</td>
    {% else %}
    <td></td>
    {% endif %}
    <td>
    <a class="btn btn-default" href="{{ url_for('.convert_ticket', ticket_id=ticket.id) }}">Convert</a>
    </td>
  </tr>
{% endfor %}
</tbody>
</table>

{% endblock %}
