{% from "_formhelpers.html" import render_field, render_dl_field, render_radio_field %}
{% extends "cfp_review/base.html" %}
{% block title %}Create schedule item{% endblock %}
{% block body %}
<h2>Create new {{type.human_type}} schedule item</h2>
<form method="POST">
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Basic attributes</h3>
    </div>
    <div class="panel-body">
    {% for field in form %}
        {% if field.name != 'attributes' %}
        {{render_field(field)}}
        {% endif %}
    {% endfor %}
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">{{type.human_type|capitalize_add}}-specific attributes</h3>
    </div>
    <div class="panel-body">
    {% for field in form.attributes %}
        {{render_field(field)}}
    {% endfor %}
    </div>
</div>
<div class="btn-group">
    <button class="btn btn-primary">Create</button>
</div>
</form>

{% endblock %}
