{% from "_formhelpers.html" import render_field, render_dl_field, render_radio_field, render_collapse_panel %}
{% set active='presenters' %}
{% extends "cfp_review/schedule_item/_base.html" %}
{% block title %}{{ schedule_item.title }}{% endblock %}
{% block schedule_item_body %}

{% call render_collapse_panel("Schedule item", "basics") %}
  <dl class="dl-horizontal">

    {% set create_txn = schedule_item.versions[0].transaction %}
    {% if create_txn.user %}
    <dt>Created by</dt>
    <dd><a href="{{ url_for(".cfp_user", user_id=create_txn.user.id) }}">{{ create_txn.user.name }}</a></dd>
    {% endif %}

    <dt>Owned by</dt>
    <dd><a href="{{ url_for(".cfp_user", user_id=schedule_item.user.id) }}">{{ schedule_item.user.name }}</a></dd>

    {% if schedule_item.proposal %}
    <dt>Source proposal</dt>
    <dd><a href="{{ url_for(".proposal", proposal_id=schedule_item.proposal.id) }}">{{ schedule_item.proposal.title }}</a></dd>
    {% endif %}

    <dt>Names</dt>
    <dd>{{ schedule_item.names }}</dd>

  </dl>
{% endcall %}

{% call render_collapse_panel("Presenters", "presenters") %}

  <table class="table table-condensed table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th><span class="pull-right">Delete</span></th>
      </tr>
    <thead>
    <tbody>
      {% for sip in schedule_item.schedule_item_presenters %}
      <tr>
        <td>{{ sip.user.name }}</td>
        <td><a href="{{ url_for('admin.user', user_id=sip.user.id) }}">{{ sip.user.email }}</a></td>
        <td>
          <form method="post" action="{{ url_for('.schedule_item_presenters', schedule_item_id=schedule_item.id) }}">
            {{ form.hidden_tag() }}
            <input type="hidden" name="user_id" value="{{ sip.user.id }}"/>
            {{ form.delete(class_="btn btn-danger pull-right") }}
          </form>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

{% endcall %}

{% call render_collapse_panel("Add presenter", "add-presenter") %}

  <form method="get" class="form-horizontal">
    <div class="form-group">
        <label for="search" class="col-sm-2 control-label">
          Search
        </label>
        <div class="col-sm-10 controls">
          <input type="search"
                 name="search"
                 placeholder="Search for user by name or email"
                 class="form-control"
                 tabindex="1"
                 {% if user_query %} value="{{user_query}}" {% endif %}
          >
        </div>
    </div>
    <div class="pull-right">
      {% if search is not none %}
        <a class="btn btn-warn" tabindex="2" href="{{ url_for('.schedule_item_presenters', schedule_item_id=schedule_item.id) }}">Reset</a>
      {% endif %}
      <button class="btn btn-primary debounce" tabindex="1" type="submit">Search</button>
    </div>
  </form>

  {% if search is not none %}

  <div class="clearfix"></div>

  <h4>User List</h4>

  <div>
    <span>Total users:</span> {{ total_users }}
  </div>
  <div>&nbsp;</div>

  {% if users.pages > 1 %}
  <div>
    {{ users.first }} - {{ users.last }} of {{ users.total }}
  </div>

  <nav aria-label="User page navigation">
    <ul class="pagination">
      {% if users.has_prev %}
      <li class="page-item"><a class="page-link" href="{{ url_for('.schedule_item_presenters', schedule_item_id=schedule_item.id, page=users.prev_num, size=users.per_page, search=search) }}">
        <span aria-hidden="true">&laquo;</span>
        <span class="sr-only">Previous</span>
      </a></li>
      {% endif %}
      <li class="page-item active"><a class="page-link" href="#">{{ users.page }}</a></li>
      {% if users.has_next %}
      <li class="page-item"><a class="page-link" href="{{ url_for('.schedule_item_presenters', schedule_item_id=schedule_item.id, page=users.next_num, size=users.per_page, search=user_query) }}">
        <span aria-hidden="true">&raquo;</span>
        <span class="sr-only">Next</span>
      </a></li>
      {% endif %}
    </ul>
  </nav>
  {% endif %}

  <table class="table table-condensed">
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th></th>
    </tr>
    {% for user in users %}
    <tr class="{{ loop.cycle('odd', 'even') }}">
      <td>{{ user.name }}</td>
      <td><a href="{{ url_for('admin.user', user_id=user.id) }}">{{ user.email }}</a></td>
      <td>
        <form method="post" action="{{ url_for('.schedule_item_presenters', schedule_item_id=schedule_item.id) }}">
          {{ form.hidden_tag() }}
          <input type="hidden" name="user_id" value="{{ user.id }}"/>
          {{ form.add(class_="btn btn-primary debounce pull-right", tabindex="2") }}
        </form>
      </td>
    </tr>
    {% endfor %}
  </table>

  {% endif %}

{% endcall %}

{% endblock %}
