{% set active='main' %}
{% extends "cfp_review/schedule_item/_base.html" %}
{% block schedule_item_body %}
<div class="row">
    <div class="col-md-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Description</h4>
            </div>
            <div class="panel-body large">
                {{schedule_item.description|pretty_text}}
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Details</h3>
            </div>
            <div class="panel-body">
                <table class="table table-condensed">
                    <tr><th>State</th><td>{{schedule_item.state}}</td></tr>
                    {% if schedule_item.proposal %}
                    <tr><th>Created from proposal</th><td><a href="{{url_for('.proposal', proposal_id=schedule_item.proposal.id)}}">{{schedule_item.proposal.title}}</a></td></tr>
                    {% endif %}
                    <tr><th>Owner</th><td><a href="{{ url_for('cfp_review.cfp_user', user_id=schedule_item.user.id) }}">{{schedule_item.user.name}}</a></td></tr>
                    <tr><th>Has ticket?</th><td>{{ schedule_item.user.check_will_have_ticket()|yesno }}</td></tr>
                    <tr><th>Voucher sent?</th><td>{{ schedule_item.user.cfp_voucher|yesno }}
                        {% if not schedule_item.user.cfp_voucher %}(<a href="{{ url_for('cfp_review.cfp_user', user_id=schedule_item.user.id) }}">send voucher</a>){%endif %}
                    </td></tr>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Availability</h4>
            </div>
            <div class="panel-body">
                {% if schedule_item.availability %}
                    <ul>
                        {% for a in schedule_item.availability %}
                        <li>{{a.start}} - {{a.end}}</li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p>The submitter has not provided availability for this {{schedule_item.type}}</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% for occurrence in schedule_item.occurrences %}
<h3>Occurrence {{occurrence.occurrence_num}}</h3>
<div class="row">
    <div class="col-md-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Schedule</h4>
            </div>
            <div class="panel-body">
                {% if occurrence.scheduled %}
                <dl class="dl-horizontal">
                    <dt>Venue</dt> <dd>{{occurrence.scheduled_venue.name}}</dd>
                    <dt>Time</dt> <dd>{{occurrence.scheduled_time}}</dd>
                </dl>
                {% else %}
                    Not yet scheduled.
                {% endif %}
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Duration</h4>
            </div>
            <div class="panel-body">
                {% if occurrence.scheduled_duration %}
                <p>Duration: {{occurrence.scheduled_duration}} minutes</p>
                {% endif %}
                {% if schedule_item.proposal %}
                <p>Proposed duration: {{schedule_item.proposal.duration}}</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}
