{% from "_formhelpers.html" import render_field %}
{% extends "base.html" %}
{% block title %}Edit Village: {{village.name}}{% endblock %}
{% block body %}
<h1>
  Edit Village: {{village.name}}
  <a href="{{url_for('villages.members', year=event_year, village_id=village.id)}}" class="btn btn-primary btn-lg pull-right">Members</a>
  <a href="{{url_for('villages.view', year=event_year, village_id=village.id)}}" class="btn btn-primary btn-lg pull-right">View</a>
</h1>

{% include "villages/_form.html" %}

{% endblock %}
