{% from "_formhelpers.html" import render_field %}
{% extends "base.html" %}
{% block title %}Register a Village{% endblock %}
{% block body %}
<h2>Register a Village</h2>

<p>This form will allow you to register your village at EMF {{event_year}}. Registering your village will allow
    us to plan space for you, and we'll add you as a point of contact in case we need to get in touch.</p>

<p>Although we aim to make sure everyone gets enough space, registering a village does not reserve your village
   a dedicated area, and everyone at EMF is allowed to camp where they like.</p>

<p>Please fill in this form as best you can &mdash; you'll be able to edit these details later if you need to.</p>

{% include "villages/_form.html" %}

{% endblock %}
