{% from "_formhelpers.html" import render_field %}
{% extends "base.html" %}
{% block title %}Villages{% endblock %}
{% block body %}
<h2>Villages</h2>
<p>For more information on villages, see the <a href="{{ url_for('base.page', page_name='villages') }}">villages page</a>.
{% if current_user.is_authenticated %}
  If you want to create a village, you can
      <a href="{{url_for('.register')}}">register it here</a>.
{% else %}
If you have a ticket, you can <a href="{{url_for('users.login', next=url_for('.register'))}}">log in to register a village</a>.
{% endif %}
</p>
<h3>List of Villages</h3>
<ul class="village-table{% if any_village_located %} village-table-located{% endif %}">
  <li class="village-table-header">
    <h4 class="village-table-title">Name</h4>
    <h4 class="village-table-description">Description</h4>
  </li>
  {% for village in villages %}
  <li class="village-table-village">
    <h4 class="village-table-title">
      {%- if village.url %}<a href="{{ village.url }}" rel="nofollow" target="_blank">{% endif -%}
      {{- village.name -}}
      {%- if village.url %}</a>{% endif -%}
    </h4>
    <p class="village-table-description">
      {{ village.description }}
    </p>
    {% if village.map_link %}
      <div class="village-table-links">
        <a href="{{ village.map_link }}" class="btn btn-primary" target="_blank">📍&nbsp;Map</a>
      </div>
    {% endif %}
  </li>
  {% endfor %}
</ul>
{% endblock %}
