{% extends "cfp_review/base.html" %}
{% block title%}Run Scheduler{% endblock %}
{% block body %}
<h2>Run scheduler</h2>
<div class="alert alert-info">
    <p>Please confirm you'd like to run the automatic scheduler.</p>
    <p>This will create a provisional schedule which you can then review before applying, or discard.</p>
    <p>The scheduler may take a little while to run, up to the runtime selected below.</p>
</div>
<form method="POST">
    <fieldset style="margin-bottom: 2em;">
        <h4>Content types to auto-schedule</h4>
        <p class="help-block">
            Checked types will be auto-scheduled, unchecked types are pinned in their current times/venues for conflict avoidance.
        </p>
        {% for opt in type_options %}
        <label class="checkbox-inline">
            <input type="checkbox" name="auto_type" value="{{ opt.type }}" {% if opt.checked %}checked{% endif %}>
            {{ opt.label | capitalize }}
        </label>
        {% endfor %}
    </fieldset>
    <fieldset style="margin-bottom: 2em;">
        <h4>Content types to check for conflicts</h4>
        <p class="help-block">
            Checked types will be used to check if there are slot or speaker conflicts with the types being auto-scheduled.
        </p>
        {% for opt in conflict_type_options %}
        <label class="checkbox-inline">
            <input type="checkbox" name="conflict_type" value="{{ opt.type }}" {% if opt.checked %}checked{% endif %}>
            {{ opt.label | capitalize }}
        </label>
        {% endfor %}
    </fieldset>
    <fieldset style="margin-bottom: 2em;">
        <h4>Clashes to avoid</h4>
        <p class="help-block">
            The number of top favourited potential <a href="{{ url_for('.clashfinder') }}">clashes</a> to avoid. More clashes may make scheduling slower.
        </p>
        <label>
            <input type="number" name="max_clashes" value="1000" min="0" class="form-control" style="width: auto;">
        </label>
    </fieldset>
    <fieldset style="margin-bottom: 2em;">
        <h4>Thinking time</h4>
        <p class="help-block">
            How long the scheduler can run before giving you the best schedule it's found so far or giving up. Longer is better.
        </p>
        <label>
            <select name="runtime" class="form-control" style="width: auto;">
                <option value="30">30 seconds</option>
                <option value="60">60 seconds</option>
                <option value="90">90 seconds</option>
                <option value="120">120 seconds</option>
            </select>
        </label>
    </fieldset>
    <button name="run" value="1" class="btn btn-primary">Run scheduler</button>
    <button formaction="{{ url_for('.run_scheduler_export') }}" formmethod="get" class="btn">Download problem JSON</button>
</form>
<p class="help-block" style="margin-top: 2em">
    "Download problem JSON" exports the current scheduling problem for debugging with slotmachine (<code>python -m slotmachine slotmachine-problem.json</code>).
</p>
{% endblock %}
