{% extends "arcade/2026/template.html" %}
{% block title %}Electromagnetic Field Arcade - 2026{% endblock %}
{% block body %}
<div id="arcade-page">
<h1>Electromagnetic Field Arcade - 2026</h1>
<p>Thanks for visiting the Electromagnetic Field Arcade!</p>
<p>Starting in 2024, the Electromagnetic Field Arcade is a space for games makers in and around the EMF community to showcase their creations.</p>
<p>In 2026, the aAcade featured over 40 games, including traditional PC games, microcontroller games, entirely custom cabinets, and historical revivals. You can learn more about all of the games that featured in the Arcade in the sidebar. In 2026, the Arcade also featured a workshop stage, hosting games-themed workshops as well as gaming tournaments, chill boardgames afternoons, rhythm games performances, and speedrunning demonstrations.</p>
<p>We are extremely grateful to all of the games submitters and supporters who make the Arcade possible. Building and operating a 24/7 arcade in the middle of a field is no small feat, and wouldn't be possible without the volunteers who help out before, during, and after the event. The Arcade is also supported by a number of EMF teams, including Video, Networking, Lighting, Art & Installations, Construction, and Badge.</p>
<p>The arcade will return in 2028. If you are interested in creating or submitting a game for the Arcade, or would like to discuss another collaboration, please contact arcade@emfcamp.org.</p>
<p>See you next time,</p>
<p>The EMF Arcade Team</p>
<p>Joe Nash, Bevis Halsey-Perry, Catherine Flick, Jon Wood</p>
</div>
{% endblock %}
