{% macro badge(count, alt_txt="") %}
    {% if count > 0 %}
        <span class="badge">{{count}}</span>
    {% endif %}
{% endmacro %}

{% macro menuitem(text, view, badge_count=0) %}
<li {% if view_name == view and view != '.proposals' -%} class="active" {%- endif %}>
    <a href="{{url_for(view, **kwargs)}}">{{text}}{{badge(badge_count)}}</a>
</li>
{% endmacro %}

<ul class="nav navbar-nav">
    {% if current_user.has_permission('cfp_admin') %}
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                aria-haspopup="true" aria-expanded="false"
            >
                Proposals {{ badge(proposal_counts['anon-blocked'] + proposal_counts['new']) }} <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                {{ menuitem("All", ".proposals") }}
                <li role="separator" class="divider"></li>
                {{ menuitem("Talks", ".proposals", type="talk") }}
                {{ menuitem("Workshops", ".proposals", type="workshop") }}
                {{ menuitem("Installations", ".proposals", type="installation") }}
                {{ menuitem("Performances", ".proposals", type="performance") }}
                {{ menuitem("Youth Workshops", ".proposals", type="youthworkshop") }}
                {{ menuitem("Lightning Talks", ".lightning_talks") }}
                <li role="separator" class="divider"></li>
                {{ menuitem('Anon-blocked', ".proposals", proposal_counts['anon-blocked'], state='anon-blocked')}}
                {{ menuitem('New', ".proposals", proposal_counts['new'], state='new')}}
            </ul>
        </li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                aria-haspopup="true" aria-expanded="false"
            >
                Messages {{ badge(unread_count) }} <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                {{ menuitem("All", ".all_messages", unread_count) }}
                <li role="separator" class="divider"></li>
                {{ menuitem("Talks", ".all_messages", type="talk") }}
                {{ menuitem("Workshops", ".all_messages", type="workshop") }}
                {{ menuitem("Youth Workshops", ".all_messages", type="youthworkshop") }}
                {{ menuitem("Installations", ".all_messages", type="installation") }}
                {{ menuitem("Performances", ".all_messages", type="performance") }}
            </ul>
        </li>
        {{ menuitem("Voting", ".vote_summary", unread_reviewer_notes) }}
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                aria-haspopup="true" aria-expanded="false"
            >
                Misc <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                {{ menuitem("Close Round", ".close_round") }}
                {{ menuitem("Rank", ".rank") }}
                <li role="separator" class="divider"></li>
                {{ menuitem('Anonymisation', '.anonymisation', proposal_counts['checked']) }}
                {{ menuitem('Review', '.review_list') }}
            </ul>
        </li>
    {% endif %}
    {% if current_user.has_permission('cfp_admin') or current_user.has_permission('cfp_schedule') %}
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                aria-haspopup="true" aria-expanded="false"
            >
                Scheduling <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                {{ menuitem("Potential Schedule Changes", ".potential_schedule_changes") }}
                {{ menuitem("Schedule Tweaker", ".scheduler") }}
                {{ menuitem("Clashfinder", ".clashfinder") }}
            </ul>
        </li>
        {{ menuitem("Help", ".help") }}
    {% endif %}
    {# Hide these menus from admin as they're in the misc dropdown #}
    {% if current_user.has_permission('cfp_anonymiser') and not current_user.has_permission('cfp_admin') %}
        {{ menuitem('Anonymisation', '.anonymisation', proposal_counts['checked']) }}
    {% endif %}
    {% if current_user.has_permission('cfp_reviewer') and not current_user.has_permission('cfp_admin') %}
        {{ menuitem('Review', '.review_list') }}
    {% endif %}
</ul>

{% if current_user.has_permission('admin') %}
    <ul class="nav navbar-nav navbar-right">
        {{ menuitem("Back to admin", "admin.home") }}
    </ul>
{% endif %}
