{% macro badge(count) %}
    {% if count > 0 %}
        <span class="badge">{{count}}</span>
    {% endif %}
{% endmacro %}

{% macro menuitem(text, view, badge_count=0) %}
<li {% if view_name == view and view != '.proposals' -%} class="active" {%- endif %}>
    <a href="{{url_for(view, **kwargs)}}">{{text}}{{badge(badge_count)}}</a>
</li>
{% endmacro %}

<ul class="nav navbar-nav">
    {% if current_user.has_permission('admin') %}
        {{ menuitem("Admin", "admin.home") }}
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                aria-haspopup="true" aria-expanded="false">
                Proposals {{ badge(new_count) }} <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                {{ menuitem("All", ".proposals") }}
                {{ menuitem("Talks", ".proposals", type="talk") }}
                {{ menuitem("Workshops", ".proposals", type="workshop") }}
                {{ menuitem("Installations", ".proposals", type="installation") }}
                <li role="separator" class="divider"></li>
                {{ menuitem("New", ".proposals", new_count, state="new") }}
                {{ menuitem("Locked", ".proposals", new_count, state="locked") }}
            </ul>
        </li>
        {{ menuitem("Categories", ".categories") }}
    {% endif %}
</ul>
