{# Filter form on /cfp-review/proposals #}
<form method="get" class="row">
    <fieldset class="form-horizontal col-md-6">
        <div class="form-group">
            <label for="state" class="col-sm-2">State</label>
            <div class="col-sm-10">
                <select id="state" name="state" multiple class="form-control">
                    {% for state in ordered_states %}
                        <option value="{{state}}"
                            {%-if state in request.args.getlist('state') %}
                                selected
                            {%-endif %}
                        >{{state}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="type" class="col-sm-2">Type</label>
            <div class="col-sm-10">
                <select id="type" name="type" multiple class="form-control">
                    {% for cfp_type, human_type in cfp_types.items() %}
                        <option value="{{ cfp_type }}"
                            {%-if cfp_type in request.args.getlist('type') %}
                                selected
                            {%-endif %}
                        >{{ human_type }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </fieldset>
    <fieldset class="form-horizontal col-md-6">
        <div class="form-group">
            <div class="checkbox">
                <label>
                    <input name="needs_ticket" type="checkbox" value="True"
                            {%- if request.args.get('needs_ticket', False) %}checked{% endif %}>
                    Needs Ticket
                </label>
            </div>
        </div>
        <div class="form-group">
            <div class="checkbox">
                <label>
                    <input name="needs_help" id="needs_help" type="checkbox" value="True"
                           {%- if request.args.get('needs_help', False) %}checked{% endif %}>
                    Needs Help
                </label>
            </div>
        </div>
        <div class="form-group">
            <div class="checkbox">
                <label>
                    <input name="needs_money" id="needs_money" type="checkbox" value="True"
                           {%- if request.args.get('needs_money', False) %}checked{% endif %}>
                    Needs Money
                </label>
            </div>
        </div>
        <div class="form-group">
            <div class="checkbox">
                <label>
                    <input name="show_user_scheduled" id="show_user_scheduled" type="checkbox" value="True"
                           {%- if request.args.get('show_user_scheduled', False) %}checked{% endif %}>
                    Show Attendee Scheduled Content
                </label>
            </div>
        </div>
    </fieldset>
    <fieldset class="form-horizontal col-md-6">
        <div class="form-group">
            <div class="btn-group">
                <button class="btn btn-primary">Apply</button>
                <a href="{{url_for('.proposals')}}" class="btn btn-default">Clear</a>
            </div>
        </div>
    </fieldset>
</form>

