<p>If there are missing occurrences or durations, this will be an under-estimate of the total duration.<p>
<table class="table table-condensed table-striped">
    <thead>
    <tr>
        <th>Type</th>
        <th>Missing occurrence</th>
        <th>Missing duration</th>
        <th>Occurrences</th>
        <th>Available</th>
        <th>Accepted</th>
        <th>Remaining</th>
        <th>Venues</th>
    </tr>
    </thead>
    <tbody>
    {% for type, estimate in estimates.items() %}
    {% if estimate.allocated_time.total_hours() > 0 %}
    <tr>
        <th style="white-space:nowrap"><a href="{{url_for('cfp_review.schedule_items', official_content='official', type=type)}}">{{estimate.schedule_item_info.human_type|capitalize_add}}</a></th>
        <td><a href="{{url_for('cfp_review.schedule_items', official_content='official', type=type, no_occurrence=True)}}">
            {{estimate.missing_occurrences}}
        </a></td>
        <td><a href="{{url_for('cfp_review.schedule_items', official_content='official', type=type, no_duration=True)}}">
            {{estimate.unknown_durations}}
        </a></td>
        <td>{{estimate.occurrence_count}}</td>
        <td style="white-space:nowrap">{{estimate.available_time|duration_hm}}</td>
        <td style="white-space:nowrap">{{estimate.allocated_time|duration_hm}}</td>
        <td style="white-space:nowrap">{{estimate.remaining_time|duration_hm}}
            {% if estimate.available_time %}
                ({{(estimate.remaining_time/estimate.available_time * 100)|int}}%)
            {% endif %}
        </td>
        <td>{% for v in estimate.venues %}
                <a href="{{url_for('.venue_timeblocks', venue_id=v.id)}}" target="_blank">{{v.name}}</a>{% if not loop.last %}, {% endif %}
            {% endfor %}</td>
    </tr>
    {% endif %}
    {% endfor %}
    </tbody>
</table>
