{% extends "cfp_review/base.html" %}
{% block body %}
<h2>All messages</h2>

<table class="table">
    <tr>
        <th>Date</th>
        <th>From</th>
        <th>Message Count</th>
        <th>Proposal Title</th>
    </tr>
{% for proposal in proposal_with_message %}
    <tr>
        <td>
            {% if proposal.get_unread_count(current_user) > 0 %}
                <span class="badge">{{ proposal.get_unread_count(current_user) }}</span>
            {% endif %}
            {{ proposal.messages[-1].created.strftime("%d/%m") }}
        </td>
        <td>{{ proposal.user.name }}</td>
        <td>{{ proposal.messages | length }}</td>
        <td>
            <a href="{{ url_for('.message_proposer', proposal_id=proposal.id) }}">
                {{ proposal.title }}
            </a>
        </td>
    </tr>
{% endfor %}
</table>

{% endblock %}