{% extends "cfp_review/base.html" %}
{% block body %}
<h2>All messages <small>(showing {{ proposal_with_message | count }})</small></h2>

{% set qs_all = 'all' in request.args or None %}
{% set qs_reverse = request.args.get('reverse') %}
{% set qs_sort_by = request.args.get('sort_by') %}

{% if not qs_all %}
<p>Not showing installations. To include installations, click
<a href="{{ url_for('.all_messages', sort_by=qs_sort_by, reverse=qs_reverse, all=True) }}">here</a>.</p>
{% else %}
<p>Showing all messages (including installations). To hide these click
<a href="{{ url_for('.all_messages', sort_by=qs_sort_by, reverse=qs_reverse) }}">here</a>.</p>
{% endif %}

<p>To sort unread messages to the top click
<a href="{{ url_for('.all_messages', all=qs_all, sort_by='unread') }}">here</a>.</p>

<table class="table">
    <tr>
        {% if not qs_reverse %}
            {% set qs_reverse_new=True %}
        {% else %}
            {% set qs_reverse_new=None %}
        {% endif %}
        <th>
            <a href="{{ url_for('.all_messages', sort_by='date', reverse=qs_reverse_new, all=qs_all) }}">Date</a>
        </th>
        <th>
            <a href="{{ url_for('.all_messages', sort_by='from', reverse=qs_reverse_new, all=qs_all) }}">From</a>
        </th>
        <th>
            <a href="{{ url_for('.all_messages', sort_by='count', reverse=qs_reverse_new, all=qs_all) }}">Message Count</a>
        </th>
        <th>
            <a href="{{ url_for('.all_messages', sort_by='title', reverse=qs_reverse_new, all=qs_all) }}">Proposal Title</a>
        </th>
    </tr>
{% for proposal in proposal_with_message %}
    <tr>
        <td>
            {% if proposal.get_unread_count(current_user) > 0 %}
                <span class="badge">{{ proposal.get_unread_count(current_user) }}</span>
            {% endif %}
            {{ proposal.messages[-1].created.strftime("%d/%m") }}
        </td>
        <td>{{ proposal.user.name }}</td>
        <td>{{ proposal.messages | length }}</td>
        <td>
            <a href="{{ url_for('.message_proposer', proposal_id=proposal.id) }}">
                {{ proposal.title }}
            </a>
        </td>
    </tr>
{% endfor %}
</table>

{% endblock %}