{% from "_formhelpers.html" import render_dl_field %}

{% extends "cfp_review/base.html" %}
{% block body %}

<form method="post" action="{{ url_for('.anonymise_proposal', proposal_id=proposal.id) }}" class="shrink">
{{ form.hidden_tag() }}
    <div class="col-md-8">
        <h2>{{proposal.title}} <small>by {{proposal.user.name}}</small></h2>
        <dl class="dl-horizontal">
            <dt>Type</dt>
            <dd>{{ proposal.type }}</dd>
            <dt>Submitter</dt>
            <dd>{{ proposal.user.name }}</dd>

            {{ render_dl_field(form.title, tabindex=1) }}
            {{ render_dl_field(form.description, tabindex=2, rows=10) }}
        </dl>
    </div>
    {% if proposal.state == 'checked' %}
    <div class="col-md-4 col-xs-12 btn-group-vertical" role="group">
        <div>&nbsp;</div>
        <div>&nbsp;</div>
        {{ form.anonymise(class_="btn btn-success debounce", tabindex=3) }}
        {{ form.reject(class_="btn btn-danger debounce", tabindex=4) }}
        {% if next_proposal %}
            <a href="{{ url_for('.anonymise_proposal', proposal_id=next_proposal.id) }}"
                class="btn btn-default">
                Skip this proposal
            </a>
        {% else %}
            <a href="{{ url_for('.anonymisation') }}"
                class="btn btn-default">
                See all remaining proposals
            </a>
        {% endif %}
    </div>
    {% endif %}
</form>

{% endblock %}
