<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock %}{% if self.title() %} - {% endif %}EMF CfP</title>
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        {% assets "css_admin" -%}
        <link rel="stylesheet" href="{{ ASSET_URL }}">
        {% endassets -%}
        {% block head -%}{% endblock -%}
        <!--[if lt IE 9]>
              <script src="//oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
              <script src="//oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->
        <link rel="shortcut icon" href="/favicon.ico">
    </head>
<body>
{% block document %}
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="{{ url_for('cfp_review.main') }}">EMF CfP</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            {% include "cfp_review/_nav.html" %}
        </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col-md-11">
        {% for (category, message) in get_flashed_messages(with_categories=true) -%}
            {% if category != 'message' %}
                <div class="alert alert-{{ category }}">{{ message }}</div>
            {% else %}
                <div class="alert alert-danger">{{ message }}</div>
            {% endif %}
        {% endfor -%}

        {% block body -%}{% endblock -%}
        </div>
    </div>
</div>
{% endblock %}
<script src="//code.jquery.com/jquery-1.10.1.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
{% block foot -%}{% endblock -%}
</body>
</html>
