{% extends "cfp_review/base.html" %}
{% block body %}
<h2>CFP categories</h2>

<form method='POST'>
{{ form.hidden_tag() }}
<table class="table table-condensed">
<thead><tr>
  <th>Category</th>
  <th>Entries</th>
  <th>Reviewers</th>
</tr></thead>
<tbody>
{% for cat in form.categories %}
  <tr>
    {% set cat_id = cat['id'].data %}
    <td>{{ cat.hidden_tag_without('csrf_token') }}{{ cat['name'](class_='form-control') }}</td>
    <td><a href="{{ url_for('.proposals', category_id=cat_id)}}">
        {{ categories[cat_id].proposals | length }}
    </a></td>
    <td>
      {{ categories[cat_id].users | length }}
    </td>
  </tr>
{% endfor %}
<tr>
  <td>
    <div class="input-group">
      <div class="input-group-addon">+</div>
      {{ form.name(class_='form-control') }}
    </div>
  </td>
  <td>&nbsp;</td>
  <td>&nbsp;</td>
</tr>
</tbody>
</table>
{{ form.update(class_='btn btn-success') }}
</form>

<h3>Reviewers</h3>
<dl class="dl-horizontal">
{% for cat in categories.values() %}
  <dt>{{ cat.name }}</dt>
  <dd>
    {% if not cat.users %}
      -- No reviewers --
    {% endif %}
    <ul class="list-unstyled">
      {% for user in cat.users %}
        <li>{{ user.name }}</li>
      {% endfor %}
    </ul>
  </dd>
{% endfor %}
</dl>

{% endblock %}