{% extends "cfp_review/base.html" %}
{% set nav_active = 'cfp_proposals' %}
{% block body %}
<h2>CfP Proposals</h2>

<table class="table">
    <tr>
        <th>Date</th>
        <th>State</th>
        <th>Type</th>
        <th>Submitter</th>
        <th>Title</th>
    </tr>
{% for proposal in proposals %}
<tr>
    <td>{{proposal.created.strftime("%Y-%m-%d")}}</td>
    <td>{{proposal.state}}</td>
    <td>{{proposal.type}}</td>
    <td>{{proposal.user.name}}</td>
    <td>{{proposal.title}}</td>
</tr>
{% endfor %}
</table>
{% endblock %}
