{% extends "cfp_review/base.html" %}
{% block body %}
<h2>{% block title %}{{ user.name }}'s Proposals{% endblock %}</h2>
{% if current_user.has_permission("admin") %}
    <a class="btn btn-default pull-right" href="{{ url_for('admin.user', user_id=user.id) }}">View user in admin</a>
{% else %}
{% endif %}
Email: {{ user.email }}<br/>
Has ticket: {{ user.proposals[0].has_ticket() }}
{% if user.cfp_invite_reason %}
    <b>Invited speaker.</b> Invite reason: {{ user.cfp_invite_reason }}<br/>
{% else %}
{% endif %}
<hr>
<table class="table table-condensed">
    <tr>
        <th class="col-md-1">Date</th>
        <th>State</th>
        <th class="col-md-1">Type</th>
        <th class="col-md-1">Notice</th>
        <th>Duration</th>
        <th>#Favs</th>
        <th>Title</th>
        <th>Messages</th>
        <th>Notes</th>
    </tr>
{% for proposal in user.proposals %}
    <tr>
        <td>{{proposal.created.strftime("%d/%m")}}</td>
        <td>{{proposal.state | capitalize}}</td>
        <td>{%- if proposal.user_scheduled %}Attendee&nbsp;{% endif -%}{{proposal.human_type | capitalize}}</td>
        <td>{{proposal.notice_required or ''}}</td>
        <td>{{proposal.scheduled_duration or ''}}</td>
        <td>{{proposal.favourite_count}}</td>
        <td>
            <a href="{{ url_for('.update_proposal', proposal_id=proposal.id, **full_qs) }}">{{proposal.published_title or proposal.title}}</a>
        </td>
        <td>
            <a href="{{ url_for('.message_proposer', proposal_id=proposal.id, **full_qs) }}">{{ proposal.get_unread_count(current_user) }}/{{ proposal.messages | length }}</a>
        </td>
        <td><a href="{{ url_for('.proposal_notes', proposal_id=proposal.id, **full_qs) }}">{{ proposal.notes | length }}</a></td>
    </tr>
{% endfor %}
</table>
{% endblock %}
