{% from "_formhelpers.html" import render_field %}
{% extends "cfp_review/base.html" %}
{% block body %}

{% include "cfp_review/_propsal_tabs.html" %}

<h4>Change owner of {{proposal.type}} '{{ proposal.title }}'</h4>

<p>Currently owned by: <a href="{{ url_for('admin.user', user_id=proposal.user_id) }}">{{ proposal.user.name }} ({{ proposal.user.email }})</a></p>

<form method="post" action="{{ url_for('.proposal_change_owner', proposal_id=proposal.id) }}">
    {{ form.hidden_tag() }}
    {{ render_field(form.user_email, tabindex=1) }}
    {{ render_field(form.user_name, tabindex=2) }}
    <div class="pull-right">
        {{ form.submit(class_='btn btn-success debounce', tabindex=3) }}
        <a class="btn btn-default" href="{{ url_for('.update_proposal', proposal_id=proposal.id) }}">Cancel</a>
    </div>
</form>

{% endblock %}
