{% extends "cfp_review/base.html" %}
{% block body %}
<h2>Choose your CFP categories</h2>

<form method='POST'>
{{ form.hidden_tag() }}
<table class="table table-condensed">
<thead><tr>
  <th>Category</th>
  <th>Review this?</th>
</tr></thead>
<tbody>
{% for cat in form.categories %}
  <tr>
    <td>{{ cat.hidden_tag_without('csrf_token') }}{{ categories[cat['id'].data].name }}</td>
    <td>{{ cat.is_user_member() }}</td>
  </tr>
{% endfor %}
</tbody>
</table>
{{ form.update(class_='btn btn-success') }}
</form>
{% endblock %}