{% extends "cfp_review/base.html" %}
{% block body %}
<h2>Choose your CFP categories</h2>

<form method='POST'>
{{ form.hidden_tag() }}
<table class="table table-condensed">
<thead><tr>
  <th>Category</th>
  <th>Reviewer count</th>
  <th>Proposal count</th>
  <th>Review this?</th>
</tr></thead>
<tbody>
{% for cat_form in form.categories %}
  <tr>
    {% set cat = categories[cat_form['id'].data] %}
    <td>{{ cat_form.hidden_tag_without('csrf_token') }}{{ cat.name }}</td>
    <td>{{ cat.users | length }}</td>
    <td>{{ cat.proposals | length }}</td>
    <td>{{ cat_form.is_user_member() }}</td>
  </tr>
{% endfor %}
</tbody>
</table>
{{ form.update(class_='btn btn-success') }}
</form>
{% endblock %}