{% extends "cfp_review/base.html" %}
{% block title %}Lightning Talks{% endblock %}
{% block body %}
<h2>Lightning Talks</h2>


<table class="table table-condensed">
    <tr>
        {% if not request.args.get('reverse') %}
            {% set qs_reverse_new=True %}
        {% else %}
            {% set qs_reverse_new=None %}
        {% endif %}
        <th class="col-md-1">Date</th>
        <th>User</th>
        <th>Title</th>
        <th>Slides</th>
    </tr>
    {% for talk in lightning_talks | sort(attribute='occurrence_id')%}
        <tr>
            <td>{{ talk.occurrence.scheduled_time.strftime("%A %H:%M") }}</td>
            <td><a href="{{ url_for('cfp_review.cfp_user', user_id=talk.user.id ) }}">{{ talk.user.name }}</a></td>
            <td>{{ talk.title }}</td>
            <td><a href="{{ talk.slide_link }}">{{ talk.slide_link }}</a></td>
        </tr>
    {% else %}
        <tr><td colspan="5" class="text-center">No proposals found</td></tr>
    {% endfor %}
</table>
{% endblock %}
