{% extends "cfp_review/base.html" %}
{% block body %}

<h2>Lottery info</h2>

<p><strong>Current signup state:</strong> {{ SIGNUP_STATE }}</p>

<div>To run the lottery shell into the server and run <pre>./flask cfp lottery</pre></div>

<p>These workshops require tickets:</p>

{% for type, all_proposals in ticketed_proposals | groupby('type') %}
<h3>{{ type | capitalize }}</h3>
<table class="table table-condensed table-striped">
    <thead>
        <tr>
            <th>Title</th>
            <th>Total tickets</th>
            <th>Tickets via lottery</th>
            <th>Lottery tickets issued</th>
            <th>Tickets issued</th>
            <th>Cancelled issued</th>
            <th>Lost issued</th>
        </tr>
    </thead>
    <tbody>
        {% for proposal in all_proposals %}
            <tr>
                <td><a href="{{ url_for('.update_proposal', proposal_id=proposal.id) }}">{{ proposal.title }}</a></td>
                <td>{{ proposal.total_tickets }}</td>
                <td>{{ proposal.get_lottery_capacity() }}</td>
                <td>{{ proposal.sum_tickets_in_state("entered-lottery") }}</td>
                <td>{{ proposal.sum_tickets_in_state("ticket") }}</td>
                <td>{{ proposal.sum_tickets_in_state("cancelled") }}</td>
                <td>{{ proposal.sum_tickets_in_state("lost-lottery") }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endfor %}

{% endblock %}
