{% extends "cfp_review/base.html" %}
{% block body %}

<h2>Lottery info</h2>

<p>Workshops that require tickets are shown below.</p>

{% for human_type, type_occurrences in ticketed_occurrences | groupby('schedule_item.human_type') %}
<h3>{{ human_type | capitalize_add }}</h3>
<a href="{{ url_for(".lotteries_for_type", schedule_item_type=type_occurrences[0].schedule_item.type) }}" class="btn btn-success">Run lottery</a>
<table class="table table-condensed table-striped">
    <thead>
        <tr>
            <th>State</th>
            <th>Title</th>
            <th>Occurrence</th>
            <th>Max workshop tickets</th>
            <th>Available lottery tickets</th>
            <th>Lottery tickets requested</th>
            <th>Workshop tickets issued</th>
            <th>Lottery/workshop tickets cancelled</th>
        </tr>
    </thead>
    <tbody>
        {% for occurrence in type_occurrences %}
            <tr>
                <td>{{ occurrence.lottery.state }}</td>
                <td><a href="{{ url_for('.update_occurrence', schedule_item_id=occurrence.schedule_item_id, occurrence_id=occurrence.id) }}">{{ occurrence.schedule_item.title }}</a></td>
                <td>{{ occurrence.occurrence_num }}</td>
                <td>{{ occurrence.lottery.total_tickets }}</td>
                <td>{{ occurrence.lottery.get_lottery_capacity() }}</td>
                <td>{{ occurrence.lottery.sum_tickets_in_state("entered") }}</td>
                <td>{{ occurrence.lottery.sum_tickets_in_state("ticket") }}</td>
                <td>{{ occurrence.lottery.sum_tickets_in_state("cancelled") }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endfor %}

{% endblock %}
