{% extends "cfp_review/base.html" %}
{% block body %}
<h2>Potential Schedule Changes</h2>

<h3><small>To apply and notify users, run <code>flask cfp apply_potential_schedule</code></small></h3>

<table class="table">
    <tr>
        <th>
            Type
        </th>
        <th class="">
            Duration
        </th>
        <th>
            User
        </th>
        <th>
            Title
        </th>
        <th>
            Cur Venue
        </th>
        <th>
            Cur Time
        </th>
        <th>
            New Venue
        </th>
        <th>
            New Time
        </th>
    </tr>
{% for occurrence in occurrences %}
    <tr>
        <td>{{occurrence.schedule_item.human_type | capitalize}}</td>
        <td>{{occurrence.scheduled_duration or '--'}}</td>
        <td>
            <a href="{{ url_for('cfp_review.cfp_user', user_id=occurrence.schedule_item.user.id ) }}">{{ occurrence.schedule_item.user.name }}</a>
        </td>
        <td>
            <a href="{{ url_for('.update_occurrence', schedule_item_id=occurrence.schedule_item.id, occurrence_id=occurrence.id) }}">{{ occurrence.title }}</a>
        </td>
        <td>
            {% if occurrence.scheduled_venue.name %}{{ occurrence.scheduled_venue.name }}{% endif %}
        </td>
        <td>
            {% if occurrence.scheduled_time %}{{ occurrence.scheduled_time.strftime('%A at %-I:%M %p') }}{% endif %}
        </td>
        <td>
            {{ occurrence.potential_venue.name }}
        </td>
        <td>
            {{ occurrence.potential_time.strftime('%A at %-I:%M %p') }}
        </td>
    </tr>
{% else %}
    <tr><td colspan="5" class="text-center">No potential changes found</td></tr>
{% endfor %}
</table>
{% endblock %}
