{% extends "cfp_review/base.html" %}
{% block title %}Proposals{% endblock %}
{% block body %}
<a role="button" class="btn btn-default pull-right" href="{{ url_for('.message_batch', **request.args) }}">
    Message all {{ proposals | count }} proposals
</a>
<h2>Proposals</h2>

<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a role="button" data-toggle="collapse" data-target="#searchPanel" 
                aria-controls="searchPanel" aria-expanded="true">
                Filter <small>(showing {{ proposals | count }}/{{total_proposals}})</small>
            </a>
        </h4>
    </div>
    <div class="panel-body collapse
    {%- if filtered %}in{% endif %}
        " id="searchPanel">
        {% include "cfp_review/_proposals_filter_form.html" %}
    </div>
</div>

<table class="table table-condensed">
    <tr>
        {% if not request.args.get('reverse') %}
            {% set qs_reverse_new=True %}
        {% else %}
            {% set qs_reverse_new=None %}
        {% endif %}
        <th>
            <a href="{{ url_for('.proposals', sort_by='ticket', reverse=qs_reverse_new, **new_qs) }}">Ticket?</a>
        </th>
        <th class="col-md-1">
            <a href="{{ url_for('.proposals', sort_by='date', reverse=qs_reverse_new, **new_qs) }}">Date</a>
        </th>
        <th>
            <a href="{{ url_for('.proposals', sort_by='state', reverse=qs_reverse_new, **new_qs) }}">State</a>
        </th>
        <th class="col-md-1">
            <a href="{{ url_for('.proposals', sort_by='type', reverse=qs_reverse_new, **new_qs) }}">Type</a>
        </th>
        <th class="col-md-1">
            <a href="{{ url_for('.proposals', sort_by='notice', reverse=qs_reverse_new, **new_qs) }}">Notice</a>
        </th>
        <th>
            <a href="{{ url_for('.proposals', sort_by='duration', reverse=qs_reverse_new, **new_qs) }}">Duration</a>
        </th>
        <th>
            <a href="{{ url_for('.proposals', sort_by='favourites', reverse=qs_reverse_new, **new_qs) }}">#Favs</a>
        </th>
        <th>
            <a href="{{ url_for('.proposals', sort_by='user', reverse=qs_reverse_new, **new_qs) }}">User</a>
        </th>
        <th>
            <a href="{{ url_for('.proposals', sort_by='title', reverse=qs_reverse_new, **new_qs) }}">Title</a>
        </th>
    </tr>
{% for proposal in proposals %}
    <tr>
        <td>{% if proposal.has_ticket() %}Yes{% endif %}</td>
        <td>{{proposal.created.strftime("%d/%m")}}</td>
        <td>{{proposal.state | capitalize}}</td>
        <td>{{proposal.human_type | capitalize}}</td>
        <td>{{proposal.notice_required or ''}}</td>
        <td>{{proposal.scheduled_duration or ''}}</td>
        <td>{{proposal.favourite_count}}</td>
        <td>
            <a href="{{ url_for('admin.user', user_id=proposal.user.id ) }}">{{proposal.user.name}}</a>
        </td>
        <td>
            <a href="{{ url_for('.update_proposal', proposal_id=proposal.id) }}">{{proposal.title}}</a>
        </td>
    </tr>
{% else %}
    <tr><td colspan="5" class="text-center">No proposals found</td></tr>
{% endfor %}
</table>
{% endblock %}
