{% extends "cfp_review/base.html" %}
{% block body %}
<h2>CfP Proposals</h2>

<table class="table">
    <tr>
        <th>Date</th>
        <th>State</th>
        <th>Type</th>
        <th>Submitter</th>
        <th>Title</th>
    </tr>
{% for proposal in proposals %}
<tr>
    <td>{{proposal.created.strftime("%Y-%m-%d")}}</td>
    <td>{{proposal.state}}</td>
    <td>{{proposal.type}}</td>
    <td>{{proposal.user.name}}</td>
    <td>
        <a href="{{ url_for(link_target, proposal_id=proposal.id) }}">{{proposal.title}}</a>
    </td>
</tr>
{% endfor %}
{% if not proposals %}
    <td colspan="5" class="text-center">No proposals found</td>
{% endif %}
</table>
{% endblock %}
