{% from "_formhelpers.html" import render_field, render_dl_field, render_radio_field %}
{% extends "cfp_review/base.html" %}
{% block title %}{{ proposal.title }}{% endblock %}
{% block body %}

{% set active='details' %}
{% include "cfp_review/_proposal_tabs.html" %}


{% if proposal.state == 'new' %}
<div class="alert alert-primary">
    <p>You have the ability to mark this proposal as checked, which will send it to anonymisation. Please do so, but only if:</p>
    <ul>
        <li>You have knowledge of the list of banned speakers and can confirm the submitter is not banned from speaking.</li>
        <li>The description is not obviously incomplete.</li>
        <li>The description is superficially valid for the category it is submitted in.</li>
    </ul>
</div>
{% endif %}

{% if proposal.schedule_item %}
<div class="alert alert-warning">
    <p>This proposal has an associated schedule item. Editing details below will only update the proposal.</p>
    <p><a class="btn btn-success" href="{{ url_for("cfp_review.update_schedule_item", schedule_item_id=proposal.schedule_item.id) }}">View schedule item</a></p>
    {% if not proposal.is_editable %}
    <p>The proposer will only be able to edit schedule item fields, they will not be able to edit their proposal.</p>
    {% endif %}
</div>
{% else %}
<div class="alert alert-primary">
    <p>This proposal does not yet have an associated schedule item. These are usually created when the proposal is accepted.</p>
    <form method="post" action="{{ url_for("cfp_review.create_schedule_item_from_proposal", proposal_id=proposal.id) }}">
    <p><input type="submit" class="btn btn-default" value="Create schedule item"></p>
    </form>
</div>
{% endif %}

<div class="col-md-12">
    <h2>{{ proposal.title }}<br>
        <small>
            A {{ proposal.human_type }} by
            <a href="{{ url_for('cfp_review.cfp_user', user_id=proposal.user.id) }}">{{ proposal.user.name }}</small></a>
    </h2>
</div>
<form method="post" action="{{ url_for('.update_proposal', proposal_id=proposal.id) }}" class="shrink">
    {{ form.hidden_tag() }}
    <div class="col-md-8">
        <div class="panel-group" id="formAccordion" role="tablist" aria-multiselectable="true">

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="basicsPanelHeading">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" href="#basicsPanel" aria-expanded="true" aria-controls="basicsPanel">
                            Proposal
                        </a>
                    </h4>
                </div>
                <div id="basicsPanel" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="basicsPanelHeading">
                    <div class="panel-body">
                        <dl class="dl-horizontal">
                            <dt>Submitted</dt>
                            <dd>{{ proposal.created.strftime("%Y-%m-%d %H:%M") }}</dd>
                            <dt>Email</dt>
                            <dd>{{ proposal.user.email }}</dd>
                            <dt>Has ticket</dt>
                            <dd>{{ proposal.user.check_will_have_ticket() }}</dd>
                            {% if proposal.anonymiser_id %}
                            <dt>Anoymised by</dt>
                            <dd>{{ proposal.anonymiser.name }}</dd>
                            {% endif %}
                            {{ render_dl_field(form.state) }}
                            {{ render_dl_field(form.title) }}
                            {{ render_dl_field(form.description, rows=8) }}
                            {{ render_dl_field(form.duration) }}
                        </dl>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="requirementsPanelHeading">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" href="#requirementsPanel" aria-expanded="false" aria-controls="requirementsPanel">
                            Requirements
                        </a>
                    </h4>
                </div>
                <div id="requirementsPanel" class="panel-collapse collapse" role="tabpanel" aria-labelledby="requirementsPanelHeading">
                    <div class="panel-body">
                        <dl class="dl-horizontal">
                            {{ render_dl_field(form.needs_help) }}
                            {{ render_dl_field(form.equipment_required, rows=3) }}
                            {{ render_dl_field(form.funding_required, rows=3) }}
                            {{ render_dl_field(form.notice_required) }}
                            {{ render_dl_field(form.additional_info, rows=3) }}

                            {{ render_dl_field(form.needs_money) }}
                            {{ render_dl_field(form.one_day) }}
                            {# rejected_email_sent #}

                            {{ render_dl_field(form.user_will_have_ticket) }}
                        </dl>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="attributesPanelHeading">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" href="#attributesPanel" aria-expanded="false" aria-controls="attributesPanel">
                            Type-specific attributes
                        </a>
                    </h4>
                </div>
                <div id="attributesPanel" class="panel-collapse collapse" role="tabpanel" aria-labelledby="attributesPanelHeading">
                    <div class="panel-body">
                        <dl class="dl-horizontal">
                            {% if proposal.type == 'talk' %}
                                {{ render_dl_field(form.attributes.content_note) }}
                                {{ render_dl_field(form.attributes.needs_laptop) }}
                                {{ render_dl_field(form.attributes.family_friendly) }}

                            {% elif proposal.type == 'performance' %}
                                <div>There are no attributes for the type performance</div>

                            {% elif proposal.type == 'workshop' or proposal.type == 'youthworkshop' %}
                                {{ render_dl_field(form.attributes.participant_count) }}
                                {{ render_dl_field(form.attributes.participant_cost) }}
                                {{ render_dl_field(form.attributes.participant_equipment) }}
                                {{ render_dl_field(form.attributes.age_range) }}
                                {% if proposal.type == 'workshop' %}
                                    {{ render_dl_field(form.attributes.family_friendly) }}
                                {% elif proposal.type == 'youthworkshop' %}
                                    {{ render_dl_field(form.attributes.valid_dbs) }}
                                {% endif %}

                            {% elif proposal.type == 'installation' %}
                                {{ render_dl_field(form.attributes.size) }}
                                {{ render_dl_field(form.attributes.grant_requested) }}

                            {% endif %}
                        </dl>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="tagsPanelHeading">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" href="#tagsPanel" aria-expanded="false" aria-controls="tagsPanel">
                            Tags{% if proposal.tags %} ({{ proposal.tags | join(", ") }}){% endif %}
                        </a>
                    </h4>
                </div>
                <div id="tagsPanel" class="panel-collapse collapse" role="tabpanel" aria-labelledby="tagsPanelHeading">
                    <div class="panel-body">
                        <dl class="dl-horizontal">
                            {{ render_field(form.tags, size=(form.tags.choices| count)) }}
                        </dl>
                    </div>
                </div>
            </div>
        </div>
        {{ form.update(class_="btn btn-primary debounce") }}
    </div>
    <div class="col-md-4 col-xs-12" role="group">
        <h4>Proposal actions</h4>
        <div class="btn-group-vertical" role="group">
            {% if proposal.state == 'new' %}
                {{ form.checked(class_="btn btn-success debounce") }}
            {% endif %}
            {{ form.accept(class_="btn btn-danger debounce") }}
            {{ form.reject_with_message(class_="btn btn-danger debounce") }}
            {{ form.reject(class_="btn btn-danger debounce") }}
            <a href="{{ url_for('.convert_proposal', proposal_id=proposal.id) }}"
                    class="btn btn-warning">
                Convert proposal
            </a>
            <a href="{{ url_for('.proposal_change_owner', proposal_id=proposal.id) }}"
                    class="btn btn-warning">
                Change proposal owner
            </a>

            {% if next_id %}
                <a href="{{ url_for('.update_proposal', proposal_id=next_id, **full_qs) }}"
                    class="btn btn-default">
                    Next proposal
                </a>
            {% else %}
                <a href="{{ url_for('.proposals', **full_qs) }}"
                    class="btn btn-default">
                    All proposals
                </a>
            {% endif %}
        </div>
    </div>
</form>

{% endblock %}
