{% from "_formhelpers.html" import render_field %}
{% extends "cfp_review/base.html" %}
{% block body %}

{% set active='versions' %}
{% include "cfp_review/_proposal_tabs.html" %}

<h4>{{ proposal.title }} <small>by <a href="{{ url_for('cfp_review.cfp_user', user_id=proposal.user.id) }}">{{proposal.user.name}}</a></small></h4>

<p>&nbsp;</p>
<div>

    <p><strong>Last changed at:</strong>
        {{ version.transaction.issued_at.strftime('%Y-%m-%d %H:%M:%S.%f')[:-3] }}
        {% if version.transaction.user %}
        by <a href="{{ url_for('admin.user', user_id=version.transaction.user.id) }}">{{ version.transaction.user.name }} ({{ version.transaction.user.email }})</a>
        {% endif %}
    </p>
    <table class="table table-condensed">
        <tr>
            <th>Fieldname</th>
            <th>Was</th>
            <th>Changed to</th>
        </tr>
    {% for (field, (old, new)) in version.changeset.items() if field != "modified" %}
        <tr class="{{- loop.cycle('odd', 'even') -}}">
            <td>{{field}}</td>
            <td>{{old}}</td>
            <td>{{new}}</td>
        </tr>
    {% endfor %}
    </table>
</div>
{% if version.next %}
<form method="post">
    {{ form.hidden_tag() }}
    {{ form.proposal_id.field }}
    {{ form.txn_id.field }}
    {{ render_field(form.revert) }}
</form>
{% endif %}
<div>
    <h2>All Revisions</h2>

    <div>
        {% if version.previous %}
            <a class="btn btn-success" href="{{ url_for('.proposal_version', proposal_id=proposal.id, txn_id=version.previous.transaction_id) }}">
                prev
            </a>
        {% endif %}
        {% if version.next %}
            <a class="btn btn-success" href="{{ url_for('.proposal_version', proposal_id=proposal.id, txn_id=version.next.transaction_id) }}">
                next
            </a>
        {% endif %}
    </div>

    <ul>
    {% for v in proposal.versions | reverse %}
        <li><a href="{{ url_for('.proposal_version', proposal_id=proposal.id, txn_id=v.transaction_id) }}">
            {{ loop.length - loop.index }} &mdash;
            {{ v.transaction.issued_at.strftime('%Y-%m-%d %H:%M:%S.%f')[:-3] }}
            {% if v.transaction.user %}
            by {{ v.transaction.user.name }} ({{ v.transaction.user.email }})
            {% endif %}
        </a></li>
    {% endfor %}
    </ul>
</div>

{% endblock %}
