{% extends "cfp_review/base.html" %}
{% block body %}

<h2>Current allocations</h2>
<p>This shows an estimate of the amount of time remaining for scheduling proposals, based on the time blocks defined.</p>
{% include "cfp_review/_schedule_time_estimates.html" %}

<h2>Ranked proposals</h2>
{% if not preview %}
<p>
    Set the score to determine which proposals will be accepted this round.
</p>
{% endif %}

<p>
    Proposals listed below will be accepted. Notification or rejection is controlled by the dropdown selector.
    If there are proposals that shouldn't be accepted at this point, please set their state back to "anonymised" from "reviewed".
</p>

{% if preview %}
    <p>
        <span class="bg-info">Proposals</span> will be accepted.
    </p>
{% endif %}
<p>

{% if duplicates %}
<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a role="button" data-toggle="collapse" data-target="#duplicatesPanel"
                aria-controls="duplicatesPanel" aria-expanded="true">
                These users have other proposals
            </a>
        </h4>
    </div>
    <div class="panel-body collapse" id="duplicatesPanel">
        <table class="table">
            <tr>
                <th>User</th>
                <th>Type</th>
                <th>State</th>
                <th>Title</th>
            </tr>
            {% for (user, proposals) in duplicates.items() %}
                <tr>
                    <td rowspan="{{ proposals|length }}">{{ user.name }}</td>
                {% for prop in proposals %}
                    {% if not loop.first %}
                    <tr>
                    {% endif %}
                    <td>{{ prop.type }}</td>
                    <td>{{ prop.state }}</td>
                    <td><a href="{{ url_for('.proposal', proposal_id=prop.id) }}">{{prop.title}}</a></td>
                </tr>
                {% endfor %}
            {% endfor %}
        </table>
    </div>
</div>
{% endif %}


<table class="table">
    <tr>
        <th></th>
        <th>Rank</th>
        <th>Type</th>
        <th>Submitter</th>
        <th>Title</th>
    </tr>
{% for (prop, score) in proposals %}
    <tr {% if preview and score >= min_score %} class="info" {% endif %}>
        <td><small>{{ loop.index }}.</small></td>
        <td><button class="btn btn-success debounce score-setter" data-score="{{ score }}">{{ score|round(4) }}</button></td>
        <td>{{prop.human_type | capitalize_add }}</td>
        <td>{{prop.user.name}}</td>
        <td><a href="{{ url_for('.proposal', proposal_id=prop.id) }}">{{prop.title}}</a></td>
    </tr>
{% else %}
    <tr><td colspan="5" class="text-center">No proposals found</td></tr>
{% endfor %}
</table>
<br>
<form method="POST" class="form-inline pull-right">
    {{ form.hidden_tag() }}

    {% if preview %}
        {{ form.confirm_type() }}
        {{ form.confirm(class_='btn btn-success debounce') }}
        {{ form.cancel(class_='btn btn-danger debounce') }}
    {% else %}
        <div class="form-group {%- if form.min_score.errors %} has-error {%- endif %}">
            <label for="{{ form.min_score.name }}" class="control-label">
                {{ form.min_score.label.text }}
            </label>
            {{ form.min_score(class_="form-control") }}
            {% for error in form.min_score.errors %}
                <p class="help-block" id="help-block-{{form.min_score.name}}">{{ error }}</pa>
            {% endfor %}
        </div>
        {{ form.set_score(class_='btn btn-success debounce') }}
    {% endif %}
</form>

{% endblock %}
{% block script_extra %}
    <script nonce="{{csp_nonce}}">
        /*
            script to make it easier to set the score by selecting it in the
            table (rather than copying/pasting)
        */
        $(() => {
            var scoreInput = $("input#min_score");
            $("button.score-setter").each((_, btn) => {
                $(btn).on("click", () => {
                    scoreInput.val($(btn).attr("data-score"))
                });
            });
        });
    </script>
{% endblock %}
