{% extends "cfp_review/base.html" %}
{% block body %}

<h2>Current allocations</h2>
<p>This shows an estimate of the amount of time remaining for scheduling proposals.</p>
<table class="table table-condensed table-striped">
    <thead>
    <tr>
        <th>Type</th>
        <th>Total accepted</th>
        <th>Missing durations</th>
        <th>Available</th>
        <th>Allocated</th>
        <th>Remaining</th>
        <th>Available venues</th>
    </tr>
    </thead>
    <tbody>
    {% for type in proposal_types%}
    <tr>
        <th>{{type}}</th>
        <td><a href="{{url_for('cfp_review.proposals', type=type, state=['accepted', 'finalised'])}}">
                {{estimates[type].accepted_count}}
            </a>
        </td>
        <td>{{estimates[type].unknown_lengths}}</td>
        <td style="white-space:nowrap">{{estimates[type].available_time}}</td>
        <td style="white-space:nowrap">{{estimates[type].allocated_time}}</td>
        <td style="white-space:nowrap">{{estimates[type].remaining_time}}</td>
        <td>{% for v in estimates[type].venues %}{{v.name}}{% if not loop.last %}, {% endif %}{% endfor %}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

<h2>Ranked proposals</h2>
{% if not preview %}
<p>
    Set the score to determine which proposals will be accepted this round.
</p>
{% endif %}

<p>
    Proposals listed below will be accepted. Notification or rejection is controlled by the dropdown selector.
    If there are proposals that shouldn't be accepted at this point, please set their state back to "anonymised" from "reviewed".
</p>

<p>Show 
    <a href="{{ url_for('.rank') }}">all</a>,
    <a href="{{ url_for('.rank', type='talk') }}">talks</a>,
    <a href="{{ url_for('.rank', type='workshop') }}">workshops</a>,
    <a href="{{ url_for('.rank', type='youthworkshop') }}">youth workshops</a>,
    <a href="{{ url_for('.rank', type='installation') }}">installations</a>,
    <a href="{{ url_for('.rank', type='performance') }}">performances</a>.
</p>

{% if preview %}
    <p>
        <span class="bg-info">Proposals</span> will be accepted.
    </p>
{% endif %}
<p>


<table class="table">
    <tr>
        <th></th>
        <th>Rank</th>
        <th>Type</th>
        <th>Submitter</th>
        <th>Title</th>
    </tr>
{% for (prop, score) in proposals %}
    <tr {% if preview and score >= min_score %} class="info" {% endif %}>
        <td><small>{{ loop.index }}.</small></td>
        <td>{{ score|round(4) }}</td>
        <td>{{prop.human_type | capitalize}}</td>
        <td>{{prop.user.name}}</td>
        <td><a href="{{ url_for('.update_proposal', proposal_id=prop.id) }}">{{prop.title}}</a></td>
    </tr>
{% else %}
    <tr><td colspan="5" class="text-center">No proposals found</td></tr>
{% endfor %}
</table>
<br>
<form method="POST" class="form-inline pull-right">
    {{ form.hidden_tag() }}

    {% if preview %}
        {{ form.confirm_type() }}
        {{ form.confirm(class_='btn btn-success debounce') }}
        {{ form.cancel(class_='btn btn-danger debounce') }}
    {% else %}
        <div class="form-group {%- if form.min_score.errors %} has-error {%- endif %}">
            <label for="{{ form.min_score.name }}" class="control-label">
                {{ form.min_score.label.text }}
            </label>
            {{ form.min_score(class_="form-control") }}
            {% for error in form.min_score.errors %}
                <p class="help-block" id="help-block-{{form.min_score.name}}">{{ error }}</pa>
            {% endfor %}
        </div>
        {{ form.set_score(class_='btn btn-success debounce') }}
    {% endif %}
</form>

{% endblock %}
