{% from "_formhelpers.html" import render_field %}

{% extends "cfp_review/base.html" %}
{% block body %}

{% if previous_vote and previous_vote.state not in ['resolved', 'stale'] %}
    <div class="col-md-9">
        <h4>Proposal: {{proposal.type | capitalize}}</h4>
        <h3>{{proposal.title}}</h3>
        <dl class="dl-horizontal">
            <dt>Status</dt>
            <dd>
                {% if previous_vote.state == 'voted' %}
                    Voted
                {% elif previous_vote.state == 'recused' %}
                    You chose not to vote on this proposal
                {% elif previous_vote.state == 'blocked' %}
                    Await feedback from Admin/proposer
                {% endif %}
            </dd>
            <dt>Your vote</dt>
            <dd>
                {% if previous_vote.state == 'voted' %}
                    {% if previous_vote.vote == 0 %}
                        Bad
                    {% elif previous_vote.vote == 1 %}
                        OK
                    {% elif previous_vote.vote == 2 %}
                        Excellent
                    {% endif %}
                {% else %}
                    --
                {% endif %}
            </dd>
            <dt>Note</dt><dd>{{previous_vote.note or '--'}}</dd>
            {%- if proposal.type == 'workshop' and proposal.cost -%}
                <dt>Cost per attendee</dt><dd>{{ proposal.cost }}</dd>
            {%- endif -%}
            <dt>Description</dt><dd class="multiline">{{ proposal.description }}</dd>
        </dl>
        <div class="pull-right">
            <form method="POST" action="{{ url_for('.review_proposal', proposal_id=proposal.id) }}">
                {{ form.hidden_tag() }}
                {{ form.change(class_="btn btn-danger debounce") }}
                <a href="{{ url_for('.review_list') }}" class="btn btn-default">
                    Back
                </a>
            </form>
        </div>
    </div>
{% else %}
    <div class="col-md-7">
        <h4>Proposal: {{proposal.type | capitalize}}</h4>
        <h3>{{proposal.title}}</h3>
        <div>&nbsp;</div>
        {%- if proposal.type == 'workshop' and proposal.cost -%}
            <div><strong>Cost per attendee:</strong> {{ proposal.cost }}</div>
            <div>&nbsp;</div>
        {%- endif -%}
        <div class="multiline">{{ proposal.description }}</div>
        <div>&nbsp;</div>
    </div>


    <form method="post"
        action="{{ url_for('.review_proposal', proposal_id=proposal.id) }}"
        class="form-horizontal shrink col-md-5 col-xs-12"
    >
        <div class="col-xs-12">
            <div>&nbsp;</div>
            {{ form.hidden_tag() }}
            <div>I think this proposal is:</div>
            <div>&nbsp;</div>
            <div class="btn-group btn-group-justified">
                <div class="btn-group">
                    {{ form.vote_bad(class_="btn btn-success debounce", tabindex=1) }}
                </div>
                <div class="btn-group">
                    {{ form.vote_ok(class_="btn btn-success debounce", tabindex=2) }}
                </div>
                <div class="btn-group">
                    {{ form.vote_excellent(class_="btn btn-success debounce", tabindex=3) }}
                </div>
            </div>
            <div>&nbsp;</div>
            {{ render_field(form.note, rows=4, tabindex=3) }}
        </div>
        <div class="col-xs-12 btn-group-vertical">
            {{ form.recuse(class_="btn btn-danger debounce", tabindex=4) }}
            {{ form.question(class_="btn btn-info debounce", tabindex=5) }}
        </div>
        <div class="col-xs-12">&nbsp;</div>
        <div class="col-xs-12 btn-group-vertical">
            {% if next_id %}
                <a href="{{ url_for('.review_proposal', proposal_id=next_id) }}" class="btn btn-default">
                    View next proposal
                </a>
            {% endif %}
            <a href="{{ url_for('.review_list') }}" class="btn btn-default">
                View all proposals ({{ remaining }} un-reviewed)
            </a>
        </div>
    </form>
{% endif %}

{% endblock %}
