{% extends "cfp_review/base.html" %}
{% block body %}
<h2>Review Proposals</h2>

<p>
    This page {% if to_review %}shows{% else %}will show{% endif %}
    a selection of proposals to review. To begin reviewing, click on a proposal.
</p>

<p>
    There are three responses you can give:
    <ul>
        <li>
            <strong>Vote</strong> - you can include some feedback for us at the same time.
        </li>
        <li>
            <strong>Do not vote</strong> - if you can identify the
            proposer or have another conflict of interest. Please include a brief explanation.
        </li>
        <li>
            <strong>Request information</strong> - if you need to know more.
            We'll follow up as appropriate, and the proposal will be added
            back to your <a href="#reviewed-table">requires review</a> list.
        </li>
    </ul>
</p>

<p>
    If, at any time, you'd like to change your response to a proposal, click on it
    in the <a href="#reviewed-table">previously reviewed</a> list.
</p>
<p>
    Proposals that have been updated since your last visit will be highlighted in <span class="label label-info">blue.</span>
</p>

<a id="to-review-table"></a>
<h3>Requires Review ({{ to_review | length }})</h3>

<form action={{ url_for('cfp_review.review_list') }} method="post" role="form">
{{ form.hidden_tag() }}
<table class="table">
    <tr>
        <th class="col-md-1">Type</th>
        <th>Title</th>
        <th>Description</th>
    </tr>
{% if to_review %}
{% for proposal in to_review %}
    <tr {%- if proposal.is_new %} class="info" {%- endif %}>
        <td>{{ proposal.human_type | capitalize }}</td>
        <td><a href="{{ url_for('.review_proposal', proposal_id=proposal.id) }}">{{proposal.title}}</a></td>
        <td>{{ proposal.description | truncate(100) }}</td>
    </tr>
{% endfor %}
    <tr><td colspan="4" class="text-center">{{ form.reload_proposals(class_="btn btn-info") }}</td></tr>
{% else %}
    <tr><td colspan="4" class="text-center">No proposals to review</td></tr>
    <tr><td colspan="4" class="text-center">{{ form.show_proposals(class_="btn btn-success") }}</td></tr>
{% endif %}
</table>
</form>

<a id="reviewed-table"></a>
<h3>Previously Reviewed ({{ reviewed | length }})</h3>
<table class="table">
<tr>
    <th class="col-md-1">Date</th>
    <th>Type</th>
    <th>Title</th>
    <th class="col-md-3">Vote</th>
    <th>Note</th>
</tr>
{% for proposal in reviewed %}
    <tr>
        {% set vote = proposal.user_vote %}
        <td>{{ vote.modified.strftime("%d/%m") }}</td>
        <td>{{ proposal.human_type | capitalize }}</td>
        <td><a href="{{ url_for('.review_proposal', proposal_id=proposal.id) }}">{{ proposal.title }}</a></td>
        <td
        {% if vote.state == 'recused' %}
            class="danger"
        {% elif vote.state == 'blocked' %}
            class="info"
        {% endif %}>
            {% if vote.state == 'voted' %}
                {% if vote.vote == 0 %}
                    Bad
                {% elif vote.vote == 1 %}
                    OK
                {% elif vote.vote == 2 %}
                    Excellent
                {% endif %}
            {% elif vote.state == 'recused' %}
                Did not vote
            {% elif vote.state == 'blocked' %}
                Awaiting information
            {% endif %}
        </td>
        <td>
            {% if vote.note %}
                {{ vote.note | truncate(300) }}
            {% else %}
                    --
            {% endif %}
        </td>
    </tr>
{% else %}
    <tr><td colspan="5" class="text-center">No reviewed proposals</td></tr>
{% endfor %}

</table>
{% endblock %}
