{% extends "cfp_review/base.html" %}

{% block body %}
<h2>Schedule Sense Check</h2>

<p>
  Show:
  <a href="{{ url_for('cfp_review.sense_check') }}">All</a> /
  <a href="{{ url_for('cfp_review.sense_check', type='talk') }}">Talk</a> /
  <a href="{{ url_for('cfp_review.sense_check', type='workshop') }}">Workshop</a> /
  <a href="{{ url_for('cfp_review.sense_check', type='youthworkshop') }}">Youth Workshop</a> /
  <a href="{{ url_for('cfp_review.sense_check', type='performance') }}">Performance</a>
</p>

<p>Checked {{ proposals_count }} proposals, found {{ not_sensible_proposals|length }} suspect proposals.</p>

{% if not_sensible_proposals|length > 0 %}
<ul>
{% for proposal, reasons in not_sensible_proposals %}
  <li>
    <h3><a href="{{ url_for('.update_proposal', proposal_id=proposal.id) }}">{{ proposal.display_title }}</a>, {{ proposal.type }} by {{ proposal.user.name }}</h3>
    <ul>
      {% for reason in reasons.values() %}
      <li>{{ reason }}</li>
      {% endfor %}
    </ul>
  </li>
{% endfor %}
</ul>
{% endif %}
{% endblock %}
