{% extends "cfp_review/base.html" %}

{% block body %}
<h2>Schedule Sense Check</h2>

<p>
  Show:
  <a href="{{ url_for('cfp_review.sense_check') }}">All</a> /
  <a href="{{ url_for('cfp_review.sense_check', type='talk') }}">Talk</a> /
  <a href="{{ url_for('cfp_review.sense_check', type='workshop') }}">Workshop</a> /
  <a href="{{ url_for('cfp_review.sense_check', type='youthworkshop') }}">Youth Workshop</a> /
  <a href="{{ url_for('cfp_review.sense_check', type='performance') }}">Performance</a>
</p>

<p>Checked {{ occurrence_count }} schedule items, found {{ not_sensible_occurrences|length }} suspect schedule items.</p>

{% if not_sensible_occurrences|length > 0 %}
<ul>
{% for occurrence, reasons in not_sensible_occurrences %}
  {% set schedule_item = occurrence.schedule_item %}
  <li>
    <h3><a href="{{ url_for('.update_schedule_item', schedule_item_id=schedule_item.id) }}">{{ schedule_item.title }}</a>, {{ schedule_item.type }} by {{ schedule_item.user.name }}</h3>
    <ul>
      {% for reason in reasons.values() %}
      <li>{{ reason }}</li>
      {% endfor %}
    </ul>
  </li>
{% endfor %}
</ul>
{% endif %}
{% endblock %}
