{% from "_formhelpers.html" import render_field, render_dl_field, render_radio_field %}
{% extends "cfp_review/base.html" %}
{% block title %}{{proposal.title}}{% endblock %}
{% block body %}

{% set active='details' %}
{% include "cfp_review/_propsal_tabs.html" %}

<div class="col-md-12">
    <h2>{{proposal.published_title or proposal.title}}<br>
        <small>
            {% if proposal.user_scheduled %}
                An attendee {{proposal.human_type}} by
            {% else %}
                A {{proposal.human_type}} by
            {% endif %}
            <a href="{{ url_for('admin.user', user_id=proposal.user.id) }}">{{proposal.user.name}}</small></a>
    </h2>
</div>
<form method="post" action="{{ url_for('.update_proposal', proposal_id=proposal.id) }}" class="shrink">
    {{ form.hidden_tag() }}
    <div class="col-md-8">
        <dl class="dl-horizontal">
            <dt>Submitted</dt>
            <dd>{{proposal.created.strftime("%Y-%m-%d %H:%M")}}</dd>
            <dt>E-Mail</dt>
            <dd>{{proposal.user.email}}</dd>
            {% if proposal.anonymiser_id %}
            <dt>Anoymised by</dt>
            <dd>{{ proposal.anonymiser.name }}</dd>
            {% endif %}
            <dt>Num favourites</dt>
            <dd>{{ proposal.favourite_count }}</dd>
            {{ render_dl_field(form.state) }}
            {{ render_dl_field(form.title) }}
            {{ render_dl_field(form.description, rows=8) }}
            {{ render_dl_field(form.tags) }}
            {{ render_dl_field(form.requirements, rows=3) }}
            {{ render_dl_field(form.length) }}
            {{ render_dl_field(form.notice_required) }}
            {{ render_dl_field(form.needs_help) }}
            {{ render_dl_field(form.needs_money) }}
            {{ render_dl_field(form.needs_laptop) }}
            {{ render_dl_field(form.one_day) }}
            {% if proposal.type == 'workshop' or proposal.type == 'youthworkshop' %}
                {{ render_dl_field(form.attendees) }}
                {{ render_dl_field(form.cost) }}
                {{ render_dl_field(form.participant_equipment) }}
                {{ render_dl_field(form.age_range) }}
                {% if proposal.type == 'youthworkshop' %}
                    {{ render_dl_field(form.valid_dbs) }}
                {% endif %}
            {% elif proposal.type == 'installation' %}
                {{ render_dl_field(form.size) }}
                {{ render_dl_field(form.funds) }}
            {% endif %}
            {{ render_dl_field(form.will_have_ticket) }}
        </dl>
        <h4>Scheduling</h4>
            <dl class="dl-horizontal">
                {% if proposal.type == "lightning" %}
                    {{ render_dl_field(form.session) }}
                    {{ render_dl_field(form.slide_link) }}
                {% else %}
                    {{ render_dl_field(form.user_scheduled) }}
                    {{ render_dl_field(form.hide_from_schedule) }}
                    {{ render_dl_field(form.allowed_venues) }}
                    {{ render_dl_field(form.allowed_times) }}
                    {{ render_dl_field(form.scheduled_duration) }}
                    {{ render_dl_field(form.scheduled_venue) }}
                    {{ render_dl_field(form.scheduled_time) }}
                    {{ render_dl_field(form.potential_venue) }}
                    {{ render_dl_field(form.potential_time) }}
                {% endif %}
            </dl>
        {% if proposal.state in ('accepted', 'finished') %}
        <h4>User schedule published details</h4>
            <dl class="dl-horizontal">
                {{ render_dl_field(form.published_names) }}
                {{ render_dl_field(form.published_pronouns) }}
                {{ render_dl_field(form.published_title) }}
                {{ render_dl_field(form.published_description, rows=4) }}
                {{ render_dl_field(form.content_note) }}
                {{ render_dl_field(form.family_friendly, rows=4) }}
                {% if proposal.type == 'workshop' or proposal.type == 'youthworkshop' %}
                    {{ render_dl_field(form.published_age_range) }}
                    {{ render_dl_field(form.published_cost) }}
                    {{ render_dl_field(form.published_participant_equipment) }}
                {% endif %}
            </dl>
        <h4>User scheduling information</h4>
            <dl class="dl-horizontal">
                {{ render_dl_field(form.telephone_number) }}
                {{ render_dl_field(form.eventphone_number) }}
                {% if proposal.type == 'talk' %}
                    {{ render_dl_field(form.may_record) }}
                    {{ render_radio_field(form.needs_laptop) }}
                {% endif %}
                {{ render_dl_field(form.arrival_period) }}
                {{ render_dl_field(form.departure_period) }}
                {{ render_dl_field(form.available_times) }}
            </dl>
        {% endif %}
        {{ form.update(class_="btn btn-primary debounce", tabindex=1) }}
    </div>
    <div class="col-md-4 col-xs-12" role="group">
        <h4>Proposal actions</h4>
        <div class="btn-group-vertical" role="group">
            {% if proposal.state == 'new' %}
                {{ form.checked(class_="btn btn-success debounce", tabindex=2) }}
            {% endif %}
            {{ form.accept(class_="btn btn-danger debounce", tabindex=3) }}
            {{ form.reject_with_message(class_="btn btn-danger debounce", tabindex=4) }}
            {{ form.reject(class_="btn btn-danger debounce", tabindex=3) }}
            <a href="{{ url_for('.convert_proposal', proposal_id=proposal.id) }}"
                    class="btn btn-warning">
                Convert proposal
            </a>
            <a href="{{ url_for('.proposal_change_owner', proposal_id=proposal.id) }}"
                    class="btn btn-warning">
                Change proposal owner
            </a>

            {% if next_id %}
                <a href="{{ url_for('.update_proposal', proposal_id=next_id, **full_qs) }}"
                    class="btn btn-default">
                    Next proposal
                </a>
            {% else %}
                <a href="{{ url_for('.proposals', **full_qs) }}"
                    class="btn btn-default">
                    All proposals
                </a>
            {% endif %}
        </div>
    </div>
</form>

{% endblock %}
