{% from "_formhelpers.html" import render_field, render_dl_field %}

{% extends "cfp_review/base.html" %}
{% block body %}

{% set active='details' %}
{% include "cfp_review/_propsal_tabs.html" %}

<div>&nbsp;</div>
<form method="post" action="{{ url_for('.update_proposal', proposal_id=proposal.id) }}" class="shrink">
{{ form.hidden_tag() }}
    <div class="col-md-8">
        <h2>{{proposal.title}} <small>by {{proposal.user.name}}</small></h2>
        <dl class="dl-horizontal">
            <dt>Date</dt>
            <dd>{{proposal.created.strftime("%Y-%m-%d %H:%M")}}</dd>
            <dt>Submitter</dt>
            <dd>{{proposal.user.name}}</dd>
            <dt>E-Mail</dt>
            <dd>{{proposal.user.email}}</dd>
            <dt>Anoymised by</dt>
            <dd>
                {% if proposal.anonymiser_id %}
                    {{ proposal.anonymiser.name }}
                {% else %}
                    --
                {% endif %}
            </dd>
            <dt>Type</dt>
            <dd>{{proposal.type}}</dd>
            {{ render_dl_field(form.state) }}
            {{ render_dl_field(form.title) }}
            {{ render_dl_field(form.description, rows=10) }}
            {{ render_dl_field(form.requirements, rows=5) }}
            {{ render_dl_field(form.length) }}
            {{ render_dl_field(form.notice_required) }}
            {{ render_dl_field(form.needs_help) }}
            {{ render_dl_field(form.needs_money) }}
            {{ render_dl_field(form.one_day) }}
            {% if proposal.type == 'workshop' %}
                {{ render_dl_field(form.attendees) }}
                {{ render_dl_field(form.cost) }}
            {% elif proposal.type == 'installation' %}
                {{ render_dl_field(form.size) }}
                {{ render_dl_field(form.funds) }}
            {% endif %}
        </dl>
    </div>
    <div class="col-md-4 col-xs-12 btn-group-vertical" role="group">
        <div>&nbsp;</div>
        {% if proposal.state == 'locked' %}
            {{ form.checked(class_="btn btn-success debounce", tabindex=2) }}
            {{ form.reject(class_="btn btn-danger debounce", tabindex=3) }}
        {% endif %}
        {{ form.update(class_="btn btn-danger debounce", tabindex=4) }}
        {{ form.accept(class_="btn btn-danger debounce", tabindex=4) }}
        {{ form.reject_with_message(class_="btn btn-danger debounce", tabindex=4) }}

        {% if next_id %}
            <a href="{{ url_for('.update_proposal', proposal_id=next_id) }}"
                class="btn btn-default">
                Next {{proposal.state}} proposal
            </a>
        {% else %}
            <a href="{{ url_for('.proposals', state=proposal.state) }}"
                class="btn btn-default">
                All remaining {{proposal.state}} proposals
            </a>
        {% endif %}
    </div>
</form>

{% endblock %}
