{% extends "cfp_review/base.html" %}
{% block body %}

{% set qs_all = 'all' in request.args or None %}
{% set qs_reverse = request.args.get('reverse') %}
{% set qs_sort_by = request.args.get('sort_by') %}

<h2>Votes summary <small>(showing {{ proposals_with_counts | count }})</small></h2>
<p>
{% if qs_all %}
    <a href="{{ url_for('.vote_summary', reverse=qs_reverse, sort_by=qs_sort_by) }}">Hide All Votes</a>
    (only show votes on anonymised proposals)
{% else %}
    <a href="{{ url_for('.vote_summary', reverse=qs_reverse, sort_by=qs_sort_by, all=True) }}">Show All Votes</a>
    (currently only showing votes on anonymised proposals)
{% endif %}
</p>

<div class="row">
    <div class="col-md-6">
        <h4>Votes</h4>
        <dl class="dl-horizontal">
            <dt>Min</dt>
            <dd>{{ summary.get('min_votes', 0) }}</dd>
            <dt>Max</dt>
            <dd>{{ summary.get('max_votes', 0) }}</dd>
            <dt>Ave</dt>
            <dd>{% if proposals_with_counts %}{{ (summary.get('votes_total', 0) / (proposals_with_counts | count) ) | round }}{% endif %}</dd>
            <dt>Total</dt>
            <dd>{{ summary.get('votes_total', 0)}}</dd>
        </dl>
    </div>
    <div class="col-md-6">
        <h4>Status</h4>
        <dl class="dl-horizontal">
            <dt>Notes</dt><dd>{{ summary.get('notes_unread', 0) }}/{{ summary.get('notes_total', 0) }}</dd>
            <dt>Blocked</dt><dd>{{ summary.get('block_total', 0) }}</dd>
            <dt>Recused</dt><dd>{{ summary.get('recused_total', 0) }}</dd>
        </dl>
    </div>
</div>

<table class="table table-striped">
    <tr>
        {% if not qs_reverse %}
            {% set qs_reverse_new=True %}
        {% else %}
            {% set qs_reverse_new=None %}
        {% endif %}
        <th class="text-center">
            <a href="{{ url_for('.vote_summary', sort_by='date', all=qs_all, reverse=qs_reverse_new) }}">Date</a>
        </th>
        <th class="text-center">
            <a href="{{ url_for('.vote_summary', sort_by='notes', all=qs_all, reverse=qs_reverse_new) }}">Notes</a>
        </th>
        <th class="text-center">
            <a href="{{ url_for('.vote_summary', sort_by='votes', all=qs_all, reverse=qs_reverse_new) }}">Votes</a>
        </th>
        <th class="text-center">
            <a href="{{ url_for('.vote_summary', sort_by='blocked', all=qs_all, reverse=qs_reverse_new) }}">Blocked</a>
        </th>
        <th class="text-center">
            <a href="{{ url_for('.vote_summary', sort_by='recused', all=qs_all, reverse=qs_reverse_new) }}">Recused</a>
        </th>
        <th>
            <a href="{{ url_for('.vote_summary', sort_by='title', all=qs_all, reverse=qs_reverse_new) }}">Proposal Title</a>
        </th>
    </tr>
{% for proposal, counts in proposals_with_counts %}
    <tr>
        <td class="text-center">{{ proposal.created.strftime("%d/%m") }}</td>
        <td class="text-center">
            {{ proposal.get_unread_vote_note_count() }}/{{ proposal.get_total_note_count() }}
        </td>
        <td class="text-center">{{ counts.get('voted', 0) }}</td>
        <td class="text-center">{{ counts.get('blocked', 0) }}</td>
        <td class="text-center">{{ counts.get('recused', 0) }}</td>
        <td>
            <a href="{{ url_for('.proposal_votes', proposal_id=proposal.id) }}">
                {{ proposal.title }}
            </a>
        </td>
    </tr>
{% endfor %}
</table>

{% endblock %}