{% macro pprint_timedelta(dt) %}
{% set total_seconds = dt.total_seconds() %}
{# str(timedelta) -> D days, HH:MM:SS.sss #}
{%- if total_seconds > 86400 -%}
    {{ (total_seconds/86400.0)|round|int }} days
{%- elif total_seconds > 7200 -%}
    {% set hours = (dt|string).split(':')[0] %}
    {{hours|int}} hours
{%- elif total_seconds > 3600 -%}
    {% set hours, minutes, _ = (dt|string).split(':') %}
    {{hours|int}} hour {{minutes|int}} minutes
{%- else -%}
    {% set minutes = (dt|string).split(':')[1] %}
    {{minutes|int}} minutes
{%- endif -%}
{% endmacro %}
