{% from "_formhelpers.html" import render_field %}

{% macro render_diversity_fields(form, current_user) %}

<fieldset>
  <div class="col-sm-12">
    If you're comfortable telling us a little bit about yourself, we'd appreciate it.
    This information will only be summarised and compared with previous years, to find out how well we're doing with outreach.
  </div>
  <div class="col-sm-12">
    <p></p>
    {{ render_field(form.age, True) }}
    {{ render_field(form.gender, True) }}
    {{ render_field(form.ethnicity, True) }}
    {% if current_user.has_permission("cfp_reviewer") %}
      <p>
        Just so we know that we're reflecting our attendees' interests reasonably well:
        please select the three topics that <em>most</em> interest you. Please review
        everything you feel able to, this is purely so we can track if there are areas
        we need to recruit more reviewers.
      </p>
      {{ render_field(form.cfp_tag_0, True) }}
      {{ render_field(form.cfp_tag_1, True) }}
      {{ render_field(form.cfp_tag_2, True) }}
    {% endif %}
  </div>
</fieldset>
{% endmacro %}
