{% macro render_field(field, horizontal=False, glyphicon_before=None, glyphicon_after=None, word_limit=None) %}

{% if caller %}
    {% set help_text = caller() %}
{% endif %}

{% if horizontal == True %}
    {% set horizontal = 10 %}
{% endif %}

{% if horizontal != False %}
    {% set labelw = 12 - horizontal %}
    {% set fieldw = horizontal %}
{% endif %}

{% if help_text or field.errors %}
    {# If we have help text, add an aria-describedby attribute to the field. #}
    {% do kwargs.update({'aria-describedby': "help-block-" + field.name}) %}
{% endif %}

{% if word_limit %}
  {% do kwargs.update({'data-word-limit': word_limit}) %}
{% endif %}

<div class="form-group {%- if field.errors %} has-error {%- endif %}">
    <label for="{{ field.name }}" class="{% if horizontal -%} col-sm-{{labelw}} {% endif -%} control-label">
        {{ field.label.text }}
    </label>
    <div class="{% if horizontal -%} col-sm-{{fieldw}} {% endif -%} controls">
        {%- if glyphicon_before or glyphicon_after %}
        <div class="input-group">
            {%- if glyphicon_before%}
            <span class="glyphicon glyphicon-{{ glyphicon_before }} input-group-addon"></span>
            {%- endif %}
            {{ field(class_='form-control', **kwargs)|safe }}
            {%- if glyphicon_after %}
            <span class="glyphicon glyphicon-{{ glyphicon_after }} input-group-addon"></span>
            {%- endif %}
        </div>
        {% else %}
            {{ field(class_='form-control', **kwargs)|safe }}
            {%- endif %}
        {% if field.errors %}
            {% for error in field.errors %}
            <p class="help-block" id="help-block-{{field.name}}">{{ error }}</pa>
              {% endfor %}
        {% elif help_text %}
            <p class="help-block" id="help-block-{{field.name}}">{{ help_text }}</p>
        {% endif -%}
        {% if word_limit %}
          <p class="help-block" id="word-limit-{{field.name}}"></p>
        {% endif %}
    </div>
</div>
{% endmacro %}

{% macro render_static(field, horizontal=False) %}

{% if caller %}
    {% set help_text = caller() %}
{% endif %}

{% if horizontal == True %}
    {% set horizontal = 10 %}
{% endif %}

{% if horizontal != False %}
    {% set labelw = 12 - horizontal %}
    {% set fieldw = horizontal %}
{% endif %}

{% if help_text or field.errors %}
    {# If we have help text, add an aria-describedby attribute to the field. #}
    {% do kwargs.update({'aria-describedby': "help-block-" + field.name}) %}
{% endif %}

<div class="form-group {%- if field.errors %} has-error {%- endif %}">
    <label class="{% if horizontal -%} col-sm-{{labelw}} {% endif -%} control-label">
        {{ field.label.text }}
    </label>
    <div class="{% if horizontal -%} col-sm-{{fieldw}} {% endif -%} controls">
        {{ field(**kwargs)|safe }}
        {% if field.errors %}
            {% for error in field.errors %}
            <p class="help-block" id="help-block-{{field.name}}">{{ error }}</pa>
              {% endfor %}
        {% elif help_text %}
            <p class="help-block" id="help-block-{{field.name}}">{{ help_text }}</p>
        {% endif -%}
    </div>
</div>
{% endmacro %}


{% macro render_dl_field(field) %}
{% if field.errors %}
    {# If we have help text, add an aria-describedby attribute to the field. #}
    {% do kwargs.update({'aria-describedby': "help-block-" + field.name}) %}
{% endif %}

<dt><label for="{{ field.name }}" class="control-label">
    {{ field.label.text }}
</label></dt>
<dd {%- if field.errors %} class="has-error" {%- endif %}>
    {{ field(class_='form-control', **kwargs) | safe }}
    {% if field.errors %}
        {% for error in field.errors %}
            <p class="help-block" id="help-block-{{ field.name }}">{{ error }}</p>
        {% endfor %}
    {% endif %}
</dd>

{% endmacro %}
