{% macro render_tickets(tickets, classname, pdf, table, png) %}
  {% if pdf or table %}
    {# xhtml2pdf doesn't support loads of CSS, and cascades
       padding, width and display weirdly. Fall back to tables. #}

    <div class="{{ classname }}">
      {{ caller() }}
      <table>
        {% for t in tickets %}
          <tr class="ticket">
            <td class="type ticket-with-blurb">
              <b>{{ t.type.name }}</b>
            </td>
          </tr>
        {% endfor %}
      </table>
    </div>
  {% else %}
    <div class="{{ classname }}">
      {% for t in tickets %}
        {% if loop.index == 1 %}
          {# Few browsers support page-break-after: avoid #}
          <div class="ticket-with-blurb">
            {{ caller() }}
        {% endif %}

          <div class="ticket">
            <div class="col-sm-5 col-sm-offset-1 type">
              <b>{{ t.type.name }}</b>
            </div>
          </div>

        {% if loop.index == 1 %}
          </div>
        {% endif %}
      {% endfor %}
    </div>
  {% endif %}
{% endmacro %}


{% macro render_header(user, qrcode_string, use_img) %}
  <h2>
    <img src="{{ url_for('static', filename='images/logo_only_black.png') }}" class="logo" width="90"/>
    Electromagnetic Field 2016
  </h2>
  <div>
    <h3>{{ user.name }} &ndash; {{ user.email }}</h3>
    <div class="qr">
      {% if use_img %}
        <img src="{{ url_for('tickets.tickets_qrcode', code=qrcode_string, ignore_safechar=True) }}">
      {% else %}
        {{ qrcode_string | safe}}
      {% endif %}
    </div>
  </div>
{% endmacro %}
