{% extends "base.html" %}
{% block title %}About{% endblock %}
{% block body %}
<div id="about-page">
<h2>About Electromagnetic Field</h2>
<p>Imagine a camping festival with a power grid and high-speed internet
access; a temporary village of geeks, crafters, and technology enthusiasts
that's lit up by night, and buzzing with activity during the day.
Over a thousand curious people will descend on our
<a href="https://www.emfcamp.org/code-of-conduct">friendly open space</a> to learn,
share, and talk about what they love.</p>

<div class="row">
    <img class="img-responsive md-col-12" src="{{ url_for('static', filename='images/about/about_1.jpg') }}">
</div>

<p>Over a long weekend, you can expect to see a huge variety of talks across three stages,
a slew of workshops, as well as music, games, and installations dotted around the site.</p>

<p>At previous events we've heard talks about everything from genetic modification to electronics,
blacksmithing to high-energy physics, reverse engineering to lock picking, computer security to crocheting,
and quadcopters to brewing. For full details, you can check out the programmes from
<a href="{{url_for('base.talks_2012')}}">2012</a> and <a href="{{url_for('base.talks_2014')}}">2014</a>.</p>

<div class="row">
    <img class="img-responsive md-col-12" src="{{ url_for('static', filename='images/about/about_3.jpg')}}">
</div>

<p>We're inviting attendees to set up their own <a href="https://wiki.emfcamp.org/wiki/Villages">villages</a>
&mdash; camps within the camp &mdash;
where like-minded people can camp together and put on their own activities. Our hard-working team
of volunteers will supply you with power and internet to your tent.</p>

<p>We're working to provide the field with a fast, reliable internet connection.
You'll also be able to take advantage of our well-stocked bar selling great beer, cider, and
soft drinks at distinctly non-festival prices. Sadly we can't get hold of the motorway
bridge that housed the bar in 2012.</p>

<div class="row">
    <img class="img-responsive md-col-12" src="{{ url_for('static', filename='images/about/about_2.jpg')}}">
</div>

<p>When you arrive, you'll be issued with a conference badge unlike any you've seen before. Our
badge is a full-blown microcontroller with an LCD screen and wireless connectivity.
After the event, instead of sitting in a drawer, it's fully reprogrammable to do whatever you want.
</p>

<div class="row">
    <img class="img-responsive md-col-12" src="{{ url_for('static', filename='images/about/about_4.jpg')}}">
</div>

<p>We want EMF to be as family-friendly as possible: in 2014, thanks to our generous sponsors,
we were able to provide free childcare and in 2016 we're trying to do the same again.</p>

<p>What makes Electromagnetic Field unique is that everything is created by attendees like you.
The entire event &mdash; stewarding, water, electricity, internet, stages, toilets, and the bar &mdash;
is organised by a dedicated team of volunteers, and everyone who turns up does their part to
make the event an amazing place to be for a weekend.
We're a non-profit organisation, so every penny you spend on your ticket goes towards making the event happen.</p>

<div class="row">
    <img class="img-responsive md-col-12" src="{{ url_for('static', filename='images/about/about_5.jpg')}}">
</div>

<p>Expect to run into
<a href="http://jarkman.co.uk/catalog/random/emfsporks.htm">spork-making workshops</a>,
<a href="https://www.youtube.com/watch?v=g6_wwhCvkdU">bottle rocket launches</a>,
high altitude balloon releases,
<a href="http://msraynsford.blogspot.co.uk/2012/09/distance-range-finder.html">ad-hoc music installations</a>
and so much more.</p>

<p>Here's what <a href="http://www.bbc.co.uk/news/technology-19441861">BBC News had to say</a> when they visited EMF.</p>

<p>We hope we've given you a taste of what EMF is all about, but you have to be there
to experience it all.</p>

{% if SITE_STATE == 'sales' and SALES_STATE == 'available' %}
<div class="well">
    Tickets are now on sale for EMF 2016 - <a href="{{url_for('tickets.choose')}}">get yours now</a>!
</div>
{% endif %}
</div>
{% endblock %}
