{% from "_formhelpers.html" import render_field %}
{% extends "base.html" %}
{% block title %}My Account{% endblock %}
{% block body %}
<h2>Account</h2>

<nav>
  <ul class="nav nav-pills">
    <li><a href="{{ url_for('tickets.main') }}">Your tickets</a></li>
    <li><a href="{{ url_for('tickets.choose') }}">Buy tickets</a></li>
    <li><a href="{{ url_for('cfp.proposals') }}">Your CFP proposals</a></li>
    <li><a href="{{ url_for('cfp.main') }}">Submit a CFP proposal</a></li>
  </ul>
</nav>
<p>&nbsp;</p>
<h3>Your details</h3>

<form method="post" class="form-horizontal col-md-12">
  {{ form.hidden_tag() }}
  <fieldset>
    <div class="panel panel-default">
      <div class="panel-heading">
        <p>If you've made a submission to the CFP then your name (as it's set here) will be used
                in the schedule.</p>
        <p>If you're comfortable telling us a little bit about yourself, we'd appreciate it.
                This information will only be used it to find out how well we're doing with outreach.</p>
      </div>
      <div class="row">
        <div id="diversity" class="col-md-11">
          <div class="form-group">
            <label for="fake-email-field" class="horizontal col-sm-2 control-label">Email</label>
            <div class="col-sm-10 ">
              <p class="form-control-static">{{ current_user.email }}</p>
            </div>
          </div>
          {{ render_field(form.name, True) }}
          {{ render_field(form.age, True) }}
          {{ render_field(form.gender, True) }}
          {{ render_field(form.ethnicity, True) }}
          {{ form.forward(class_="btn btn-default pull-right", style="margin-bottom: 15px;") }}
        </div>
      </div>
    </div>
  </fieldset>
</form>
{% endblock %}
