{% from "_formhelpers.html" import render_field %}
{% extends "base.html" %}
{% block body %}
<H1>Confirm Manual payment Reconciliation:</H1>

<ul>
<li>Id: {{ payment.id }}</li>
<li>Ref: {{ payment.bankref }}</li>
<li>Username: {{ payment.user.name }}</li>
<li>Email: {{ payment.user.email }}</li>
<li>Price: {{ format_price(payment.amount) }}</li>
</ul>

<form method=post action="{{ url_for('manual_reconcile') }}">
{{ ynform.hidden_tag() }}
{{ ynform.yes() }}
{{ ynform.no() }}
</form>

<p>Back to <a href="{{ url_for('admin') }}">admin things</a>.</p>

{% endblock %}
