<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Electromagnetic Field</title>
        {% assets "css_all" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}">
        {% endassets %}
        {% block head %}{% endblock %}

        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <link rel="shortcut icon" href="/favicon.ico">
    </head>
<body>
<div class="container">
    <div id="hd">
        <h1><a href="/">Electromagnetic Field</a></h1>
        <p>(a three-day UK hacker camp in summer 2012)</p>
    </div>
    <div id="bd">
        <div>
            {% for message in get_flashed_messages() %}
            <div class="flash">{{ message }}</div>
            {% endfor %}
            {% block body %}{% endblock %}
        </div>
    </div>
    <footer class="footer">
        Electromagnetic Field Ltd. 2012. <a href="{{url_for('company')}}">Company details</a>. Kindly hosted by <a href="http://bitfolk.com/">Bitfolk</a>.
        {% if current_user.is_authenticated() %}
        <a class="logout" href="{{ url_for('logout') }}">Log out</a>
        {% endif %}
    </footer>
</div>

{% assets "js_all" %}
<script type="text/javascript" src="{{ ASSET_URL }}" />
{% endassets %}

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-28044531-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</body>
</html>
