<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Electromagnetic Field{% endblock %}</title>
        <meta property="fb:admins" content="286100493"/>
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        {% assets "css_all" -%}
        <link rel="stylesheet" href="{{ ASSET_URL }}">
        {% endassets -%}
        {% block head -%}{% endblock -%}
        <!--[if lt IE 9]>
              <script src="//oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
              <script src="//oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->
        <link rel="shortcut icon" href="/favicon.ico">
    </head>
<body>
{% block document %}
<div class="container">
    <div class="main-row">
       <div class="col-md-10 col-md-offset-1 main-column">
        <header>
          <h1><a href="/"><div id="logo" alt="Logo"></div></a></h1>
          <div id="header-text">August 29<sup>th</sup>&ndash;31<sup>st</sup> 2014<br/>
               Bletchley, UK</div>

          <div id="menu-container">
            <ul class="menu">
              <li><a href="{{ url_for('about') }}">About</a>
              <li><a target="_blank" href="https://wiki.emfcamp.org/view/FAQ">FAQ</a>
              <li><a href="{{ url_for('tickets_choose') }}">Buy Tickets</a>
              <li><a href="{{ url_for('cfp') }}">Give a Talk</a>
              <li><a target="_blank" href="https://wiki.emfcamp.org/wiki/Villages">Villages</a>
            </ul>
          </div>
          <div style="clear:both"></div>
        </header>
          <div id="main-content">
              {% for message in get_flashed_messages() -%}
                  <div>{{ message }}</div>
              {% endfor -%}
              {% block body -%}{% endblock -%}
              <div class="push"></div>
            </div>
        <footer>
          <div id="bottom-menu-container">
            <ul class="menu">
              <li><a href="https://wiki.emfcamp.org">Wiki</a>

            {% if current_user.is_authenticated() %}
              <li><a href="{{ url_for('tickets') }}">My tickets</a></li>
              <li><a href="{{ url_for('logout') }}">Log out</a></li>
            {% else %}
              <li><a href="{{ url_for('login') }}">Log in</a></li>
            {% endif %}
            </ul>
            <div class="share">
              <a href="http://twitter.com/emfcamp">@emfcamp</a> |  <a href="https://www.facebook.com/emfcamp">facebook.com/emfcamp</a>
            </div>
            <div style="clear: both"></div>
          </div>
          <div id="credits">
            <p>&copy; 2014 <a href="{{url_for('company')}}">Electromagnetic Field</a>.
            Kindly hosted by <a href="http://bitfolk.com/">Bitfolk</a>.
            </p>
          </div>
        </footer>
      </div>
    </div>
</div>
{% endblock %}
<script src="//code.jquery.com/jquery-1.10.1.min.js"></script>
<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
{% block foot -%}{% endblock -%}
{% if not config.get('DEBUG') and request.headers.get('dnt') != '1' %}
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
     (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
       m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
         })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
   ga('create', 'UA-28044531-1', 'emfcamp.org');
   ga('send', 'pageview');
</script>
{% endif %}
</body>
</html>
