<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock %}{% if self.title() %} - {% endif %}Electromagnetic Field</title>
        {% if self.title() -%}
          <meta property="og:title" content="{{self.title()}}">
        {% endif -%}
        <meta property="fb:admins" content="286100493">
        <meta property="og:site_name" content="Electromagnetic Field" />
        <meta property="og:locale" content="en_GB" />
        {% if self.description() -%}
        <meta property="og:type" content="website">
        <meta property="og:description" content="{{ self.description() }}">
        <meta name="description" content="{% block description %}{% endblock %}">
        <meta name="twitter:card" content="{% block twitter_card %}summary{% endblock %}">
        {% endif -%}
        <meta name="twitter:site" content="@emfcamp">
        <meta name="theme-color" content="#171123">
        <link rel="shortcut icon" type="image/x-icon" href="{{ static_url_for('static', filename='images/favicon.ico') }}">
        <link rel="manifest" href="{{ static_url_for('static', filename='manifest.json') }}">
        <link rel="apple-touch-icon" sizes="180x180" href="{{ static_url_for('static', filename='images/pwa/icon.png') }}">
        {% block css -%}
        <link rel="stylesheet" href="{{ static_url_for('static', filename="css/main.css") }}">
        {% endblock -%}
        {% block head -%}{% endblock -%}
        {# Set the canonical URL to the base URL without parameters.
           We shouldn't be using parameters for anything important. #}
        {%- if request -%}
        <link rel="canonical" href="{{request.base_url}}">
        {%- endif -%}
    </head>
<body itemscope itemtype="http://schema.org/WebPage">
{% if config['STAGING_WARNING'] %}
{# Show a banner on systems that aren't in debug mode (e.g. emfcamp-test.org) #}
<div class="non-prod-banner alert-warning">This is not the production site. Please <a href="https://www.emfcamp.org/">click here</a> to learn more about Electromagnetic Field.</div>
{% endif %}
{% block document %}
  <div id="emf-container">
    {% include "_nav.html" %}
    <div class="main-row emf-row">
        {% if self.secondary_nav() %}
        <div class="secondary-nav emf-col">
          {% block secondary_nav %}{% endblock %}
        </div>
        {% endif %}
        <div id="main-content" class="emf-col {{ main_class }}" role="main" {% if self.content_scope() -%}
              itemscope itemtype="{% block content_scope %}{% endblock %}"
          {%- endif %}>
            {% for message in get_flashed_messages() -%}
                <div class="alert alert-warning">{{ message }}</div>
            {% endfor -%}
            {% block body -%}{% endblock -%}
        </div>
    </div>
    {% include "_footer.html" %}
  </div>
{% endblock %}
<script src="{{static_url_for('static', filename="js/main.js")}}"></script>
{% block foot -%}{% endblock -%}
</body>
</html>
