{% extends "base.html" %}
{% block title %}Branding{% endblock %}
{% block body %}
<h2>Name</h2>

<p>The name of the event is <strong>Electromagnetic Field</strong>, which should always be
written out in full initially, where possible. It should be abbreviated to <strong>EMF</strong> or
<strong>EMF{{ event_year }}</strong> subsequently.</p>

<p>The abbreviations <strong>EMF Camp</strong> or <strong>EMFCamp</strong> should never be
used in text when referring to the event. The abbreviation <strong>emfcamp</strong> may be
used only in social media usernames and similar situations, where <strong>EMF</strong> is
unavailable.</p>

<h2>Logo</h2>

<p>Please take a look at our <a href="{{url_for('static', filename='images/branding-2016/brand-guidelines.pdf')}}">
    Brand Guidelines</a> before choosing which logo to use.</p>

<h3>Primary Logo</h3>
<ul>
    <li><a href="{{url_for('static', filename='images/branding-2016/logo.pdf')}}">Vector (PDF)</a></li>
    <li><a href="{{url_for('static', filename='images/branding-2016/logo.dxf')}}">Vector (DXF)</a></li>
    <li><a href="{{url_for('static', filename='images/branding-2016/logo.png')}}">Logo (PNG)</a></li>
    <li><a href="{{url_for('static', filename='images/branding-2016/logo-onbackground.jpg')}}">Logo on image background (JPG)</a></li>
    <li><a href="{{url_for('static', filename='images/branding-2016/logo-white.png')}}">Logo on white background (PNG)</a></li>
</ul>
<h3>Logomark</h3>
<ul>
    <li><a href="{{url_for('static', filename='images/branding-2016/logo-mark.png')}}">Logomark (PNG)</a></li>
    <li><a href="{{url_for('static', filename='images/branding-2016/logo-mark-white.png')}}">Logomark on white background (PNG)</a></li>
</ul>
<h3>Round logo (for stickers etc)</h3>
<ul>
    <li><a href="{{url_for('static', filename='images/branding-2016/logo-round.png')}}">Round Logo (PNG)</a></li>
    <li><a href="{{url_for('static', filename='images/branding-2016/logo-round-white.png')}}">Round Logo on white background (PNG)</a></li>
</ul>

{% endblock %}
