{% macro render_field(field) %}
  <td>{{ field.label }}</td>
  <td> £{{ field.description }} </td>
  <td>{{ field(**kwargs)|safe }}
  {% if field.errors %}
    <ul class=errors>
    {% for error in field.errors %}
      <li>{{ error }}</li>
    {% endfor %}
    </ul>
  {% endif %}
  </td>
{% endmacro %}

{% extends "base.html" %}
{% block body %}
<form method=post>
    	{{ form.hidden_tag() }}
<table class=buyform>
<tr>
<th>Ticket Type</th>
<th>Cost</th>
<th>Amount to Purchase</th>
</tr>
    {% for thing in form %}
    	{% if thing.name == "csrf_token" %}
    	{% else %}
    	<tr class="{{ loop.cycle('buyformtdodd', 'buyformtdeven') }}" >
        {{ render_field(thing) }}
        </tr>
     	{% endif %}
    {% endfor %}
</table>
    <input type=submit name="buy" value="Buy Tickets!">
</form>
{% endblock %}
