{% set main_class = 'cfp-guidance' %}
{% extends "base.html" %}
{% block title %}Call for Participation guidance{% endblock %}
{% block body %}
<div class="cfp-guidance well">

<h2>Call for Participation guidance</h2>

<p>
  We have 3 broad categories of proposal: talks, workshops and installations.
  Some experiences may fall between categories and some outside.
  If this is the case, pick what you feel is most relevant and we'll
  work with you to figure out what's best.
</p>

<dl>
  <a id="talk"></a>
  <dt>Talks</dt>
  <dd>
    We have three fully-equipped amplified stages that can host a person or group
    to speak about something they find awesome.
    This can be anything from an interesting exploit in their favourite
    browser to a history of cheese-making.
  </dd>
    <a id="workshop"></a>
  <dt>Workshops</dt>
  <dd>
    Workshops are generally smaller than talks and involve the attendees
    doing something. Previous workshops have included making titanium sporks,
    a treasure hunt around the site, and knitting.
  </dd>
    <a id="installation"></a>
  <dt>Installations</dt>
  <dd>
    Installations are weekend-long projects. Some are static and brought on
    to the site for people to look at or use.
    At EMF 2014, attendees brought a giant grid of LEDs and a robotic cocktail maker.
  </dd>
</dl>

<a class="collapse-toggle" role="button" data-toggle="collapse" href="#form" aria-expanded="true" aria-controls="#form">
  <h3>The form<small class="glyphicon glyphicon-chevron-down"></small></h3>
</a>
<div class="collapse in" id="form">
  <p>
    If you want to submit a proposal in any of the 3 categories you'll need to fill
    in appropriate CfP form. The forms are broadly the same but there are a few
    differences between them. We'll quickly go over each field so that you know
    what we're after and why.
  </p>

  <p>
    <strong>Note:</strong> when you make a submission it will usually be editable for the
    first 48 hours. After that it'll be locked and sent to our anonymisers (see
    below for details on the full process). If there are any changes you need to
    make after this, don't worry! If your proposal is accepted, you'll have a
    chance to finalise all the details before they're added to our schedule.
  </p>

  <dl>
  <a id="form-name"></a>
    <dt>Name</dt>
    <dd>
      This can help us anonymise your submission, and will be included in
      emails from us. If you would like an
      alternate name to be displayed in the schedule we'll get this from you
      after your proposal has been accepted.
    </dd>
    <a id="form-email"></a>
    <dt>Email (new users only)</dt>
    <dd>
      This is our main method of contacting you, and we'll send links here
      if you need to log in again later.
      This will usually only be visible to our web team.
    </dd>
    <a id="form-title"></a>
    <dt>Title</dt>
    <dd>
      What is your talk/workshop/installation called? Obviously it should give
      some idea about what the proposal is about. We also ask that you keep titles
      reasonably short &ndash; the length of a tweet (140 characters) is a pretty good
      maximum length.
    </dd>
    <a id="form-description"></a>
    <dt>Description</dt>
    <dd>
      More detail on your proposal than you can give in your title. This will be
      anonymised so please don't put in any identifiable details. For example, instead of
      "how we created Emojli", try "what we learnt building a joke app". Our
      anonymisers will be pretty busy so if they can't anonymise your submission
      they may ask for a re-write.
    </dd>
    <a id="form-requirements"></a>
    <dt>Requirements</dt>
    <dd>
      Is there anything you need? We should have everything you need to present,
      but if you need something specific or unusual, we'll look into providing it.
    </dd>
    <a id="form-help"></a>
    <dt>The help checkbox</dt>
    <dd>
      If you're unsure about your submission and would like some help with it or
      if you want some advice on carrying out your submission (e.g. preparing
      slides, running a workshop) tell us! We don't consider lack of experience
      a problem and we welcome those who haven't given talks before.
    </dd>
    <a id="form-funding"></a>
    <dt>The funding checkbox</dt>
    <dd>
      We realise that, workshops and installations especially, can be require
      large investments of time and money. If you feel that you're going to need
      help funding your project tell us, if we can we'll help. We also want to
      know if you're planning to crowdfund any part of your submission so we can
      let our community help as well.
    </dd>
    <a id="form-notice-required"></a>
    <dt>Notice</dt>
    <dd>
      Preparing talks, planning workshops and building installations take time, we
      don't want to waste yours. If you let us know how much notice you require
      to organise your submission we'll do all can to let you know before that
      deadline.
    </dd>
    <a id="form-length"></a>
    <dt>Length (talks and workshops only)</dt>
    <dd>
      We have a limited amount of space and time, by letting us know how long your
      talk or workshop will run for we can figure out where to place you in the
      schedule (this doesn't apply to installations as it's assumed they'll run
      for most of the weekend).
    </dd>
    <a id="form-category"></a>
    <dt>Category (talks only)</dt>
    <dd>
      Talks are our most popular type of submission so rather than have one group
      review every talk we ask that you choose the category that it best fits.
      This helps stop us over-whelming our reviewers. If you're unsure which
      category it fits within just select 'None of the above'.
    </dd>
    <a id="form-attendees"></a>
    <dt>Attendees (workshops only)</dt>
    <dd>
      Workshops are a much more than talks and this often puts a much tighter
      limit on the number of attendees. Estimating the number of people that you
      feel capable of teaching at once will help us organise our schedule.
    </dd>
    <a id="form-cost"></a>
    <dt>Cost (workshops only)</dt>
    <dd>
      Many workshops have a material cost, obviously it is unfair to ask you to
      bear this. Letting us know what this fee is likely to be will help us
      plan.
    </dd>
    <a id="form-size"></a>
    <dt>Size (installations only)</dt>
    <dd>
      Unlike talks and workshops installations have no pre-allocated space, we
      need to allocate it and plan for it. The size requirement doesn't have to be
      incredibly precise but a reasonable estimate allows us to find a good
      place to put it as well as ensure it's viable.
    </dd>
  </dl>
</div>

<a class="collapse-toggle" role="button" data-toggle="collapse" href="#process" aria-expanded="true" aria-controls="#process">
  <h3>The process<small class="glyphicon glyphicon-chevron-down"></small></h3>
</a>
<div class="collapse in" id="process">
  <p>
    We believe diverse views make a better festival. This is why we want people
    from diverse backgrounds to be involved. To help facilitate this we use an
    anonymised review process:
  </p>

  <ol>
    <li>
      You send us your amazing submission.
    </li>
    <li>
      We anonymise it, if we can't we may ask you to re-write bits of it but
      we'll provide as much feedback as we can to make this easy.
    </li>
    <li>
      The anonymised title &amp; description are sent to our reviewers. These are
      a diverse set of people chosen from amongst our community.
    </li>
    <li>
      Each reviewer scores the submissions in their category depending on how
      interested in the topic they are (on a scale of 0 to 4).
    </li>
    <li>
      The scores for each submission are averaged over all reviewers and all the
      submissions in the round are ranked by score.
    </li>
    <li>
      The top 1/rounds-worth of talks are accepted and the submitters alerted,
      in the final round all remaining slots are filled. Submissions that aren't
      accepted are added to later rounds (but their proposers are alerted now).
    </li>
    <li>
      Those whose talks have been accepted have a chance to finalise their
      requirements as well as the title and description of the submission.
    </li>
  </ol>
</div>
</div>
{% endblock %}
