{% from "_formhelpers.html" import render_field %}

{% extends "base.html" %}
{% block body %}
<div class="col-md-2"></div>
<div class="col-md-8">
<h2>Call for Participation</h2>
<p>Electromagnetic Field is a UK camping festival for those with an inquisitive
mind or an interest in making things: hackers, artists, geeks, crafters,
scientists, and engineers. It's happening near Bletchley, Buckinghamshire on
August 29th &mdash; 31st, and tickets are <a href="/">on sale now</a> for about
£95. Our last festival in 2012 had 600 attendees; this year we'll have over
1,200.</p>

<p>We're looking for people to talk, share, and demonstrate the things they
love. We're especially keen to hear from people with <a
href="/diversity">different backgrounds</a> than you'd expect find at a
technology conference. We're not just looking for talks: we also want
installations, workshops, and games.</p>

<p>At previous events we've heard about everything from <b>genetic
  modification</b> to <b>electronics</b>, <b>blacksmithing</b> to
<b>high-energy physics</b>, <b>reverse engineering</b> to <b>lock picking</b>,
<b>computer security</b> to <b>crocheting</b>, and <b>quadcopters</b> to
<b>beer brewing</b>.  </p>

<p>If you're enthusiastic about it, we are too! You don't need to be a
professional or an expert to present: <strong>impostors are
welcome</strong>.</p>

<h3>Selection</h3>

<p>After you submit a proposal, it will be considered anonymously by a diverse
selection panel. We may take into account other factors later on in the process
to see where we can support you.</p>

<p>EMF is a non-profit event run by unpaid volunteers. All of the ticket price
goes towards making the festival a great place to be for a weekend, and
everyone who attends contributes to make it a success.</p>

<p>Because of this, we'd like everyone who participates to buy a ticket, and we
don't have the budget to pay speakers. We have a limited amount of money set aside
to help those who otherwise wouldn't be able to afford to come, or who can only
attend for the day of their talk. Please let us know if that's the case.</p>

<h3>Submit a proposal</h3>
<p>We need a rough idea of what you want to present at EMF, what sort of
resources you'll need, and how long you'll expect it to last. If you need some
help writing your proposal, <a href="mailto:content@emfcamp.org">we're happy to
help</a>. If you're not confident talking we'll help you out however we
can.</p>


{% if not current_user.is_authenticated() %}
<p>If you've already bought a ticket for this year, please <a href="{{ url_for('login') }}">log in</a>.</p>
{% endif %}

<form method="post" class="form-horizontal" role="form">
  <ul class="nav nav-tabs cfp-types">
    {% for cfp_type in cfp_types %}
      {% if cfp_type.code == active_cfp_type %}

      {% else %}
        <li><a href="{{ url_for('cfp', cfp_type=cfp_type.code) }}" data-toggle="{{ cfp_type.code }}">
        {{ cfp_type.name }}
        </a></li>
      {% endif %}
    {% endfor %}
  </ul>

    {{ form.hidden_tag() }}
    {{ render_field(form.name, True, placeholder='The name you want to appear in the schedule') }}
    {{ render_field(form.email, True, placeholder='Email address we can contact you on') }}
    {{ render_field(form.title, True, placeholder='A one-sentence summary (it should fit in a tweet)') }}
    {{ render_field(form.description, True, placeholder='Description and any requirements') }}
    {{ render_field(form.length, True, placeholder='Your best guess, whether in minutes or days') }}
    {{ render_field(form.experience, True) }}
    <p>If you're comfortable telling us a little bit about yourself, we'd appreciate it.
       This information won't be available to the selection panel - we'll only use it to help find out
       how well we're doing with outreach:</p>
    {{ render_field(form.age, True) }}
    {{ render_field(form.gender, True) }}
    {{ render_field(form.race, True) }}

    <div class="form-actions">
      <button type="submit" name="Create" class="btn btn-primary">Submit proposal</button>
    </div>
</form>
</div>
{% endblock %}

{% block foot %}
<script type="text/javascript">
$('.cfp-types a').click(function(e) {
  e.preventDefault();
  $(this).tab('show');
});
</script>
{% endblock %}
