{% extends "base.html" %}
{% block body %}
<div class="alert alert-success">Thanks for your submission!</div>
<div>We'll be in touch by email. If you'd like to submit another talk, just click below.</div>
<div>If you haven't yet bought your tickets, please reserve them now.</div>
<p></p>
<a class="btn btn-default" href="{{ url_for('cfp.main') }}">Add another</a>
{% if feature_enabled('TICKET_SALES') %}
  <a class="btn btn-success" href="{{ url_for('tickets.main') }}">Buy Tickets</a>
{% endif %}
{% endblock %}
