{% extends "base.html" %}
{% block title %}Your proposals{% endblock %}
{% block body %}

<h1>Your proposals</h1>

<table class="table">
  <tr>
    <th>Type</th>
    <th>Length</th>
    <th>Capacity</th>
    <th>Size</th>
  </tr>
  {% set cfp_cycler = cycler('odd', 'even') %}
  {% for sub in proposals %}
  <tr class="{{- cfp_cycler.next() }}">
    <td colspan="4">
      <a href="{{ url_for('.edit_proposal', proposal_id=sub.id) }}">{{ sub.title }}</a> - editable until {{ sub.get_deadline().strftime('%d %B %H:%M')}}.
    </td>
  </tr>
  <tr class="{{- cfp_cycler.next() }}">
    <td>{{ sub.type | title }}</td>
    <td>{{ sub.length or 'N/A'}}</td>
    <td>{{ sub.attendees or 'N/A'}}</td>
    <td>{{ sub.size or 'N/A'}}</td>
  </tr>
  {% endfor %}

</table>

<div class="pull-right">
  <a href="{{ url_for('users.account') }}" class="btn btn-default">Back</a>
  <a href="{{ url_for('cfp.main') }}" class="btn btn-success">Submit a new proposal</a>
</div>

{% endblock %}
