{% extends "base.html" %}
{% block title %}Code of Conduct{% endblock %}
{% block body %}
  <h2>Code of Conduct</h2>

<p>We are committed to making Electromagnetic Field an inclusive and welcoming event.</p>

<p>
   Sadly, technology events have a notorious reputation for harassment. We've set these ground
   rules to make it abundantly clear that this kind of behaviour is not acceptable, so
   that everyone can feel comfortable attending EMF. Everybody in the EMF community is required
   to abide by this code of conduct, both at the event and on any online channels.
</p>

<h3>The Rules</h3>

<p>We do not tolerate abusive, harassment or discriminatory behaviour of any form. Specifically:</p>

<ul>
  <li>Do not engage in homophobic, biphobic, transphobic, racist, ableist, sexist, deliberate misgendering, or
      otherwise prejudiced behaviour.</li>
  <li>Do not discriminate, or slur on previous hackathon/EMF attendance, computing/technology experience, or chosen programming language or tech stack.</li>
  <li>Offensive comments related to gender, gender identity and expression, sexual orientation, disability,
      mental illness, neurotype, physical appearance, body size, race, age, nationality, religion or belief, marital and civil partnership status, pregnancy or carer or parental status, familial status, veteran status, citizenship are not tolerated.</li>
  <li>Unwelcome comments regarding a person’s lifestyle choices and practices, including those related to
      food, health, parenting, drugs, and employment are not tolerated.</li>
  <li>Do not harass people. Stalking, unconsented physical contact, threatening behaviour, and unwanted
      sexual attention is harassment. Dressing or acting in a certain way is not consent.</li>
  <li>You should not use/put on/make sexualised images, clothing/uniforms/costumes, activities, creations, or
      other sexualised materials or environments.</li>
  <li>Everyone's personal space is their own. If you are asked to leave someone alone, or to
      leave their village, you must respect this.</li>
  <li>Some people may not want to be filmed or photographed. You must have consent from anyone
      who is identifiable in a photo.</li>
  <li>Aggression and elitism are not welcome &mdash; nobody should be afraid to ask questions.</li>
</ul>

<h3>Reporting an Incident</h3>

<p>If you are being harassed or witness a breach of this code of conduct,
  you can get in touch with us in the following ways:</p>
<ul>
  <li>Find a member of event staff (they'll be clearly identifiable) and let them know.
  All our volunteer staff will be briefed on how to handle reports.</li>
  <li>Drop us an email at <a href="mailto:{{ config['DUTY_EMAIL'][1] }}">{{ config['DUTY_EMAIL'][1] }}</a>.</li>
</ul>

<h3>Our Response</h3>

<p>
  During our events, we aim to reach a decision on all conduct issues within 12 hours.
   Outside of events, we will initially respond within one week.
</p>
<p>
    All reports will be taken seriously and will be considered in confidence by our
    Conduct &amp; Accessibility team with the involvement of the Directors and
    Duty Site Manager if necessary.
</p>

<p>If we believe you have violated this code of conduct, we will normally issue you with a warning,
with which you are expected to comply. If your behaviour continues, we may eject you from the
event and ban you from any online channels.</p>

<p>Serious breaches, including sexual or physical assault, will result in your immediate ejection from
the event and a ban from all future EMF events. We may involve the police, with the consent of
the victim.</p>

<p style="margin-top: 25px"><small>
  If you have any comments or queries, you can get in touch at
  <a href="mailto:{{ config['CONDUCT_EMAIL'][1] }}">{{ config['CONDUCT_EMAIL'][1] }}</a>.
  This Code of Conduct is licensed under the <a href="https://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 License</a> and was last revised on 2020-02-17.
</small></p>
{% endblock %}
