{% extends "base.html" %}
{% block body %}
<div class="col-md-10">
  <h2>Code of Conduct</h2>
<p>Everyone who visits EMF is required to abide by this code of conduct, both at the event
   and on any online channels.</p>

<p>We are committed to making EMF an inclusive and welcoming event for everyone.
   We will not tolerate harassment of attendees or exclusionary behaviour of any form.
   Specifically:</p>

<ul>
  <li>Do not engage in homophobic, racist, transphobic, ableist, sexist, or otherwise
      exclusionary behavior.</li>
  <li>Do not harass people. Unconsented physical contact or sexual attention is harassment.
      Dressing or acting in a certain way is not consent.</li>
  <li>Aggression and elitism are not welcome - nobody should be afraid to ask questions.</li>
</ul>

<p>If you break these rules, we may expel you from the event without a refund.</p>
<p>If you are being harassed or witness a breach of this code of conduct,
  you can get in touch with us in any of the following ways:</p>
<ul>
  <li>Find a member of event staff (they'll be clearly identifiable) and let them know.
  All our volunteer staff will be briefed on how to handle a harassment situation.</li>
  <li>Drop us an email at <a href="{{ config.get('DUTY_EMAIL')[1] }}">{{ config.get('DUTY_EMAIL')[1] }}</a>.</li>
</ul>
</div>
{% endblock %}
