{% extends "base.html" %}
{% block title %}Code of Conduct - Electromagnetic Field{% endblock %}
{% block body %}
  <h2>Code of Conduct</h2>

<p>We are committed to making Electromagnetic Field an inclusive and welcoming event
   for everyone.
   Technology events have a notorious reputation for harassment, and we want to make
   it abundantly clear that this is not acceptable at EMF.
</p>

<p>Everyone who visits EMF is required to abide by this code of conduct, both at the event
   and on any online channels. We will not tolerate harassment of attendees or
   discriminatory behaviour of any form.
   Specifically:</p>

<ul>
  <li>Do not engage in homophobic, racist, transphobic, ableist, sexist, or otherwise
      prejudiced behaviour.</li>
  <li>Do not harass people. Unconsented physical contact or sexual attention is harassment.
      Dressing or acting in a certain way is not consent.</li>
  <li>EMF is a shared space, but every attendee's personal space is still their own.
      If you asked to leave someone alone, or to leave a village, you are expected to
      respect this.</li>
  <li>Aggression and elitism are not welcome - nobody should be afraid to ask questions.</li>
</ul>

<p>If you break these rules, we may expel you from the event without a refund,
   and we may also ban you from future events run by us.</p>
<p>If you are being harassed or witness a breach of this code of conduct,
  you can get in touch with us in any of the following ways:</p>
<ul>
  <li>Find a member of event staff (they'll be clearly identifiable) and let them know.
  All our volunteer staff will be briefed on how to handle a harassment situation.</li>
  <li>Drop us an email at <a href="mailto:{{ config.get('DUTY_EMAIL')[1] }}">{{ config.get('DUTY_EMAIL')[1] }}</a>.</li>
</ul>
{% endblock %}
