{% extends "base.html" %}
{% block body %}
<div class="span10">
<h2>Contact us</h2>
<p>Want to get in contact? Here's how:</p>
<ul>
	<li><a href="mailto:contact@emfcamp.org">Email us.</a> This is the best way to get hold of us with specific requests, questions  and any offers of help (although please check the <a href="http://wiki.emfcamp.org/wiki/FAQ">FAQ</a> and <a href="{{url_for('get_involved')}}">Get Involved</a> pages first).</li>
    <li><a href="http://twitter.com/emfcamp">@emfcamp</a> is our twitter id and is a good source of news as to what's going on.</li>
	<li><a href="http://www.facebook.com/emfcamp">The Facebook page</a> has a good list of who's planning on coming (in addition to '<a href="{{url_for('participating')}}">Who's Coming</a>'). </li>
    <li><a href="http://groups.google.com/group/uk-hack-camp">Our mailing list</a> contains a lot of discussion as to how the camp will be run as well as being the first place for news. It also acts as a staging post for people to organise their own things within the camp.</li>
    <li><a href="http://webchat.freenode.net/?channels=ukhackcamp">Our IRC channel (irc.freenode.net #ukhackcamp)</a> is where we chat and run things on a day-to-day basis. Feel free to drop in and get to know us.</li>
    <li><a href="http://wiki.emfcamp.org">The wiki</a> contains all our organisational information, minutes, team notes as well as projects pages. If you want to get a feel of what's going on this is an excellent first stop.</li>
    <li><a href="http://blog.emfcamp.org">Our blog</a> features news on the status of the camp as well as reports on what we're up to.</li>
    <li><a href="http://blog.emfcamp.org/post/23117482682/emf-2012-call-for-participation">Answer our Call for Participation</a>. If you want to give a talk, run a workshop or host an event this is where you need to go. </li>
</ul>
</div>
{% endblock %}
