{% extends "base.html" %}
{% block body %}
<div class="span12">
<h2>Contact us</h2>
<p>Want to get in contact? Here's how:</p>
<ul>
	<li>Email <a href="mailto:contact@emfcamp.org">us</a></li>
    <li>Follow us <a href="http://twitter.com/emfcamp">on Twitter</a></li>
    <li>Sign up to the <a href="http://groups.google.com/group/uk-hack-camp">mailing list</a></li>
    <li>Join us on <a href="http://webchat.freenode.net/?channels=ukhackcamp">irc.freenode.net #ukhackcamp</a></li>
    <li>Read <a href="http://wiki.emfcamp.org">our wiki</a></li>
    <li>Subscribe to <a href="http://blog.emfcamp.org">our blog</a></li>
    <li>Answer the <a href="http://blog.emfcamp.org/post/23117482682/emf-2012-call-for-participation">Call for Participation</a></li>
</ul>
</div>
{% endblock %}
