{% extends "base.html" %}
{% block title %}Design Elements Test{% endblock %}
{% block body %}
<h2>Design Elements Test (Header Level Two)</h2>
<h3>Header Level Three</h3>

<p>Lorem ipsum dolor sit amet, consectetur <a href="/">adipiscing elit</a>, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

<h4>Header Level Four</h4>
<ul>
  <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</li>
  <li>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
</ul>

<div class="well">
    <strong>Well Element</strong>
    <p>Lorem ipsum dolor sit amet, consectetur <a href="/">adipiscing elit</a>, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h4>Panel Element</h4>
    </div>
    <div class="panel-body">
  <p>Lorem ipsum dolor sit amet, consectetur <a href="/">adipiscing elit</a>, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
    <div class="panel-footer">
        Panel footer
    </div>
</div>

<h4>Form Elements</h4>
<form class="form-inline">
    <div class="input-group">
        <input type="text" class="form-control">
    </div>
</form>

{% endblock %}
