{% extends "base.html" %}
{% block title %}Diversity{% endblock %}
{% block body %}
<div class="col-md-10">
  <h2>Diversity</h2>

  <p>EMF is well aware of the controversy about the lack of diversity in technology-related
     events, and we are trying our utmost to improve this.</p>

   <p>Although gender diversity is the most-discussed area, we will not be content with an equal
      gender balance. Diversity of age and social background, among others, are areas we feel
      are important to address.
   </p>

   <p>We strongly encourage submissions and attendance from all under-represented groups, and we
      will strive to make sure EMF is a place where every attendee feels safe. We have a
      documented <a href="{{url_for('base.code_of_conduct')}}">code of conduct</a> which we will enforce.
   </p>

      <h3>Financial Means</h3>

   <p>EMF is a non-profit community event which is operated on a very slim margin. Our primary
      source of income is from ticket sales, and we strive to keep ticket prices as low as possible.
      We hope everyone who wants to speak will find the event compelling enough to buy a ticket and stay
      for the weekend, as this is an important part of the event.
   </p>

   <p>We have a very limited budget to offer day tickets and pay travel expenses to speakers who would
      otherwise find it financially prohibitive to attend.</p>
</div>
{% endblock %}
