{% extends "base.html" %}
{% block title %}Electromagnetic Pulse (EMP){% endblock %}
{% block body %}
<div class="col-md-10">
    <h2>Electromagnetic Pulse (EMP)</h2>

    <p>EMF is founding a new series of small events called EMP, or Electromagnetic Pulse.</p>

    <p>These are bi-monthly small meetups that give the wider community a regular place to meet up between EMFs, to talk about and show projects, hang out, and plan for the future. They'll also be a great place to get involved with EMF organisation if you're interested.</p>

    <p>While the first events are likely to be in cities where some of the current EMF team live, we would like to see them spread quickly - and anyone can start one! If you're interested in founding an EMP meeting in your city, please <a href="mailto:contact@emfcamp.org">get in touch</a>.</p>

    <p>The first official event will be early this year in London, however we expect to have other events starting around the country very shortly afterwards - and hopefully all over the world!</p>

    <p>This page will be updated with a list of EMP meetings and further details about the events in the near future.</p>

    <p>If you'd like to be notified when the EMP events start, please sign up to our notification mailing list.</p>
    <div class="well">
        {% include "home/_mailchimp_form.html" %}
    </div>
</div>
{% endblock %}
