{% extends "base.html" %}
{% block title %}Electromagnetic Pulse (EMP){% endblock %}
{% block body %}
<div class="col-md-10">
    <h2>Electromagnetic Pulse (EMP)</h2>

	<p>We’d like to invite you to the inaugural Electromagnetic Pulse (EMP), the first in a series of regular countrywide community events that bridge the gap between Electromagnetic Field festivals.</p>

	<p>EMP is a community get-together, a place to meet up with others, to show, tell, and plan future projects. If you’d like to get involved with EMF in the future we’ll have people to help you do that too.</p>

	<p>It will be hosted at <b>Limehouse Town Hall</b> in <b>London</b>, on <b>July 27th</b> between <b>6pm and 11pm</b>.</p>
	<p><b>Tickets are free, and <a href="https://www.eventbrite.co.uk/e/electromagnetic-pulse-emf-2020-volunteer-launch-party-tickets-64313476339">available now</a></b></p>

	<p>If you can’t make this event, don’t worry - others will occur across the UK in the near future - see the bottom of this page.</p>

	<p>This first Electromagnetic Pulse also serves as the volunteer thank-you party for all those who helped contribute to EMF 2018, as well as the kick-off event for EMF 2020.</p>

	<p>We'll be looking back on EMF 2018, revealing plans for EMF 2020, and giving up the stage to those of you who have projects that you’d like to build.</p>

	<p>Everyone who has contributed or would like to contribute to an EMF event - whether by volunteering, speaking, or bringing amazing things is welcome. If you think someone should be there, please invite them.</p>

	<p>Bring a project, an idea, or an enthusiastic attitude.</p>

	<p>If you’d like to present something, email <a href="mailto:contact@emfcamp.org">contact@emfcamp.org</a>. If you’ve got something to show, just bring it along.</p>

	<p>Drinks will be provided (food TBD).</p>

	<h2>EMP Events</h2>

	<p>There will be local EMP events running countrywide in the next few months. If you'd like to be notified when they start, please sign up to our notification mailing list.</p>

	<p>If you would like to organise a local EMP meeting, email us: <a href="mailto:contact@emfcamp.org">contact@emfcamp.org</a></p>
    <div class="well">
        {% include "home/_mailchimp_form.html" %}
    </div>
</div>
{% endblock %}
