{% extends "base.html" %}
{% block title %}Electromagnetic Pulse (EMP){% endblock %}
{% block body %}
<div class="col-md-10">
    <h2>Electromagnetic Pulse (EMP)</h2>

    <p>As preparation for EMF starts gearing up, we’d like to encourage us to host your own Electromagnetic Pulse (EMP), to start organizing and planning projects for EMF2020.</p>

    <p>EMP is a community get-together, a place to meet up with others and plan projects for EMF. You don’t really need much to make one happen, just a few people, and somewhere to meet. That could be a pub, a local hackspace, or someone’s offices - it doesn’t need to be a grand event.</p>

    <p>The only requirement to use the EMP name for your event is that you abide by the <a href="/code-of-conduct">EMF code of conduct</a>, and that you make it clear to any attendees that they need to as well.</p>

    <p>We can't wait to see what ideas come out of these events, and we'd love to be involved as much as possible while also working on EMF, so go forth and get some people together! Drop an email to <a href="mailto:contact@emfcamp.org">contact@emfcamp.org</a> once you know when and where you’re running an event - we can promote it to EMF attendees to get the word out, and if someone from the team is nearby they'll want to come along.</p>

    <h2>EMP Events</h2>

    <p>If you'd like to be notified about EMP events, please sign up to our notification mailing list:</p>
    <div class="well">
        {% include "home/_mailchimp_form.html" %}
    </div>

    <p>If you would like to organise a local EMP meeting, email us: <a href="mailto:contact@emfcamp.org">contact@emfcamp.org</a></p>
</div>
{% endblock %}
