{% extends "base.html" %}
{% block body %}
<div class="span10">
	<h2>Help us out</h2>
	<p>EMF is a volunteer-run effort. If you want to help we need people both now and during the camp to help organise and run things.</p>

	<p>We have several <a href="http://wiki.emfcamp.org/wiki/Teams#Open_Positions">open positions</a> in our organising teams. If you're interested in any of them please <a href="mailto:contact@emfcamp.org">email us</a> or get in <a href="{{url_for('contact')}}">contact elsewhere.</a></p>

	<p>If organising isn't your thing we'll need volunteers to help run the camp itself. We're looking to fill positions such as:</p>
	<ul>
		<li>Bar staff</li>
		<li>Gate duty</li>
		<li>Car parking</li>
		<li>Set-up/tear-down</li>
		<li>Running the info desk</li>
		<li>A/V stage hand work</li>
		<li>Stewarding</li>
  </ul>
  <p>Please note that all our volunteers (including the organising team, but with the exception of first-aiders
      who will always be on call) are required to buy a ticket.</p>
</div>
{% endblock %}
