{% extends "base.html" %}
{% block body %}
<div class="span8">
	<h2>Help us out</h2>
	<p>EMF is a volunteer-run effort. If you want to help we need people both now and during the camp. To help organise and run things.</p>

	<p>We have several <a href="http://wiki.emfcamp.org/wiki/Teams#Open_Positions">open positions</a> in our organising teams. If you're interested in any of them please <a href="mailto:contact@emfcamp.org">email us</a> or get in <a href="{{url_for('contact')}}">contact elsewhere.</a></p>

	<p>If organising isn't your thing we'll need volunteers to help run the camp itself. At the moment we're especially interested in <a href="mailto:volunteers@emfcamp.org">hearing</a> from people with the following qualifications and skills:</p>
	<ul>
		<li>St John Ambulance first-aid at work or equivalent qualification to provide first aid. This job will likely require longer shifts but will include free admittance and we'll provide all the equipment.</li>
		<li>A current extended CRB check in order to allow under-18s to attend.</li>
		<li>Mini-bus drivers to operate the shuttle bringing people to the camp from the train station.</li>
	</ul>
	<p>In addition to these rolls nearer the time we'll be looking to fill up other positions such as:</p>
	<ul>
		<li>Bar staff</li>
		<li>Gate duty</li>
		<li>Car parking</li>
		<li>Set-up/tear-down</li>
		<li>Running the info desk</li>
		<li>A/V stage hand work</li>
		<li>Stewarding</li>
	</ul>
</div>
{% endblock %}
