{% extends "base.html" %}
{% block body %}

<div class="col-md-10">

<h2>Thank You!</h2>

<div class="well">
   <p>Your GoCardless Direct Debit payment for {{ payment.amount | price(payment.currency) }}
   has been set up and your tickets will be reserved {% if payment.expires -%} until {{ payment.expires.strftime('%-d %B %Y') }}{% endif %}
   to allow for your payment to arrive.
   We will email you when the transaction has been completed.</p>
   <p>See you at Electromagnetic Field!</p>
</div>

<a class="btn btn-info" href="{{ url_for('users.purchases') }}">Show my tickets</a>

</div>
{% endblock %}
