{% from "_formhelpers.html" import render_field %}
{% extends "base.html" %}
{% block body %}
<h2>Thank You!</h2>

<p>Your GoCardless Direct Debit payment for {{ format_price(payment.amount) }}
   has been set up and your tickets will be reserved for {{ days }} days.
   We will email you when the transaction has been completed.</p>

<dl class="bank-details">
<dt>GoCardless Ref</dt><dd>{{ payment.gcid }}</dd>
</dl>


<p>See you at <a href="http://www.emfcamp.org/">EMFCamp2012</a>!</p>

<a href="{{ url_for('tickets') }}">Show my tickets</a>
{% endblock %}
