{% from "_formhelpers.html" import render_field %}
{% extends "base.html" %}
{% block body %}

<div class="span10">

<h2>Thank You!</h2>

<p>Your GoCardless Direct Debit payment for {{ format_price(payment.amount) }}
   has been set up and your tickets will be reserved for {{ days }} days
   to allow for your payment to arrive.
   We will email you when the transaction has been completed.</p>

<p>Your bill ID from GoCardless was {{ payment.gcid }}.  You can view this
by logging into <a href="http://www.gocardless.com/">your GoCardless account</a>.</p>


<p>See you at Electromagnetic Field!</p>

<a class="btn btn-info" href="{{ url_for('tickets') }}">Show my tickets</a>

</div>
{% endblock %}
