{% extends "base.html" %}
{% block body %}
<div class="span8">
<p><a href="http://www.openstreetmap.org/?lat=52.061&amp;lon=-0.710&amp;zoom=16">Pineham Park</a>, Milton Keynes, UK.</p>
<p>EMF is being held at Pineham Park, Milton Keynes, UK.</p>
<p>Milton Keynes has great transport links to the rest of the UK and Europe. It's only 40 minutes on the train from London, and the site is easily accessible from the M1 motorway.</p>
</div>
<div class="span4">
    <img class="thumbnail" src="/static/images/site.jpg">
</div>
{% endblock %}
