{% from "_formhelpers.html" import render_field %}
{% extends "base.html" %}
{% block title %}Log In{% endblock %}
{% block body %}
<div class="col-md-10">
    <h2>Log In</h2>

<div class="well">
    If you've already bought a ticket to EMF, or submitted a proposal, you can log into your account here.
</div>

<form method="post" class="form-horizontal">
    {{form.hidden_tag()}}
    <div class="panel panel-default">
    <div class="panel-body">
        <p>Enter your email address and we'll email you a login link:</p>
        {{ render_field(form.email, horizontal=True) }}
    </div>
    <div class="panel-footer">
        <div class="form-actions btn-group">
            <button type="submit" class="btn btn-success debounce">Log in</button>
        </div>
    </div>
</div>
</form>

</div>
{% endblock %}
