{% from "_formhelpers.html" import render_field %}
{% extends "base.html" %}
{% block body %}
<h2>Log In</h2>
<form method="post" class="form-horizontal">
    {{form.hidden_tag()}}
    {{ render_field(form.email) }}
    {{ render_field(form.password) }}
    <div class="form-actions">
        <button type="submit" class="btn btn-primary">Log in</button>
    </div>
</form>
<a href="{{ url_for('forgot_password') }}">Forgot password</a> | 
<a href="{{ url_for('signup', next=form.next.data) }}">Sign up</a>
{% endblock %}
