{% from "_formhelpers.html" import render_field %}
{% extends "base.html" %}
{% block body %}
<div class="col-md-10">
<h2>Log In</h2>
<form method="post" class="form-horizontal">
    {{form.hidden_tag()}}
    {{ render_field(form.email) }}
    {{ render_field(form.password) }}
    <div class="form-actions btn-group">
        <button type="submit" class="btn btn-success debounce">Log in</button>
    </div>
    <div class="form-actions btn-group">
        <a class="btn btn-primary" href="{{ url_for('forgot_password') }}">Forgot password</a>
        <a class="btn btn-primary" href="{{ url_for('signup', next=form.next.data) }}">Sign up</a>
    </div>
</form>

</div>
{% endblock %}
