{% extends "base.html" %}
{% block body %}
       <div id="gallery" class="row">
        <img class="col-md-3 col-sm-4 col-xs-6" src="/static/images/main_images/EMF-Website-2014-V1_03.jpg" alt="Image of EMF 2012">
        <img class="col-md-3 col-sm-4 col-xs-6" src="/static/images/main_images/EMF-Website-2014-V1_05.jpg" alt="Image of EMF 2012">
        <img class="col-md-3 col-sm-4 col-xs-6" src="/static/images/main_images/EMF-Website-2014-V1_07.jpg" alt="Image of EMF 2012">
        <img class="col-md-3 col-xs-6 hidden-sm" src="/static/images/main_images/EMF-Website-2014-V1_09.jpg" alt="Image of EMF 2012">
        <img class="col-md-3 hidden-xs hidden-sm" src="/static/images/main_images/EMF-Website-2014-V1_15.jpg" alt="Image of EMF 2012">
        <img class="col-md-3 hidden-xs hidden-sm" src="/static/images/main_images/EMF-Website-2014-V1_16.jpg" alt="Image of EMF 2012">
        <img class="col-md-3 hidden-xs hidden-sm" src="/static/images/main_images/EMF-Website-2014-V1_17.jpg" alt="Image of EMF 2012">
        <img class="col-md-3 hidden-xs hidden-sm" src="/static/images/main_images/EMF-Website-2014-V1_18.jpg" alt="Image of EMF 2012">
        </div>
        <div class="row">
          <div class="col-md-6">
        <p class="emphasis">
          Electromagnetic Field is a UK camping festival for those with an inquisitive mind or an
          interest in making things: hackers, artists, geeks, crafters, scientists, and engineers.
        </p>
        <p>
          This summer we're gathering over a thousand people in a field for a weekend of talks and workshops.
        </p>
        <p>At previous events we've heard about everything from <b>genetic modification</b> to <b>electronics</b>, <b>blacksmithing</b>
        to <b>high-energy physics</b>, <b>reverse engineering</b> to <b>lock picking</b>, <b>computer security</b> to
        <b>crocheting</b>, and <b>quadcopters</b> to <b>brewing</b>.
        </p>
        <p>
        To help matters along, we're arranging a very fast internet connection, reliable WiFi, a bar stocked with good, reasonably-priced drinks, and much more.</p>
        <p>To learn more about what Electromagnetic Field is like, take a look at
          <a href="{{url_for('about')}}">our about page</a>, our
          <a target="_blank" href="http://blog.emfcamp.org">blog</a> or find out where EMF 2014 will be held on our 
          <a target="_blank" href="http://map.emfcamp.org">map</a>.
          </p>
      </div>
        <div class="col-md-6">
        <h3>Count me in!</h3>
        {% if ticket_sales %}
        <div class="jumbotron">
          {% if full_price == 90 %}
          <p>Early bird tickets are now on sale for £90.</p>
          {% elif full_price == 95 %}
          <p>Early bird tickets are sold out!</p>
          <p>Tickets are now on sale for £95.</p>
          {% else %}
          <p>Tickets are now on sale for £{{ full_price }}.</p>
          {% endif %}
          <a href="/tickets/choose" class="btn btn-primary btn-lg" role="button">Buy Tickets Now</a>
        </div>
        {% else %}
        <p class="body">
          If you're interested in attending, please follow us on <a href="http://www.twitter.com/emfcamp">Twitter</a> or join our mailing list below:
          </p>
          <form method="post" class="form-inline" role="form">
            <div class="form-group">
              <input name="csrf_token" type="hidden" value="{{ csrf_token() }}">
              <input id="email-field" type="text" class="form-control" placeholder="Enter email address" name="email"/>
              <button type="submit" class="btn btn-default debounce">Join</button>
            </div>
          </form>
          <p class="body">
          <small>(We'll only use your email address to contact you about future EMF events.)</small>
          </p>
        {% endif %}
        </div>
      </div>
          <h3>Help Out</h3>
            <p class="body">
            EMF is entirely organised and run by a dedicated team of volunteers.
            We're looking for people to help with everything from power and networking to driving vans and
            running the bar.
            </p>
            <p class="body">
            If you're interested in helping make EMF happen, you can
            visit <a href="http://wiki.emfcamp.org">our wiki</a> or
            <a href="http://lists.emfcamp.org/listinfo/general">join the organisation mailing list</a>.
            </p>
{% endblock %}
