{% extends "base.html" %}
{% block body %}
<h2>What?</h2>
<p>We're a non-profit group bringing a hacker camp
    (like <a href="http://en.wikipedia.org/wiki/Chaos_Communication_Camp">CCC</a>,
    <a href="http://en.wikipedia.org/wiki/Hacking_at_Random">HAR</a>, and <a href="http://www.toorcamp.org/">toorcamp</a>)
    to the UK in 2012. It'll be a bit like a cross between a music festival and a conference with a wide range of talks
    on geeky subjects. For updates, follow us <a href="http://twitter.com/emfcamp">on Twitter</a>.</p>
    <p>For your ticket price you'll get a place to camp, power, internet, talks, workshops, and much more geekery.</p>
<h2>When?</h2>
<p>Friday 31st August - Sunday 2nd September 2012</p>
<h2>Where?</h2>
<p><a href="http://www.openstreetmap.org/?lat=52.0616018772125&lon=-0.710721015930176&zoom=16">Pineham Park</a>, Milton Keynes, UK</p>
<h2>Count Me In!</h2>
<p>To help us get an idea of numbers, we'd appreciate it if you filled in this quick form to give us an
    idea of interest. There's no obligation to come and we'll only use your email address to contact
    you about the camp.</p>
<iframe src="https://docs.google.com/spreadsheet/embeddedform?formkey=dFdQUlA2dkY3dXREaTlHbHIyZXFpc1E6MQ" id="google-form"
    width="270" height="600" frameborder="0" marginheight="0" marginwidth="0" scrolling="no">Loading...</iframe>
<h2>Get Involved</h2>
<p>EMF is a volunteer-run effort. If you want to help out:</p>
<ul>
    <li>Follow us <a href="http://twitter.com/emfcamp">on Twitter</a></li>
    <li>Sign up to the <a href="http://groups.google.com/group/uk-hack-camp">mailing list</a></li>
    <li>Join us on <a href="http://webchat.freenode.net/?channels=ukhackcamp">irc.freenode.net #ukhackcamp</a></li>
<li>Read <a href="http://wiki.emfcamp.org">our wiki</a></li>
</ul>
{% endblock %}
