{% extends "base.html" %}
{% block body %}

<div class="span6">
<h2>What?</h2>
<p class="summary">
Electromagnetic Field is a three-day camping festival for people with an inquisitive mind or an interest in making things: hackers, geeks, scientists, engineers, artists, and craftspeople.
</p>
<p class="summary">
A great gathering of specialists, enthusiasts, and newcomers from many disciplines, with talks and workshops on a wide range of subjects, and many opportunities to collaborate or have a drink with someone new.
</p>
<p>
A festival for anyone interested in 3D printing, DIYBio, knitting, electronics, Internet culture, space, lockpicking, homebrewing, robots, UAVs, mind hacking, radio, or pretty much anything else you can think of. EMF is a volunteer effort by a non-profit group, inspired by European and US hacker camps like <a href="http://en.wikipedia.org/wiki/Chaos_Communication_Camp">CCC</a>, <a href="http://en.wikipedia.org/wiki/Hacking_at_Random">HAR</a>, and <a href="http://www.toorcamp.org/">toorcamp</a>.
</p>

<h2>When?</h2>
<p>Friday 31st August - Sunday 2nd September 2012.</p>

<p>Events and activities will run throughout the day and into the evening, everything else (chats, debates, impromptu circus performances) will run as long as your collective energy lasts.</p>

<h2>Where?</h2>
<p><a href="http://www.openstreetmap.org/?lat=52.061&amp;lon=-0.710&amp;zoom=16">Pineham Park</a>, Milton Keynes, UK.</p>

<p>Milton Keynes has great transport links to the rest of the UK and Europe. It's only 40 minutes on the train from London, and the site is easily accessible from the M1 motorway.</p>
<h2>Help us out</h2>
<p>EMF is run entirely by volunteers like you. If you want to help us out
(whether with admin, setup, stewarding, working at the bar, or whatever else) please <a href="{{ url_for('contact') }}">get in touch</a>.</p>
</div>
<div class="hero-unit span4">
<h2>Count me in!</h2>
<p>We're currently pre-selling tickets for a £30 deposit. These let you reserve your place at EMF, and get a £5 discount off the final ticket price.</p>
<p><a class="btn btn-primary" href="{{ url_for('tickets') }}">Buy pre-sale tickets now</a></p>

<p><small>If you've already signed up, <a href="{{url_for('login')}}">log in</a> to view your ticket status.</small></p>
</div>
{% endblock %}
