{# xhtml2pdf doesn't support loads of CSS, including stuff necessary for Bootstrap,
   so we use a separate base page here. It has a bug when cascading through multiple
   classes, so we avoid that. Due to its reliance on ReportLab, it also cascades
   fonts weirdly, and doesn't support float, so we add pdf-specific overrides. #}

{%- macro render_header(user) %}
{% if pdf %}
<table class="header">
  <tr><td style="width: 100%">
{% else %}
<div class="row">
  <div class="col-xs-9">
{% endif %}

    <h2>
        <img src="{{ url_for('static', filename='images/logo-white-cropped.png') }}" class="img-responsive" width="400"/>
    </h2>

{% if pdf %}
  </td><td style="width: 200px">
{% else %}
  </div><div class="col-sm-3">
{% endif %}

    <div class="qrcode">
      {% if pdf or png %}
        <img src="{{ url_for('tickets.tickets_qrcode', checkin_code=user.checkin_code) }}">
      {% else %}
        {# Preferred format is SVG because it scales and we don't pass the checkin code back #}
        {{ format_inline_qr(config.get('CHECKIN_BASE') + user.checkin_code) }}
      {% endif %}
    </div>

{% if pdf %}
  </td></tr>
</table>
{% else %}
  </div>
</div>
{% endif %}
{% endmacro -%}

{% macro render_barcode(user) %}
<div class="barcode">
  {% if pdf or png %}
    {% if pdf %}<center>{% endif %}
    <img src="{{ url_for('tickets.tickets_barcode', checkin_code=user.checkin_code) }}">
    {% if pdf %}</center>{% endif %}
  {% else %}
    {# Preferred format is SVG because it scales and we don't pass the checkin code back #}
    {{ format_inline_barcode(user.checkin_code) }}
  {% endif %}
</div>
{% endmacro -%}


<!DOCTYPE html>
<html lang="en" class="{%- if pdf -%} pdf {% endif %}">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Electromagnetic Field{% endblock %}</title>
{% if not pdf %}
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
{% endif %}
        {% assets "css_receipt" -%}
        <link rel="stylesheet" href="{{ ASSET_URL }}">
        {% endassets -%}
        <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Raleway:700,500">
        {% if not pdf %}
        <style type="text/css">
          @media (min-width: 550px) {
            div.header {
              display: flex;
              align-items: center;
            }
          }
        </style>
        {% endif %}

        {% block head -%}{% endblock -%}
        <!--[if lt IE 9]>
              <script src="//oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
              <script src="//oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->
        <link rel="shortcut icon" href="/favicon.ico">
    </head>
<body>

{% block document %}
<div class="container">
    <div class="main-row">
        <div class="col-md-10 col-md-offset-1 main-column">

{% block body %}

<div id="main-content">

  {% for ticket in vehicle_tickets %}
  {{ render_header(ticket.user) }}
  <h3>Parking ticket {{ loop.index }}</h3>
  <div class="vehicle-tickets">
      <p>Please put this on your dashboard before checking in.</p>
      <p style="padding-bottom: 14px">If you fill in your number below we will try to contact you about
         your vehicle in case of emergency.</p>

      <div>&nbsp;</div>
      <div>&nbsp;</div>

      {{ render_barcode(ticket.user) }}

      <div>&nbsp;</div>
      <div>&nbsp;</div>
      <div>&nbsp;</div>

      <h4>Your ticket details</h4>
      <div class="ticket-type">{{ ticket.type.name }}</div>

      <div>&nbsp;</div>

      <table style="height: 70px; width: 100%"><tr>
         <td style="width: 300px; font-size: 30pt">Phone number</td>
         <td style="border: 0.7mm solid black"></td>
      </tr></table>
  </div>

  {% if not loop.last %}
    <div class="nextpage"></div>
  {% endif %}

  {% endfor %}
</div>
{% endblock %}

        </div>
    </div>
</div>
{% endblock %}

</body>
</html>
