{% extends "base.html" %}
{% block body %}
	<div class="span5">
        <p>Not sure who'll be here? We <em>know</em> people from these groups will be coming, why not get in touch?</p>
		<ul>
			<li><a href="http://techinc.nl/">Technologia Incognita </a></li>
			<li><a href="http://london.hackspace.org.uk">London Hackspace</a></li>
			<li><a href="http://nottinghack.org.uk/">Nottingham Hackspace</a></li>
			<li><a href="http://www.buildbrighton.com/blog/">BuildBrighton</a></li>
			<li><a href="http://readinghackspace.org.uk/wiki/Main_Page">Reading Hackspace </a></li>
			<li><a href="http://dorkbotlondon.org/">dorkbotlondon</a></li>
			<li><a href="http://dorkbotsheffield.lurk.org/">dorkbotsheffield</a></li>
			<li><a href="http://www.dorkbot.org/dorkbotcardiff/">dorkbotcardiff</a></li>
			<li><a href="http://www.mztek.org/">MzTEK</a></li>
			<li><a href="http://sh-hackspace.org.uk/wiki/index.php/Main_Page">Surrey and Hampshire Hackspace</a></li>
			<li><a href="http://edinburghhacklab.com/">Edinburgh Hacklab</a></li>
			<li><a href="http://darq.org.uk/">Faculty Unix / Funix</a></li>
			<li><a href="http://www.milliways.info/wiki/Main_Page">Milliways</a></li>
			<li><a href="http://codeclub.org.uk/">Code Club</a></li>
		</ul>

	</div >
	<div class="span5">
		<img class="thumbnail" src="static/images/smoke_bank_pic.jpg" alt="copyright Benjamin Blundell" align="right">
	</div>
{% endblock %}
