{% from "_formhelpers.html" import render_field %}
{% extends "base.html" %}
{% block body %}

{% if tickets|count > 0 %}
<p>Your current tickets:</p>

<table class=buyform>
<tr><th>Id</th><th>Paid</th><th>Expired</th></tr>
{% for t in tickets %}

<tr class="{{ loop.cycle('buyformtdodd', 'buyformtdeven') }}">
<td>{{ t }}</td><td>
{% if tickets[t].paid %}
<font class=good>Yes!</font>
{% else %}
not yet
{% endif %}
</td><td>
{% if not tickets[t].paid %}
	{% if tickets[t].expired %}
	<font class=bad>Yes :(</font>
	{% else %}
	not yet, pay soon!
	{% endif %}
{% endif %}
</td>
</tr>

{% endfor %}
</table>
<br/>

{% endif %}

<p>We don't have a final budget yet, so we're currently only letting people
   put a deposit down for their tickets.</p>

<ul>
    <li>Deposit pre-sales cost <strong>£30</strong> per ticket.</li>
    <li>They will entitle you to pay the rest of your ticket price at a £5 discount to the full price.</li>
    <li>We anticipate the full ticket price to be between £75 to £95.
        If the final ticket price is within this range, you'll have to pay a £10
        administration fee if you want a refund of your deposit.</li>
</ul>

<form method=post class="choose-prepay-tickets">
    {{form.hidden_tag()}}
    <h2>Tickets</h2>
<dl>
    {{ render_field(form.count) }}
</dl>
    <input type=submit value="Update"/>
    <p>Total amount for deposit: {{ format_price(total) }}.</p>
</form>

<p>Taking credit card payments for a small event like us is really expensive, so the only
payment methods we accept are bank-to-bank. If this is really a problem for you, please
<a href="mailto:tickets@emfcamp.org">let us know</a>.
</p>
<h3>Paying in Pounds</h3>
<p>

<ul>
    <li><a href="{{ url_for('gocardless_start') }}">Pay by GoCardless (direct debit)</a></li>
    <li><a href="{{ url_for('transfer_start') }}">Pay by bank transfer</a></li>
</ul>

<h3>Paying in Euros</h3>
<p>If you want to pay in Euros, we're working on it. Email tickets@emfcamp.org and we'll let
you know when our Euro bank account is ready.</p>
{% endblock %}
