{% from "_formhelpers.html" import render_field %}
{% extends "base.html" %}
{% block body %}

<div class="well">
    You've selected the following {{ basket|count }} tickets:
    <ul>
        {% for ticket in basket %}
        <li>{{ticket.name}}</li>
        {% endfor %}
    </ul>
    The total price is <b>{{ total | price(user_currency) }}</b>. If this isn't right, <a href="{{url_for('tickets.choose')}}">choose your tickets again</a>.
</div>

<form method="post">
{{ form.hidden_tag() }}

{% if is_anonymous %}
<h3>Your Details</h3>

{% if form.email.was_duplicate %}
<div class="alert alert-warning">
    This email address already exists in our system, because you previously tried to buy a ticket and
    we automatically created an account for you.
    Please <a class="alert-link" href="{{ url_for('users.login') }}">click here</a> to log in.
</div>
{% endif %}

<div class="panel panel-default">
    <div class="panel-body">
        <p>We'll need your name and the email address to send your ticket to,
            so please make sure they're correct:</p>
        <div class="form-group">
            {{ render_field(form.name, horizontal=True) }}
            {{ render_field(form.email, horizontal=True) }}
        </div>
    </div>
</div>
{% endif %}

<h3>Choose a Payment Method</h3>
<div class="row row-equal">
<div class="col-sm-4">
{% if config.get('GOCARDLESS') %}
<div class="panel panel-default">
    <div class="panel-heading"><h3 class="panel-title">Direct Debit (preferred)</h3></div>
    <div class="panel-body">
        <p>You can use GoCardless to create a one-off direct debit from your account.
           This is easy for you and cheap for us.</p>

        <p>GoCardless payments are protected by the
        <a href="http://www.directdebit.co.uk/DirectDebitExplained/Pages/DirectDebitGuarantee.aspx">Direct Debit
            Guarantee</a>.</p>
    </div>
    <div class="panel-footer panel-footer-center">
        <button type="submit" name="{{form.gocardless.name}}" value="{{form.gocardless.label.text}}" class="btn btn-lg btn-success debounce">{{form.gocardless.label.text}}</button>
    </div>
</div>
{% endif %}
</div>
<div class="col-sm-4">
{% if config.get('BANK_TRANSFER') %}
<div class="panel panel-default">
    <div class="panel-heading"><h3 class="panel-title">Bank Transfer</h3></div>
    <div class="panel-body">
        <p>Ask your bank to send the money to us directly. You can do this online, or with cash in a branch.</p>
    </div>
    <div class="panel-footer panel-footer-center">
        <button type="submit" name="{{form.banktransfer.name}}" value="{{form.banktransfer.label.text}}" class="btn btn-lg btn-success debounce">{{form.banktransfer.label.text}}</button>
    </div>
</div>
{% endif %}
</div>
<div class="col-sm-4">
{% if config.get('STRIPE') %}
<div class="panel panel-default">
    <div class="panel-heading"><h3 class="panel-title">Credit/Debit Card</h3></div>
    <div class="panel-body">
        <p>We accept Visa, Visa Debit, Mastercard or American Express.</p>
        <p>We add a 5% fee to credit and debit card transactions to cover transaction fees
        and the additional risk. This will amount to
        <strong>{{ StripePayment.premium(user_currency, total) | price(user_currency) }}</strong>.</p>
    </div>
    <div class="panel-footer panel-footer-center">
        <button type="submit" name="{{form.stripe.name}}" value="{{form.stripe.label.text}}" class="btn btn-lg btn-success debounce">{{form.stripe.label.text}}</button>
    </div>
</div>
</div>
{% endif %}
</div>
</form>
<div class="well">If you're unsure about anything, please check out our <a href="http://wiki.emfcamp.org/wiki/FAQ#Ticket_Sales">FAQ</a>
or drop us an <a href="mailto:{{ config['TICKETS_EMAIL'][1] }}">email</a>.</div>

{% endblock %}
