{% extends "base.html" %}
{% block body %}

<div class="payment-choose">

{% if config.get('STRIPE') %}
<p>Taking card payments for a small event like us is really expensive, so our
   preferred payment methods are bank-to-bank, but these are not available after 23rd August.
   We charge <strong>5%</strong> extra for card payments.</p>
{% else %}
<p>Taking card payments for a small event like us is really expensive, so the only
   payment methods we accept are bank-to-bank. If this is really a problem for you, please
   <a href="mailto:{{ config['TICKETS_EMAIL'][1] }}">let us know</a>.</p>
{% endif %}

<p>Your tickets aren't quite reserved yet!  Please choose a payment method below to buy your tickets.<br/>
If you're unsure about anything, please check out our <a href="http://wiki.emfcamp.org/wiki/FAQ#Ticket_Sales">FAQ</a>
or drop us an <a href="mailto:{{ config['TICKETS_EMAIL'][1] }}">email</a>.</p>

{% if config.get('GOCARDLESS') %}
<h3>Pay by Direct Debit</h3>

<p>You can use GoCardless to create a one-off direct debit from your account.
GoCardless payments are protected by the
<a href="http://www.directdebit.co.uk/DirectDebitExplained/Pages/DirectDebitGuarantee.aspx">Direct Debit
Guarantee</a>.</p>

<form method="post" action="{{ url_for('gocardless_start') }}">
<input name="csrf_token" type="hidden" value="{{ csrf_token() }}">
    <p><button type="submit" name="gocardless" class="btn btn-large btn-primary">Pay with GoCardless</button></p>
</form>
{% endif %}

{% if config.get('BANK_TRANSFER') %}
<h3>Pay By Bank Transfer</h3>

<p>Ask your bank to send it to us directly (this works online, or with cash in a branch).</p>

<form method="post" action="{{ url_for('transfer_start') }}">
<input name="csrf_token" type="hidden" value="{{ csrf_token() }}">
    <p><button type="submit" name="banktransfer" class="btn btn-large btn-primary">Pay by bank transfer</button></p>
</form>
{% endif %}

{% if config.get('STRIPE') %}
<h3>Pay by Credit/Debit Card</h3>

<p>Our card provider Stripe will accept Visa, Visa Debit, Mastercard or American Express, but we add 5% to both credit and debit card transactions to cover the transaction fees.</p>
<p>This will amount to {{ StripePayment.premium(user_currency, total) | price(user_currency) }}.</p>

<form method="post" action="{{ url_for('stripe_start') }}">
<input name="csrf_token" type="hidden" value="{{ csrf_token() }}">
    <p><button type="submit" name="stripe" class="btn btn-large btn-primary">Pay by card</button></p>
</form>
{% endif %}

</div>
{% endblock %}
