{% from '_receipthelpers.html' import render_header, render_barcode with context %}

{% extends 'base.html' %}

{% block css %}
{% assets "css_receipt" -%}
<link rel="stylesheet" href="{{ ASSET_URL }}">
{% endassets -%}
{% endblock %}

{% block document %}
<div class="container receipt">
    <div class="main-row">
        <div class="col-md-10 col-md-offset-1 main-column">

{% block body %}

<div id="main-content">

  {% if admissions or tees %}
    {{ render_header(user) }}
    <h3>{{ user.name }} &ndash; {{ user.email }}</h3>

    {% if admissions %}
    <h4>{{ admissions_total }} entrance ticket{{ admissions_total != 1 and 's' or '' }}</h4>
    {% endif %}

    <div class="entrance-tickets">
        {% if admissions %}
        <p>Present the code above to the volunteers at the <b>camp entrance gate</b> on your arrival.
           You will receive a wristband and booklet with site map.
        </p>
        <p>Once inside the camp, you can exchange this ticket at the <b>badge centre</b>
           for an Electromagnetic Field {{ event_year }} badge.
           {% if tees %} Prepaid t-shirts will be available at the entrance gate when announced. {% endif %}
        </p>

        <div>&nbsp;</div>
        <div>&nbsp;</div>

        {% else %}
        <p>Your account has no associated entrance tickets. This ticket will not allow you to enter the event.</p>
        <p>Once inside the camp, prepaid t-shirts will be available at the entrance gate when announced.</p>

        <div>&nbsp;</div>
        <center><h1>Not an entrance ticket</h1></center>
        <div>&nbsp;</div>

        {% endif %}

        {{ render_barcode(user) }}

        <div>&nbsp;</div>
        <div>&nbsp;</div>

        {% if admissions %}
        <div>&nbsp;</div>

        <h4>Your ticket details</h4>
        {% for product, ticket_count in admissions %}
        <div class="product">{{ ticket_count }} {{ product.display_name }}</div>
        {% endfor %}
        {% endif %}

        {% if transferred_tickets %}
        <div>&nbsp;</div>

        <h4>Your transferred tickets</h4>
        <p>You have transferred {{ transferred_tickets|count }} ticket{{ transferred_tickets|count != 1 and 's' or '' }},
           which we&rsquo;ve sent out in a separate email.
           If you&rsquo;re arriving at the entrance gate together, you only need this copy.
        </p>
        {% for t in transferred_tickets %}
        <div class="ticket-transfer">{{ t.to_user.name }}: {{ t.purchase.product.display_name }}</div>
        {% endfor %}
        {% endif %}

        {% if tees %}
        <div>&nbsp;</div>

        <h4>Your purchase details</h4>
        {% for product, ticket_count in tees %}
        <div class="product">{{ ticket_count }} {{ product.display_name }}</div>
        {% endfor %}
        {% endif %}
    </div>

    {% if vehicle_tickets %}
      <div class="nextpage"></div>
    {% endif %}

  {% endif %}

  {% if vehicle_tickets %}
    {% include 'receipt-parking.html' %}
  {% endif %}
</div>
{% endblock %}

        </div>
    </div>
</div>
{% endblock %}

