{% from '_receipthelpers.html' import render_header with context %}

  {% for ticket in campervan_tickets %}
    {{ render_header(ticket.owner) }}
    <h3>Live-in vehicle ticket {{ loop.index }}</h3>
    <div class="vehicle-tickets">
        <p>Please put this on your dashboard before arriving at EMF.
	   Volunteers at the <b>Vehicle Gate Y</b> will check it on your
	   arrival, and will provide further on-site directions.</p>
	<p>For details on getting to the site, and important information about
	   arrival and departure timings, please visit
           <a href="https://www.emfcamp.org/about/travel">the 'Travel' page on our website</a>, and
	   <a href="https://www.emfcamp.org/about/live-in-vehicles">our dedicated 'Live-in Vehicles' page</a>.</p>
        <p style="padding-bottom: 14px">If you fill in your number below we will try to contact you about
           your vehicle in case of emergency.</p>

        <div>&nbsp;</div>
        <div>&nbsp;</div>
        <div>&nbsp;</div>
        <div>&nbsp;</div>
        <div>&nbsp;</div>
        <div>&nbsp;</div>
        <div>&nbsp;</div>
        <div>&nbsp;</div>
        <div>&nbsp;</div>
        <div>&nbsp;</div>

        <h4>Your ticket details</h4>
        <div class="product">{{ ticket.product.display_name }}</div>

        <div>&nbsp;</div>

        <table style="height: 70px; width: 100%"><tr>
           <td style="width: 300px; font-size: 30pt">Phone number</td>
           <td style="border: 0.7mm solid black"></td>
        </tr></table>
    </div>

    {% if not loop.last %}
      <div class="nextpage"></div>
    {% endif %}
  {% endfor %}

