{% from "_formhelpers.html" import render_field %}
{% extends "base.html" %}
{% block body %}

<div class="span10">

<h2>Password reset</h2>
<p>Please check your email and enter a new password below.</p>
<form method=post action="?">
  <dl>
    {{ form.hidden_tag() }}
    {% if form.token.data and form.email.data and not form.token.errors and not form.email.errors %}
      {{ form.hidden_tag('email') }}
      {{ form.hidden_tag('token') }}
    {% else %}
      {{ render_field(form.email) }}
      {{ render_field(form.token) }}
    {% endif %}
    {{ render_field(form.password) }}
    {{ render_field(form.confirm) }}
  </dl>
  <input type=submit name="Change password"/>
</form>

</div>
{% endblock %}
