{% from "_formhelpers.html" import render_field %}
{% extends "base.html" %}
{% block body %}
<div class="col-md-10">
<h2>Sign up</h2>

<p>To buy a ticket, first create an account.</p>
<form method="post" role="form" class="form-horizontal">
  <fieldset>
  {{ form.hidden_tag() }}
    {{ render_field(form.name, True) }}
    {{ render_field(form.email, True) }}
    {% if form.email.was_duplicate %}
    <div class="alert alert-warning">
      If you have used this email address to buy a ticket, we have already created an account for you.
      Please <a class="alert-link" href="{{ url_for('users.forgot_password') }}">click here</a> to change your password.
    </div>
    {% endif %}
    {{ render_field(form.password, True) }}
    {{ render_field(form.confirm, True) }}
  <div class="form-actions col-sm-offset-3 col-sm-9">
      <button type="submit" name="Create" class="btn btn-primary debounce">Register Now</button>
  </div>
  </fieldset>
</form>
</div>
{% endblock %}
