{% from "_formhelpers.html" import render_field %}
{% extends "base.html" %}
{% block body %}
<div class="col-md-10">
<h2>Sign up</h2>
{#
<p>If you've already signed up this year, you might want to <a href="{{ url_for('login') }}">log in</a>.</p>
#}
<p>To buy a ticket, first create an account.</p>
<form method="post" role="form" class="form-horizontal">
  <fieldset>
  {{ form.hidden_tag() }}
    {{ render_field(form.name, True) }}
    {{ render_field(form.email, True) }}
    {{ render_field(form.password, True) }}
    {{ render_field(form.confirm, True) }}
  <div class="form-actions col-sm-offset-3 col-sm-9">
      <button type="submit" name="Create" class="btn btn-primary debounce">Register Now</button>
  </div>
  </fieldset>
</form>
</div>
{% endblock %}
