<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Electromagnetic Field</title>
<head>
{% assets "css/splash.css" %}
<link href="{{ ASSET_URL }}" rel="stylesheet" type="text/css">
{% endassets %}
</head>
<body>
  {% for message in get_flashed_messages() -%}
     <div class="flash">{{ message }}</div>
  {% endfor -%}
  <div id="container">

	<div class="col" id="left">
    <div class="inner">
      <img id="logo" src="/static/images/splash/EMFlogo.png">
      <p class="lhead">
      Electromagnetic Field (EMF) is a non-profit UK camping festival for those with an inquisitive mind or an
      interest in making things: hackers, geeks, scientists, engineers, artists, and crafters.</p>

      <p class="body">
      In the summer of 2012 we gathered hundreds of people in a field outside Milton Keynes for three days of
      talks and workshops covering everything from <b>genetic modification</b> to <b>electronics</b>, <b>blacksmithing</b>
      to <b>high-energy physics</b>, <b>reverse engineering</b> to <b>lock picking</b>, <b>computer security</b> to
      <b>crocheting</b>, and <b>quadcopters</b> to <b>beer brewing</b>.
      </p>
      <p class="body">
      To help matters along, we arranged a 380-megabit internet connection, reliable WiFi, and a bar stocked with real ale.
      </p>
      <p class="follow">
      <a href="http://twitter.com/emfcamp">@emfcamp</a> | 
      <a href="https://www.facebook.com/emfcamp">facebook</a>
      </p>
    </div>
	</div>

  <div class="col" id="middle">
    <div class="inner">
      <h4>What's Next?</h4>
      <p class="body">
        Planning for the next EMF in summer 2014 is now well underway. If you're interested in attending, please follow us on <a href="http://www.twitter.com/emfcamp">Twitter</a> or join our mailing list below:
        </p>
        <form method="post">
          <input type="text" name="email"/>
          <button>Join</button>
        </form>
        <p class="body">
        <small>(We'll only use your email address to contact you about future EMF events.)</small>
        </p>
        <h4>Help Out</h4>
          <p class="body">
          EMF is entirely organised and run by a dedicated team of volunteers.
          We're looking for people to help with everything from power and networking to driving vans and
          running the bar.
          </p>
          <p class="body">
          If you're interested in helping make EMF happen, you can 
          visit <a href="http://wiki.emfcamp.org">our wiki</a> or
          <a href="http://lists.emfcamp.org/listinfo/general">join the organisation mailing list</a>.
          </p>

	  </div>
	</div>
  <div class="col" id="right">
    <div class="inner">
      <div id="gallery">
        <a href="http://www.flickr.com/photos/russss/7909185964/in/set-72157631357117362"><img src="/static/images/splash/img1.jpg"></a>
        <a href="http://www.flickr.com/photos/russss/7909193016/in/set-72157631357117362"><img src="/static/images/splash/img2.jpg"></a>
        <a href="http://www.flickr.com/photos/nottinghack/7929647354/in/set-72157631351042916"><img src="/static/images/splash/img3.jpg"></a>
      </div>
      <p class="body">
      <a href="https://www.youtube.com/watch?v=uQMogMHvMGw">Video Tour</a> | 
      <a href="http://www.bbc.co.uk/news/technology-19441861">BBC News Article</a><br>
      </p>
</div>
</div>
</body>
</div>
</html>
