{% extends "splashbase.html" %}
{% block body %}
		<p class="mhead">What Next?</p>
		<p class="mintro">
		Electromagnetic Wave is a day filled with talks and workshops for those with an inquisitive mind or an interest in making things, held on a converted East German fishing vessel moored in London. Brought to you by the non-profit group behind last year's Electromagnetic Field festival, this is a maritime-themed taste of what's to come at the next EMF in 2014.</p>
		<img id="boat" src="/static/images/splash/stubnitz.jpg">
		<p class="mhead">When?</p>
		<p class="body">
		Sunday May 5th (a bank holiday weekend). Talks will run from midday until early evening, and we're planning entertainment aboard the Stubnitz late into the night. Impromptu side-events are likely to occur all weekend.
		</p>
		<p class="mhead">Where?</p>
		<p class="body">MS Stubnitz, Wood Wharf, Canary Wharf, London, E14 9SB (<a href="http://goo.gl/maps/2uaIV">Google map</a>).
		The Stubnitz is five minutes' walk from Canary Wharf station (Jubilee Line or DLR), and parking is available nearby.
		<p class="mhead">Keep Informed</p>
		<p class="body">To keep up to date, you can follow Electromagnetic Wave on <a href="https://twitter.com/emw">Twitter</a> or <a href="http://lanyrd.com/2013/emw/">Lanyrd</a></p>
		<p class="mhead">Count me in!</p>
		<p class="body">Tickets are now on sale through <a href="https://www.emfcamp.org/wave">Eventbrite.</a></p>
		
{% endblock %}
