{% extends "base.html" %}
{% block body %}
<div class="span12">
EMF wouldn't be possible without the help of these lovely people:</p>
<a href="http://bitfolk.com" ><img src="http://bitfolk.com/images/logo.gif" class="padit" /></a></br>
<a href="http://www.pulsant.com/" ><img src="/static/images/Pulsant_Logo-sized.png" height="88" class="padit"/></a></br>
<a href="http://www.sargasso.co.uk/from/emfcamp"><img src="/static/images/Sargasso.png" class="padit"></a></br>
<a href="http://www.bytemark.co.uk/r/emfcamp" >
<img src="/static/images/bytemark_logo_662_x_85-without-hosting.png" height="78" class="padit" />
</a></br>
<a href="http://www.cisco.com/">
<img src="/static/images/Cisco.png" class="padit">
</a>
</div>
{% endblock %}
