{% extends "base.html" %}
{% block body %}
<div class="span12">
<p>If you are willing to make a financial contribution to our event, please <a href="/contact">contact us</a>.</p>
<p>EMF wouldn't be possible without the help of these lovely people:</p>
<h2>Platinum sponsors</h2>
<p>Contact us!</p>
<h2>Gold sponsors</h2>
<p>Contact us!</p>
<h2>Silver sponsors</h2>
<a href="http://www.bytemark.co.uk/r/emfcamp" ><img src="/static/images/bytemark_logo_274.png" class="padit" /></a></br>
<h2>Facilitating sponsors</h2>
<a href="http://www.pulsant.com/" ><img src="/static/images/Pulsant_Logo-sized.png" class="padit"/></a></br>
<a href="http://www.cisco.com/uk/" ><img src="/static/images/Cisco_87.png" class="padit"/></a></br>
<a href="http://www.flexoptix.net/" ><img src="/static/images/flexoptix.png" class="padit"/></a></br>
<a href="http://bitfolk.com" ><img src="/static/images/bitfolk.png" class="padit" /></a></br>
</div>
{% endblock %}
