{% extends "base.html" %}
{% block body %}

<div class="col-md-10">

<h2>Cancel your Stripe payment</h2>

<p>Are you sure you want to cancel your payment?</p>

<form method="post" action="{{ url_for('stripe_cancel', payment_id=payment.id) }}">
{{ form.hidden_tag() }}
{{ form.yes(class_="btn btn-danger") }}
<a class="btn btn-info" href="{{ url_for('tickets') }}">Go back to my tickets</a>
</form>

<h3></h3>
<p>If you have paid and want to get a refund please
<a href="mailto:{{ config['TICKETS_EMAIL'][1] }}">email us</a> with your payment reference.</p>

</div>
{% endblock %}
