{% extends "base.html" %}
{% block body %}

<div class="col-md-10">

<h2>Retry your Stripe payment</h2>

<p>Your payment has been authorised, but we have no record of charging your card.</p>

<form method="post" action="{{ url_for('payments.stripe_tryagain', payment_id=payment.id) }}">
{{ form.hidden_tag() }}
{{ form.tryagain(class_="btn btn-warning debounce") }}
<a class="btn btn-info" href="{{ url_for('tickets.main') }}">Go back to my tickets</a>
</form>

<h3></h3>
<p>If you have paid and want to get a refund please
<a href="mailto:{{ config['TICKETS_EMAIL'][1] }}">email us</a> with your payment reference.</p>

</div>
{% endblock %}
