{% extends "base.html" %}
{% block title %}Payment Complete{% endblock %}
{% block body %}

<div class="col-md-10">

<h2>Thank You!</h2>

<div class="well">
    {% if payment.state == 'paid' %}
    <p>Your Stripe payment for {{ payment.amount | price(payment.currency) }}
        has been confirmed. You should receive a receipt by email to the
        address you provided.</p>

    {% else %}
    <p>Your Stripe payment for {{ payment.amount | price(payment.currency) }}
       has been set up and your tickets will be reserved for {{ days }} days
       to allow for your payment to arrive.
       We will email you when the transaction has been completed.</p>
    {% endif %}

    <p>See you at Electromagnetic Field!</p>

    <a class="btn btn-success" href="{{ url_for('tickets.main') }}">Show my tickets</a>
</div>


</div>
{% endblock %}
