{% extends "base.html" %}
{% block title %}Credit Card Payment{% endblock %}
{% block body %}

<div class="col-md-10">

<h2>Credit Card payment</h2>

<div class="well" id="payment-info">
    This page will authorise your card payment for {{ payment.amount | price(payment.currency) }}.
    Please wait.
</div>

<noscript>
    <div class="alert alert-info">
        <p>You must have Javascript enabled to use our card payment provider Stripe.
            Please enable Javascript and click below to reload the page.</p>
            <a class="btn btn-primary"
                href="{{ url_for('payments.stripe_tryagain', payment_id=payment.id) }}">
                Reload page</a>
    </div>
</noscript>

<div class="hidden" id="popups-warning">
    <div class="alert alert-info">
        Your browser is blocking popups, or you may be experiencing network delays to our card payment provider Stripe.
        If you don't see a payment box, please click below to try again.
    </div>

    <a class="checkout-button btn btn-success" href="#">Open Stripe</a>
</div>

<div class="hidden" id="failed-warning">
    <div class="alert alert-danger">
        We didn't receive any details from Stripe. Your payment has not yet completed. Please click below try again.
    </div>

    <a class="checkout-button btn btn-success" href="#">Open Stripe</a>
    <a class="btn btn-default" href="{{ url_for('users.tickets') }}">Back to tickets</a>
</div>

<div class="hidden alert alert-info" id="payment-processing">
    Please wait while we process your payment. This should only take a few seconds.
</div>

<form method="post" action="{{ url_for('payments.stripe_capture', payment_id=payment.id) }}" id="stripe_capture" class="hidden">
{{ form.hidden_tag() }}
{{ form.forward(class_='btn btn-success debounce') }}
</form>

</div>
{% endblock %}
{% block foot -%}
<script src="https://checkout.stripe.com/checkout.js"></script>

<script type="text/javascript">
// Apparently the "popup" can be blocked
// https://stripe.com/docs/checkout#integration-more-runloop
if (typeof(EMF) != 'object') var EMF = Object();

EMF.stripe_handler = StripeCheckout.configure({
  key: {{ config['STRIPE_PUBLIC_KEY']|tojson }},
  token: function(token, args) {
    $('#popups-warning').hide();
    $('#failed-warning').hide();
    clearTimeout(EMF.stripe_token_timer);
    EMF.token = token;
    $('#token').val(token.id);
    $('#stripe_capture').submit();
    $('#payment-info').hide();
    $('#payment-processing').removeClass('hidden').show();
  },
  opened: function() {
    $('#popups-warning').hide();
    $('#failed-warning').hide();
  },
  closed: function() {
    if (!EMF.token) {
        // User closed the stripe box
        $('#failed-warning').removeClass('hidden').show();
    }
  }
});
EMF.stripe_checkout = function() {
  EMF.stripe_handler.open({
    image: {{ url_for('static', filename='images/stripe-logo.png')|tojson }},
    name: 'Electromagnetic Field',
    description: {{ payment.description|tojson }},
    email: {{ current_user.email|tojson }},
    allowRememberMe: false,
    amount: {{ payment.amount_int|tojson }},
    currency: {{ payment.currency.upper()|tojson }},
    panelLabel: 'Pay {% raw %}{{amount}}{% endraw %}',
    notrack: {{ request.headers.get('dnt') == '1' and 'true' or 'false' }}
  });
};

$('.checkout-button').on('click', EMF.stripe_checkout);
$(window).on('load', function() {
    /* Unfortunately we can't be sure whether Stripe will use a popup or iframe.
       So mobile users will probably get a popup warning. */
    setTimeout(function() {
        $('#popups-warning').removeClass('hidden');
    }, 2000);
    /* Stripe will time out if it can't open in 8000ms, but
       that's when running from DOMContentLoaded. */
    EMF.stripe_checkout();
});
</script>
{% endblock -%}
