{% extends "base.html" %}
{% block body %}
<div class="span10">
<h2>Talks & Workshops</h2>
<p>Electromagnetic Field will have an incredibly diverse set of talks and workshops occurring throughout the event.</p>
<p>If you would like to put on a talk or workshop, <a href="http://wiki.emfcamp.org/wiki/Talks">get in touch</a>.</p>

<h3>Provisional list of talks & workshops</h3>
<p>This list is added to on a daily basis. It will change significantly before the event. It is in a random order.</p>

<ul>
<li><strong>Big Pharma</strong> - Ben Goldacre</li>
<li><strong>High Altitude Ballooning</strong> - Adam Greig (UKHAS &amp; CUSF)</li>
<li><strong>Making a Mechanical Turing Machine</strong> - Jim MacArthur</li>
<li><strong>Biohacking (Talk)</strong> - Biohackers</li>
<li><strong>Lockpicking (Workshop)</strong> - Locksport International</li>
<li><strong>Basic Electronics</strong> - Assorted</li>
<li><strong>The 55th Flotilla</strong> - Toby Cole</li>
<li><strong>Programming TiLDA (Daily)</strong> - Assorted</li>
<li><strong>Learn to Solder (Properly)</strong> - Assorted</li>
<li><strong>Learn to Weld</strong> - Chris Paton</li>
<li><strong>A rant about the Space Shuttle</strong> - Russ Garrett</li>
<li><strong>Drones and Quadcopters (Workshop)</strong> - Universal Air</li>
<li><strong>A few short talks</strong> - Tom Scott</li>
<li><strong>Knitting for non-knitters (Workshop)</strong> - Clare Greenhalgh</li>
<li><strong>Feed Toby! What happens when 93,000 people feed your dog over the internet</strong> - Nat Morris</li>
<li><strong>Vodafone repeater umbrella, and antenna design</strong> - Kenneth Tong</li>
<li><strong>Freebase, god, and the semantic web</strong> - Spencer</li>
<li><strong>Why everyone is a terrible programmer</strong> - Tef</li>
<li><strong>Crochet at Scale</strong> - Sam Lindenrathen</li>
<li><strong>Hypermedia RPC</strong> - Tef</li>
<li><strong>Hypnosis Workshop</strong> - Dave Ingram</li>
<li><strong>DNSSEC, What it is and why you need it</strong> - Jasper Wallace</li>
<li><strong>A crash course in gene therapy</strong> - Bugs Binny</li>
<li><strong>Knitting for non-knitters (Talk)</strong> - Clare Greenhalgh</li>
<li><strong>GSM Basics</strong> - Paul Dart</li>
<li><strong>The Future is Right Here</strong> - Jez</li>
<li><strong>Engineering tomorrow's healthcare, synthetic tissue generation</strong> - Suwan Jayasinghe</li>
<li><strong>Hexayurt (Workshop)</strong> - Al Razi Masri</li>
<li><strong>EMF Retrospective, how can it be better</strong> - EMF Team</li>
<li><strong>Lockpicking (Talk)</strong> - Locksport International</li>
<li><strong>Fabz Video Mapping</strong> - Fabz</li>
<li><strong>TiLDA</strong> - Charles Yarnold</li>
<li><strong>Bluetooth!!!!</strong> - Mark Steward</li>
<li><strong>Deploying and managing DNSSEC zones (Workshop)</strong> - Jasper Wallace</li>
<li><strong>Beer, and brewing it</strong> - Russ Garrett</li>
<li><strong>Biohacking (Workshop)</strong> - Biohackers</li>
<li><strong>Fundamentals of web application security & security testing (Talk)</strong> - Tom Doran</li>
<li><strong>Drones and Quadcopters (Talk)</strong> - Universal Air</li>
<li><strong>Hexayurt: Free hardware housing for the world</strong> - Al Razi Masri</li>
<li><strong>Software radio for beginners</strong> - Assorted</li>
<li><strong>Postal Tracking, or, Where do all those Royal Mail vans go?</strong> - Peter Jackson</li>
<li><strong>Internet to a field, the EMF network</strong> - Nat Morris</li>
<li><strong>Mindhacker Hypnoshow</strong> - Dave Ingram</li>
<li><strong>Particle Physics beyond the LHC</strong> - Sam Lindenrathen</li>
<li><strong>Everything you never wanted to know about bees</strong> - Jonty Wareing</li>
<li><strong>Hackerspace Panel Discussion</strong> - Hackerspace People</li>
<li><strong>3D modelling workshop</strong> - Chris Paton</li>
<li><strong>Mapping internal body parts in 3D using lasers</strong> - Ben Blundell</li>
<li><strong>Key Impressioning</strong> - Jos Weyers</li>
<li><strong>Introduction to Esperanto</strong> - Gavan Fantom</li>
<li><strong>sketchPatch generative art badge making (Workshop)</strong> - MzTek</li>
<li><strong>Communal Sensor Networks, A review of global DIY environmental monitoring activities</strong> - Martin Dittus</li>
<li><strong>Introduction to microbiology</strong> - Bugs Binny</li>
<li><strong>Fundamentals of web application security & security testing (Workshop)</strong> - Tom Doran</li>
<li><strong>The demo scene: the biggest digital art movement you've never heard of</strong> - Matthew Westcott</li>
<li><strong>The Deeper Meaning Of LOLCats: Learnings From The Academic Study Of The Internet's Favorite Meme</strong> - Kate Miltner</li>
<li><strong>Where have all the women gone? (Women in computing: what’s the problem, why should you be bothered, and what can we do about it?)</strong> - Hannah Dee</li>
<li><strong>Introduction to interactive and wearable technology, using the Arduino and/or LilyPad Arduino (Workshop)</strong> - MzTek</li>
<li><strong>The current state of affairs in the DCPU world</strong> - José Díez</li>
<li><strong>Making NHS IT less bad</strong> - Carl Reynolds</li>
<li><strong>A series of live music performances</strong> - Music Hackspace</li>
<li><strong>Two-fisted tales of DevOps - beards vs. process</strong> - John Hawkes-Reed</li>
<li><strong>Bitcoin: Genesis to Pro</strong> - Amir Taaki</li>
<li><strong>Bitcoin workshop</strong> - Amir Taaki</li>
<li><strong>High Altitude Balloon Launch & Tracking</strong> - Adam Greig (UKHAS &amp; CUSF)</li>
<li><strong>This Pilsner Tastes of Doom Metal – Music Recommender Systems and Beer</strong> - Ben Fields</li>
<li><strong>The Game of <a href="http://en.wikipedia.org/wiki/Go_(game)">Go</a> (Workshop)</strong> - <em>Please bring a board &amp; stones if you own them</em> - Steven Gravell</li>
<li><strong>Make Yourself into a Zombie (Workshop)</strong> - Scary Boots</li>
<li><strong>Blacksmithing Workshop (Daily)</strong> - Ian Lowe</li>

</ul>
</div>
{% endblock %}
