{% extends "base.html" %}
{% block title %}Talks - Electromagnetic Field{% endblock %}
{% block body %}
<h2>Talks</h2>
<p>We'll have an incredibly diverse set of talks, workshops, performances, and installations
throughout the event. If you want to contribute, there's still time; fill in our
<a href="{{url_for('cfp')}}">Call for Participation</a>.</p>

<p>While we prepare the final schedule, here's a selection which have already been confirmed
(there are many more still to come).</p>

<table class="table">
  <thead>
  <th>Name</th><th>Title</th>
</thead>
<tbody>
{% for row in talks %}
<tr class="{{- loop.cycle('odd', 'even') }}">
    <td><strong>{{ row.0 }}</strong></td><td>{{ row.1 }}</td>
</tr>
{% endfor %}
</tbody>
</table>
{% endblock %}
