{% extends "base.html" %}
{% block title %}Programme - Electromagnetic Field{% endblock %}
{% block body %}
<h2>EMF 2014 Programme</h2>
<p>These were the talks which happened at EMF 2014.
Most of them are now available <a href="https://www.youtube.com/user/emfcamp1">on YouTube</a>.</p>

<table class="table">
  <thead>
  <th>Name</th><th>Title</th>
</thead>
<tbody>
{% for row in talks %}
<tr class="{{- loop.cycle('odd', 'even') }}">
    <td><strong>{{ row.0 }}</strong></td><td>{{ row.1 }}</td>
</tr>
{% endfor %}
</tbody>
</table>
{% endblock %}
