{% extends "base.html" %}
{% block title %}2016 Programme{% endblock %}
{% block body %}
<h2>EMF 2016 Programme</h2>
<p>These were the talks and workshops which happened at EMF 2016.
You can find videos of many of the talks on the <a href="https://media.ccc.de/c/emf16">CCC website</a> or <a href="https://www.youtube.com/ElectromagneticField">our YouTube channel</a>.</p>

{% for venue in venues %}

<h3>{{ venue.name }}</h3>

<table class="table">
  <thead>
  <th>Name</th><th>Title</th>
</thead>
<tbody>
{% for row in venue.events %}
<tr class="{{- loop.cycle('odd', 'even') }}">
    <td><strong>{{ row.speaker }}</strong></td><td>{{ row.title }}</td>
</tr>
{% endfor %}
</tbody>
</table>

{% endfor %}

{% endblock %}
