{% extends "base.html" %}
{% block body %}
<div class="span10">
<h2>Talks & Workshops</h2>
<p>Electromagnetic Field will have an incredibly diverse set of talks and workshops occurring throughout the event.</p>
<p>If you would like to put on a talk or workshop, <a href="http://wiki.emfcamp.org/wiki/Talks">get in touch</a>.</p>

<h3>Ongoing workshops</h3>
<p>There are several workshops that will be running throughout the event on every day, please talk to the info tent if you are interested in taking part in these.</p>
<ul>
<li>Blacksmithing lessons, located in the smithing marquee near the bar</li>
<li>Welding lessons, located near the workshop tent</li>
</ul>

<h3>Talk and Workshop schedule</h3>

<p>The talk and workshop schedule will change throughout the event, check this page regularly, or ask the info tent for a printed copy of the latest schedule.</p>


<h4>Friday 31st August</h4>
<table width="80%">
<th>Time</th><th>Stage Alpha</th><th>Stage Beta</th><th>Workshop</th>
{% for row in friday %}
<tr>
    <td><strong>{{ row.0 }}</strong></td><td width="33%">{{ row.1 }}</td><td width="33%">{{ row.2 }}</td><td width="33%">{{ row.3 }}</td>
</tr>
{% endfor %}
</table>

<br>

<h4>Saturday 1st September</h4>
<table width="80%">
<th>Time</th><th>Stage Alpha</th><th>Stage Beta</th><th>Workshop</th>
{% for row in saturday %}
<tr>
    <td><strong>{{ row.0 }}</strong></td><td width="33%">{{ row.1 }}</td><td width="33%">{{ row.2 }}</td><td width="33%">{{ row.3 | safe() }}</td>
</tr>
{% endfor %}
</table>

<br>

<h4>Sunday 2nd September</h4>
<table width="80%">
<th>Time</th><th>Stage Alpha</th><th>Stage Beta</th><th>Workshop</th>
{% for row in sunday %}
<tr>
    <td><strong>{{ row.0 }}</strong></td><td width="33%">{{ row.1 }}</td><td width="33%">{{ row.2 }}</td><td width="33%">{{ row.3 }}</td>
</tr>
{% endfor %}
</table>

</ul>
</div>
{% endblock %}
