{% extends "base.html" %}
{% block body %}

<div class="col-md-10">

<h2>Terms and Conditions of Ticket Purchase</h2>
<ol>
<li>Tickets will not be refunded unless the event is cancelled.</li>
<li>Tickets may be transferred but you must trust that the seller will not use it before you arrive.</li>
<li>You will not receive a physical ticket: you will be sent an e-ticket which will be checked on arrival.</li>
<li>Proof of age may be requested at the point of entry and at the bars.</li>
<li>The event schedule may be changed or amended at any time.</li>
<li>EMF will be open from 10:00 on Friday 29th August, until 14:00 on Monday 1st September.</li>
<li>The festival may refuse admission or eject a ticket holder for unreasonable or dangerous behaviour, or violation of the <a href="{{url_for('base.code_of_conduct')}}">Code of Conduct</a>.</li>
<li>Camping in the festival grounds is included in the ticket price.</li>
<li>All vehicles are parked at the owner's risk.</li>
<li>Car parking tickets must be pre-purchased before arrival.</li>
<li>No animals (except registered assistance dogs) are permitted into the festival site.</li>
<li>Please avoid bringing glass into the festival site where at all possible.</li>
<li>No fires are permitted except in designated areas.</li>
<li>Fireworks, smoke canisters, and other similar articles are not permitted within the festival site.</li>
<li>Weapons and illegal drugs are not permitted anywhere on the festival site, including car parks.</li>
<li>Ticket holders may be subject to search on entry, before and during the event.</li>
<li>You need to seek explicit permission to operate any amplified music equipment.</li>
<li>No stalls or market sales without permission of the organisers - please ask!</li>
</ol>

<p>For larger orders and ticket enquiries, please contact us on {{ config['TICKETS_EMAIL'][1] }}</p>
</div>
{% endblock %}
