{% extends "base.html" %}
{% block body %}

<div class="col-md-10">

<h2>Terms and Conditions of Ticket Purchase</h2>
<ol>
<li>Tickets may not be returned for a refund unless the event is cancelled.</li>
<li>You will not receive a physical ticket; you will be sent an e-ticket
  which must be presented on arrival.</li>
<li>Proof of age may be requested at the point of entry and at the bars.</li>
<li>The event schedule may be amended at any time.</li>
<li>The organiser may, at its sole discretion,
    refuse admission or eject a ticket holder without refund for unreasonable or dangerous behaviour,
    for violation of the <a href="{{url_for('base.code_of_conduct')}}">Code of Conduct</a>, or for any
    other reason.</li>
<li>The organiser may, at its sole discretion, cancel a ticket
    with a full refund before the event begins.</li>
<li>Camping in the festival grounds is included in the ticket price.</li>
<li>All vehicles are parked at the owner's risk.</li>
<li>Car parking tickets must be pre-purchased before arrival.</li>
<li>No animals (except assistance animals) are permitted into the festival site.</li>
<li>Please avoid bringing glass into the festival site where possible.</li>
<li>No fires are permitted except in designated areas.</li>
<li>Fireworks, smoke canisters, sky lanterns, and other similar articles are not permitted within the festival site.</li>
<li>Weapons and illegal drugs are not permitted anywhere on the festival site, including car parks.</li>
<li>Ticket holders may be subject to search on entry, before and during the event.</li>
<li>While we endeavour to provide all attendees with a TiLDA electronic badge,
  it is provided on a best-effort basis and your ticket does not guarantee you a badge.</li>
<li>Rented tents and furniture will be available for use no later than 12:00 on the Friday
  of the event, although we expect them to be available earlier.
  Refunds will be issued pro rata if they are unavailable after that that time.</li>
<li>You must seek explicit permission to operate any amplified music equipment.</li>
<li>No stalls or market sales without permission of the organisers - please ask!</li>
</ol>

<p>For ticket enquiries, please contact us at <a href="mailto:{{ config['TICKETS_EMAIL'][1] }}">{{ config['TICKETS_EMAIL'][1] }}</a>.</p>
</div>
{% endblock %}
