{% from "_formhelpers.html" import render_field %}
{% extends "base.html" %}
{% block body %}

<h3>
Ticket Information
</h3>

{# <div class="countdown">45:00</div> #}

<p>You've requested {{ basket|count }} ticket{% if basket|count > 1 %}s{% endif %} for a total price of <b>{{ total | price(user_currency) }}</b>.</p>
<p>We just need a little more information about these tickets.
If you're unsure about anything, please check out our <a href="http://wiki.emfcamp.org/wiki/FAQ#Ticket_Sales">FAQ</a>
or drop us an <a href="mailto:{{ config['TICKETS_EMAIL'][1] }}">email</a>.</p>

<form method="post" class="form-horizontal ticket-info">
{{ form.hidden_tag() }}
<fieldset>

<div>

{% if is_anonymous %}
<div class="well">
    <div class="form-inline row">
        <div class="col-md-6">{{ render_field (form.email, True) }}</div>
        <div class="col-md-6">{{ render_field (form.user_name, True) }}</div>
    </div>
    <div id="a-blurb{{ i }}">
        <p>We need your email address and name to send you your tickets, please make sure it's correct. Should you decide to sign up for workshops or edit the wiki later please use this email address and we'll automatically add the tickets to your account.</p>
  </div>
</div>
{% endif %}

{% for ticket in basket %}
{% if ticket.form %}
    <div class="well">

    <h4>{{ ticket.name }} </h4>
	{% set i=loop.index %} {# number each ticket so the expandable boxes work #}
    {% include ticket.form.template with context %}

    </div>

{% endif %}
{% endfor %}

</div>

<a class="btn btn-default" href="{{ url_for('tickets_choose') }}">Change tickets</a>
{{ form.forward(class_="btn btn-success") }}

</fieldset>
</form>


{% endblock %}
