{% from "_formhelpers.html" import render_field %}
{% extends "base.html" %}
{% block head %}
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
{% endblock %}

{% block body %}

{% if tickets %}
<p>Your current tickets:</p>

<table class="tickets">
<tr><th>Type</th><th>Status</th></tr>

{% for t in tickets %}

<tr class="
{{ loop.cycle('odd', 'even') }}
{% if t.paid %}paid{% endif%}
{% if t.expired() %}expired{% endif %}
">
<td>{{ t.type.name }}</td>
<td>
    {% if t.paid %}
    Paid
    {% elif t.expired() %}
    Expired
    {% else %}
    Pending
    {% endif %}
</td>
</tr>

{% endfor %}

</table>
<br/>

{% endif %}

{% if payments %}
Your payments:

<table>
<tr><th>Type</th><th>Amount</th><th>Progress</th><th></th></tr>
{% for p in payments %}
<tr class="
{{ loop.cycle('odd', 'even') }}
">

<td>{{ p.name }}</td>
<td>{{ format_price(p.amount) }}</td>
<td>{{ p.state }}</td>
<!-- <td>{% if p.state != "paid" %}<a href="">Cancel</a>{% endif %} -->
</td>

</tr>
{%endfor%}
</table>

{% endif %}

{% include 'ticket-blurb.html' %}

{% if tickets|count < 4 %}

<form method=post class="choose-prepay-tickets">
    {{form.hidden_tag()}}
    <h2>Reserve tickets</h2>
<dl id="prepay" data-price="{{ price }}">
    {{ render_field(form.count) }}
</dl>
    <p id="summary">
    <span>Price per ticket: {{ format_price(price) }}</span>
    <span style="display: none">Total amount for deposit: <span id="total"></span></span>
    </p>
    <input type=submit value="Go to reservation"/>
</form>
{% else %}
<p>You've already bought 4 tickets, thanks for helping EMF by
buying a prepay ticket!</p>
{% endif %}

<script type="text/javascript">
$(function() {
  $('#summary').children().toggle();

  function format_price(amount, currency, after) {
    if (!currency) currency = '\xa3';
    var amount = parseFloat(amount).toFixed(2);
    if (after)
      return amount + currency;
    return currency + amount;
  }

  var price = $('#prepay').data('price');

  $('#count').on('change', function() {
      var count = parseInt($(this).val(), 10);
      $('#total').text(format_price(count * price));
  }).change();

});
</script>
{% endblock %}
