{% from "_formhelpers.html" import render_field  %}
{% extends "base.html" %}
{% block body %}

<h2>Transfer a Ticket</h2>
<div class="well">
    <p>You can transfer a ticket to another person if you have bought it for
    them. The recipient will be able to access the ticket on this site, and
    we'll email them important information nearer the event.</p>
    <p>By filling in this form you are transferring ownership of the ticket.
    You'll be able to refer to it in the <a href="{{ url_for('users.purchases', _anchor='transfers-to') }}">tickets given</a>
    section of the tickets page.</p>
</div>

<form method="post" class="form-horizontal ticket-info">
{{ form.hidden_tag() }}
<fieldset>
    <div class="panel panel-default">
        <div class="panel-heading"><h3 class="panel-title">Transfer ticket: {{ticket.type.name}}</h3></div>
    <div class="panel-body">
      {{ render_field(form.name, horizontal=True) }}
      {{ render_field(form.email, horizontal=True) }}
    </div>
  </div>
  <a class="btn btn-default" href="{{ url_for('users.purchases') }}">Back</a>
  {{ form.transfer(class_="btn btn-success") }}
</fieldset>
</form>

{% endblock %}
