
<p>A ticket to EMF 2014 will get you:</p>

<ul>
    <li>A secure place to camp for three days.</li>
    <li>Power to your tent.</li>
    <li>Very fast internet access</a> (both wired and wireless).</li>
    <li>Access to running water and hot showers.</li>
    <li>A whole pile of awesome talks and workshops by amazing people.</li>
    <li>A full bar.</li>
    <li>One fully programmable camp badge, equipped with wireless communications and screen.</li>
    <li>A campsite equipped with weird and wonderful things to play with.</li>
    <li>A weekend unlike any other in the UK.</li>
</ul>

<p>Please make sure you're familiar with our <a href="{{url_for('ticket_terms')}}">Terms and Conditions</a> and
    the <a href="http://wiki.emfcamp.org/wiki/FAQ">FAQ</a> before buying your ticket.</p>
