{% extends "base.html" %}
{% block title %}Your Tickets{% endblock %}
{% block body %}
{% if tickets %}
<h2>Your Tickets</h2>

<form action="{{ url_for('tickets.main') }}" method="POST">
{{ form.hidden_tag() }}

<table class="table tickets">
<tr>
  <th class="checkbox-cell"></th>
  <th>Type</th>
  <th>Status</th>
</tr>

{%- for t in tickets -%}

{# only display tickets that have a payment #}
{%- if t.payment %}
<tr class="
{{- loop.cycle('odd', 'even') }}
{%- if t.paid %} paid {%- endif -%}
{%- if t.expired() %} expired {%- endif -%}
">
<td class="checkbox-cell">
  {% if t.paid %}
  <label>
    <input type="checkbox" name="ticket_id" value="{{ t.id }}">
  </label>
  {% endif %}
</td>
<td>{{ t.type.name }}</td>
<td>
    {% if t.payment.state == 'cancelled' %}
    Cancelled
    {%- elif t.paid %}
    Paid
    {%- elif t.expired() %}
    Unpaid
    {%- else %}
    Pending
    {%- endif %}
</td>
<td>
  {% if t.paid and t.type.is_transferable %}
    <a class="btn btn-default" href="{{ url_for('.transfer', ticket_id=t.id) }}">Transfer</a>
  {% endif %}
</td>
</tr>
{% endif -%}
{% endfor -%}

</table>

{{ form.forward(class_="btn btn-default pull-right") }}
</form>

<div class="clearfix"></div>

{% endif %}

{% if payments %}
<h2>Your payments</h2>

<table class="table">
<tr><th>Type</th><th>Amount</th><th>Progress</th><th colspan="2"></th></tr>
{% for p in payments %}
<tr class="
{{- loop.cycle('odd', 'even') -}}
">

<td>
    <a href="{{ url_for('payments.invoice', payment_id=p.id) }}">{{ p.name }}</a>
</td>
<td>{{ p.amount | price(p.currency) }}</td>
<td>
{%- if p.state == "inprogress" and p.provider == "banktransfer" %}
    <a href="{{ url_for('payments.transfer_waiting', payment_id=p.id) }}">Pending</a>
{%- else -%}
    {{ {'new': 'New', 'inprogress': 'Pending', 'paid': 'Complete'}[p.state] -}}
{% endif -%}
{%- if p.provider == "banktransfer" %}, reference: {{ p.bankref | bankref }} {% endif %}</td>
<td>
{%- if p.state == "new" and p.provider == "gocardless" %}
    <a href="{{ url_for('payments.gocardless_tryagain', payment_id=p.id) }}" class="btn btn-success">Pay</a>
{%- elif p.state == "new" and p.provider == "stripe" %}
    <a href="{{ url_for('payments.stripe_tryagain', payment_id=p.id) }}" class="btn btn-success">Pay</a>
{%- elif p.state == "captured" and p.provider == "stripe" %}
    <a href="{{ url_for('payments.stripe_tryagain', payment_id=p.id) }}" class="btn btn-success">Charge</a>
{% endif -%}
</td>
<td>
{%- if p.state == "new" and p.provider == "gocardless" %}
    <a href="{{ url_for('payments.gocardless_cancel', payment_id=p.id) }}" class="btn btn-warning">Cancel</a>
{%- elif p.state in ["new", "inprogress"] and p.provider == "banktransfer" %}
    <a href="{{ url_for('payments.transfer_cancel', payment_id=p.id) }}" class="btn btn-warning">Cancel</a>
{%- elif p.state in ["new", "captured"] and p.provider == "stripe" %}
    <a href="{{ url_for('payments.stripe_cancel', payment_id=p.id) }}" class="btn btn-warning">Cancel</a>
{% endif -%}
</td>

</tr>
{% endfor %}
</table>

{% endif %}

<a href="{{ url_for('tickets.choose') }}" class="btn btn-lg btn-primary">Buy Another Ticket</a>
{% endblock %}
{% block foot %}
<script type="text/javascript">
$(function() {
  $('#summary').children().toggle();
});
</script>
{% endblock %}
