{% from "_formhelpers.html" import render_field  %}
{% extends "base.html" %}
{% block body %}

<h3>Transfer Ticket</h3>
<p>
  You can transfer a ticket to another person if you have bought it for them. This will automatically create them an account on this website from which they can manage their ticket(s). It will also allow them to use other features of this site such as scheduling, receive our (infrequent) updates and sign-up for volunteering shifts.
</p>
<p>
  By filling in this form you will transfer ownership of the ticket. You will no longer see it in your list of tickets (although the cost of it will still be listed as part of your purchase).
</p>

<form method="post" class="form-horizontal ticket-info">
{{ form.hidden_tag() }}
<fieldset>
  <div class="well">
    <div class="row">
      <div class="col-md-12">{{ render_field(form.email, autofocus=True) }}</div>
      <div class="col-md-12">{{ render_field(form.name) }}</div>
    </div>
  </div>
  <a class="btn btn-default" href="{{ url_for('tickets.main') }}">Back</a>
  {{ form.transfer(class_="btn btn-success") }}
</fieldset>
</form>

{% endblock %}