{% extends "base.html" %}
{% block title %}
{% if admissions %}
Buy Tickets
{% else %}
Buy Items
{% endif %}
{% endblock %}
{% block body %}
{% if admissions %}
    {% include 'ticket-blurb.html' %}

    <p>To order additional items, such as {# village tents #} t-shirts, please
        <a href="{{ url_for('tickets.choose', flow='other') }}">click here</a>.

    <p>
      By buying a ticket you are agreeing to our <a href="{{url_for('payments.terms')}}">Terms
      and Conditions</a> and the <a href="{{url_for('base.code_of_conduct')}}">Code of Conduct</a>.
    </p>
{% else %}
    <h2>T-shirts</h2>
    <p>
      We're doing a limited run of navy blue t-shirts with a professionally-printed design on high quality
      cotton. Pre-ordered t-shirts will be available for collection during the event.
    </p>
    <div>&nbsp;</div>
    <div class="row">
        <img class="img-responsive md-col-12" src="{{ url_for('static', filename='images/EMF-2016-Tshirts-V1-02.jpg') }}">
    </div>
    <h3>Sizing</h3>
    <div class="row">
      <div class="col-sm-6">
        <h4>Semi-fitted</h5>
        <table class="table">
        <thead>
          <tr><th>Size</th><th>Width</th><th>Height</th></tr>
        </thead>
        <tbody>
          <tr class="odd" ><td> S   </td><td> 44cm (17in) </td><td> 65cm (26in) </td></tr>
          <tr class="even"><td> M   </td><td> 49cm (19in) </td><td> 66cm (26in) </td></tr>
          <tr class="odd" ><td> L   </td><td> 54cm (21in) </td><td> 69cm (27in) </td></tr>
          <tr class="even"><td> XL  </td><td> 59cm (23in) </td><td> 69cm (27in) </td></tr>
          <tr class="odd" ><td> XXL </td><td> 64cm (25in) </td><td> 72cm (28in) </td></tr>
        </tbody>
        </table>
      </div>
      <div class="col-sm-6">
        <h4>Unfitted</h5>
        <table class="table">
        <thead>
          <tr><th>Size</th><th>Width</th><th>Height</th></tr>
        </thead>
        <tbody>
          <tr class="odd" ><td> S   </td><td> 46cm (18in) </td><td> 71cm (28in) </td></tr>
          <tr class="even"><td> M   </td><td> 51cm (20in) </td><td> 73cm (29in) </td></tr>
          <tr class="odd" ><td> L   </td><td> 56cm (22in) </td><td> 76cm (30in) </td></tr>
          <tr class="even"><td> XL  </td><td> 61cm (24in) </td><td> 79cm (31in) </td></tr>
          <tr class="odd" ><td> XXL </td><td> 66cm (26in) </td><td> 81cm (32in) </td></tr>
        </tbody>
        </table>
      </div>
    </div>

    <div>&nbsp;</div>
    <h2>Parking &amp; Caravan tickets</h2>
    <p>
      We have limited space for parking, so if you're coming by car you'll need a parking ticket.
      We recommend you share a car or use public transport to travel to the site.
      A dedicated shuttle bus service will be operating from a nearby station &mdash;
      see our <a href="https://wiki.emfcamp.org/wiki/Travel" target="_new">Travel Guide</a> for more information.
    </p>
    <p>
      There is a restricted area on-site for caravans and campervans. If you're bringing your
      caravan with a car, you don't need a separate parking ticket.
    </p>

    <div>&nbsp;</div>
    <p>
      By making a purchase you are agreeing to our <a href="{{url_for('payments.terms')}}">Terms
      and Conditions</a> and the <a href="{{url_for('base.code_of_conduct')}}">Code of Conduct</a>.
    </p>
{% endif %}
{% if not current_user.is_authenticated() %}
    <p>If you've already bought a ticket this year, <a href="{{url_for('users.login')}}">log in</a> to view your ticket status.</p>
{% endif %}

<form method="post" class="choose-tickets-form" id="choose_tickets">
    {{form.hidden_tag()}}
<div class="well pull-right">
    <label>Select your currency:</label>
    <div class="btn-group">
        {% for c in CURRENCIES %}
        <!-- IE8+ -->
        <button type="submit" class="btn btn-primary {% if user_currency == c.code -%} active {%- endif %}" name="set_currency" value="{{ c.code }}" data-toggle="button">{{ c.symbol }}</button>
        {% endfor %}
    </div>
</div>

<div class="clearfix"></div>

<table class="table ticket-types">

<thead>
<tr>
    {% if admissions %}
    <th>Ticket Type</th>
    {% else %}
    <th>Item Type</th>
    {% endif %}
    <th>Cost</th>
    <th>Amount</th>
</tr>
</thead>

<tbody>
{% set row_class = cycler('odd', 'even') %} {# required as we skip rows #}
{% for f in form.types %}
{% if f._any or f.amount.errors %}
<tr data-price="{{ f._type.get_price(user_currency) }}"
    {% for price in f._type.prices -%}
        data-price-{{ price.currency }}="{{ price.value }}"
    {% endfor -%}
    class="ticket-type form-group
        {% if f.amount.errors -%} has-error {%- endif %}
        {{ row_class.next() }}">
    <td>
        {{ f.hidden_tag_without('csrf_token') }}
        <label for="{{ f.amount.id }}"><b>{{ f._type.name }}</b></label>
        {% if f._type.description %}<p class="description">{{ f._type.description }}</p>{% endif %}
    </td>
    <td>
        <span class="price">{{ f._type.get_price(user_currency) | price(user_currency) }}</span>
    </td>
    <td>
        <div class="controls">{{ f.amount(class_="amount")|safe }}
        {% if f.amount.errors %}
            {% for error in f.amount.errors %}
            <div class="help-block">{{ error }}</div>
            {% endfor %}
        {% endif %}
        </div>
    </td>
</tr>
{% endif %}
{% endfor %}
</tbody>
<tfoot>
<tr>
    <td colspan="3">
    <div id="summary" class="pull-right">
        <div>Total will be shown on the next page</div>
        <div style="display: none">
            <label>Total:
            <strong id="total" style="text-align: right">{{ 0 | price(user_currency) }}</strong>
            </label>
        </div>
    </div>
    </td>
</tfoot>
</table>

<div class="form-actions pull-right">
    {% if admissions %}
    {{ form.buy(class_="btn btn-primary btn-lg debounce") }}
    {% else %}
    {{ form.buy_other(class_="btn btn-primary btn-lg debounce") }}
    {% endif %}
</div>

</form>
{% endblock %}

{% block foot %}
<script type="text/javascript">
if (typeof(EMF) != 'object') var EMF = Object();

EMF.CURRENCY_SYMBOLS = {{ CURRENCY_SYMBOLS|tojson }};
EMF.user_currency = {{ user_currency|tojson }};

EMF.format_price = function(amount, currency, after) {
  var amount = parseFloat(amount).toFixed(2);
  var symbol = EMF.CURRENCY_SYMBOLS[currency];
  if (symbol === undefined) throw 'Unknown currency ' + currency;
  if (after)
    return amount + symbol;
  return symbol + amount;
};
EMF.update_currency = function() {
  EMF.user_currency = $('#currency_code').val();
  $('.ticket-type').each(function() {
    var $t = $(this);
    var price = $t.data('price-' + EMF.user_currency.toLowerCase());
    $t.data('price', price);
    $t.find('.price').text(EMF.format_price(price, EMF.user_currency));
  });
};
EMF.update_total = function() {
    var total = 0;
    $('.amount').each(function() {
        var count = parseInt($(this).val(), 10);
        var price = $(this).closest('tr').data('price');
        total += count * price;
    });
    $('#total').text(EMF.format_price(total, EMF.user_currency));
};

$(function() {
  $('#summary').children().toggle();

  $('.amount').on('change', EMF.update_total).change();
  $('[name=set_currency]').on('click', function(event) {
      $(this).closest('.btn-group').find('.btn').not(this).removeClass('active');
      $('#currency_code').val($(this).attr('value'));
      EMF.update_currency();
      EMF.update_total();
      event.preventDefault();
  });
});
</script>
{% endblock %}
