{% extends "base.html" %}
{% block title %}Buy Tickets{% endblock %}
{% block body %}
<div class="well">
    {% include 'ticket-blurb.html' %}
</div>

{% if not current_user.is_authenticated() %}
<p>If you've already bought a ticket this year, <a href="{{url_for('users.login')}}">log in</a> to view your ticket status.</p>
{% endif %}

<form method="post" class="choose-tickets-form" id="choose_tickets">
    {{form.hidden_tag()}}
<div class="well pull-right">
    <label>Select your currency:</label>
    <div class="btn-group">
        {% for c in CURRENCIES %}
        <!-- IE8+ -->
        <button type="submit" class="btn btn-primary {% if user_currency == c.code -%} active {%- endif %}" name="set_currency" value="{{ c.code }}" data-toggle="button">{{ c.symbol }}</button>
        {% endfor %}
    </div>
</div>

<div class="clearfix"></div>

<table class="table ticket-types">

<thead>
<tr>
    <th>Ticket Type</th>
    <th>Cost</th>
    <th>Amount</th>
</tr>
</thead>

<tbody>
{% set row_class = cycler('odd', 'even') %}
{% for f in form.types %}
{% if f._any or f.amount.errors %}
<tr data-price="{{ f._type.get_price(user_currency) }}"
    {% for price in f._type.prices -%}
        data-price-{{ price.currency }}="{{ price.value }}"
    {% endfor -%}
    class="ticket-type form-group
        {% if f.amount.errors -%} has-error {%- endif %}
        {{ row_class.next() }}">
    <td>
        {{ f.hidden_tag_without('csrf_token') }}
        <label for="{{ f.amount.id }}"><b>{{ f._type.name }}</b></label>
        {% if f._type.description %}<p class="description">{{ f._type.description }}</p>{% endif %}
    </td>
    <td>
        <span class="price">{{ f._type.get_price(user_currency) | price(user_currency) }}</span>
    </td>
    <td>
        <div class="controls">{{ f.amount(class_="amount")|safe }}
        {% if f.amount.errors %}
            {% for error in f.amount.errors %}
            <div class="help-block">{{ error }}</div>
            {% endfor %}
        {% endif %}
        </div>
    </td>
</tr>
{% endif %}
{% endfor %}
</tbody>
<tfoot>
<tr>
    <td colspan="3">
    <div id="summary" class="pull-right">
        <div>Total will be shown on the next page</div>
        <div style="display: none">
            <label>Total:
            <strong id="total" style="text-align: right">{{ 0 | price(user_currency) }}</strong>
            </label>
        </div>
    </div>
    </td>
</tfoot>
</table>

<div class="form-actions pull-right">
    {{ form.buy(class_="btn btn-success btn-lg debounce") }}
</div>

</form>
{% endblock %}

{% block foot %}
<script type="text/javascript">
if (typeof(EMF) != 'object') var EMF = Object();

EMF.CURRENCY_SYMBOLS = {{ CURRENCY_SYMBOLS|tojson }};
EMF.user_currency = {{ user_currency|tojson }};

EMF.format_price = function(amount, currency, after) {
  var amount = parseFloat(amount).toFixed(2);
  var symbol = EMF.CURRENCY_SYMBOLS[currency];
  if (symbol === undefined) throw 'Unknown currency ' + currency;
  if (after)
    return amount + symbol;
  return symbol + amount;
};
EMF.update_currency = function() {
  EMF.user_currency = $('#currency_code').val();
  $('.ticket-type').each(function() {
    var $t = $(this);
    var price = $t.data('price-' + EMF.user_currency.toLowerCase());
    $t.data('price', price);
    $t.find('.price').text(EMF.format_price(price, EMF.user_currency));
  });
};
EMF.update_total = function() {
    var total = 0;
    $('.amount').each(function() {
        var count = parseInt($(this).val(), 10);
        var price = $(this).closest('tr').data('price');
        total += count * price;
    });
    $('#total').text(EMF.format_price(total, EMF.user_currency));
};

$(function() {
  $('#summary').children().toggle();

  $('.amount').on('change', EMF.update_total).change();
  $('[name=set_currency]').on('click', function(event) {
      $(this).closest('.btn-group').find('.btn').not(this).removeClass('active');
      $('#currency_code').val($(this).attr('value'));
      EMF.update_currency();
      EMF.update_total();
      event.preventDefault();
  });
});
</script>
{% endblock %}
