
<h4>A ticket to EMF 2014 will get you:</h4>
<p></p>

<ul>
    <li>A secure place to camp for three days</li>
    <li>Power to your tent</li>
    <li>Very fast internet access (both wired and wireless)</li>
    <li>Access to running water and hot showers</li>
    <li>A whole pile of awesome talks and workshops by amazing people</li>
    <li>Access to a well-stocked bar, and multiple food vendors</li>
    <li>One fully programmable camp badge, equipped with wireless communications and screen</li>
    <li>A campsite equipped with weird and wonderful things to play with</li>
    <li>A weekend unlike any other in the UK</li>
</ul>

<p></p>
<b>Still not sure? Check out our <a href="https://wiki.emfcamp.org/wiki/FAQ">FAQ</a> for more details on how the event will happen.</b>
<p></p>

<p>By buying a ticket you are agreeing to our <a href="{{url_for('ticket_terms')}}">Terms and Conditions</a> and the <a href="{{url_for('code_of_conduct')}}">Code of Conduct</a>.</p>
