{% from "_formhelpers.html" import render_field %}
{% extends "base.html" %}

{% block body %}
<div class="col-md-10">
  <h2>Tickets for {{ user.name }}</h2>
  <div class="col-md-6">
    <p>{{ user.email }}</p>
    <p>{{ tickets|length }} ticket{{ tickets|length != 1 and 's' or '' }}</p>
  </div>
  <div class="col-md-4">
    <img class="receipt-qr" src="{{ url_for('tickets_receipt_qr', receipt=user.receipt) }}" />
    {{ user.receipt }}
  </div>
  <div class="col-md-10"></div>
  <div class="col-md-10"></div>

  {% for t in tickets %}

  {% if t.payment %}
  <div class="col-md-6">
    <b>{{ t.type.name }}</b>
    <ul>
        {% if t.type.code.startswith('full') or t.type.code.startswith('kids') %}
        {% for attrib in t.attribs|sort %}
          {% if attrib.value in ('1', 'true') %}
            {% if attrib.name == "accessible" %} <li>Accessible<li>
            {% elif attrib.name == "volunteer" %} <li>Volunteer</li>
            {% endif %}
          {% endif %}
        {% endfor %}
        {% endif %}
    </ul>
  </div>
  <div class="col-md-4">
    <img class="receipt-qr" src="{{ url_for('tickets_receipt_qr', receipt=t.receipt) }}" />
    {{ t.receipt }}
  </div>

  {% endif %}
  {% endfor %}

</div>
{% endblock %}
