{% if config.get('FULL_TICKETS', False) %}
<p></p>
{% else %}
<p>We don't have a final budget yet, so we're currently only letting people
   put a deposit down for their tickets.</p>

<ul>
    <li>Deposit pre-sales cost <strong>£30</strong> per ticket.</li>
    <li>They will entitle you to pay the rest of your ticket price at a £5 discount to the full ticket price.</li>
    <li>We anticipate the full ticket price to be between £80 and £100.
        If the final ticket price is under £100, you'll have to pay a £10 administration fee if you want a refund of your deposit.</li>
        <li>Currently tickets are for <b>over 18s</b> only. We're working on lifting this limit, and tickets for under-18s should be available soon.
        Please see <A HREF="http://wiki.emfcamp.org/wiki/FAQ#Why_is_there_currently_an_age_limit.3F">our FAQ</a> for
        details.</li>
</ul>

{% endif %}

<p>A ticket to EMF 2012 will get you:</p>

<ul>
    <li>A secure place to camp for three days.</li>
    <li>Power to your tent.</li>
    <li><a href="http://blog.emfcamp.org/post/27143646219/emf-camp-the-site-and-networking">Very fast internet access</a> (both wired and wireless).</li>
    <li>Access to running water and hot showers.</li>
    <li>A whole pile of awesome talks and workshops by amazing people.</li>
    <li>A full bar.</li>
    <li>One <a href="http://blog.emfcamp.org/post/28558155390/revealing-tilda-our-camp-badge">fully programmable camp badge</a>, equipped with wireless communications.</li>
    <li>A campsite equipped with weird and wonderful things to play with.</li>
    <li>A weekend unlike any other in the UK.</li>
</ul>

<p>Please make sure you're familiar with our <a href="{{url_for('ticket_terms')}}">Terms and Conditions</a> and
    the <a href="http://wiki.emfcamp.org/wiki/FAQ">FAQ</a> before buying your ticket.</p>
