{% extends "base.html" %}
{% block body %}

<div class="span10">

<h2>Cancel Your banktransfer payment</h2>
<p>Are you sure you want to cancel your payment?</p>

<form method="post" action="{{ url_for('transfer_cancel') }}" class="form-inline">
{{form.hidden_tag()}}
{{form.yes(class_="btn btn-danger")}}
{{form.no(class_="btn")}}
</form>

<p>If you have paid and want to get a refund please
<a href="mailto:{{config.get('TICKETS_EMAIL')[1] }}">email us</a> with your payment reference.</p>

<a class="btn btn-info" href="{{ url_for('tickets') }}">Show my tickets</a>

</div>
{% endblock %}
