{% extends "base.html" %}
{% block body %}

<div class="col-md-10">

<h2>Thank you!</h2>
<p>Your tickets have been reserved for {{ days }} days while you pay by bank transfer.
  We'll email you when we receive your payment.</p>

<h2>How to Pay</h2>

<p>You can pay by bank transfer, or by paying cash into our account.</p>
<p>We will use the reference to identify the payment as yours, so please ensure it's included in full.</p>

<dl class="dl-horizontal">
<dt>Bank</dt><dd>Barclays</dd>
<dt>Payee</dt><dd>Electromagnetic Field Ltd</dd>
{% if payment.currency == 'GBP' %}
<dt>Sort code</dt><dd>20-71-64</dd>
<dt>Account number</dt><dd>73590526</dd>
{% elif payment.currency == 'EUR' %}
<dt>SWIFT</dt> <dd>BARCGB22</dd>
<dt>IBAN</dt> <dd>GB21 BARC 2071 6472 9544 33</dd>
<dt>City</dt> <dd>London</dd>
{% endif %}
<dt>Amount</dt><dd>{{ payment.amount | price(payment.currency) }}</dd>
<dt>Reference</dt><dd>{{ payment.bankref | bankref }}</dd>
</dl>

<p>(Don't worry about the hyphen, or if the payee name doesn't quite fit.)</p>

<p>

<p>See you at Electromagnetic Field!</p>

<a class="btn btn-info" href="{{ url_for('tickets.main') }}">Show my tickets</a>

</div>
{% endblock %}
