{% extends "base.html" %}
{% block body %}
<div class="span10">
	<div class="tabbable"> <!-- Only required for left/right tabs -->
	  <ul class="nav nav-tabs">
		<!-- bar':{}, 'steward':{}, 'stage':{}, 'parking':{}} -->
	    <li class="active"><a href="#steward" data-toggle="tab">Stewarding</a></li>
	    <li><a href="#bar" data-toggle="tab">Bar work</a></li>
	    <li><a href="#stage" data-toggle="tab">Stage work</a></li>
	    <li><a href="#parking" data-toggle="tab">Car parking</a></li>
	  </ul>
	  <div class="tab-content">
		{% for role, data in slots.items() %}
		    <div class="tab-pane active" id={{ role }} >
				<table>			
					{% for date, slots in data.items() %}
						<tr>
							<td colspan="{{ slots|length }}">
								{% if date == 31 %}
									<b>Friday 31st August</b>
								{% elif date == 1 %}
									<b>Saturday 1st September</b>	
								{% else %}
									<b>Sunday 2nd September</b>
								{% endif %}
							</td>
						</tr>
						<tr>
							{% for slot in slots %}
								<td>{{ slot }}</td>
							{% endfor %}
						</tr>
					{% endfor %}
				</table>
		    </div>
		{% endfor %}
	  </div>
	</div>
</div>
{% endblock %}
