{% extends "base.html" %}
{% block title %}Electromagnetic Wave - Talks &amp; Workshops{% endblock %}
{% block document %}
<div class="container-fluid">
  <header>
       <h1><a href='/wave'><span class="emw_logo"></span>Electromagnetic Wave</a></h1>
  </header>
                {% for message in get_flashed_messages() -%}
                            <div class="span10 alert alert-error">{{ message }}</div>
                                    {% endfor -%}

    <div class="row-fluid">
      <div class="span3"></div>
      <div class="span6 micro">

<p><a href='/wave'>&#171; Sail back to the main site</a></p>

<center><p class="summary"><b><a href='/wave#tickets'>Buy tickets for Electromagnetic Wave!</a></b></p></center>

<h2>Talks & Workshops</h2>
        
<p class="summary">
    We're slowly announcing talks and workshops as <abbr title="Electromagnetic Wave">EMW</abbr> approaches, with the schedule being revealed a few days before the event itself. Below you can find the talks we've announced so far.
</p>
<p class="summary">
    While we're no longer accepting full talk submissions, there will be multiple lightning talk sessions you can take part in and we may have shorter talk slots available. Fill in the <a href='#get-involved'>Get Involved</a> form and we'll be in touch!
</p>


<h2 id="talks">Talks</h2>
<p>We're announcing talks every few days, this is the current list.</p>

<ul>
    <li>
        <p class="summary"><b>When Zeppelins Ruled The Earth</b> - Simon Willison</p>
        <p>Experience the birth of the mighty Zeppelin, its role in early arctic exploration, its first epic voyage around the world and its rise and subsequent fall as the darling of the US navy! Discover ambitious British plans for an Imperial Airship Scheme to dominate the colonies! Stories, photographs and tales of daring Zeppelin/biplane exploits!</p>
    </li>
    <li>
        <p class="summary"><b>Catching Bugs with Code: Adventures in Bacterial Genomics</b> - Jane Charlesworth</p>
        <p>Genome sequencing is now cheap enough that labs and hospitals can sequence hundreds of bacterial genomes in virtually real time. This will detail some of the neat advances in sequencing technology, give examples of where we are using genomic data to track down the origins of outbreaks of bacterial disease, map transmission and track bacterial evolution in real time and outline some of the computational problems involved in bioinformatics.</p>
    </li>
    <li>
        <p class="summary"><b>The Kraken Ocean Drifter</b> - Daniel Saul &amp; Priyesh Patel</p>
        <p>A student-run project that designed, built and deployed an ocean buoy into the North Sea, then publicly tracked it via satellite live on the internet.</p>
    </li>
    <li>
        <p class="summary"><b>The Craftivism Movement</b> - Sarah Corbett</p>
        <p>Craftivism enables people who previously may never have had their views heard to contribute to discussions in a way they can access. Sarah talks through the Craftivist Collectives projects and how they have spread across the globe.</p>
    </li>
    <li>
        <p class="summary"><b>Through-the-wall sensing using passive WiFi radar</b> - Kevin Chetty</p>
        <p>WiFi is a ubiquitous and pervasive technology. This presentation will focus on my research a University College London to exploit wireless signals in our environments for detection and tracking applications using a passive radar system. We have shown that this technology can be used to detect moving people in everyday scenarios, including through-walls. Key advantages of passive radar systems are that they are low-cost, covert and have excellent motion sensitivity. Unlike CCTV, they can also operate in all weather conditions and light levels, and provide 360 degrees of surveillance coverage.</p>
    </li>
    <li>
        <p class="summary"><b>Engineering Ethics</b> - Georgina Voss</p>
        <p>With great power comes great responsibility? An enthusiastic rattle through the ethical issues around technology and engineering, both in the process of design and making (for example) your giant laser-eyed robot and what happens after it gets set free into the world. Featuring Immanuel Kant, Tony Stark and some considerable hand-waving about Google Glass.</p>
    </li>
    <li>
        <p class="summary"><b>WebGL and Interactive Story Telling</b> - Benjamin Blundell</p>
        <p>A short talk about working as a freelance programmer with WebGL and the challenges faced when working with artists, directors and cutting edge technology when trying to tell a short story: www.thecarpandtheseagull.com</p>
    </li>
    <li>
        <p class="summary"><b>/dev/fort: You can build it in a week (even if you get caught in a blizzard)</b> - James Aylett</p>
        <p>Imagine a place with no distractions – no IM, no Twitter, in fact no internet access at all. Within, a dozen or more developers, designers, thinkers and doers. And a lot of a food. Now imagine that place is a fort. I'll be talking about why anyone would want to go on holiday to do their day job, the bits of the internet we've had to rebuild to work without the internet, and some tips you can use even when you don't have a fort handy.</p>
    </li>
    <li>
        <p class="summary"><b>Designing the open source Vacuum Cleaner</b> - Tom Lynch</p>
        <p>Our modern lives are dependent upon proprietary technology which few of us could explain let alone understand how it works. A growing number of people are reacting to this proprietary technology by building their own devices, so called Open Source Hardware (OSHW). This project explores the application of OSHW to the design of every day objects, taking the ubiquitous vacuum cleaner as it's subject.</p>
    </li>
    <li>
        <p class="summary"><b>The Hexayurt Project: From sheds to designing a sustainable world</b> - Vinay Gupta</p>
        <p>Vinay Gupta will discuss the Hexayurt Project, the world's most successful Free Hardware housing project, with around 750+ units built at Burning Man last year. We'll discuss a bit about the practicalities of building hexayurts, and also how markets probably can't get us to sustainability without Free design because of perverse incentives to waste materials and energy. We will discuss the Open Source Ecology tool chain too!</p>
    </li>
    <li>
        <p class="summary"><b>I Will Explain Some Jokes That Are In The Form Of Games</b> - George Buckenham</p>
        <p>I really like games that are made purely to tell a joke. In this talk, I will proceed to over-explain these jokes, in the hopes of killing any humour they may once have contained.</p>
    </li>
    <li>
        <p class="summary"><b>What's in your android?</b> - Rob Miller</p>
        <p>Android malware and it's security model is making the news and affects every Android users - knowing how Android security works can help us to stay safe. I'll be talking about how the Android security model works, how malware bypasses it and demonstrate tools to find vulnerabilities in it.</p>
    </li>
</ul>

<p>Sadly, the talks <em>"Getting to the Moon and Back"</em> by Wasim Juned, and <em>"Neutrinos and the Birth of the Universe"</em> by Dr Ben Still have been cancelled by the speakers due to conflicts.</p>

<h2 id="workshops">Workshops</h2>
<p>We're announcing workshops every few days, this is the current list.</p>
<ul>
    <li>
        <p class="summary"><b>Learn to Solder</b> - Mitch Altman</p>
        <p>Mitch will teach you to the technique for basic soldering, and by the end of the session you'll have something that blinks to take home! (Additional cost for a kit to solder)</p>
    </li>
    <li>
        <p class="summary"><b>Introduction to Lockpicking</b> - Locksport International</p>
        <p>An introduction to basic lockpicking, with a tour through the world of locksport. By the end of the session you'll (hopefully) have opened your first lock without a key!</p>
    </li>
    <li>
        <p class="summary"><b>Scratch Programming for Beginners</b> - Becky Stewart</p>
        <p>An introduction to programming in the Scratch programming language, suitable for absolute beginners over the age of 6!</p>
    </li>
    <li>
        <p class="summary"><b>An introduction to the game of Go</b> - Steve Gravell</p>
        <p>I'll be teaching the basics of the ancient game of Go, then following it up with open play sessions in the bar for the rest of the day.</p>
    </li>

</ul>

<p><b>And many more workshops yet to be announced...</b></p>

<h2 id="get-involved">Get Involved</h2>
<p>We're still looking for people to talk at EMW, as well as for people to run workshops, installations, or simply show off things they've made on the ship or ashore. If you're interested in doing any of this, please fill in this form and we'll get back to you:</p>
<form method="post" action="/wave/cfp" class="form-horizontal wave-cfp">
    <div class="control-group">
      <label class="control-label" for="inputName">Name</label>
      <div class="controls">
        <input type="text" name="name" id="inputName" placeholder="Name">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="inputEmail">Email</label>
      <div class="controls">
        <input type="text" name="email" id="inputEmail" placeholder="Email">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="inputTitle">Talk Title</label>
      <div class="controls">
        <input type="text" name="title" id="inputTitle" placeholder="Title">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="inputDescription">Description</label>
      <div class="controls">
        <textarea rows="4" name="description" id="inputDescription" 
            placeholder="Description (Less than 200 words)"></textarea>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="inputLength">Talk Length</label>
      <div class="controls">
        <input type="text" name="length" id="inputLength" placeholder="Length">
      </div>
    </div>
     <div class="control-group">
       <div class="controls">
         <button type="submit" class="btn">Submit proposal</button>
       </div>
     </div>
</form>

<p>Electromagnetic Wave is run entirely by volunteers like you. If you want to help us out (whether with admin, setup, stewarding, working at the bar, or whatever else) please <a href="mailto:contact@emfcamp.org">get in touch</a>.</p>
</div>
      <div class="span3"></div>
    </div>
</div>
{% endblock %}
