{% extends "base.html" %}
{% block document %}
<div class="container-fluid">
    <header>
        <h1>Electromagnetic Wave</h2>
    </header>
    <div class="row-fluid">
      <div class="span3"></div>
      <div class="span6">
        <p class="summary">Electromagnetic Wave is a day filled with talks and workshops for those with an inquisitive mind or an interest in making things, held on a converted East German fishing vessel moored in Canary Wharf, London. Brought to you by the non-profit group behind last year's <a href="/">Electromagnetic Field</a> festival, Electromagnetic Wave is a maritime-themed taste of what's to come at the next <abbr title="Electromagnetic Field">EMF</abbr> in 2014.</p>

        <p>Last year at EMF we heard <a href="http://lanyrd.com/2012/emfcamp/schedule/">talks</a> spanning subjects from <strong>genetic modification</strong> to <strong>electronics</strong>, <strong>blacksmithing</strong> to <strong>high-energy physics</strong>, <strong>reverse engineering</strong> to <strong>lock picking</strong>, <strong>crocheting</strong> to <strong>computer security</strong>, and <strong>drones</strong> to <strong>lolcats</strong>. Electromagnetic Wave will cover similar territory, but the talks have yet to be finalised - submit a presentation and you could find yourself on stage in the cargo hold!</p>

        <p>We're commandeering the fantastic <a href="http://ms.stubnitz.com">Motorschiff Stubnitz</a> for the day: once the pride of the East German deep-sea fishing fleet, she's been converted and now sails around Europe as an atmospheric venue. We're planning on installing a reprise of the fast and reliable WiFi connection at EMF 2012, as well as stocking the Stubnitz's three bars with the best local beers at reasonable prices.</p>

<h2>When?</h2>

<p><strong>Sunday May 5th</strong> (a bank holiday weekend). Talks will run from midday until early evening, and we're planning entertainment aboard the Stubnitz late into the night. Impromptu side-events are likely to occur all weekend.</p>

<h2>Where?</h2>

<p><strong>MS Stubnitz, Wood Wharf, Canary Wharf, London, E14 9SB.</strong> (<a href="http://goo.gl/maps/2uaIV">Google map</a>)</p>

<p>The Stubnitz is five minutes' walk from Canary Wharf station (Jubilee Line or DLR), and parking is available nearby.</p>

<h2>How do I get a ticket?</h2>

<p>Tickets will cost between £20 and £30, and will go on sale soon. To keep up to date:</p>
<ul>
  <li>Follow us on twitter: <a href="http://www.twitter.com/emw">@emw</a></li>
  <li>Track <a href="http://lanyrd.com/2013/emw/">Electromagnetic Wave on Lanyrd</a></li>
</ul>

<p>All proceeds from the event will be split between keeping our amazing venue afloat and helping us get next year's Electromagnetic Field on the road; both Stubnitz and EMF are non-profit organisations.</p>

<h2>Get Involved</h2>

<p>Talk and workshop submissions will be opening shortly - we have a limited number of slots and accepted talks will be notified well in advance. The talk selection process will be documented publicly for comment.</p>

<p>If you'd like to bring something to show off, we have space both aboard the ship and ashore. Get in touch to see if we can accomodate you.</p>

<p>Electromagnetic Wave is run entirely by volunteers like you. If you want to help us out (whether with admin, setup, stewarding, working at the bar, or whatever else) please <a href="mailto:contact@emfcamp.org">get in touch</a>.</p>
</div>
      <div class="span3"></div>
    </div>
</div>
{% endblock %}
