{% extends "base.html" %}
{% block title %}Electromagnetic Wave - Talks &amp; Workshops{% endblock %}
{% block document %}
<div class="container-fluid">
  <header>
       <h1><a href='/wave'><span class="emw_logo"></span>Electromagnetic Wave</a></h1>
  </header>
                {% for message in get_flashed_messages() -%}
                            <div class="span10 alert alert-error">{{ message }}</div>
                                    {% endfor -%}

    <div class="row-fluid">
      <div class="span3"></div>
      <div class="span6 micro">

<p><a href='/wave'>&#171; Sail back to the main site</a></p>


<h3>Ongoing Events</h3>
<p>
These events run all day long in a specific location.
<ul>
    <li>Locksport International will be running drop-in lockpicking sessions in the bar.</li>
    <li>LHS Bikeshed will be conducting starship training all day for teams of three on the dock.</li>
</ul>
</p>

<h3>Talk and Workshop schedule</h3>
<p>
    You can find the full list of talks and workshops happening at <abbr title="Electromagnetic Wave">EMW</abbr> below. 
</p>

<h4>Talks</h4>
<table class="table table-bordered" width="100%">
<th>Time</th><th>Stage A</th><th>Stage B</th>
{% for stage_a, stage_b in main_stages %}
<tr>
    <td>
        <strong>{{ stage_a.start.strftime('%I:%M') }} PM</strong>
    </td>
    <td width="44%">
        <p><b>{{ stage_a.title }}</b> - {{ stage_a.speaker }}</p>
        <p><em>"{{ stage_a.description }}"</em></p>
    </td>
    <td width="44%">
        <p><b>{{ stage_b.title }}</b> - {{ stage_b.speaker }}</p>
        <p><em>"{{ stage_b.description }}"</em></p>
    </td>
</tr>
{% endfor %}
</table>

<h4>Workshops</h4>
<table class="table table-bordered" width="100%">
<th>Time</th><th>Workshop</th>
{% for workshop in workshops %}
<tr>
    <td>
        <strong>{{ workshop.start.strftime('%I:%M') }} PM</strong>
    </td>
    <td width="88%">
        <p><b>{{ workshop.title }}</b> - {{ workshop.speaker }}</p>
        <p><em>"{{ workshop.description }}"</em></p>
    </td>
</tr>
{% endfor %}
</table>

<h3 id="hackers">Hackers</h3>
<p>Does your giant evil laser-eyed robot want a machine readable schedule? Here's the <a href='/static/talks/emw-talks.json'>JSON version of this page</a>. Say hi from us, we welcome our new optically hazardous overlords.</h4>

<p>Electromagnetic Wave is run entirely by volunteers like you. If you want to help us out (whether with admin, setup, stewarding, working at the bar, or whatever else) please <a href="mailto:contact@emfcamp.org">get in touch</a>.</p>
</div>
      <div class="span3"></div>
    </div>
</div>
{% endblock %}
