{% extends "base.html" %}
{% block title %}Electromagnetic Wave{% endblock %}
{% block document %}
<div class="container-fluid">
  <header>
       <h1>
         <span class="emw_logo"></span>Electromagnetic Wave</h1>
    </header>
                {% for message in get_flashed_messages() -%}
                            <div class="span10 alert alert-error">{{ message }}</div>
                                    {% endfor -%}

    <div class="row-fluid">
      <div class="span3"></div>
      <div class="span6 micro">
        <p class="summary">Electromagnetic Wave is a day filled with talks and workshops for those with an inquisitive mind or an interest in making things, held on a converted East German fishing vessel moored in London. Brought to you by the non-profit group behind last year's <a href="/">Electromagnetic Field</a> festival, this is a maritime-themed taste of what's to come at the next <abbr title="Electromagnetic Field">EMF</abbr> in 2014.</p>

        <p>Following on from the exceptional set of talks last year, you'll find <a href='/wave/talks'>sessions on everything</a> from <b>neutrons</b> to <b>zeppelins</b>, <b>genomics</b> to <b>ocean buoys</b>, and <b>spaceflight</b> to <b>craftivism</b>. More sessions are announced every few days, and workshops will be advertised shortly. For everything announced so far, <a href='/wave/talks'>take a look at the talks page</a>.</p>

        <p>We're commandeering the fantastic <a href="http://ms.stubnitz.com">Motorschiff Stubnitz</a> for the day: once the pride of the East German deep-sea fishing fleet, she's been converted and now sails around Europe as an atmospheric venue. We're planning on installing a reprise of the fast and reliable WiFi connection at EMF, as well as stocking the Stubnitz's three bars with the best local beers at reasonable prices.</p>
        <img src="/static/images/wave/stubnitz.jpg" style="height:320px"/>

<h2>When?</h2>

<p><strong>Sunday May 5th</strong> (a bank holiday weekend). Talks will run from midday until early evening, and we're planning entertainment aboard the Stubnitz late into the night. Impromptu side-events are likely to occur all weekend.</p>

<h2>Where?</h2>

<p><strong>MS Stubnitz, Wood Wharf, Canary Wharf, London, E14 9SB</strong> (<a href="http://goo.gl/maps/2uaIV">Google map</a>).</p>

<p>The Stubnitz is five minutes' walk from Canary Wharf station (Jubilee Line or DLR), and parking is available nearby.</p>

<h2>What's going on?</h2>
<p>Take a look at the <a href='/wave/talks'>talks page</a> to find out what's been announced so far. You can also expect impromptu goings on all around the boat!</p>

<h2>Keep Informed</h2>

<p>To keep up to date, you can follow Electromagnetic Wave on <a href="https://twitter.com/emw">Twitter</a> or <a href="http://lanyrd.com/2013/emw/">Lanyrd</a>. We also have a <a href="https://www.facebook.com/events/526725000703772">Facebook event</a>.</p>
<h2 id="tickets">Count me in!</h2>
<p>Tickets are now on sale through Eventbrite:</p>
<div style="width:100%; text-align:left" >
  <iframe  src="https://www.eventbrite.co.uk/tickets-external?eid=5555506670&ref=etckt&v=2" frameborder="0" height="350" width="100%" vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="auto" allowtransparency="true"></iframe>
  <div style="font-family:Helvetica, Arial; font-size:10px; padding:5px 0 5px; margin:2px; width:100%; text-align:left;" ><a style="color:#ddd; text-decoration:none;" target="_blank" href="http://www.eventbrite.co.uk/r/etckt">Online Ticketing</a><span style="color:#ddd;"> for </span><a style="color:#ddd; text-decoration:none;" target="_blank" href="http://emwave.eventbrite.co.uk?ref=etckt">Electromagnetic Wave</a> <span style="color:#ddd;">powered by</span> <a style="color:#ddd; text-decoration:none;" target="_blank" href="http://www.eventbrite.co.uk?ref=etckt">Eventbrite</a></div></div>


<p>All proceeds from Electromagnetic Wave will be split between keeping our amazing venue afloat and helping us get next year's Electromagnetic Field on the road; both Stubnitz and EMF are non-profit organisations.</p>


<h2 id="get-involved">Get Involved</h2>
<p>We're still looking for people to talk at EMW, as well as for people to run workshops, installations, or simply show off things they've made on the ship or ashore. If you're interested in doing any of this, please fill in this form and we'll get back to you:</p>
<form method="post" action="/wave/cfp" class="form-horizontal wave-cfp">
    <div class="control-group">
      <label class="control-label" for="inputName">Name</label>
      <div class="controls">
        <input type="text" name="name" id="inputName" placeholder="Name">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="inputEmail">Email</label>
      <div class="controls">
        <input type="text" name="email" id="inputEmail" placeholder="Email">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="inputTitle">Talk Title</label>
      <div class="controls">
        <input type="text" name="title" id="inputTitle" placeholder="Title">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="inputDescription">Description</label>
      <div class="controls">
        <textarea rows="4" name="description" id="inputDescription" 
            placeholder="Description (Less than 200 words)"></textarea>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="inputLength">Talk Length</label>
      <div class="controls">
        <input type="text" name="length" id="inputLength" placeholder="Length">
      </div>
    </div>
     <div class="control-group">
       <div class="controls">
         <button type="submit" class="btn">Submit proposal</button>
       </div>
     </div>
</form>

<p>Electromagnetic Wave is run entirely by volunteers like you. If you want to help us out (whether with admin, setup, stewarding, working at the bar, or whatever else) please <a href="mailto:contact@emfcamp.org">get in touch</a>.</p>
</div>
      <div class="span3"></div>
    </div>
</div>
{% endblock %}
