<table class="table tickets btns-table">
<thead>
<tr>
  <th>Type</th>
  <th>Status</th>
  <th></th>
</tr>
</thead>

<tbody>

{%- for item in other_items -%}
<tr class="
{{- loop.cycle('odd', 'even') }}
{%- if item.is_paid_for %} paid {%- endif -%}
{%- if item.payment and item.payment.expired %} expired {%- endif -%}
">
<td>{{ item.price_tier.parent.display_name }}</td>
<td>
    {%- if item.is_paid_for %}
    Paid
    {%- elif item.state == 'refunded' %}
    Refunded
    {%- elif item.payment and item.payment.expired %}
    Unpaid
    {%- else %}
    Reserved {% if item.payment.expires -%} until {{ item.payment.expires.day }} {{ '{:%B}'.format(item.payment.expires) }} {%- endif %}
    {% endif %}
</td>
<td>
  {% if item.is_paid_for and item.is_transferable %}
    <a class="btn btn-default" href="{{ url_for('tickets.transfer', ticket_id=item.id) }}">Transfer</a>
  {% endif %}
</td>
</tr>
{% endfor -%}

</tbody>
</table>
