{% from 'admin/_paymenthelpers.html' import payment_info, purchase_table with context %}

{% extends "admin/base.html" %}
{% set nav_active = 'admin_payments' %}
{% block body %}
<h2>Refund payment</h2>

<p>To manually refund this payment, please click below.</p>

{{ payment_info(payment) }}

{{ purchase_table(payment) }}

<form method="post" action="{{ url_for('.manual_refund', payment_id=payment.id) }}" class="shrink">
{{ form.hidden_tag() }}
{{ form.refund(class_="btn btn-danger pull-right") }}
</form>

{% endblock %}
