{% from 'admin/_paymenthelpers.html' import payment_info, purchase_table with context %}

{% extends "admin/base.html" %}
{% set nav_active = 'admin_payments' %}
{% block body %}
<h2>Refund payment</h2>

<p>To manually refund this payment, please click below.</p>

{{ payment_info(payment) }}

{{ purchase_table(payment) }}

{% for req in payment.refund_requests %}
<dl class="dl-horizontal">
<dt>Currency</dt><dd>{{ req.currency }}</dd>
<dt>Sort Code/BIC</dt><dd>{{ req.bank }}</dd>
<dt>Account/IBAN</dt><dd>{{ req.account }}</dd>
{% endfor %}

<form method="post" action="{{ url_for('.manual_refund', payment_id=payment.id) }}" class="shrink">
{{ form.hidden_tag() }}
{{ form.refund(class_="btn btn-danger pull-right") }}
</form>

{% endblock %}
