{% from 'admin/_paymenthelpers.html' import payment_info, purchase_table with context %}

{% extends "admin/base.html" %}
{% set nav_active = 'admin_payments' %}
{% block body %}
<h2>Refund payment</h2>

<p>To manually refund this payment, please click below.</p>

{{ payment_info(payment) }}

{{ purchase_table(payment) }}

{% if payment.refund_requests %}
<p>The user has requested a refund using the following details:</p>
{% for req in payment.refund_requests %}
<dl class="dl-horizontal">
<dt>Currency</dt><dd>{{ req.currency }}</dd>
{% if req.currency == 'GBP' %}
<dt>Sort Code</dt><dd>{{ req.bank }}</dd>
<dt>Account</dt><dd>{{ req.account }}</dd>
{% else %}
<dt>IBAN</dt><dd>{{ req.account }}</dd>
{% endif %}
{% endfor %}
{% endif %}

<form method="post" action="{{ url_for('.manual_refund', payment_id=payment.id) }}" class="shrink">
{{ form.hidden_tag() }}
{{ form.refund(class_="btn btn-danger pull-right") }}
</form>

{% endblock %}
