{% extends "admin/base.html" %}
{% set nav_active = 'admin_expiring' %}
{% block body %}
<h2>Expiring payments</h2>

<table class="table table-condensed table-striped">
<thead><tr>
  <th>Type</th>
  <th>Name</th>
  <th>Email</th>
  <th>Purchases</th>
  <th>Amount</th>
  <th title="Tickets already bought by this user">Bought</th>
  <th>Expires</th>
  <th></th>
</tr></thead>
<tbody>
{% for payment, purchase_count in expiring %}
<tr>
  <td><a href="{{ url_for('.payment', payment_id=payment.id) }}">{{ payment.name }}</a></td>
  <td>{{ payment.user.name }}</td>
  <td><a href="{{ url_for('.user', user_id=payment.user.id) }}">{{ payment.user.email }}</a></td>
  <td>{{ purchase_count }}</td>
  <td><b>{{ payment.amount | price(payment.currency) }}</b></td>
  <td>{{ payment.user.get_owned_tickets(paid=True)|list|count }}</td>
  <td>{{ payment.expires and payment.expires.strftime('%Y-%m-%d') }}</td>
  <td>
    <a class="btn btn-primary" href="{{ url_for('.reset_expiry', payment_id=payment.id) }}">Reset expiry</a>
    <a class="btn btn-warning {% if payment.reminder_sent_at -%} disabled {%- endif %}"
        href="{{ url_for('.send_reminder', payment_id=payment.id) }}">Remind</a>
  </td>
</tr>
{% endfor %}
</tbody>
</table>

{% endblock %}
