{% from 'admin/_paymenthelpers.html' import payment_info, purchase_table with context %}
{% extends "admin/base.html" %}
{% set nav_active = 'admin_payments' %}
{% block title %}Payment {{ payment.id }}{% endblock %}
{% block body %}
<h2>Payment {{ payment.id }}</h2>

{{ payment_info(payment) }}

{{ purchase_table(payment) }}

<div class="btn-group">
<a class="btn btn-info" href="{{ url_for('payments.invoice', payment_id=payment.id, fmt='pdf') }}">View PDF Invoice</a>
{% if payment.state == "new" or (payment.provider == "banktransfer" and payment.state == "inprogress") %}
<a class="btn btn-success" href="{{url_for('.change_currency', payment_id=payment.id)}}">Change Currency</a>
{% endif %}
{% if payment.provider == 'banktransfer' and payment.state == 'inprogress' %}
<a class="btn btn-primary" href="{{ url_for('.reset_expiry', payment_id=payment.id) }}">Reset expiry</a>
<a class="btn btn-warning {% if payment.reminder_sent_at is not none -%} disabled {%- endif %}" href="{{ url_for('.send_reminder', payment_id=payment.id) }}">Remind</a>
{% endif %}
{% if payment.provider == 'stripe' %}
<a class="btn btn-success" href="{{ url_for('.update_payment', payment_id=payment.id) }}">Update</a>
{% endif %}
{% if payment.provider == 'banktransfer' and payment.state not in ['cancelled', 'paid', 'refunded'] %}
<a class="btn btn-danger" href="{{ url_for('.cancel_payment', payment_id=payment.id) }}">Cancel</a>
{% endif %}
{% if payment.state in ['charged', 'paid', 'partrefunded'] %}
<a class="btn btn-danger" href="{{ url_for('.refund', payment_id=payment.id) }}">Refund</a>
{% endif %}
</div>

<h3>History</h3>

<table class="table table-condensed table-striped">
<thead>
  <tr>
    <th>Timestamp</th>
    <th>User</th>
    <th>Provider</th>
    <th>Currency</th>
    <th>Amount_int</th>
    <th>State</th>
    <th>Voucher code</th>
    <th>VAT invoice number</th>
    <th colspan="2">Bank transfer</th>
    <th colspan="2">Stripe</th>
  </tr>
  <tr>
    <th colspan="8"></th>
    <th>Expires</th>
    <th>Bank ref</th>
    <th>Intent</th>
    <th>Charge</th>
  </tr>
</thead>
<tbody>
{% for version in payment.versions %}
<tr>
  <td>{{ version.transaction.issued_at }}</td>
  <td>
    {% if version.transaction.user %}
      <a href="{{ url_for('.user', user_id=version.transaction.user_id) }}">{{ version.transaction.user.name }}</a>
    {% else %}
      <i>System</i>
    {% endif %}
  </td>
  <td>{{ version.provider }}</td>
  <td>{{ version.currency }}</td>
  <td>{{ version.amount_int }}</td>
  <td>{{ version.state }}</td>
  <td>
    {% if version.voucher_code %}
      <a href="{{  url_for('.product_views.product_view_voucher_detail', voucher_code=version.voucher_code) }}">{{ version.voucher.code }}</a>
    {% endif %}
  </td>
  <td>{{ version.vat_invoice_number or '' }}</td>
  <td>{{ version.expires and version.expires.strftime('%Y-%m-%d %H:%M:%S') or '' }}</td>
  <td>{{ version.bankref and (version.bankref | bankref) or '' }}</td>
  <td>
    {% if version.intent_id %}
    <a href="https://dashboard.stripe.com/search?query={{ version.intent_id }}">{{ version.intent_id }}</a>
    {% endif %}
  </td>
  <td>
    {% if version.charge_id %}
    <a href="https://dashboard.stripe.com/search?query={{ version.charge_id }}">{{ version.charge_id }}</a>
    {% endif %}
  </td>
</tr>
{% endfor %}
</tbody>
</table>
{% endblock %}
