{% extends "admin/base.html" %}
{% set nav_active = 'admin_payments' %}
{% block title %}Payments{% endblock %}
{% block body %}
<h2>Payments</h2>

<table class="table table-condensed table-striped">
<thead><tr>
  <th>Type</th>
  <th>Name</th>
  <th>Email</th>
  <th>State</th>
  <th>Purchases</th>
  <th>Amount</th>
  <th>Expires</th>
</tr></thead>
<tbody>
{% for payment, purchase_count in payments %}
<tr>
  <td><a href="{{ url_for('.payment', payment_id=payment.id) }}">{{ payment.name }} {{ payment.id }}</a></td>
  <td>{{ payment.user.name }}</td>
  <td><a href="{{ url_for('.user', user_id=payment.user.id) }}">{{ payment.user.email }}</a></td>
  <td>{{ payment.state }}</td>
  <td>{{ purchase_count }}</td>
  <td><b>{{ payment.amount | price(payment.currency) }}</b></td>
  <td>{% if payment.expires %}{{ payment.expires.strftime('%Y-%m-%d') }}{% endif %}</td>
</tr>
{% endfor %}
</tbody>
</table>

{% endblock %}
