{% from 'admin/_paymenthelpers.html' import payment_info, purchase_table with context %}

{% extends "admin/base.html" %}
{% set nav_active = 'admin_expiring' %}
{% block body %}
<h2>Payment reminder email</h2>

<p>To send a reminder email for this payment, please click below.</p>

<dl class="dl-horizontal">
<dt>Name</dt><dd>{{ payment.user.name }}</dd>
<dt>Email</dt><dd>{{ payment.user.email }}</dd>
<dt>Price</dt><dd>{{ payment.amount | price(payment.currency) }}</dd>
{%- if payment.provider == 'banktransfer' %}
<dt>Bank</dt><dd>{{ account.institution }} ({{ account.currency }})</dd>
<dt>Reference</dt><dd>{{ payment.bankref | bankref }}</dd>
{% elif payment.provider == 'gocardless' %}
<dt>GoCardless ID</dt><dd>{{ payment.gcid }}</dd>
{% endif -%}
<dt>Expires</dt><dd>{{ payment.expires and payment.expires.strftime('%Y-%m-%d %H:%M:%S') }}</dd>
<dt>Already bought</dt><dd>{{ payment.user.get_owned_tickets(paid=True) | list | count }}</dd>
</dl>

{{ purchase_table(payment) }}

<form method="post" action="{{ url_for('.send_reminder', payment_id=payment.id) }}" class="shrink">
{{ form.hidden_tag() }}
{{ form.remind(class_="btn btn-warning pull-right") }}
</form>

{% endblock %}
