{% extends "admin/base.html" %}
{% set nav_active = 'admin_payments' %}
{% block title %}Payments{% endblock %}
{% block body %}
<h2>Payments</h2>

<table class="table table-condensed table-striped">
<thead><tr>
  <th>Type</th>
  <th>Name</th>
  <th>Email</th>
  <th>State</th>
  <th>Purchases</th>
  <th>Amount</th>
  <th>Expires</th>
  <th></th>
</tr></thead>
<tbody>
{% for payment, purchase_count in payments %}
<tr>
  <td><a href="{{ url_for('payments.invoice', payment_id=payment.id) }}">{{ payment.name }}</a></td>
  <td><a href="{{ url_for('.user', user_id=payment.user.id) }}">{{payment.user.name}}</a></td>
  <td>{{ payment.user.email }}</td>
  <td>{{ payment.state }}</td>
  <td>{{ purchase_count }}</td>
  <td><b>{{ payment.amount | price(payment.currency) }}</b></td>
  <td>{{ payment.expires.strftime('%Y-%m-%d') }}</td>
  <td>
    {% if payment.provider == 'stripe' %}
    <a class="btn btn-success" href="{{ url_for('.update_payment', payment_id=payment.id) }}">Update</a>
    {% endif %}
    {% if payment.provider in ['gocardless', 'banktransfer'] and payment.state not in ['cancelled', 'paid', 'refunded'] %}
    <a class="btn btn-danger" href="{{ url_for('.cancel_payment', payment_id=payment.id) }}">Cancel</a>
    {% endif %}
    {% if payment.state in ['charged', 'paid', 'partrefunded'] %}
    <a class="btn btn-danger" href="{{ url_for('.partial_refund', payment_id=payment.id) }}">Refund</a>
    {% endif %}
  </td>
</tr>
{% endfor %}
</tbody>
</table>

{% endblock %}
