{% from 'admin/_paymenthelpers.html' import payment_info, purchase_table with context %}

{% extends "admin/base.html" %}
{% set nav_active = 'admin_expiring' %}
{% block body %}
<h2>Reset payment expiry</h2>

<p>To reset the expiry for this payment, please click below.</p>

{{ payment_info(payment) }}

{{ purchase_table(payment) }}

<form method="post" action="{{ url_for('.reset_expiry', payment_id=payment.id) }}" class="shrink">
{{ form.hidden_tag() }}
{{ form.reset(class_="btn btn-success pull-right") }}
</form>

{% endblock %}
