{% extends "admin/base.html" %}
{% set nav_active = 'admin_expiring' %}
{% block body %}
<h2>Expiring payments</h2>

<table class="table table-condensed table-striped">
<thead><tr>
  <th>Name</th>
  <th>Email</th>
  <th>Purchases</th>
  <th>Amount</th>
  <th title="Tickets already bought by this user">Bought</th>
  <th>Expires</th>
  <th></th>
</tr></thead>
<tbody>
{% for payment, purchase_count in expiring %}
<tr>
  <td>{{ payment.user.name }}</td>
  <td>{{ payment.user.email }}</td>
  <td>{{ purchase_count }}</td>
  <td><b>{{ payment.amount | price(payment.currency) }}</b></td>
  <td>{{ payment.user.tickets.filter_by(paid=True).all() | count }}</td>
  <td>{{ payment.expires.strftime('%Y-%m-%d') }}</td>
  <td>
    <a class="btn btn-primary" href="{{ url_for('.reset_expiry', payment_id=payment.id) }}">Reset expiry</a>
    <a class="btn btn-warning {% if payment.reminder_sent -%} disabled {%- endif %}"
        href="{{ url_for('.send_reminder', payment_id=payment.id) }}">Remind</a>
    <a class="btn btn-danger" href="{{ url_for('.cancel_payment', payment_id=payment.id) }}">Cancel</a>
  </td>
</tr>
{% endfor %}
</tbody>
</table>

{% endblock %}
