{% extends "admin/base.html" %}
{% set nav_active = 'admin_payments' %}
{% block title %}Requested refunds{% endblock %}
{% block body %}
<h2>Requested Refunds</h2>

<p>Showing refunds in state: {{state}}</p>
<form>
{% if state == 'refund-requested' %}
  <button name="state" value="refunded" class="btn btn-default">Show refunded</button>
{% else %}
  <button name="state" value="refund-requested" class="btn btn-default">Show requested</button>
{% endif %}
</form>
<table class="table table-condensed table-striped">
<thead><tr>
  <th>ID</th>
  <th>Payment</th>
  <th>Name</th>
  <th>Email</th>
  <th>Purchases</th>
  <th>Amount</th>
  <th>Donation</th>
  <th></th>
</tr></thead>
<tbody>
{% for req, purchase_count in requests %}
{% set payment = req.payment %}
<tr>
  <td>{{req.id}}
  <td>
    <a href="{{ url_for('.payment', payment_id=payment.id) }}">{{ payment.name }} {{ payment.id }}</a>
    {% if req.note %}
    <div>{{ req.note }}</div>
    {% endif %}
  </td>
  <td>{{ payment.user.name }}</td>
  <td><a href="{{ url_for('.user', user_id=payment.user.id) }}">{{ payment.user.email }}</a></td>
  <td>{{ purchase_count }}</td>
  <td><b>{{ payment.amount | price(payment.currency) }}</b></td>
  <td>{% if req.donation %}<b>{{ req.donation | price(payment.currency) }}</b>{% endif %}</td>
  <td>
    {% if payment.state == 'refund-requested' %}
      {% if payment.provider == 'stripe' %}
        <a href="{{ url_for('.refund', payment_id=payment.id) }}" class="btn btn-default">Refund</a>
      {% else %}
        <a href="{{ url_for('.manual_refund', payment_id=payment.id) }}" class="btn btn-default">Refund</a>
      {% endif %}
    {% endif %}
  </td>
</tr>
{% endfor %}
</tbody>
</table>

{% endblock %}
