{% extends "arrivals/base.html" %}
{% block body %}
{% if badge %}
<h2>Badges</h2>
{% else %}
<h2>Arrivals</h2>
{% endif %}

<form class="form-horizontal">
  <div class="col-sm-9">
    <input type="text" class="form-control" id="query"/>
  </div>
  <div class="col-sm-3">
    {% if badge %}
    <a class="btn btn-info form-control" id="check-in-all">Issue all badges</a>
    {% else %}
    <a class="btn btn-info form-control" id="check-in-all">Check in all</a>
    {% endif %}
  </div>
</form>

<div class="minipush"></div>

<div class="row" style="display: none" id="error">
  <div class="col-sm-12 alert alert-danger">An error occurred fetching tickets: <span id="error-text"></span></div>
</div>
<div class="row">
  <div class="col-sm-12" id="tickets">Loading...</div>
</div>

{% endblock %}

{% block foot %}
<script type="text/javascript">
if (typeof(EMF) != 'object') var EMF = Object();
EMF.search_url = '{{ url_for('arrivals_search') }}';
EMF.search_count = 0;
EMF.search_count_received = 0;
EMF.search_arrivals = function() {
    var query = $('#query').val();
    if ($.trim(query).length == 1) {
        query = '';
    }
    EMF.search_count++;
    var data = $.getJSON(EMF.search_url, { q: query, n: EMF.search_count })
        .done(EMF.search_arrivals_done)
        .fail(EMF.search_arrivals_fail);

};
EMF.search_arrivals_fail = function(jqXHR) {
    var data = jqXHR.responseJSON;
    $('#error-text').text(data.error);
    $('#error').show();
    $('#tickets').hide();
};
EMF.search_arrivals_done = function(data) {
    var search_count = parseInt(data.n, 10);
    if (search_count < EMF.search_count_received) return;
    EMF.search_count_received = search_count;
    $('#tickets').html('<table id="tickets-data" class="display nowrap"></table>');
    var allow_checkin_all = ('all_receipts' in data)
    $('#check-in-all').toggleClass('disabled', !allow_checkin_all).prop('href', data.all_receipts);

    $('#tickets-data').DataTable({
        data: data.tickets,
        columns: [
            { data: 'name' },
            {
                data: 'email',
                render: function(data) {
                    return '<a class="email-link">{0}</a>'.replace('{0}', data);
                }
            },
            { data: 'type' },
            { data: 'receipt', className: 'receipt' },
            {
                data: 'action',
                render: function(data) {
                    {% if badge %}
                    if (data.badged_up) {
                        return '<a class="btn btn-danger undo-badge-up" href="{0}">Return badge</a>'.replace('{0}', data.url);
                    } else {
                        return '<a class="btn btn-success badge-up" href="{0}">Issue badge</a>'.replace('{0}', data.url);
                    }
                    {% else %}
                    if (data.checked_in) {
                        return '<a class="btn btn-danger undo-check-in" href="{0}">Undo check-in</a>'.replace('{0}', data.url);
                    } else {
                        return '<a class="btn btn-success check-in" href="{0}">Check in</a>'.replace('{0}', data.url);
                    }
                    {% endif %}
                }
            }
        ],
        createdRow: function(row, data, index) {
            var state = data.state;
            if (state == 'cancelled') {
                $(row).addClass('cancelled');
            } else if (state != 'paid') {
                $(row).addClass('unpaid');
            }
        },
        bFilter: false,
        bLengthChange: false,
        bSort: false,
        bPaginate: !allow_checkin_all
    });
    $('.email-link').on('click', EMF.select_email);
};
EMF.cancel_return = function(e) {
    if (e.keyCode == 13) {
        e.cancelBubble = true;
        return false;
    }
};
EMF.select_email = function() {
    $('#query').val($(this).text()).trigger('change');
};
EMF.search_timer = null;
EMF.delay_search_arrivals = function() {
    if (EMF.timer) {
        clearTimeout(EMF.timer);
        EMF.timer = null;
    }
    EMF.timer = setTimeout(function() {
        EMF.search_timer = null;
        EMF.search_arrivals();
    }, 100);
};
$(function() {
    $('#query').on('change keyup', EMF.delay_search_arrivals)
               .on('keydown', EMF.cancel_return)
               .focus();
});
$(EMF.search_arrivals);
</script>
{% endblock %}
