<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Electromagnetic Field{% endblock %}</title>
        {% assets 'https://netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css',
                  'https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css' -%}
        <link rel="stylesheet" href="{{ ASSET_URL }}">
        {% endassets -%}
        {% assets "css_arrivals" -%}
        <link rel="stylesheet" href="{{ ASSET_URL }}">
        {% endassets -%}
        {% block head -%}{% endblock -%}
        <link rel="shortcut icon" href="/favicon.ico">
    </head>
<body>
{% block document %}
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url_for('.main') }}">Arrivals</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            {% include "arrivals/_nav.html" %}
        </div>
    </div>
</nav>

<div class="container arrivals">
    <div class="row">
        <div class="col-md-9">
        {% for message in get_flashed_messages() -%}
            <div class="alert alert-danger">{{ message }}</div>
        {% endfor -%}

        {% block body -%}{% endblock -%}
        </div>
    </div>
</div>
{% endblock %}
{% assets 'https://code.jquery.com/jquery-1.11.3.min.js',
          'https://netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js',
          'https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js',
          'https://bartaz.github.io/sandbox.js/jquery.highlight.js',
          'https://cdn.datatables.net/plug-ins/1.10.12/features/searchHighlight/dataTables.searchHighlight.min.js' %}
<script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
{% block foot -%}{% endblock -%}
</body>
</html>

