{% extends "base.html" %}
{% block css %}
  <link rel="stylesheet" href="{{ static_url_for('static', filename='css/main.css') }}">
  <link rel="stylesheet" href="{{ static_url_for('static', filename='css/admin.css') }}">
  <link rel="stylesheet" href="{{ static_url_for('static', filename='css/arrivals.css') }}">
{% endblock %}

{% block document %}
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url_for('.main') }}">Arrivals</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            {% include "arrivals/_nav.html" %}
        </div>
    </div>
</nav>

<div class="container arrivals">
    <div class="row">
        <div class="col-md-9">
        {% for message in get_flashed_messages() -%}
            <div class="alert alert-danger">{{ message }}</div>
        {% endfor -%}

        {% block body -%}{% endblock -%}
        </div>
    </div>
</div>
{% endblock %}

{% block foot %}
  <script type="text/javascript" src="{{static_url_for('static', filename="js/main.js")}}"></script>
  <script type="text/javascript" src="{{static_url_for('static', filename="js/arrivals.js")}}"></script>
{% endblock -%}
