{% extends "arrivals/base.html" %}
{% block body %}
<h2>Undo ticket check-in</h2>

<p>To undo the check-in for {{ tickets.count() == 1 and 'this ticket' or 'these tickets' }}, please click below.</p>

<dl class="dl-horizontal">
<dt>Name</dt><dd>{{ user.name }}</dd>
<dt>Email</dt><dd>{{ user.email }}</dd>
</dl>

<table class="table table-condensed table-striped">
<thead><tr>
  <th>Type</th>
  <th>Receipt</th>
  <th>Status</th>
  {% if tickets.count() > 1 %}
  <th></th>
  {% endif %}
</tr></thead>
<tbody>
{% for ticket in tickets %}
<tr>
  <td>{{ ticket.type.name }}</td>
  <td>{{ ticket.receipt }}</td>
  <td>
    {%- if ticket.checkin.checked_in %}
      Checked in {{ ticket.checkin.timestamp.strftime('%A %H:%M') }}
    {% else %}
      Not checked in
    {% endif -%}
  </td>
  {% if tickets.count() > 1 %}
  <td>
    {%- if ticket.checkin.checked_in %}
      <a class="btn btn-danger" href="{{ url_for('arrivals_undo_checkin', receipts=ticket.receipt) }}">Undo check-in</a>
    {% else %}
      <a class="btn btn-success" href="{{ url_for('arrivals_checkin', receipts=ticket.receipt) }}">Check in</a>
    {% endif -%}
  </td>
  {% endif %}
</tr>
{% endfor %}
</tbody>
</table>

<form method="post" action="{{ url_for('arrivals_undo_checkin', receipts=receipts) }}" class="shrink">
{{ form.hidden_tag() }}
{{ form.undo(class_="btn btn-danger pull-right") }}
</form>

{% endblock %}
