{% extends "arrivals/base.html" %}
{% block body %}
{% if badge %}
<h2>Issue badge</h2>

<p>To check in {{ tickets.count() == 1 and 'this ticket' or 'these tickets' }}, please click below.</p>
{% else %}
<h2>Check in tickets</h2>

<p>To issue {{ tickets.count() == 1 and 'this badge' or 'these badges' }}, please click below.</p>
{% endif %}

<dl class="dl-horizontal">
<dt>Name</dt><dd>{{ user.name }}</dd>
<dt>Email</dt><dd>{{ user.email }}</dd>
</dl>

<table class="table table-condensed table-striped">
<thead><tr>
  <th>Type</th>
  <th>Receipt</th>
  <th>Status</th>
  {% if tickets.count() > 1 %}
  <th></th>
  {% endif %}
</tr></thead>
<tbody>
{% for ticket in tickets %}
<tr>
  <td>{{ ticket.type.name }}</td>
  <td>{{ ticket.receipt }}</td>
  <td>
    {% if badge %}
      {%- if ticket.checkin.badged_up %}
        Badge issued
      {% else %}
        Badge not issued
      {% endif -%}
    {% else %}
      {%- if ticket.checkin.checked_in %}
        Checked in {{ ticket.checkin.timestamp.strftime('%A %H:%M') }}
      {% else %}
        Not checked in
      {% endif -%}
    {% endif -%}
  </td>
  {% if tickets.count() > 1 %}
  <td>
    {% if badge %}
      {%- if ticket.checkin.badged_up %}
        <a class="btn btn-danger" href="{{ url_for('arrivals.undo_checkin', receipts=ticket.receipt) }}">Return badge</a>
      {% else %}
        <a class="btn btn-success" href="{{ url_for('arrivals.checkin', receipts=ticket.receipt) }}">Issue badge</a>
      {% endif -%}
    {% else %}
      {%- if ticket.checkin.checked_in %}
        <a class="btn btn-danger" href="{{ url_for('arrivals.undo_checkin', receipts=ticket.receipt) }}">Undo check-in</a>
      {% else %}
        <a class="btn btn-success" href="{{ url_for('arrivals.checkin', receipts=ticket.receipt) }}">Check in</a>
      {% endif -%}
    {% endif %}
  </td>
  {% endif %}
</tr>
{% endfor %}
</tbody>
</table>

<form method="post" action="{{ url_for('arrivals.checkin', receipts=receipts) }}" class="shrink">
{{ form.hidden_tag() }}
{{ form.proceed(class_="btn btn-success pull-right") }}
</form>

{% endblock %}
