{% extends "arrivals/base.html" %}
{% block body %}
<h2>Redeem purchases</h2>

<p>To redeem {{ purchases|count == 1 and 'this purchase' or 'these purchases' }}, please click below.</p>

<dl class="dl-horizontal">
<dt>Name</dt><dd>{{ user.name }}</dd>
<dt>Email</dt><dd>{{ user.email }}</dd>
</dl>

{% if user.checkin_note %}
<div class="alert alert-info">
  <p><strong>Important instructions for processing this attendee's arrival:</strong></p>
  <p>{{ user.checkin_note }}</p>
</div>
{% endif %}

{% if source not in [None, 'code'] %}
<div class="alert alert-warning">
  <div class="row" style="display: flex">
    <div class="col-sm-2 hidden-xs" style="display: flex">
      <div style="border: 3px dotted #aa8d4b; width: 100%"></div>
    </div>
    <div class="col-sm-10">
      <h4>Request ID</h4>
      <p>This attendee has been looked up by name. Please check their ID unless you're sure you
          know who they are.</p>
    </div>
  </div>
</div>
{% endif %}

{% if purchases|count %}
<table class="table table-condensed table-striped">
<thead><tr>
  <th class="hidden-xs">ID</th>
  <th>Type</th>
  <th>Transferred from</th>
  <th>Status</th>
  {% if purchases|count > 1 or purchases[0].redeemed %}
  <th></th>
  {% endif %}
</tr></thead>
<tbody>
{% for purchase in purchases %}
<tr>
  <td class="hidden-xs">{{ purchase.id }}</td>
  <td>{{ purchase.product.checkin_display_name }}</td>
  <td>
    {% if purchase.transfers %}
      {% set from_user = purchase.transfers[-1].from_user %}
      <a href="{{ url_for('.checkin', user_id=from_user.id) }}">{{ from_user.name }}</a>
    {% endif %}
  </td>
  <td>
    {%- if purchase.redeemed %}
      Redeemed {{ purchase.redemption_version().transaction.issued_at.strftime('%A %H:%M') }}
      by {{ purchase.redemption_version().transaction.user.name }}
    {% else %}
      Not redeemed
    {% endif -%}
  </td>
  {% if purchases|count > 1 or purchases[0].redeemed %}
  <td>
    {%- if purchase.redeemed %}
      <form method="post" action="{{ url_for('arrivals.unredeem_purchase', purchase_id=purchase.id) }}">
      <input type="submit" class="btn btn-danger debounce" value="Undo redemption"/>
      </form>
    {% else %}
      <form method="post" action="{{ url_for('arrivals.redeem_purchase', purchase_id=purchase.id) }}">
      <input type="submit" class="btn btn-success debounce" value="Redeem"/>
      </form>
    {% endif -%}
  </td>
  {% endif %}
</tr>
{% endfor %}
</tbody>
</table>
{% else %}
<div class="alert alert-danger">
  <h4>This account has no purchases for check-in type {{view.name}}</h4>
  <p>Please ask them to provide ID for any other names the purchases may be under.</p>
</div>
{% endif %}

{% if purchases|count %}
<form method="post" action="{{ url_for('arrivals.checkin', user_id=user.id) }}" class="shrink">
<div class="col-sm-5 col-sm-offset-7">
  {% if mode == "badge" %}
  <input type="submit" class="btn btn-info form-control debounce" value="Issue all badges"/>
  {% else %}
  <input type="submit" class="btn btn-info form-control debounce" value="Redeem all"/>
  {% endif %}
</div>
</form>
{% endif %}

<div>&nbsp;</div>

{% if transferred_purchases|count %}
<h3>Transferred purchases</h3>
<p>These purchases may have been sold. If in doubt, check the ID of the recipient before clicking through.</p>
<table class="table table-condensed table-striped">
<thead><tr>
  <th class="hidden-xs">ID</th>
  <th>Type</th>
  <th>Transferred to</th>
  <th>Status</th>
  <th></th>
</tr></thead>
<tbody>
{% for purchase in transferred_purchases %}
<tr>
  <td class="hidden-xs">{{ purchase.id }}</td>
  <td>{{ purchase.product.display_name }}</td>
  <td><a href="{{ url_for('.checkin', user_id=purchase.owner.id) }}">{{ purchase.owner.name }}</a></td>
  <td>
    {%- if purchase.redeemed %}
      Redeemed {{ purchase.redemption_version().transaction.issued_at.strftime('%A %H:%M') }}
      by {{ purchase.redemption_version().transaction.user.name }}
    {% else %}
      Not redeemed
    {% endif -%}
  </td>
  <td>
    {%- if purchase.redeemed %}
      <form method="post" action="{{ url_for('arrivals.unredeem_purchase', purchase_id=purchase.id, back=user.id) }}">
      <input type="submit" class="btn btn-danger debounce" value="Undo redemption"/>
      </form>
    {% else %}
      <form method="post" action="{{ url_for('arrivals.redeem_purchase', purchase_id=purchase.id, back=user.id) }}">
      <input type="submit" class="btn btn-success debounce" value="Redeem"/>
      </form>
    {% endif -%}
  </td>
</tr>
{% endfor %}
</tbody>
</table>
{% endif %}

{% if other_purchases|count %}
<h3>Other purchases</h3>
<table class="table table-condensed table-striped">
<thead><tr>
  <th class="hidden-xs">ID</th>
  <th>Type</th>
  <th>Status</th>
</tr></thead>
<tbody>
{% for purchase in other_purchases %}
<tr>
  <td class="hidden-xs">{{ purchase.id }}</td>
  <td>{{ purchase.product.display_name }}</td>
  <td>
    {%- if purchase.redeemed %}
      Redeemed {{ purchase.redemption_version().transaction.issued_at.strftime('%A %H:%M') }}
      by {{ purchase.redemption_version().transaction.user.name }}
    {% else %}
      Not redeemed
    {% endif -%}
  </td>
</tr>
{% endfor %}
</tbody>
</table>
{% endif %}


{% endblock %}
