{% extends "arrivals/base.html" %}
{% block body %}
{% if badge %}
<h2>Issue badge</h2>

<p>To issue {{ tickets.count() == 1 and 'this badge' or 'these badges' }}, please click below.</p>
{% else %}
<h2>Check in tickets</h2>

<p>To check in {{ tickets.count() == 1 and 'this ticket' or 'these tickets' }}, please click below.</p>
{% endif %}

<dl class="dl-horizontal">
<dt>Name</dt><dd>{{ user.name }}</dd>
<dt>Email</dt><dd>{{ user.email }}</dd>
</dl>

{% if user.checkin_note and not badge %}
<div class="well">
  <p><strong>Please pass on this note:</strong></p>
  <p>{{ user.checkin_note }}</p>
</div>
{% endif %}

<table class="table table-condensed table-striped">
<thead><tr>
  <th class="hidden-xs">ID</th>
  <th>Type</th>
  <th>Status</th>
  {% if tickets.count() > 1 %}
  <th></th>
  {% endif %}
</tr></thead>
<tbody>
{% for ticket in tickets %}
<tr>
  <td class="hidden-xs">{{ ticket.id }}</td>
  <td>{{ ticket.type.name }}</td>
  <td>
    {% if badge %}
      {%- if ticket.checkin.badged_up %}
        Badge issued
      {% else %}
        Badge not issued
      {% endif -%}
    {% else %}
      {%- if ticket.checkin.checked_in %}
        Checked in {{ ticket.checkin.versions[-1].transaction.issued_at.strftime('%A %H:%M') }}
        by {{ ticket.checkin.versions[-1].transaction.user.name }}
      {% else %}
        Not checked in
      {% endif -%}
    {% endif -%}
  </td>
  {% if tickets.count() > 1 %}
  <td>
    {% if badge %}
      {%- if ticket.checkin.badged_up %}
        <form method="post" action="{{ url_for('arrivals.undo_ticket_checkin', ticket_id=ticket.id) }}">
        {{ form.hidden_tag() }}
        <input type="submit" class="btn btn-danger debounce" value="Return badge"/>
        </form>
      {% else %}
        <form method="post" action="{{ url_for('arrivals.ticket_checkin', ticket_id=ticket.id) }}">
        {{ form.hidden_tag() }}
        <input type="submit" class="btn btn-success debounce" value="Issue badge"/>
        </form>
      {% endif -%}
    {% else %}
      {%- if ticket.checkin.checked_in %}
        <form method="post" action="{{ url_for('arrivals.undo_ticket_checkin', ticket_id=ticket.id) }}">
        {{ form.hidden_tag() }}
        <input type="submit" class="btn btn-danger debounce" value="Undo check-in"/>
        </form>
      {% else %}
        <form method="post" action="{{ url_for('arrivals.ticket_checkin', ticket_id=ticket.id) }}">
        {{ form.hidden_tag() }}
        <input type="submit" class="btn btn-success debounce" value="Check in"/>
        </form>
      {% endif -%}
    {% endif %}
  </td>
  {% endif %}
</tr>
{% endfor %}
</tbody>
</table>

<form method="post" action="{{ url_for('arrivals.checkin', user_id=user.id) }}" class="shrink">
<div class="col-sm-5 col-sm-offset-7">
  {{ form.hidden_tag() }}
  {% if badge %}
  <input type="submit" class="btn btn-info form-control debounce" value="Issue all badges"/>
  {% else %}
  <input type="submit" class="btn btn-info form-control debounce" value="Check in all"/>
  {% endif %}
</div>
</form>

{% endblock %}
