{% set user_currency = get_user_currency() %}
<div class="well basket">
  {% if view.type == 'tickets' %}
  You've selected the following {% if basket.purchases|count == 1 %}ticket{% else %}
  {{ basket.purchases|count }} tickets{% endif %}:
  {% else %}
  You've selected the following {% if basket.purchases|count == 1 %}item{% else %}
  {{ basket.purchases|count }} items{% endif %}:
  {% endif %}
  <ul>
      {% for purchase in basket.purchases %}
      <li>{{purchase.price_tier.parent.display_name}}</li>
      {% endfor %}
  </ul>
  <p>The total price is <b>{{ basket.total | price(user_currency) }}</b>.</p>
  <p>These tickets have been reserved for you for the next hour, so there's no rush to complete the payment process.</p>
  <p><small>     If you need to change the number of tickets, you can click &ldquo;Change tickets&rdquo; &mdash; your tickets will remain
    reserved while you do this. If you don't want to buy these tickets, please click &ldquo;Empty basket&rdquo; to release your reservation.</small></p>
  <form method="post">
  {{ form.hidden_tag() }}
  <div class="btn-group" role="group">
      {% if flow == 'main' %}
      <a class="btn btn-danger" href="{{url_for('tickets.tickets_clear')}}">Empty basket</a>
      <a class="btn btn-default" href="{{url_for('tickets.main')}}">Change tickets</a>
      {% else %}
      <a class="btn btn-danger" href="{{url_for('tickets.tickets_clear', flow=flow)}}">Empty basket</a>
      <a class="btn btn-default" href="{{url_for('tickets.main', flow=flow)}}">Change items</a>
      {% endif %}
  </div>
  </form>
</div>
