{% extends "base.html" %}
{% set user_currency = get_user_currency() %}
{% block title %}
{% if view.type == 'tickets' %}
Buy Tickets
{% elif view.type == 'hire' %}
Hire Equipment
{% else %}
Buy Items
{% endif %}
{% endblock %}
{% block body %}
{% if flow in ['main', 'orga', 'volunteer'] %}
  {% include 'purchase/tickets.html' %}
{% elif flow in ['speakers'] %}
  {% include 'purchase/speakers.html' %}
{% elif flow in ['other'] %}
  {% include 'purchase/extra.html' %}
{% elif flow in ['tees'] %}
  {% include 'purchase/tees.html' %}
{% elif flow in ['hire'] %}
  {% include 'purchase/hire.html' %}
{% elif flow in ['bales'] %}
  {% include 'purchase/bales.html' %}
{% endif %}
{% if not current_user.is_authenticated and SITE_STATE != 'after-event' %}
    <p>If you've already bought a ticket this year, <a href="{{url_for('users.login')}}">log in</a> to view your ticket status.</p>
{% endif %}

<form method="post" class="choose-tickets-form" id="choose_tickets">
    {{form.hidden_tag()}}
<div class="well pull-right">
    <label>Select your currency:</label>
    <div class="btn-group">
        {% for c in CURRENCIES %}
        <!-- IE8+ -->
        <button type="submit" class="btn btn-primary {% if user_currency == c.code -%} active {%- endif %}" name="set_currency" value="{{ c.code }}" data-toggle="button">{{ c.symbol }}</button>
        {% endfor %}
    </div>
</div>

<div class="clearfix"></div>

<table class="table products">

<thead>
<tr>
    {% if view.type == 'tickets' %}
    <th>Ticket Type</th>
    {% elif view.type == 'hire' %}
    <th>Hire</th>
    {% else %}
    <th>Product</th>
    {% endif %}
    <th>Cost</th>
    {% if available %}
    <th>Amount</th>
    {% else %}
    <th><span class="invisible">Amount</span></th>
    {% endif %}
</tr>
</thead>

<tbody>
{% set row_class = cycler('odd', 'even') %} {# required as we skip rows #}
{% for f in form.tiers %}
{% if f._any or f.amount.errors or not available %}
<tr data-price="{{ f._tier.get_price(user_currency).value }}"
    {% for price in f._tier.prices -%}
        data-price-{{ price.currency }}="{{ price.value }}"
    {% endfor -%}
    class="product form-group
        {% if f.amount.errors -%} has-error {%- endif %}
        {{ row_class.next() }}">
    <td>
        {{ f.hidden_tag() }}
        <label for="{{ f.amount.id }}"><b>{{ f._tier.parent.display_name }}</b></label>
        {% if f._tier.parent.description %}<p class="description">{{ f._tier.parent.description }}</p>{% endif %}
    </td>
    <td>
        <span class="price">{{ f._tier.get_price(user_currency) | price(user_currency) }}</span>
    </td>
    <td>
        {% if available %}
        <div class="controls">{{ f.amount(class_="amount")|safe }}
        {% if f.amount.errors %}
            {% for error in f.amount.errors %}
            <div class="help-block">{{ error }}</div>
            {% endfor %}
        {% endif %}
        </div>
        {% endif %}
    </td>
</tr>
{% endif %}
{% endfor %}
</tbody>
{% if available %}
<tfoot>
<tr>
    <td colspan="3">
    <div id="summary" class="pull-right">
        <div>Total will be shown on the next page</div>
        <div style="display: none">
            <label>Total:
            <strong id="total" style="text-align: right">{{ 0 | price(user_currency) }}</strong>
            </label>
        </div>
    </div>
    </td>
</tr>
</tfoot>
{% endif %}
</table>

{% if available %}
<div class="form-actions pull-right">
    {% if view.type == 'tickets' %}
    {{ form.buy_tickets(class_="btn btn-primary btn-lg debounce") }}
    {% elif view.type == 'hire' %}
    {{ form.buy_hire(class_="btn btn-primary btn-lg debounce") }}
    {% else %}
    {{ form.buy_other(class_="btn btn-primary btn-lg debounce") }}
    {% endif %}
</div>
{% endif %}

</form>
{% endblock %}

{% block foot %}
<script nonce="{{csp_nonce}}">
if (typeof(EMF) != 'object') var EMF = Object();

EMF.CURRENCY_SYMBOLS = {{ CURRENCY_SYMBOLS|tojson }};
EMF.user_currency = {{ user_currency|tojson }};

EMF.format_price = function(amount, currency, after) {
  var amount = parseFloat(amount).toFixed(2);
  var symbol = EMF.CURRENCY_SYMBOLS[currency];
  if (symbol === undefined) throw 'Unknown currency ' + currency;
  if (after)
    return amount + symbol;
  return symbol + amount;
};
EMF.update_currency = function() {
  EMF.user_currency = $('#currency_code').val();
  $('.product').each(function() {
    var $t = $(this);
    var price = $t.data('price-' + EMF.user_currency.toLowerCase());
    $t.data('price', price);
    $t.find('.price').text(EMF.format_price(price, EMF.user_currency));
  });
};
EMF.update_total = function() {
    var total = 0;
    $('.amount').each(function() {
        var count = parseInt($(this).val(), 10);
        var price = $(this).closest('tr').data('price');
        total += count * price;
    });
    $('#total').text(EMF.format_price(total, EMF.user_currency));
};

$(function() {
  $('#summary').children().toggle();

  $('.amount').on('change', EMF.update_total).change();
  $('[name=set_currency]').on('click', function(event) {
      $(this).closest('.btn-group').find('.btn').not(this).removeClass('active');
      $('#currency_code').val($(this).attr('value'));
      EMF.update_currency();
      EMF.update_total();
      event.preventDefault();
  });
});
</script>
{% endblock %}
