 <div>
  {% if i==1 and is_anonymous %}
    <label>Your email address (required):
       {{ email(class_='form-control')|safe }}
    </label>

    {% for error in email.errors %}
    <span class="help-inline">{{ error }}</span>
    {% endfor %}

    <div id="a-blurb{{ i }}">
      <p>We need your email address to send you your tickets, please make sure it's correct. Should you decide to sign up for workshops or edit the wiki later please use this email address and we'll automatically add the tickets to your account.</p>
    </div>
  {% endif %}

<!-- ToDo: Uncomment for #212
  {% if i>1 %}
    <label>Email address of the ticket holder (optional):
       {{ email(class_='form-control')|safe }}
    </label>

    {% for error in email.errors %}
    <span class="help-inline">{{ error }}</span>
    {% endfor %}

    {% if i==2 %}
      <div id="a-blurb{{ i }}">
        <p>If you know who this ticket is for, please enter their email address. This will allow them to create an account for themselves to sign up for workshops and edit the wiki. Don't worry if you're not sure yet, you can always change this later.</p>
      </div>
    {% endif %}
  {% endif %}
-->

</div>
