{{ ticket.form.hidden_tag() }}

{% set volunteer = ticket.form.volunteer %}
{% set disabled = ticket.form.disabled %}

<div class="control-group no-margin{%if volunteer.errors or disabled.errors%} error{%endif%}">
  <label class="control-label">{{ volunteer.label }}</label>
  <div class="controls">
    <label class="checkbox">
        {{ volunteer()|safe }}
        Interested in volunteering?
    </label>
    {% for error in volunteer.errors %}
        <span class="help-inline">{{ error }}</span>
    {% endfor %}
    <p>We need an army volunteers giving a few hours each to ensure everything runs smoothly</p>
  </div>

  <label class="control-label">{{ disabled.label }}</label>
  <div class="controls">
    <label class="checkbox">
        {{ disabled()|safe }}
        If you have an accessibility requirements please tick here.
    </label>
    {% for error in disabled.errors %}
        <span class="help-inline">{{ error }}</span>
    {% endfor %}
    <p>We want to be sure we have all our attendees needs covered, so we will contact you for more information.</p>
  </div>

</div>

{#
(1) How do you anticipate travelling to EMFcamp?

public transport - train, coach, other
private transport - car, motorcycle, bicycle, van, truck, bus, motorhome, other
would you be interested in car sharing?
#}