{{ ticket.form.hidden_tag() }}

{% set volunteer = ticket.form.volunteer %}
{% set accessible = ticket.form.accessible %}

<div class="control-group no-margin{%if form.errors%} error{%endif%}">
  <label class="control-label">{{ accessible.label }}</label>
  <div class="controls">
    <label class="checkbox">
        {{ accessible()|safe }}
        If you have an accessibility requirements please tick here.
    </label>
    {% for error in accessible.errors %}
        <span class="help-inline">{{ error }}</span>
    {% endfor %}
    <p>We want to be sure we have all our attendees needs covered, so we will contact you for more information.</p>
  </div>

  <div>
    Sorry, all our volunteers must be over 18.
    Don't worry, there will be plenty of activities to get involved with in the villages.
  </div>

</div>
