<form method="post" action="{{ action }}" id="user_content_form">
    {% if conflicts %}
        <div class="alert alert-danger conflicts">
            <p><strong>
                The following other content is scheduled during this period in the same venue. If you're
                sure that isn't going to be a problem tick the box below to save anyway.
            </strong></p>
            <ul>
                {% for conflict in conflicts %}
                    <li>{{ conflict.schedule_item.title }} - {{ conflict.scheduled_time.strftime("%H:%M") }} to {{ conflict.scheduled_end_time.strftime("%H:%M") }}</li>
                {% endfor %}
            </ul>
            <div class="row">
            <div style="margin-left: 45px">
                <input type="checkbox" name="acknowledge_conflicts" id="acknowledge_conflicts" value="1" />
                <label for="acknowledge_conflicts">Acknowledge conflicts</label>
            </div>
            </div>
        </div>
    {% endif %}
    <div class="form-group {%- if form.type.errors %} has-error {%- endif %}">
        <label for="type">Type</label>
        <select class="form-control" id="type" name="type">
            {% for choice in form.type.choices %}
                <option value="{{ choice[0] }}" {%- if form.data.type == choice[0] %}selected{%- endif %}>{{ choice[1] }}</option>
            {% endfor %}
        </select>
        {% if form.type.errors %}
            {% for error in form.type.errors %}
                <p class="help-block" id="help-block-type">{{ error }}</p>
            {% endfor %}
        {% endif %}
    </div>
    <div class="form-group {%- if form.title.errors %} has-error {%- endif %}">
        <label for="title">Title</label>
        <input type="text" class="form-control" id="title" name="title" value="{%- if form.data.title %}{{ form.data.title }}{%- endif %}">
        {% if form.title.errors %}
            {% for error in form.title.errors %}
                <p class="help-block" id="help-block-title">{{ error }}</p>
            {% endfor %}
        {% endif %}
    </div>

    {% for field in form.occurrences %}
    {% set occurrence_form = field.form %}
    {% if form.occurrences | length > 1 %}
    <h3>Occurrence {{ occurrence_form._occurrence.occurrence_num }}</h3>
    {% endif %}
    {% if schedule_item %}
    <input type="hidden" id="{{ occurrence_form.id.name }}" name="{{ occurrence_form.id.name }}" value="{{ occurrence_form.id.data }}">
    {% endif %}
    <div class="row">
        <div class="form-group col-md-4 {%- if occurrence_form.scheduled_time_day.errors %} has-error {%- endif %}">
            <label for="{{ occurrence_form.scheduled_time_day.name }}">Date</label>
            <select class="form-control" id="{{ occurrence_form.scheduled_time_day.name }}" name="{{ occurrence_form.scheduled_time_day.name }}">
                {% for choice in occurrence_form.scheduled_time_day.choices %}
                    <option value="{{ choice[0] }}" {%- if occurrence_form.scheduled_time_day.data == choice[0] %}selected{%- endif %}>{{ choice[1] }}</option>
                {% endfor %}
            </select>
            {% if occurrence_form.scheduled_time_day.errors %}
                {% for error in occurrence_form.scheduled_time_day.errors %}
                    <p class="help-block" id="help-block-scheduled_time_day">{{ error }}</p>
                {% endfor %}
            {% endif %}
        </div>
        <div class="form-group col-md-4 {%- if occurrence_form.scheduled_time_time.errors %} has-error {%- endif %}">
            <label for="{{ occurrence_form.scheduled_time_time.name }}">Start Time</label>
            <input type="time" class="form-control" id="{{ occurrence_form.scheduled_time_time.name }}" name="{{ occurrence_form.scheduled_time_time.name }}" value="{%- if occurrence_form.scheduled_time_time.data %}{{ occurrence_form.scheduled_time_time.data.strftime("%H:%M") }}{%- endif %}">
            {% if occurrence_form.scheduled_time_time.errors %}
                {% for error in occurrence_form.scheduled_time_time.errors %}
                    <p class="help-block" id="help-block-scheduled_time_time">{{ error }}</p>
                {% endfor %}
            {% endif %}
        </div>
        <div class="form-group col-md-4 {%- if occurrence_form.scheduled_duration.errors %} has-error {%- endif %}">
            <label for="{{ occurrence_form.scheduled_duration.name }}">Duration (in minutes)</label>
            <input type="number" class="form-control" id="{{ occurrence_form.scheduled_duration.name }}" name="{{ occurrence_form.scheduled_duration.name }}" value="{%- if occurrence_form.scheduled_duration.data %}{{ occurrence_form.scheduled_duration.data }}{%- endif %}">
            {% if occurrence_form.scheduled_duration.errors %}
                {% for error in occurrence_form.scheduled_duration.errors %}
                    <p class="help-block" id="help-block-scheduled_duration">{{ error }}</p>
                {% endfor %}
            {% endif %}
        </div>
    </div>
    {# FIXME why do we show this? #}
    {% if schedule_item and schedule_item.official_content and schedule_item.occurrences[0].allowed_times %}
        <div class="form-group">
            <p>The person who submitted this content is available at the following times:</p>
            <ul>
                {% for time in schedule_item.occurrences[0].allowed_times.split("\n") %}
                    <li>{{ time }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    <div class="form-group {%- if occurrence_form.scheduled_venue_id.errors %} has-error {%- endif %}">
        <label for="{{ occurrence_form.scheduled_venue_id.name }}">Venue</label>
        <select class="form-control" id="{{ occurrence_form.scheduled_venue_id.name }}" name="{{ occurrence_form.scheduled_venue_id.name }}">
            {% for choice in occurrence_form.scheduled_venue_id.choices %}
                <option value="{{ choice[0] }}" {%- if form.data.venue == choice[0] %}selected{%- endif %}>{{ choice[1] }}</option>
            {% endfor %}
        </select>
        <p class="help-block bar-content"><strong>
            Adding content to the schedule does not guarantee that there will be space for your gathering in the bar or 
            lounge, so be prepared to meet there and then move outside if necessary. Please don't schedule large events
            in those locations without consulting the team first.
        </strong></p>
        <p class="help-block">
            To schedule content in villages please contact that village. If there's a venue you think should be here,
            or if you're part of a village with multiple venues and would like them added please send an email to
            <a href="mailto:contact@emfcamp.org">contact@emfcamp.org</a>.
        </p>
        {% if occurrence_form.scheduled_venue_id.errors %}
            {% for error in occurrence_form.scheduled_venue_id.errors %}
                <p class="help-block" id="help-block-scheduled_venue_id">{{ error }}</p>
            {% endfor %}
        {% endif %}
    </div>
    {% endfor %}

    <div class="form-group {%- if form.names.errors %} has-error {%- endif %}">
        <label for="names">Names</label>
        <input type="text" class="form-control" id="names" name="names" value="{%- if form.data.names %}{{ form.data.names }}{%- endif %}">
        <p class="help-block">The speaker name to show in the schedule.</p>
        {% if form.names.errors %}
            {% for error in form.names.errors %}
                <p class="help-block" id="help-block-names">{{ error }}</p>
            {% endfor %}
        {% endif %}
    </div>
    <div class="form-group {%- if form.description.errors %} has-error {%- endif %}">
        <label for="description">Description</label>
        <textarea class="form-control" id="description" name="description">{%- if form.data.description %}{{ form.data.description }}{%- endif %}</textarea>
        {% if form.description.errors %}
            {% for error in form.description.errors %}
                <p class="help-block" id="help-block-description">{{ error }}</p>
            {% endfor %}
        {% endif %}
    </div>
    <div class="form-group {%- if form.short_description.errors %} has-error {%- endif %}">
        <label for="short_description">Short description</label>
        <input type="text" class="form-control" id="short_description" name="short_description" value="{%- if form.data.short_description %}{{ form.data.short_description }}{%- endif %}">
        {% if form.short_description.errors %}
            {% for error in form.short_description.errors %}
                <p class="help-block" id="help-block-short-description">{{ error }}</p>
            {% endfor %}
        {% endif %}
    </div>
    <div class="form-group row workshop-fields">
        {#
        <div class="form-group col-md-4 {%- if form.participant_count.errors %} has-error {%- endif %}">
            <label for="participant_count">Maximum Attendees</label>
            <input class="form-control" id="participant_count" name="participant_count" value="{%- if form.data.participant_count %}{{ form.data.participant_count }}{%- endif %}">
            {% if form.participant_count.errors %}
                {% for error in form.participant_count.errors %}
                    <p class="help-block" id="help-block-participant-count">{{ error }}</p>
                {% endfor %}
            {% endif %}
        </div>
        #}
        <div class="form-group col-md-4 {%- if form.participant_cost.errors %} has-error {%- endif %}">
            <label for="participant_cost">Cost (per attendee, in £)</label>
            <input class="form-control" id="participant_cost" name="participant_cost" value="{%- if form.participant_cost.data %}{{ form.participant_cost.data }}{%- endif %}">
            {% if form.participant_cost.errors %}
                {% for error in form.participant_cost.errors %}
                    <p class="help-block" id="help-block-participant_cost">{{ error }}</p>
                {% endfor %}
            {% endif %}
        </div>
        <div class="form-group col-md-4 {%- if form.age_range.errors %} has-error {%- endif %}">
            <label for="age_range">Age Range</label>
            <select class="form-control" id="age_range" name="age_range">
                {% for choice in form.age_range.choices %}
                    <option value="{{ choice[0] }}" {%- if form.data.age_range == choice[0] %}selected{%- endif %}>{{ choice[1] }}</option>
                {% endfor %}
            </select>
            {% if form.age_range.errors %}
                {% for error in form.age_range.errors %}
                    <p class="help-block" id="help-block-age_range">{{ error }}</p>
                {% endfor %}
            {% endif %}
        </div>
    </div>
    <div class="form-group workshop-fields {%- if form.participant_equipment.errors %} has-error {%- endif %}">
        <label for="participant_equipment">Attendee Equipment</label>
        <textarea class="form-control" id="participant_equipment" name="participant_equipment">{%- if form.data.participant_equipment %}{{ form.data.participant_equipment }}{%- endif %}</textarea>
        <p class="help-block">What equipment will people need to bring with them? List things such as laptops, soldering equipment, or anything else you won't be providing.</p>
        {% if form.participant_equipment.errors %}
            {% for error in form.participant_equipment.errors %}
                <p class="help-block" id="help-block-participant_equipment">{{ error }}</p>
            {% endfor %}
        {% endif %}
    </div>
    <div class="form-actions">
        <button type="submit" class="btn btn-primary">{%- if schedule_item %}Update{%- else %}Add{%- endif %} Content</button>
    </div>
</form>
