{% from "_formhelpers.html" import render_field %}
{% extends "base.html" %}
{% block title %}Your Content{% endblock %}
{% block body %}
<p>
    You can help other people find you or your village's talks, workshops, installations, and gatherings by
    adding them to the schedule.
</p>
<p>
    <strong>You should not add content that you have submitted to the CfP here.</strong>
</p>
    {% if schedule_items | length > 0 %}
    <h2>Your Content</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Type</th>
                <th>Location</th>
                <th>Start</th>
                <th>End</th>
                {% if current_user.village %}
                    <th>EMF<br />Scheduled</th>
                {% endif %}
                <th>Favs</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for schedule_item in schedule_items %}
            <tr>
                <td>{{ schedule_item.title }}</td>
                <td>{{ schedule_item.human_type | capitalize }}</td>
                <td>
                    {% for occurrence in schedule_item.occurrences %}
                    {{ occurrence.scheduled_venue.name }}<br/>
                    {% endfor %}
                </td>
                <td>
                    {% for occurrence in schedule_item.occurrences %}
                    {{ occurrence.scheduled_time.strftime("%a %H:%M") }}<br/>
                    {% endfor %}
                </td>
                <td>
                    {% for occurrence in schedule_item.occurrences %}
                    {{ occurrence.scheduled_end_time.strftime("%a %H:%M") }}<br/>
                    {% endfor %}
                </td>
                {% if current_user.village %}
                    <td>{{ schedule_item.official_content }}</td>
                {% endif %}
                <td>{{ schedule_item.favourite_count }}</td>
                <td><a href="{{ url_for("schedule.attendee_content_edit", schedule_item_id=schedule_item.id) }}">Edit</a></td>
                <td>
                    {% if not schedule_item.official_content %}
                        <a href="{{ url_for("schedule.attendee_content_delete", schedule_item_id=schedule_item.id) }}">Delete</a>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}

    <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Add Content</h3>
        </div>
        <div class="panel-body">
            {% include "schedule/attendee_content/_form.html" %}
        </div>
    </div>
{% endblock %}
