{% from "_formhelpers.html" import render_field %}
{% extends "base.html" %}
{% block title %}Your Content{% endblock %}
{% block body %}
    <h2>Your Content</h2>
    {% if content|length > 0 %}
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Type</th>
                <th>Location</th>
                <th>Start</th>
                <th>End</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for p in content %}
            <tr>
                <td>{{ p.display_title }}</td>
                <td>{{ p.human_type | capitalize }}</td>
                <td>{{ p.scheduled_venue.name }}</td>
                <td>{{ p.start_date.strftime("%a %H:%M") }}</td>
                <td>{{ p.end_date.strftime("%a %H:%M") }}</td>
                <td><a href="#">Edit</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}

    <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Add Content</h3>
        </div>
        <div class="panel-body">
            <form method="post" action="{{ url_for('schedule.attendee_content') }}" id="user_content_form">
                <div class="form-group {%- if form.type.errors %} has-error {%- endif %}">
                    <label for="type">Type</label>
                    <select class="form-control" id="type" name="type">
                        {% for choice in form.type.choices %}
                            <option value="{{ choice[0] }}" {%- if form.data.type == choice[0] %}selected{%- endif %}>{{ choice[1] }}</option>
                        {% endfor %}
                    </select>
                    {% if form.type.errors %}
                        {% for error in form.type.errors %}
                            <p class="help-block" id="help-block-type">{{ error }}</p>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="form-group {%- if form.title.errors %} has-error {%- endif %}">
                    <label for="title">Title</label>
                    <input type="text" class="form-control" id="title" name="title" value="{%- if form.data.title %}{{ form.data.title }}{%- endif %}">
                    {% if form.title.errors %}
                        {% for error in form.title.errors %}
                            <p class="help-block" id="help-block-title">{{ error }}</p>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="row">
                    <div class="form-group col-md-4 {%- if form.day.errors %} has-error {%- endif %}">
                        <label for="date">Date</label>
                        <select class="form-control" id="day" name="day">
                            {% for choice in form.day.choices %}
                                <option value="{{ choice[0] }}" {%- if form.data.day == choice[0] %}selected{%- endif %}>{{ choice[1] }}</option>
                            {% endfor %}
                        </select>
                        {% if form.day.errors %}
                            {% for error in form.day.errors %}
                                <p class="help-block" id="help-block-day">{{ error }}</p>
                            {% endfor %}
                        {% endif %}
                    </div>
                    <div class="form-group col-md-4 {%- if form.start_time.errors %} has-error {%- endif %}">
                        <label for="start_time">Start Time</label>
                        <input type="time" class="form-control" id="start_time" name="start_time" value="{%- if form.data.start_time %}{{ form.data.start_time }}{%- endif %}">
                        {% if form.start_time.errors %}
                            {% for error in form.start_time.errors %}
                                <p class="help-block" id="help-block-start_time">{{ error }}</p>
                            {% endfor %}
                        {% endif %}
                    </div>
                    <div class="form-group col-md-4 {%- if form.length.errors %} has-error {%- endif %}">
                        <label for="length">Length (in minutes)</label>
                        <input type="number" class="form-control" id="length" name="length" value="{%- if form.data.length %}{{ form.data.length }}{%- endif %}">
                        {% if form.length.errors %}
                            {% for error in form.length.errors %}
                                <p class="help-block" id="help-block-length">{{ error }}</p>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
                <div class="form-group {%- if form.venue.errors %} has-error {%- endif %}">
                    <label for="venue">Venue</label>
                    <select class="form-control" id="venue" name="venue">
                        {% for choice in form.venue.choices %}
                            <option value="{{ choice[0] }}" {%- if form.data.venue == choice[0] %}selected{%- endif %}>{{ choice[1] }}</option>
                        {% endfor %}
                    </select>
                    {% if form.venue.errors %}
                        {% for error in form.venue.errors %}
                            <p class="help-block" id="help-block-venue">{{ error }}</p>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="form-group {%- if form.name.errors %} has-error {%- endif %}">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" id="name" name="name" value="{%- if form.data.name %}{{ form.data.name }}{%- endif %}">
                    <p>The speaker name to show in the schedule.</p>
                    {% if form.name.errors %}
                        {% for error in form.name.errors %}
                            <p class="help-block" id="help-block-name">{{ error }}</p>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="form-group {%- if form.description.errors %} has-error {%- endif %}">
                    <label for="description">Description</label>
                    <textarea class="form-control" id="description" name="description">{%- if form.data.description %}{{ form.data.description }}{%- endif %}</textarea>
                    {% if form.description.errors %}
                        {% for error in form.description.errors %}
                            <p class="help-block" id="help-block-description">{{ error }}</p>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="form-group row workshop-fields">
                    <div class="form-group col-md-4 {%- if form.attendees.errors %} has-error {%- endif %}">
                        <label for="attendees">Maximum Attendees</label>
                        <input class="form-control" id="attendees" name="attendees" value="{%- if form.data.attendees %}{{ form.data.attendees }}{%- endif %}">
                        {% if form.attendees.errors %}
                            {% for error in form.attendees.errors %}
                                <p class="help-block" id="help-block-attendees">{{ error }}</p>
                            {% endfor %}
                        {% endif %}
                    </div>
                    <div class="form-group col-md-4 {%- if form.cost.errors %} has-error {%- endif %}">
                        <label for="cost">Cost (per attendee, in £)</label>
                        <input class="form-control" id="cost" name="cost" value="{%- if form.data.cost %}{{ form.data.cost }}{%- endif %}">
                        {% if form.cost.errors %}
                            {% for error in form.cost.errors %}
                                <p class="help-block" id="help-block-cost">{{ error }}</p>
                            {% endfor %}
                        {% endif %}
                    </div>
                    <div class="form-group col-md-4 {%- if form.age_range.errors %} has-error {%- endif %}">
                        <label for="age_range">Age Range</label>
                        <select class="form-control" id="age_range" name="age_range">
                            {% for choice in form.age_range.choices %}
                                <option value="{{ choice[0] }}" {%- if form.data.age_range == choice[0] %}selected{%- endif %}>{{ choice[1] }}</option>
                            {% endfor %}
                        </select>
                        {% if form.age_range.errors %}
                            {% for error in form.age_range.errors %}
                                <p class="help-block" id="help-block-age_range">{{ error }}</p>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
                <div class="form-group workshop-fields {%- if form.participant_equipment.errors %} has-error {%- endif %}">
                    <label for="participant_equipment">Attendee Equipment</label>
                    <textarea class="form-control" id="participant_equipment" name="participant_equipment">{%- if form.data.participant_equipment %}{{ form.data.participant_equipment }}{%- endif %}</textarea>
                    {% if form.participant_equipment.errors %}
                        {% for error in form.participant_equipment.errors %}
                            <p class="help-block" id="help-block-participant_equipment">{{ error }}</p>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="form-actions">
                    <button type="submit" class="btn btn-primary">Add Content</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}