{% extends "volunteer/admin/base.html" %}
{% block title %}Buildup/teardown dietary info{% endblock %}
{% block body %}
<h1>Buildup/teardown dietary info</h1>

<table class="table table-hover">
    <thead>
        <tr><th colspan="3"></th>
            {% if all_allergies|length > 0 %}
            <th colspan="{{all_allergies|length}}">Allergens</th>
            {% endif %}
            {% if all_restrictions|length > 0 %}
            <th colspan="{{all_restrictions|length}}">Restrictions</th>
            {% endif %}
        <tr>
            <th scope="col" colspan="2">Date</th>
            <th>Volunteers</th>
            {% for allergen in all_allergies %}
            <th>{{allergen|title}}</th>
            {% endfor %}
            {% for restriction in all_restrictions %}
            <th>{{restriction|title}}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% set ns = namespace(prev=0) %}
        {% for data in days_data %}
        {% if data.is_just_after_event %}
        <tr class="info">
            <th colspan="6">THE EVENT</th>
        </tr>
        {% endif %}
        <tr>
            {% if ns.prev != data.date_str %}
                <th class="breakdown-table-date" scope="row"{% if data.am_or_pm == "AM" %} rowspan="2"{% endif %}>{{ data.date_str }}</th>
            {% endif %}
            <th class="breakdown-table-ampm" scope="row">{{ data.am_or_pm }}</th>
            <td class="breakdown-table-predicted-num">
                {{ data.predicted_onsite }}
            </td>
            {% for allergen in all_allergies %}
                <td>
                {% if data['allergies'][allergen] > 0 %}
                    {{data['allergies'][allergen]}}
                {% endif %}
                </td>
            {% endfor %}
            {% for restriction in all_restrictions %}
                <td>
                {% if data['dietary_restrictions'][restriction] > 0 %}
                    {{data['dietary_restrictions'][restriction]}}
                {% endif %}
                </td>
            {% endfor %}
        </tr>
        {% set ns.prev = data.date_str %}
        {% endfor %}
    </tbody>
</table>

<h3>"Other" allergies</h3>
<table class="table">
<thead>
    <tr><th>Arrival</th><th>Departure</th><th>Email</th><th>Requirement</th></tr>
</thead>
<tbody>
{% for v, info in other_allergies %}
    <tr><td>{{v.arrival_date}}</td><td>{{v.departure_date}}</td><td>{{v.user.email}}</td><td>{{info}}</td>
{% endfor %}
</tbody>
</table>
<h3>"Other" restrictions</h3>
<table class="table">
<thead>
    <tr><th>Arrival</th><th>Departure</th><th>Email</th><th>Requirement</th></tr>
</thead>
<tbody>
{% for v, info in other_restrictions %}
    <tr><td>{{v.arrival_date}}</td><td>{{v.departure_date}}</td><td>{{v.user.email}}</td><td>{{info}}</td>
{% endfor %}
</tbody>
</table>
{% endblock %}
